.LeftSideBar {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 298px;
    bottom: 10px;
    background-color: #fff;
    border:1px solid #bbb;
    border-top:none;
    border-radius:0 0 4px 4px;

}

.LeftSideBarHead {
    height:16px;
    width:300px;
    background: url("../img/SideBar2.png") no-repeat;
    margin-top:-16px;
    margin-left:-1px; ;
}

.LeftBarNewCall {
    padding:0 10px 10px 10px;
}

.InputNewCall {
    border: 1px solid #729c00;
    color: #729c00;
    width:193px;
}

.left-phone-search {
    position:absolute;
    top:-10px;
    left:-10px;
    right:-10px;
    border:1px solid transparent;
    padding-bottom: 5px;
    max-height:85%;
    overflow-y: auto;
}

.left-phone-search.hasresults {
    border:1px solid #777;
    background-color:white;
    border-radius: 6px;
    box-shadow: 0 0 3px #555;
}

.left-phone-search .SearchInputBox {
    height: 26px;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    margin: 10px 20px 10px 20px;
}

.XButton.ButtonFillWidth {
    width:100%;
}
.XButton.ButtonFillWidth span {
    width:auto;
}

.CallButtonPlaceholder {
    position:relative;
}
.CallButtonPlaceholder .XButton.ButtonFillWidth span {
    left:20px;
    right:20px;
}
.LeftSideBar .ToolBar {
    left: 0;
    right: 0;
    background-color: #ffffff;
}

.LeftSideBar .SearchInputBox {
    left: 8px;
    top: 6px;
    width: 182px;
    height: 26px;
}

.WidgetTabBar.LeftSideWidgetTabs {
    top:40px;
}
.LeftBarTabContentList {
    position:absolute;
    left:0;
    right:0;
    top:120px;
    bottom:5px;
    overflow: hidden;
}

.LeftBarTabContentList:hover {
    overflow-y: auto;
}

.LeftSideBar .ListLineContent.Header {
    left: 0;
    right: 0;
    top: 75px;
    height: 28px;
}

.LeftSideBar .ListLineContent.Header .ListLineContentCell {
    display: inline-block;
    font-size: 9px;
    position: relative;
}

.LeftSideBar .ListLineContentCell.Name {
    left: 2px;
    width: 30px;
}

.LeftSideBar .ListLineContentCell.Extension {
    margin-left: -3px;
}

.LeftSideBar .ListLineContentCell.CallStatus {
    left: 75px;
}

.LeftSideBar .ListLineContentCell.HudStatus {
    left: 80px;
}

.LeftSideBar .DirectionArrow {
    position: absolute;
    left: 50%;
    margin-left: -6px;
}

.LeftSideBar .ToolBar {
    top:0;
}

 .ToolBar .XButton {
    width: 90px;
}

