.ListMessageLeftSmall .Avatar.AvatarWarning
{
    left : 0px;
}
.ListMessage.Notification,
.ListMessage.Notification:hover
{
    background-color : transparent;
}
.NavBarInboxList .ListMessageText
{
    max-height : 55px;
    overflow : hidden;
    width : 247px;
}
.DialogInbox .NavBarInboxList .ListMessageText
{
    width : 328px;
}
.ClickArea,
.Widget .ListMessageContent.ClickArea
{
    cursor : pointer;
}
.MediaPlayerInfo .ListMessageHeader
{
    position : absolute;
    top : 3px;
    left : 45px;
    right : 40px;
    height : 16px;
    line-height : 16px;
    background : none;
}
.ListEmpty
{
    text-align : center;
    min-height : 30px;
    font-size : 12px;
}
.ListMessageBroadcast
{
}
.ListMessage.ListRowCallRecording
{
    cursor : default;
}
.ListMessageChatWidget
{
    background-color : #fff;
    width : 100%;
    border-bottom : none;
}
.ListMessageChatWidget .AvatarSmall
{
    left : 15px;
}
.ListMessageChatWidget .ListMessageContent
, .ChatItemTypeRoot-false.ListMessageChatWidget
{
    min-height : 22px;
}
.ChatItemTypeRoot-true.ListMessageChatWidget
{
    min-height : 52px;
}
.ChatItemTypeRoot-true.ListMessageChatWidget
{
    min-height : 52px;
}
.ListMessageChatWidget.ChatItemTypeRoot-false .ListMessageLeft
, .ListMessageChatWidget.ChatItemTypeRoot-false .ListMessageHeader
{
    display : none;
}
.ListMessageChatWidget.ChatItemTypeRoot-true .ChatMessageItem .time
{
    top : 7px;
}
.ListMessageChatWidget.ChatItemTypeRoot-false .ChatMessageItem
{
    margin-left : 54px;
    margin-right : 4px;
    width : auto;
}
.ListMessageChatWidget.ChatItemTypeRoot-true .ChatMessageItem
{
    margin-left : 4px;
    margin-right : 4px;
    width : auto;
}
.ListRowStatusIcon.Inbox
{
    position : absolute;
    top : 36px;
    left : 20px;
    transform : rotate(160deg);
    -webkit-transform : rotate(160deg);
    display : none;
}
.ListMessageMissedCallBtn
{
    position : absolute;
    margin : 0px;
    right : 10px;
    bottom : 10px;
    width : 60px;
    height : 26px;
    line-height : 26px;
    text-align : center;
    border : solid 2px #fff;
    font-weight : bold;
    border-radius : 8px;
    -webkit-border-radius : 8px;
    color : #729c00;
    box-shadow : 1px 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow : 1px 1px 1px rgba(0,0,0,0.2);
}
.ListMessageMissedCallBtn:hover
{
    border : solid 2px #729c00;
}
.ListMessageQAbandonedCall
{
}
.ListMessageQLongWaitingCall
{
}
.ListMessage.ListMessageShare
{
    border : none;
}
.Widget .ListMessage.ListMessageShare:nth-child(odd)
{
    background-color : #fff;
}
.ListMessage.ListMessageVoicemail
{
}
.Transcription-Available
{
    color : #888;
    font-size : 12px;
    line-height : 16px;
}
.Transcription-NoLicense,
.Transcription-NotAvailable
{
    color : #999;
    font-size : 11px;
    line-height : 16px;
}
.ListMessage.ListMessageWarning
{
}
.ListMessage
{
    position : relative;
    height : 50px;
    left : 0px;
    right : 0px;
    cursor : pointer;
    border-bottom : solid 1px #dee1e5;
    background-color : #fff;
    width : 100%;
}
.Widget .ListMessage.ListRowOdd
{
    background-color : #f9f9f9;
}
.ListMessage:first-child
{
    border-top-left-radius : 6px;
    -webkit-border-top-left-radius : 6px;
    border-top-right-radius : 6px;
    -webkit-border-top-right-radius : 6px;
}
.ListMessage:last-child
{
    border-bottom-left-radius : 6px;
    -webkit-border-bottom-left-radius : 6px;
    border-bottom-right-radius : 6px;
    -webkit-border-bottom-right-radius : 6px;
    border-bottom : solid 1px transparent;
}
.ListMessage:hover
{
    background-color : #f8f8f8;
}
.Widget .ListMessage:hover
{
    background-color : #fff;
}
.ListIsEmptyHide.ListIsEmpty
{
    display : none;
}
.ListMessageLeft
{
    position : relative;
    width : 50px;
    min-height: 50px;
    float: left;
}
.ListMessage .Avatar
{
    position : absolute;
    left : 5px;
    top : 5px;
}
.ListMessageLeftSmall
{
    position : relative;
    width : 38px;
    border-right : solid 1px #eee;
}
.ListMessageLeftSmall .Avatar
{
    position : absolute;
    left : 5px;
    top : 5px;
}
.ListMessageContent
{
    position : absolute;
    left: 50px;
    top: 0px;
    right: 0px;
    min-height : 50px;
}
.Widget .ListMessageContent
{
    cursor : default;
}
.ListMessageHeader
{
    position : relative;
    margin : 4px;
    height : 20px;
    line-height : 20px;
}
.ListMessageHeader.ChatIncoming
{
    border-bottom : solid 1px #749e57;
}
.ListMessageHeader.ChatOutbound
{
    border-bottom : solid 1px #999;
}
.ListMessageHeader.Missed
{
    -background-color : #fc1b1b;
}
.ListMessageHeader .ListMessageHeaderKind
{
    height : 20px;
    text-overflow : ellipsis;
    white-space : nowrap;
    overflow : hidden;
    font-size : 12px;
    font-weight : bold;
    text-shadow : 0px 1px 0px rgba(255,255,255,0.5);
    color : #333;
}
.ListMessageHeader .ListMessageHeaderName.Queue
{
    color : #e27100;
}
.ListMessage.Voicemail .ListMessageHeader .ListMessageHeaderPrefix
{
    font-size : 11px;
    font-style : normal;
    color : #333;
}
.ListMessage.Voicemail .ListMessageHeader .ListMessageHeaderPrefix span
{
    font-size : 11px;
    font-style : italic;
    color : #999;
    font-weight : normal;
    float : right;
}
.ListMessageHeader .ListMessageHeaderPrefix.Right span
{
    float : right;
}
.ListMessageHeader .ListMessageHeaderPrefix
{
    display: inline-block;
    height : 20px;
    text-overflow : ellipsis;
    white-space : nowrap;
    overflow : hidden;
    font-size : 11px;
    font-style : italic;
    text-shadow : 0px 1px 0px rgba(255,255,255,0.5);
    color : #999;
    margin-right : 4px;
    width : 40px;
}
.ListMessageHeader .ListMessageHeaderName
{
    display: inline-block;
    height : 20px;
    text-overflow : ellipsis;
    white-space : nowrap;
    overflow : hidden;
    font-size : 11px;
    text-shadow : 0px 1px 0px rgba(255,255,255,0.5);
    color : #009cff;
    font-weight : bold;
}
.ListMessageHeader .name
{
    margin-left : 4px;
    height : 20px;
    text-overflow : ellipsis;
    white-space : nowrap;
    overflow : hidden;
    font-size : 12px;
}
.ListMessageHeader .title
{
    height : 20px;
    text-overflow : ellipsis;
    white-space : nowrap;
    overflow : hidden;
    font-size : 12px;
    font-weight : bold;
    margin-right : 20px;
    text-shadow : 0px 1px 0px rgba(255,255,255,0.5);
    color : #111;
}
.ListMessageHeader .normal
{
    color : #555;
}
.ListMessageHeader i
{
    font-size : 11px;
    color : #999;
}
.ListMessage.Read-false .ListMessageHeader .name
{
    font-weight : bold;
}
.ListMessage.Read-true .ListMessageHeader .name
{
    font-weight : normal;
}
.ListMessageHeader .time
{
    display: inline-block;
    margin-right : 5px;
    height : 20px;
    text-overflow : ellipsis;
    white-space : nowrap;
    overflow : hidden;
    font-size : 11px;
    color : #666;
    float: right;
}
.ListMessageText
{
    position : relative;
    margin : 5px;
    white-space : normal;
    color : #222;
    font-size : 13px;
    word-wrap : break-word;
}
.Widget .ListMessageText
{
    user-select : text;
    -webkit-user-select : text;
    cursor : text;
}
.TabChat .ListMessageText
{
    width : 412px;
}
.ListMessageButtons
{
    position : relative;
    text-align : right;
}
.ListMessage .AttachmentsList
{
}
.ListMessageText .Avatar
{
    position : relative;
    display : inline-block;
    width : 128px;
    height : 120px;
    background-color : white;
    border : 1px solid #ccc;
    border-radius : 2px;
    -webkit-border-radius : 2px;
    margin : 5px;
}
.ListMessageText .AvatarCustomPH
{
    position : absolute;
    bottom : 0px;
    left : 0px;
    right : 0px;
    height : 18px;
    color : #515115;
    overflow : hidden;
    text-align : center;
    font-size : 12px;
    text-overflow : ellipsis;
    white-space : nowrap;
}
.ListMessageText .AvatarImgPH
{
    position : absolute;
    width : 90px;
    height : 90px;
    left : 19px;
    top : 10px;
}
.ListMessageText.prefix
{
    position : relative;
    margin : 5px;
    white-space : normal;
    color : #222;
    font-size : 13px;
    font-weight : bold;
}
.ListMessageDuration
{
    margin-right : 10px;
    border-radius : 2px;
    -webkit-border-radius : 2px;
    background-color : #999;
    height : 10px;
    color : #fff;
    font-size : 10px;
    padding : 2px;
}
.ButtonJoinByPhone
{
    position : absolute;
    top : 5px;
    right : 1px;
    width : 115px;
}
.ListMessage:hover .MessageDate
{
    opacity : 0;
}
.CallButton
{
    position : absolute;
    top : 11px;
    right : 6px;
    padding: 0;
    opacity : 0;
    transition : All 0.2s ease;
    -webkit-transition : All 0.2s ease;
    cursor : pointer;
    width : 46px;
    height: 26px;
}
.ListRow:hover .CallButton,
.ListMessage:hover .CallButton
{
    opacity : 1;
}
