.ToolBar {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 45px;
    height: 45px;
    border-bottom: solid 1px #ccc;
}
.ToolBar .XButton {
    float: right;
    margin:5px;
}