<div class="dialpad" ng-controller="DialpadController">
    <button ng-click="clickDialpad('1')">1</button>
    <button ng-click="clickDialpad('2')">2</button>
    <button ng-click="clickDialpad('3')">3</button>
    <button ng-click="clickDialpad('4')">4</button>
    <button ng-click="clickDialpad('5')">5</button>
    <button ng-click="clickDialpad('6')">6</button>
    <button ng-click="clickDialpad('7')">7</button>
    <button ng-click="clickDialpad('8')">8</button>
    <button ng-click="clickDialpad('9')">9</button>
    <button ng-click="clickDialpad('*')">*</button>
    <button ng-click="clickDialpad('0')">0</button>
    <button ng-click="clickDialpad('#')">#</button>
</div>