<div class="ToolBar">
        <div class="SearchInputBox">
            <div class="SearchInputBoxInputHolder"><input class="SearchInputBoxInput" type="search" x-webkit-speech="" ng-attr-placeholder="{{::verbage.search}}" data-ng-model="query" ng-model-options="{debounce: 100}"></div>
            <div class="SearchInputBoxStateButton">
                <div class="SearchInputBoxStateButtonIcon"></div>
            </div>
        </div>
        <div></div>
        <select style="width:150px"class="XButton XButtonNormal XButtonDropDown XSortButton" ng-model="selectedSort"
                    ng-options="sort_option.name for sort_option in sort_options"
                ng-change="sortBy(selectedSort.type)"
        > 
        </select>
        
</div>

 <div class="ListView fj-scrollable"> 
    <div class="ListViewTopSpace"></div>
            <a  href="#/contact/{{ ::member.fullProfile.xpid }}" class=" GroupRow ListRow ListRow-Contact vmsection ng-class:{'last': $last}" ng-class-odd="'ListRowOdd'" ng-class="{'ListRowLast':$last}" ng-repeat= "member in group.members | filter: {displayName:query}"> 
            
                <avatar profile="member.fullProfile"></avatar>

                <div class="ListRowContent"> 
                    <div class="ListRowTitle">
                        <span> {{ ::member.fullProfile.displayName }} </span>
						<br/>
                        <div class="ListRowStatusIcon XIcon-QueueStatus-{{ member.fullProfile.queue_status }}"></div>
                        <div class="ListRowStatusIcon XIcon-ChatStatus-{{ member.fullProfile.hud_status || 'offline' }}" ></div>
                    </div>
					
                    <div class="vmalternate">
                        <div class="vmtime">#{{ member.fullProfile.primaryExtension }}</div>
                        <input style="float:right"class="vmcallbtn" type="button" value="{{::verbage.Call}}" ng-click="callExtension(member.fullProfile.primaryExtension)"></input>

                    </div>
                    
                </div>
        </a>
    </div>
