<div class="ToolBar">
        <div class="SearchInputBox">
            <div class="SearchInputBoxInputHolder"><input class="SearchInputBoxInput" type="text" x-webkit-speech="" placeholder="Search" ng-model="query"></div>
            <div class="SearchInputBoxStateButton">
                <div class="SearchInputBoxStateButtonIcon"></div>
            </div>
        </div>
        <div></div>
        <select style="width:150px"class="XButton XButtonNormal XButtonDropDown XSortButton" ng-model="selectedSort"
                    ng-options="sort_option.name for sort_option in sort_options"
                ng-change="sortBy(selectedSort.type)"
        > 
        </select>
        
</div>

 <!--<a href="#/group/{{::group.xpid}}" data-ng-repeat="member in members | filter: {name: query}" class="GroupRow ListRowFirst ListRow-Contact">
        <div class="Avatar AvatarNormal">
            <div class="GroupAvatarItem GroupAvatarItem_0">
                <img class="GroupAvatarItemImg" data-ng-src="{{ ::getAvatarUrl(mine, 0) }}" onerror="this.src='img/Generic-Avatar-14.png'" />
            </div>
            <div class="GroupAvatarItem GroupAvatarItem_1">
                <img class="GroupAvatarItemImg" data-ng-src="{{ ::getAvatarUrl(mine, 1) }}" onerror="this.src='img/Generic-Avatar-14.png'" />
            </div>
            <div class="GroupAvatarItem GroupAvatarItem_2">
                <img class="GroupAvatarItemImg" data-ng-src="{{ ::getAvatarUrl(mine, 2) }}" onerror="this.src='img/Generic-Avatar-14.png'" />
            </div>
            <div class="GroupAvatarItem GroupAvatarItem_3">
                <img class="GroupAvatarItemImg" data-ng-src="{{ ::getAvatarUrl(mine, 3) }}" onerror="this.src='img/Generic-Avatar-14.png'" />
            </div>
            <div class="AvatarInteractable"></div>
        </div>
        <div class="ListRowContent">
            <div class="ListRowTitle">
                <div class="name">
                    <b>{{ ::group.name }}</b>
                    <span class="details">{{ ::group.members.length }}</span>
                </div>
            </div>
            <div class="GroupRowStatus">#{{ ::group.extension }}</div>
        </div>
    </a>-->


  <div class="ListView fj-scrollable"> 
            <a  href="#/contact/{{ ::member.xpid }}" class=" GroupRow ListRowFirst ListRow-Contact vmsection" ng-repeat= "member in members | filter: {displayName:query}"> 
            
                <div class="vmavatarsection Avatar AvatarNormal" > 
                    <img class="AvatarNoBorder" ng-src="getMeAvatarUrl(member.xpid)" onerror="this.src='/app/img/Generic-Avatar-28.png'"/>
                </div>

                <div class="vminfo"> 
                    <div class="displayName">
                        <p class="ListDisplayName">
                            <span> {{ member.displayName }} </span>
                        </p>
                        <div class="vmalternate">
                            <div class="vmtime">#{{ member.primaryExtension }}</div>
                            <input style="float:right"class="vmcallbtn" type="button" value="Call" ng-click=""></input>

                        </div>
                    </div> 
                    <div class="footnote">
                        <div class="QueueStatus IconDisplay " ng-class="member.queue_status == 'login' ? 'XIcon-QueueStatus-login' : 'XIcon-QueueStatus-'"></div>
                        <div class="QueueStatus IconDisplay" ng-class="member.hud_status == 'available' ? 'XIcon-ChatStatus-Available' : 'XIcon-ChatStatus-offline' " ></div>
                    </div>
                    
                </div>
        </a>
    </div>