<div class="ToolBar">        
        <input class="SearchBox" type="search" ng-model-options="{debounce: 200}" x-webkit-speech="" ng-attr-placeholder="{{::verbage.search}}" data-ng-model="grp.query">
      
        <div class="SelectBox selectWrapper members">
	        <select ng-model="selectedSort"
	                    ng-options="sort_option.name for sort_option in sort_options"
	                ng-change="sortBy(selectedSort.type)"
	        > 
	        </select>
        </div>
</div>

<div class="ListView fj-scrollable"> 
    <div class="ListViewTopSpace"></div>
	
    <div class=" GroupRow ListRow ListRow-Contact vmsection ng-class:{'last': $last}" ng-class-odd="'ListRowOdd'" ng-class="{'ListRowLast':$last}" data-ng-repeat="member in group.members | filter: searchFilter() | orderBy: [selectedSort.type, 'fullProfile.displayName'] track by member.xpid" droppable="Call">        
       <a ng-href="#/contact/{{::member.contactId}}" >  <avatar profile="member.fullProfile"></avatar></a>

        <div class="ListRowContent" dockable="member.fullProfile"> 
            <a class="ListRowTitle" ng-href="#/contact/{{::member.contactId}}">
                <span> {{ ::member.fullProfile.displayName }} </span>
				<br/>
                <div class="ListRowStatusIcon XIcon-QueueStatus-{{ member.fullProfile.queue_status }}"></div>
                <div class="ListRowStatusIcon XIcon-ChatStatus-{{ member.fullProfile.hud_status || 'offline' }}" ></div>
				{{( member.fullProfile.custom_status ? member.fullProfile.custom_status : member.fullProfile.hud_status ? verbage[member.fullProfile.hud_status] : verbage['offline']) + (member.fullProfile.call ? ' + ' + verbage['on_call'] : '') }}
            </a>
			

			<callStatus profile="member.fullProfile" ng-if="member.fullProfile.call"></callStatus>
			<a ng-href="#/contact/{{::member.contactId}}" class="vmalternate" ng-if="!member.fullProfile.call">
                <div class="ListRowStatus">#{{ ::member.fullProfile.primaryExtension }}</div>
                <input style="float:right" class="vmcallbtn" type="button" value="{{::verbage.Call}}" ng-click="callExtension($event, member.fullProfile)"></input>
            </a>
            
        </div>
    </div>
</div>
