<div class="ToolBar">
        <div class="LocationSelector " style="float: right;margin-top: 5px;text-align: center; width: 30%;">
                      <!--<select> </select>-->
            <div class="SelectBox" data-ng-click="showPagePopup($event, $element)">
                <div class="SelectBoxText">
                    <span class="InnerIco"></span>&nbsp;<span>{{::verbage.Call}}</span>
                </div>
                <div class="SelectBoxArrow"></div>
            </div>
        </div>
</div>

<div class="ListView fj-scrollable page"> 
        

        <p ng-if="pageMembers.length == 0" style="font-size:12px;margin:10px" > {{::verbage.tab_shows_group_call_members}} </p>

        <div ng-if="pageMembers.length > 0">
            <div id="" style="margin:10px;padding:5px;width:97%;background-color:#EDEDED"> 
                <div style="color:#009cff;font-weight:bold;font-size:.7em">{{group.name}} GROUP Page </div>
                <i style="margin-top:0px;font-size:.7em">Created by {{groupCallOriginator.displayName}}</i>
            </div>

            <!--ng-repeat= "member in members | filter: {displayName:query}"-->
            <a href="#/contact/{{ ::member.xpid }}" class=" GroupRow ListRowFirst ListRow-Contact vmsection" style="height:50px;margin:auto" ng-repeat="member in members = (pageMembers | filter: membersOn)"> 
            
                <div class="vmavatarsection Avatar AvatarNormal" > 
                    <img class="AvatarNoBorder" ng-src="getMeAvatarUrl(member.xpid)" onerror="this.src='img/Generic-Avatar-28.png'"/>
                </div>

                <div class="vminfo"> 
                    <div class="displayName">
                        <p class="ListDisplayName">
                            <span> {{ member.displayName }} </span>
                        </p>
                        <div class="vmalternate">
                           <div class="vmtime">#{{ member.primaryExtension }}</div>
                           <input style="float:right"class="vmcallbtn" type="button" value="{{::verbage.call}}" ng-click="callExtension(member.primaryExtension)"></input>

                        </div>
                    </div> 
                    <div class="footnote">
                        <!--<div class="QueueStatus IconDisplay " ng-class="member.queue_status == 'login' ? 'XIcon-QueueStatus-login' : 'XIcon-QueueStatus-'"></div>-->
                        <div class="QueueStatus IconDisplay" ng-class="member.hud_status == 'available' ? 'XIcon-ChatStatus-Available' : 'XIcon-ChatStatus-offline' " ></div>
                        <div class="ListRowStatusText">{{member.hud_status}}</div>
                    </div>
                    
                </div>
            </a>
            <p ng-if="members.length == 0" style="font-size:12px;margin:10px" >This tab shows group call members. No members available at this moment</p>
        </div>
    </div>