<!doctype html>


<html class="no-js" ng-app="fjshudApp">
  <head>
    <meta charset="utf-8">
    <title>Fonality HUDWeb</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

	<link type="image/x-icon" rel="icon" href="img/XFavicon.ico">
    <link rel="stylesheet" href="styles/main.css">
  	<script type="text/javascript">
			(function(){
				var uv=document.createElement('script');
				uv.type='text/javascript';
				uv.async=true;
				uv.src='//widget.uservoice.com/Tn3xl4wYXZ7m5rjTNJnOQ.js';
				var s=document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(uv,s)
			})();
		</script>
		<script type="text/javascript">
			UserVoice = window.UserVoice || [];
			var ja = /hudmw_lang=lang.jp/.test(document.cookie);
			var _label=ja?"フィードバック":'Feedback';
			var _name= ja?'私達にあなたのフィードバックを与える':'Give us your feedback';
			UserVoice.push(['showTab', 'classic_widget', {
			  mode: 'feedback',
			  primary_color: '#a3a3a3',
			  link_color: '#368c00',
			  forum_id: 209993,
			  feedback_tab_name: _name,
			  tab_label: _label,
			  tab_color: '#368c00',
			  tab_position: 'middle-right',
			  tab_inverted: false
			}]);
		</script>
	

  </head>
  <body  data-ng-controller="MainController" data-ng-click="onBodyClick()" flow-prevent-drop>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
	<div id="App">
		
		<div class="TopBar" ng-include="'views/TopNavigationBar.html'" ng-controller="TopNavigationController"></div>

		<div class="PanelWrapper">
			<div class="LeftBar" ng-controller="LeftBarController">
				<div class="RoundedTop"></div>

				<div class="Toolbar">
					<div class="ContactSearch">
						<div ng-show="tab != 'favorites'">
							<input type="search" class="Search" placeholder="Search" ng-model="query" />
							<input type="button" value="New" class="New XButton" ng-click="tab == 'groups' ? showOverlay('groups') : showOverlay('contacts')" />
						</div>

						<input ng-show="tab == 'favorites'" type="search" class="Search" placeholder="Add Someone" contact-search ng-controller="ContactsWidget" />
					</div>

					<div class="WidgetTabBar">
						<a href="" class="WidgetTabBarButton Ready" ng-click="tab = 'all'" ng-class="tab == 'all' ? 'fj-selected-item' : ''">
							<div class="inner">All</div>
							<div class="arrow"></div>
						</a>
						<a href="" class="WidgetTabBarButton Ready" ng-click="tab = 'favorites'; query = ''" ng-class="tab == 'favorites' ? 'fj-selected-item' : ''">
							<div class="inner">Favorites</div>
							<div class="arrow"></div>
						</a>
						<a href="" class="WidgetTabBarButton Ready" ng-click="tab = 'recent'" ng-class="tab == 'recent' ? 'fj-selected-item' : ''">
							<div class="inner">Recent</div>
							<div class="arrow"></div>
						</a>
						<a href="" class="WidgetTabBarButton Ready" ng-click="tab = 'external'" ng-class="tab == 'external' ? 'fj-selected-item' : ''">
							<div class="inner">External</div>
							<div class="arrow"></div>
						</a>
						<a href="" class="WidgetTabBarButton Ready" ng-click="tab = 'groups'" ng-class="tab == 'groups' ? 'fj-selected-item' : ''">
							<div class="inner">Groups</div>
							<div class="arrow"></div>
						</a>
					</div>
				</div>

				<div class="Contacts"
					ng-show="tab != 'groups'"
					ng-include="'views/ContactsWidget.html'"
					ng-controller="ContactsWidget">
				</div>
				<div class="Groups"
					ng-show="tab == 'groups'"
					ng-include="'views/GroupsWidget.html'"
					ng-controller="GroupsController">
				</div>

				<div class="Notifications" ng-include="'views/Notifications.html'" ng-controller="NotificationController"></div>

				<div class="Phone">
					<input type="text" class="Number" placeholder="Phone number" ng-model="number" />
					<input type="button" value="New Call" class="XButton" ng-click="makeCall(number)"/>
				</div>
			</div>

			<ng-view class="WidgetPanel"></ng-view>

			<div id="DockPanel" class="DockPanel" ng-include="'views/DockArea.html'" ng-controller="DockController"></div>
		</div>
	</div>

	<div ng-include="currentPopup.url"></div>

	<div id="ContextMenu"
		ng-include="'views/ContextMenu.html'"
		ng-controller="ContextMenuController">
	</div>

    <div id="fj-loading" class="fj-loading" ng-if="!loaded">
        <div class="fji-box">
            <div class="fji-label">Loading...</div>
            <div class="loading-amination">
                <img src="img/ajax-loader.gif">
            </div>
        </div>
    </div>

    <!--[if lt IE 9]>
		<script src="../bower_components/es5-shim/es5-shim.js"></script>
		<script src="../bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

  
    <!--bower components-->	
    <script src="../bower_components/angular/angular.js"></script>
    
    <script src="../bower_components/ng-flow/dist/ng-flow-standalone.js"></script>
    <script src="../bower_components/json3/lib/json3.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/react/react.min.js"></script>
    <script src="../bower_components/ngReact/ngReact.min.js"></script>
    <script src="../bower_components/angular-scroll-glue/src/scrollglue.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

	<!--config-->
    <script src="properties.js"></script>
    <script src="scripts/app.js"></script>

    <!--filters-->
    <script src="scripts/filters/highlightTextFilter.js"></script>
    <script src="scripts/filters/durationFilter.js"></script>

	<!--directives-->
    <script src="scripts/directives/dockResizerDirective.js"></script>
    <script src="scripts/directives/searchContactsDirective.js"></script>
    <script src="scripts/directives/contextMenuDirective.js"></script>
    <script src="scripts/directives/phoneDirective.js"></script>

    <!--controllers-->
    <script src="scripts/controllers/MainController.js"></script>
    <script src="scripts/controllers/TopNavigationController.js"></script>
    <script src="scripts/controllers/LeftBarController.js"></script>
    <script src="scripts/controllers/NotificationController.js"></script>
    <script src="scripts/controllers/ContactsWidget.js"></script>
    <script src="scripts/controllers/LocationsController.js"></script>
    <script src="scripts/controllers/ContextMenuController.js"></script>

    <script src="scripts/controllers/ConversationWidgetController.js"></script>
    <script src="scripts/controllers/ConversationWidgetChatController.js"></script>
    <script src="scripts/controllers/ConversationWidgetGroupsController.js"></script>
    <script src="scripts/controllers/ConversationWidgetQueuesController.js"></script>
    <script src="scripts/controllers/ConversationWidgetCallLogController.js"></script>

    <script src="scripts/controllers/GroupsController.js"></script>
    <script src="scripts/controllers/GroupSingleController.js"></script>
    <script src="scripts/controllers/GroupSingleChatController.js"></script>
    <script src="scripts/controllers/GroupSingleMembersController.js"></script>
    <script src="scripts/controllers/GroupSinglePageController.js"></script>

    <script src="scripts/controllers/ConferencesWidgetController.js"></script>
    <script src="scripts/controllers/ConferenceWidgetConversationController.js"></script>
    <script src="scripts/controllers/ConferenceSingleController.js"></script>

    <script src="scripts/controllers/QueueWidgetController.js"></script>
    <script src="scripts/controllers/QueueWidgetAgentsController.js"></script>
    <script src="scripts/controllers/QueueWidgetStatsController.js"></script>
    <script src="scripts/controllers/QueueWidgetCallsController.js"></script>
    <script src="scripts/controllers/QueueWidgetCallLogController.js"></script>

    <script src="scripts/controllers/CallsRecordingsController.js"></script>
    <script src="scripts/controllers/CallCenterController.js"></script>
    <script src="scripts/controllers/CallCenterMyQueueController.js"></script>
    <script src="scripts/controllers/CallCenterMyStatusController.js"></script>

    <script src="scripts/controllers/MeWidgetController.js"></script>
    <script src="scripts/controllers/VoicemailsController.js"></script>
    <script src="scripts/controllers/SearchWidgetController.js"></script>
    <script src="scripts/controllers/ZoomWidgetController.js"></script>
    <script src="scripts/controllers/ChatController.js"></script>
    <script src="scripts/controllers/DockController.js"></script>
	
	<!--services-->
    <script src="scripts/services/httpService.js"></script>
    <script src="scripts/services/groupService.js"></script>
    <script src="scripts/services/contactService.js"></script>
    <script src="scripts/services/utilService.js"></script>
    <script src="scripts/services/queueService.js"></script>
    <script src="scripts/services/conferenceService.js"></script>
    <script src="scripts/services/phoneService.js"></script>

</body>
</html>
