<!doctype html>
<html class="no-js" ng-app="fjshudApp">
  <head>
    <meta charset="utf-8">
    <title>Fonality HUDWeb</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
      <link type="image/x-icon" rel="icon" href="img/XFavicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body  data-ng-controller="MainController" data-ng-click="onBodyClick()">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

	<div id="App" data-ng-controller="ResentsListController">
		<div class="TopBar">
			<div class="TopBarLogo"></div>

			<div class="TopBarIcons" data-ng-controller="TopNavigationController">
				<a href="{{::icon.url}}" class="TopBarItemApp" data-ng-repeat="icon in ::appIcons">
					<div class="TopBarItemAppIcon {{ ::icon.key }}"></div>
					<div class="TopBarItemAppName">{{ ::icon.title }}</div>
				</a>
			</div>

			<div class="TopBarMeStatus" data-ng-controller="TopBarMeStatusController">
				<!--<div class="SelectBox" data-ng-click="showLocationsPopup($event)">
					<div class="SelectBoxText">
						<span class="InnerIco">@</span>&nbsp;<span>{{getCurrentLocationTitle()}}</span>
					</div>
					<div class="SelectBoxArrow"></div>
				</div>-->
				<div class="SelectBox" data-ng-click="showChatStatusPopup($event)">
					<div class="SelectBoxText">
						<div class="MenuItemIcon" data-ng-class="'XIcon-ChatStatus-'+getCurrentChatStatus()"></div>&nbsp;<span style="vertical-align: top;">{{getCurrentChatStatus()}}</span>
					</div>
					<div class="SelectBoxArrow"></div>
				</div>

				<div class="XButton Logout" ng-click="logout($event)">
					<div class="logout-ico"></div>
					<span>Sign out</span>
				</div>
			</div>
		</div>
		<div class="PanelWrapper">
			<div class="ContactsPanel" ng-include="'views/ContactsWidget.html'" ng-controller="ContactsWidget"></div>
			<ng-view class="WidgetPanel"></ng-view>			
			<div class="DockPanel"></div>
		</div>
	</div>

    <div ng-include="currentPopup.url">
    </div>
    <div id="_contextMenuWrap"></div>

    <div  id="fj-loading" class="fj-loading">
        <div class="fji-box">
            <div class="fji-label">Loading...</div>
            <div class="loading-amination">
                <img src="img/ajax-loader.gif">
            </div>
        </div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="../bower_components/es5-shim/es5-shim.js"></script>
    <script src="../bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/json3/lib/json3.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/react/react.min.js"></script>

    <script src="../bower_components/FJSCore/dist/fjs.core.debug.js"></script>
    <script src="scripts/dom.js"></script>
    <script src="../bower_components/FJSModel/dist/fjs.model.debug.js"></script>
    <script src="../bower_components/FJSDB/dist/fjs.db.debug.js"></script>
    <script src="../bower_components/FJSTabs/dist/fjs.tabs.debug.js"></script>
    <script src="../bower_components/FJSFDP/dist/fjs.fdp.debug.js"></script>
    <script src="../bower_components/FJSAPI/dist/fjs.api.debug.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->

    <script src="scripts/model/entryModel.js"></script>
    <script src="scripts/model/feedModel.js"></script>
    <script src="scripts/model/custom/meFeedModel.js"></script>
    <script src="scripts/model/custom/contactEntryModel.js"></script>
    <script src="scripts/model/custom/contactsFeedModel.js"></script>
    <script src="scripts/model/custom/conferenceEntryModel.js"></script>
    <script src="scripts/model/custom/conferenceFeedModel.js"></script>
    <script src="scripts/model/custom/conferenceMemberEntryModel.js"></script>
    <script src="scripts/model/custom/conferenceMemberFeedModel.js"></script>
    <script src="scripts/model/custom/groupEntryModel.js"></script>
    <script src="scripts/model/custom/groupFeedModel.js"></script>
    <script src="scripts/model/custom/voicemailMessageEntryModel.js"></script>
    <script src="scripts/model/custom/voicemailMessageFeedModel.js"></script>
    <script src="scripts/model/custom/myCallEntryModel.js"></script>
    <script src="scripts/model/custom/myCallFeedModel.js"></script>
    <script src="scripts/model/custom/calllogFeedModel.js"></script>
    <script src="scripts/model/custom/calllogEntryModel.js"></script>
    <script src="scripts/model/custom/queueFeedModel.js"></script>
    <script src="scripts/model/custom/queueEntryModel.js"></script>
    <script src="scripts/model/custom/widgetHistoryEntryModel.js"></script>
    <script src="scripts/model/custom/widgetHistoryFeedModel.js"></script>
    <script src="scripts/model/custom/streameventEntryModel.js"></script>
    <script src="scripts/model/custom/streameventFeedModel.js"></script>

    <!-- client model -->
    <script src="scripts/model/client/clientFeedModel.js"></script>
    <script src="scripts/model/client/sortingEntryModel.js"></script>
    <script src="scripts/model/client/sortingFeedModel.js"></script>

    <!--filters-->
    <script src="scripts/model/filters/object2ArrayFilter.js"></script>
    <script src="scripts/model/filters/contactsWithoutMeFilter.js"></script>
    <script src="scripts/model/filters/sortConferenceFilter.js"></script>
    <script src="scripts/model/filters/sortVoicemailFilter.js"></script>
    <script src="scripts/model/filters/sortCalllogFilter.js"></script>
    <script src="scripts/model/filters/externalContactsFilter.js"></script>
    <script src="scripts/model/filters/durationFormatFilter.js"></script>
    <script src="scripts/model/filters/resentsSortFilter.js"></script>
    <script src="scripts/model/filters/chatFilter.js"></script>
    <script src="scripts/model/filters/contactVoicemailsFilter.js"></script>

    <script src="scripts/model/actions/actionEntryModel.js"></script>
    <script src="scripts/model/actions/actionContactCallExtension.js"></script>
    <script src="scripts/model/actions/actionContactCallMobile.js"></script>
    <script src="scripts/model/actions/actionContactChat.js"></script>
    <script src="scripts/model/actions/actionContactEmail.js"></script>
    <script src="scripts/model/actions/actionContactIntercom.js"></script>
    <script src="scripts/model/actions/actionContactVoicemail.js"></script>
    <script src="scripts/model/actions/actionScreenShare.js"></script>
    <script src="scripts/model/actions/actionContactFileShare.js"></script>
    <script src="scripts/model/actions/actionContactUnpin.js"></script>

    <script src="scripts/model/actions/actionsManager.js"></script>

    <script src="scripts/model/dataManager.js"></script>
    <script src="scripts/model/module.js"></script>

    <script src="scripts/react/ContextMenu.js"></script>
    <script src="scripts/react/ContactsList.js"></script>

    <script src="scripts/direcives/contextMenuDirective.js"></script>
    <script src="scripts/direcives/contextMenuDialogDirective.js"></script>
    <script src="scripts/direcives/avatarMenuDirective.js"></script>
    <script src="scripts/direcives/contactsListDirective.js"></script>
    <script src="scripts/direcives/unpinDirective.js"></script>
    <script src="scripts/direcives/module.js"></script>

    <!--UI-->

    <script src="scripts/controllers/base/Controller.js"></script>
    <script src="scripts/controllers/base/SortableController.js"></script>
    <script src="scripts/controllers/base/SortMenuController.js"></script>
    <script src="scripts/controllers/base/ActionMenuController.js"></script>

    <script src="scripts/controllers/MainController.js"></script>
    <script src="scripts/controllers/TopNavigationController.js"></script>
    <script src="scripts/controllers/TopBarMeStatusController.js"></script>
    <script src="scripts/controllers/MeWidgetController.js"></script>
    <script src="scripts/controllers/LocationsController.js"></script>
    <script src="scripts/controllers/base/AddContactMenuController.js"></script>
    <script src="scripts/controllers/ZoomWidgetController.js"></script>
    <script src="scripts/controllers/ContactsWidget.js"></script>
    <script src="scripts/controllers/GroupsController.js"></script>
    <script src="scripts/controllers/ConferencesWidgetController.js"></script>
    <script src="scripts/controllers/LeftBarContactsController.js"></script>
    <script src="scripts/controllers/GroupsTab.js"></script>
    <script src="scripts/controllers/VoicemailTab.js"></script>
    <script src="scripts/controllers/EditContactDialog.js"></script>
    <script src="scripts/controllers/ConversationWidgetController.js"></script>
    <script src="scripts/controllers/ConversationWidgetChatController.js"></script>
    <script src="scripts/controllers/ConversationWidgetGroupsController.js"></script>
    <script src="scripts/controllers/ConversationWidgetVoicemailsController.js"></script>
    <script src="scripts/controllers/ConversationWidgetQueuesController.js"></script>
    <script src="scripts/controllers/ConversationWidgetCallLogController.js"></script>
    <script src="scripts/controllers/TestWidgetController.js"></script>
    <script src="scripts/controllers/SearchInputController.js"></script>
    <script src="scripts/controllers/SearchWidgetController.js"></script>
    <script src="scripts/controllers/MyCallController.js"></script>
    <script src="scripts/controllers/RecentsListController.js"></script>
    <script src="scripts/controllers/RecentItemController.js"></script>
    <script src="scripts/controllers/contextMenuController.js"></script>
    <script src="scripts/controllers/ChatStatusController.js"></script>
    <script src="scripts/controllers/CallsRecordingsController.js"></script>
    <script src="scripts/controllers/CallCenterController.js"></script>
    <script src="scripts/services/httpService.js"></script>
    <script src="scripts/controllers/LeftBarController.js"></script>
    <script src="scripts/controllers/LeftBarCallsController.js"></script>

    <script src="properties.js"></script>
    <script src="scripts/app.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
    <!-- endbuild -->
</body>
</html>
