          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Fonality Web Client</div>
            </div>
            <div class="ListSectionBody">Version: 1.3.010127</div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Fonality Cloud Service</div>
            </div>
            <div class="ListSectionBody">FDP Version: 3.7.0.010138</div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Fonality PBX Control Server</div>
            </div>
            <div class="ListSectionBody">HUDserver Version: 3.5.0.008548</div>
            </div>
            <div class="ListSection">
              <div class="ListSectionHeader">
                <div class="ListSectionHeaderTitle">Fonality PBX Server</div>
              </div>
              <div class="ListSectionBody">FONcore Version: 1.6.0.28-samy-r118</div>
            </div>
            <div class="ListSection PluginSection fj-visibility-true">
              <div class="ListSectionHeader">
                <div class="ListSectionHeaderTitle">Fonality Plugin</div>
              </div>
              <div class="ListSectionBody">Version: <span>5.17.008986</span></div>
             
            </div>