          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">{{::verbage.sound_quality}}</div>
            </div>
            <div class="ListSectionBody">{{::verbage.sound_settings}}</div>
          </div>
          <div class="ListPage">
          <div class="Dialog-settings-row">
            <div class="lblSelect">{{::verbage.web_phone_state}}: </div>
            <b class="WebphoneRegistred-true">{{phoneState ? 'Registered' : 'Unregistered'}}</b>
          </div>
          <div class="Dialog-settings-row">
            <div class="lblSelect">{{::verbage.microphone}}:</div>
            <input type="range" min="0" max="1" step=".01" ng-model="volume.micVol" ng-change="update_settings('hudmw_webphone_mic','update',volume.micVol)"
              ></input>
          </div>
        <div class="Dialog-settings-row">
          <div class="lblSelect">{{::verbage.speaker}}:</div>
          <input type="range" min="0" max="1" step=".01" ng-model="volume.spkVol" ng-change="update_settings('hudmw_webphone_speaker','update',volume.spkVol)"></input>
        </div>
      <div class="Dialog-settings-row" ng-if="phoneType == 'old_webphone'">
        <div class="lblSelect">{{::verbage.echo}}: </div>
        <select class="fj-hbox SelectBox SelectBoxSettings">
          <option value="4"><span>14 ms - Laptop 13-17"</span></option>
        </select>

    </div>
  </div>
  <div class="ListSection" ng-if="phoneType == 'old_webphone'">
    <div class="ListSectionHeader">
      <div class="ListSectionHeaderTitle">{{::verbage.device}}</div>
      <div class="ListSectionHeaderRight"></div>
    </div>
  <div class="ListSectionBody">{{::verbage.select_device_to_use}}</div>
  </div>
  <div class="ListPage" ng-if="phoneType == 'old_webphone'">
    <div class="ListPageHeader"></div>
    <div class="Dialog-settings-row">
      <div class="lblSelect">{{::verbage.input_devices}}: </div>
      <select class="fj-hbox SelectBox SelectBoxSettings"
          ng-model="selectedInput"
          ng-options="inputDevice.name for inputDevice in inputDevices"
          ng-change="updateAudioSettings(selectedInput.id,'Input')"
      >
      </select>

    </div>
    <div class="Dialog-settings-row">
      <div class="lblSelect">{{::verbage.output_devices}}: </div>
      <select class="fj-hbox SelectBox SelectBoxSettings"
         ng-model="selectedOutput"
          ng-options="outputDevice.name for outputDevice in outputDevices"
          ng-change="updateAudioSettings(selectedOutput.id,'Output')"
   
      >
      </select>

      </div>
      <div class="Dialog-settings-row">
        <div class="lblSelect">{{::verbage.ring_devices}}: </div>
        <select class="fj-hbox SelectBox SelectBoxSettings"
             ng-model="selectedRingput"
            ng-options="outputDevice.name for outputDevice in outputDevices"
               ng-change="updateAudioSettings(selectedRingput.id,'Ring')"
   
        >
        </select>

      </div>
    </div>
