    <div class="ListSection ">
      <div class="ListSeciontHeader">   
          <div class="ListSectionHeaderTitle">General</div>
      </div>
      <div class="ListSectionBody">Configure Desktop Alerts</div>
      <div class="ListPage">
      	<div class="Dialog-settings-row"><input type="checkbox"
          ng-model="alertShow" ng-click="update_settings('alert_show','update',alertShow)" 
        > <label>Show alerts</label> </div>
      	<div class="Dialog-settings-row"><input type="checkbox"
          ng-model="alertOnBusy" ng-click="update_settings('hudmw_show_alerts_in_busy_mode','update',alertOnBusy)" 
        > <label>Show when status is "Busy"</label> </div>
      	<div class="Dialog-settings-row"><input type="checkbox"
          ng-model="alertOnAlways" ng-click="update_settings('hudmw_show_alerts_always','update',alertOnAlways)" 
        > <label>Show when app is in focus</label> </div>
      	<div class="Dialog-settings-row"><input type="button" value="Reset Alert Position"></div>
      </div>
       
     </div>
     <div class="ListSection ">
      <div class="ListSeciontHeader">   
          <div class="ListSectionHeaderTitle">VOICEMAIL ALERTS</div>
      </div>
      <div class="ListSectionBody">Configure voicemail desktop alerts</div>
      <div class="ListPage">
      	<div class="Dialog-settings-row"><input type="checkbox"
           ng-model="alertShowVM" ng-click="update_settings('alert_vm_show_new','update',alertShowVM)" 
        > <label>Show when new voicemail arrives</label> </div>
      </div>
       
     </div>
     
     <div class="ListSection ">
      <div class="ListSeciontHeader">   
          <div class="ListSectionHeaderTitle">call alerts</div>
      </div>
	<div class="ListSectionBody">Configure call desktop alerts</div>
      <div class="ListPage">
        <div class="ListPageHeaderText">Type</div>
        <div class="Dialog-settings-row"><input type="checkbox" ng-model="alertShowIncoming" ng-click="update_settings('alert_call_incoming','update',alertShowIncoming)"> 

        <label>Incoming Calls</label> </div>
        <div class="Dialog-settings-row"><input type="checkbox" ng-model="alertShowOutgoing" ng-click="update_settings('alert_call_outgoing','update',alertShowOutgoing)" > 

        <label>Outgoing Calls</label> </div>
        
        <div class="ListPageHeaderText">Display for</div>
        <div class="Dialog-settings-row"><input type="radio" ng-model="alertDisplayFor" value="all" ng-change="update_settings('alert_call_display_for','update',alertDisplayFor)" > <label>All my calls</label> </div>
        <div class="Dialog-settings-row"><input type="radio" ng-model="alertDisplayFor" value="known" ng-change="update_settings('alert_call_display_for','update',alertDisplayFor)" > <label>Only for known numbers</label> </div>
        <div class="Dialog-settings-row"><input type="radio" ng-model="alertDisplayFor" value="never" ng-change="update_settings('alert_call_display_for','update',alertDisplayFor)"> <label>Never display</label> </div>
        
        <div class="ListPageHeaderText">Duration</div>
        <div class="Dialog-settings-row"><input type="radio" ng-model="alertDuration" value="entire"
         ng-change="update_settings('alert_call_duration','update',alertDuration)"
        > <label>Entire Call (recommended)</label> </div>
        <div class="Dialog-settings-row"><input type="radio" ng-model="alertDuration" value="while_ringing"
          ng-change="update_settings('alert_call_duration','update',alertDuration)"
        > <label>While phone is ringing</label> </div>
      </div>
       
     </div>
     <div class="ListSection ">
      <div class="ListSeciontHeader">   
          <div class="ListSectionHeaderTitle">Queue Alerts</div>
      </div>
      <div class="ListSectionBody">Configure queue notifications and desktop alerts</div>

      <div class="ListPage">
        <div class="table Queues">
          <div class="QueueHeader">
            <div class="QueueSetting QueueSettingCol1"></div>
            <div class="QueueSetting QueueSettingHeader" > Long Waiting Calls</div>
            <div class="QueueSetting QueueSettingHeader" > Abandoned Call</div>
          </div>
          <div class="QueueHeader" style="display:inline-block"> 
            <div class="QueueSetting QueueSettingCol1"></div>
            <div class="QueueSetting QueueSettingCheckBox"> Notifications </div>
            <div class="QueueSetting QueueSettingCheckBox"> Desktop Alerts </div>
            <div class="QueueSetting QueueSettingCheckBox"> Notifications </div>
            <div class="QueueSetting QueueSettingCheckBox"> Desktop Alerts </div>
          </div>
          <div class="QueueHeader" style="display:inline-block"> 
            <div class="QueueSetting QueueSettingCol1">Select All</div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"
                ng-model="allQueueNotificationsLW"
                ng-change = "update_queue_settings('HUDw_QueueNotificationsLW_', allQueueNotificationsLW)"
            ></div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"
                ng-model="allQueueAlertsLW"
                ng-change = "update_queue_settings('HUDw_QueueAlertsLW_', allQueueAlertsLW)"
                ng-disabled = "!allQueueNotificationsLW"
           ></div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"
                ng-model="allQueueNotificationsAB"
                ng-change = "update_queue_settings('HUDw_QueueNotificationsAb_', allQueueNotificationsAB)"
                
            ></div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"
                ng-model="allQueueAlertsAB"
                ng-change = "update_queue_settings('HUDw_QueueAlertsAb_', allQueueAlertsAB)"
                ng-disabled = "!allQueueNotificationsAB"
           
            ></div>
          </div>
          <div ng-repeat="queue in queues" class="QueueHeader" style="display:inline-block; background-color:white;">  
            <div class="QueueSetting QueueSettingCol1"> {{queue.name}} </div>
            
            <div class="QueueSetting QueueSettingCheckBox">
              <input type="checkbox"
                ng-model="settings['HUDw_QueueNotificationsLW_'+queue.xpid]"
                ng-change ="update_settings('HUDw_QueueNotificationsLW_' + queue.xpid,'update', settings['HUDw_QueueNotificationsLW_'+queue.xpid])"
              >
            </div>
            
            <div class="QueueSetting QueueSettingCheckBox">
              <input type="checkbox" 
              ng-model = "settings['HUDw_QueueAlertsLW_'+queue.xpid]"
              ng-change ="update_settings('HUDw_QueueAlertsLW_' + queue.xpid,'update', settings['HUDw_QueueNotificationsAb_'+queue.xpid])"
              ng-disabled = "!settings['HUDw_QueueNotificationsLW_'+queue.xpid]"
              >
            </div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"
              ng-model = "settings['HUDw_QueueNotificationsAb_'+queue.xpid]"
              ng-change ="update_settings('HUDw_QueueNotificationsAb_' + queue.xpid,'update', settings['HUDw_QueueNotificationsAb_'+queue.xpid])"
              
            ></div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"
              ng-model = "settings['HUDw_QueueAlertsAb_'+queue.xpid]"
              ng-change ="update_settings('HUDw_QueueAlertsAb_' + queue.xpid,'update', settings['HUDw_QueueAlertsAb_'+queue.xpid])"
              ng-disabled = "!settings['HUDw_QueueNotificationsAb_'+queue.xpid]"
           ></div>
         </div>
        </div>
      </div>
      </div>