<div class="SettingsPanel DialogContentMainBlock_list"> 
    <div class="SettingsTabContent fj-viewcontent fj-scrollable ListView WithoutToolBar fj-viewport">
    <div class="fj-viewcontent fj-scrollable ListView WithoutToolBar fj-viewport">
    <div class="ListSection ">
      <div class="ListSeciontHeader">   
          <div class="ListSectionHeaderTitle">General</div>
      </div>
      <div class="ListSectionBody">Configure Desktop Alerts</div>
      <div class="ListPage">
      	<div class="Dialog-settings-row"><input type="checkbox"> <label>Show alerts</label> </div>
      	<div class="Dialog-settings-row"><input type="checkbox"> <label>Show when status is "Busy"</label> </div>
      	<div class="Dialog-settings-row"><input type="checkbox"> <label>Show when app is in focus</label> </div>
      	<div class="Dialog-settings-row"><input type="button" value="Reset Alert Position"></div>
      </div>
       
     </div>
     <div class="ListSection ">
      <div class="ListSeciontHeader">   
          <div class="ListSectionHeaderTitle">VOICEMAIL ALERTS</div>
      </div>
      <div class="ListSectionBody">Configure voicemail desktop alerts</div>
      <div class="ListPage">
      	<div class="Dialog-settings-row"><input type="checkbox"> <label>Show when new voicemail arrives</label> </div>
      </div>
       
     </div>
     
     <div class="ListSection ">
      <div class="ListSeciontHeader">   
          <div class="ListSectionHeaderTitle">call alerts</div>
      </div>
	<div class="ListSectionBody">Configure call desktop alerts</div>
      <div class="ListPage">
      	<div class="ListPageHeaderText">Type</div>
      	<div class="Dialog-settings-row" ><input type="checkbox"> <label>Show alerts</label> </div>
      	<div class="Dialog-settings-row"><input type="checkbox"> <label>Show when status is "Busy"</label> </div>
      	
      	<div class="ListPageHeaderText">Display for</div>
      	<div class="Dialog-settings-row"><input type="radio" ng-model="displayFor" value="all"> <label>All my calls</label> </div>
      	<div class="Dialog-settings-row"><input type="radio" ng-model="displayFor" value="only"> <label>Only for known numbers</label> </div>
      	<div class="Dialog-settings-row"><input type="radio" ng-model="displayFor" value="none"> <label>Never display</label> </div>
      	
      	<div class="ListPageHeaderText">Duration</div>
      	<div class="Dialog-settings-row"><input type="radio" ng-model="alertDuration" value="all"> <label>All my calls</label> </div>
      	<div class="Dialog-settings-row"><input type="radio" ng-model="alertDuration" value="only"> <label>Only for known numbers</label> </div>
      </div>
       
     </div>
     <div class="ListSection ">
      <div class="ListSeciontHeader">   
          <div class="ListSectionHeaderTitle">Queue Alerts</div>
      </div>
      <div class="ListSectionBody">Configure queue notifications and desktop alerts</div>

      <div class="ListPage">
        <div class="table">
          <div class="QueueHeader">
            <div class="QueueSetting QueueSettingCol1"></div>
            <div class="QueueSetting QueueSettingHeader" > Long Waiting Calls</div>
            <div class="QueueSetting QueueSettingHeader" > Abandoned Call</div>
          </div>
          <div class="QueueHeader" style="display:inline-block"> 
            <div class="QueueSetting QueueSettingCol1"></div>
            <div class="QueueSetting QueueSettingCheckBox"> Notifications </div>
            <div class="QueueSetting QueueSettingCheckBox"> Desktop Alerts </div>
            <div class="QueueSetting QueueSettingCheckBox"> Notifications </div>
            <div class="QueueSetting QueueSettingCheckBox"> Desktop Alerts </div>
          </div>
          <div class="QueueHeader" style="display:inline-block"> 
            <div class="QueueSetting QueueSettingCol1">Select All</div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"></div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"></div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"></div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"></div>
          </div>
          <div ng-repeat="queue in queues" class="QueueHeader" style="display:inline-block; background-color:white;">  
            <div class="QueueSetting QueueSettingCol1"> {{queue.name}} </div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"></div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"></div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"></div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"></div>
         </div>



        </div>
       <!-- <table> 
            <tr> 
              <td> </td> 
              <td> <div style="text-align:center">Long Waiting Calls</div>
                <div> <span>notifications</span> <span>Desktop Alerts</span></div></div>
              </td>
              <td> 
                <div> Abandoned calls </div>
                <div><span>Notifications</span> <span>Desktop Alerts</span></div> 
              </td>
            </tr>

            <tr> 
              <td>Select all </td> 
              <td><div style="text-align:center"><span> <input type="checkbox"> <input type="checkbox"></span></div></td>
              <td><span> <input type="checkbox"> <input type="checkbox"></span></td>
            </tr>
        </table>-->
      </div>
       
     </div>
     

      <div class="fj-scroll fj-ui-scrollerFr" style="visibility: hidden;">
        <div class="fj-ui-scrollerFr-decoration"></div>
        <div class="fj-ui-scroller" data-fj-local-id="scroller">
          <div class="fj-ui-scroller-decoration"></div>
        </div>
      </div>
      </div> 
  </div>
</div>

