          <div class="PreferenceSection" ng-click="myAccount = !myAccount">
            
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle" ng-if="!myAccount">{{::verbage.my_account}}</div>
              <!-- <div class="ListSectionHeaderRight"></div> -->
             
            </div>
            <div class="ListSectionBody" ng-if="!myAccount">{{::verbage.my_account_info}}</div>
             <i class="material-icons" ng-if="!myAccount">keyboard_arrow_right</i>
            <i class="material-icons down" ng-if="myAccount" >keyboard_arrow_down</i>
          </div>
          <div class="PreferencePage" ng-if="myAccount">
            <div class="ListSectionHeaderTitle" >{{::verbage.my_account}}</div>
              <div class="Dialog-settings-row">
              <label class="queueBlock MyAccount">{{::verbage.login}}:</label>
              <div ng-model="meModel.login">{{meModel.login}}</div>
              </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock MyAccount">{{::verbage.Server}}: </label>
              <div  ng-model="meModel.server">{{meModel.server}}</div>
            </div>
          </div>
          <div class="PreferenceSection" ng-click="myInfo = !myInfo">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle" ng-if="!myInfo">{{::verbage.my_personal_info}}</div>
              <div class="ListSectionHeaderRight"></div>
            </div>
            <div class="ListSectionBody" ng-if="!myInfo"></div>
            <i class="material-icons" ng-if="!myInfo">keyboard_arrow_right</i>
            <i class="material-icons down" ng-if="myInfo" >keyboard_arrow_down</i>
          </div>
          <div class="PreferencePage" ng-if="myInfo">
            <div class="ListSectionHeaderTitle" >{{::verbage.my_personal_info}}</div>
            <div class="Dialog-settings-row">
              <div class="file-input Dialog-settings-row" flow-init="{testChunks:false}" flow-files-submitted="flow_cleanup($files)" flow-name="avatar.flow" flow-file-added="change_avatar($file)">

                <label class="queueBlock Account">{{::verbage.avatar}}:</label>
                <avatar profile="me"></avatar>
                <div class="XButton"><span flow-btn flow-drop>{{::verbage.Upload}}</span></div>               
              </div>
            </div>  
            <div class="Dialog-settings-row">
              <label class="queueBlock Account">{{::verbage.first_name}}:</label>
              <div ng-model="meModel.first_name">{{meModel.first_name}}</div>
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock Account">{{::verbage.last_name}}:</label>
              <div ng-model="meModel.last_name">{{meModel.last_name}}</div>
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock Account">{{::verbage.display_name}}:</label>
              <div ng-model="meModel.display_name">{{meModel.display_name}}</div>
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock Account">{{::verbage.email}}:</label>
              <div ng-model="meModel.email">{{meModel.email}}</div>
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock Account">{{::verbage.mobile}}:</label>
              <div  ng-model="meModel.mobile">{{meModel.mobile}}</div>
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock Account">{{::verbage.business_phone}}:</label>
              <div ng-model="meModel.business_phone">{{meModel.business_phone}}</div>
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock Account">{{::verbage.extension}}:</label>
              <div ng-model="meModel.primary_extension">{{meModel.primary_extension}}</div>
            </div>
         
        </div>