<div class="SettingsPanel DialogContentMainBlock_List" >
  <div class="SettingsTabContent fj-content fj-stream hud-settings-form">
    <div class="fj-scrollable ListView WithoutToolBar fj-visibility-true fj-viewcontent">
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Web Launcher</div>
              <div class="ListSectionHeaderRight"></div>
            </div>
            <div class="ListSectionBody">General settings</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
            <div class="Dialog-settings-row">
              <div class="lblSelect">Web launcher profile</div>
              <select class="fj-hbox SelectBox SelectBoxSettings"
                  ng-model="currentWebLauncher"
                  ng-options="profile.name for profile in weblauncher_profiles"
                  ng-change="update_settings('hudmw_launcher_config_id','update','currentWebLauncher.id')"
              >
              </select>
            </div>
            <div class="Dialog-settings-row">
              <label><input name="lwa" type="checkbox" value="true"> Launch web page only when the call is answered</label>
            </div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Outbound Calls</div>
              <div class="ListSectionHeaderRight"></div>
            </div>
            <div class="ListSectionBody">Outbound calls settings</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
          <div class="Dialog-settings-row">
            <div class="Dialog-check-block right">
              <span class="inputBlock">Launch the web page below during new calls</span>
              <label><input name="out.silent" type="checkbox"  ng-model="currentWebLauncher.outboundSilent"
              ng-disabled="currentWebLauncher.id != 'user_default'"
              ng-change="update_weblauncher_settings()"
            
              > Silent</label>
              <label><input name="out.auto" type="checkbox" ng-model="currentWebLauncher.outboundAuto"
                ng-disabled="currentWebLauncher.id != 'user_default'"
                ng-change="update_weblauncher_settings()"
            
              > Auto-launch</label>
            </div>
            <input type="text" name="outbound" class="text DialogSettingWLInput" maxlength="255" ng-model="currentWebLauncher.outbound"
            ng-disabled="currentWebLauncher.id != 'user_default'"
            ng-change="update_weblauncher_settings()"
            
            >
          </div>
          <div class="Dialog-settings-row">
            <div class="Dialog-check-block right">
              <span class="inputBlock">Launch the web page below after call hangs up</span>
              <label><input name="out.hangup.silent" type="checkbox" ng-model="currentWebLauncher.outboundHangupSilent"
                ng-disabled="currentWebLauncher.id != 'user_default'"
                ng-change="update_weblauncher_settings()"
            
              > Silent</label>
              <label><input name="out.hangup.auto" type="checkbox" ng-model="currentWebLauncher.outboundHangupAuto" 
                ng-disabled="currentWebLauncher.id != 'user_default'"
                ng-change="update_weblauncher_settings()"
            
              > Auto-launch</label>
            </div>
            <input type="text" name="outbound.hangup" class="text DialogSettingWLInput" maxlength="255" ng-model="currentWebLauncher.outboundHangup"
            ng-disabled="currentWebLauncher.id != 'user_default'"
            ng-change="update_weblauncher_settings()"
            
            >
          </div>
        </div>
        <div class="ListSection">
          <div class="ListSectionHeader">
            <div class="ListSectionHeaderTitle">Inbound Calls</div>
            <div class="ListSectionHeaderRight"></div>
          </div>
          <div class="ListSectionBody">Inbound calls settings</div>
        </div>
        <div class="ListPage">
          <div class="ListPageHeader"></div>
          <div class="Dialog-settings-row">
            <div class="Dialog-check-block right">
              <span class="inputBlock">Launch the web page below during new calls</span>
              <label><input name="in.silent" type="checkbox" ng-model="currentWebLauncher.inboundSilent"
                ng-disabled="currentWebLauncher.id != 'user_default'"
                ng-change="update_weblauncher_settings()"
              > Silent</label>
              <label><input name="in.auto" type="checkbox" ng-model="currentWebLauncher.inboundAuto"
                ng-disabled="currentWebLauncher.id != 'user_default'"
              > Auto-launch</label>
            </div>
            <input type="text" name="inbound" class="text DialogSettingWLInput" maxlength="255" ng-model="currentWebLauncher.inbound"
            ng-disabled="currentWebLauncher.id != 'user_default'"
            ng-change="update_weblauncher_settings()"
            >
          </div>
          <div class="Dialog-settings-row">
            <div class="Dialog-check-block right">
              <span class="inputBlock">Launch the web page below after call hangs up</span>
              <label><input name="in.hangup.silent" type="checkbox"  ng-model="currentWebLauncher.inboundHangupSilent"
                ng-disabled="currentWebLauncher.id != 'user_default'"
                ng-change="update_weblauncher_settings()"
              > Silent</label>
              <label><input name="in.hangup.auto" type="checkbox" ng-model="currentWebLauncher.inboundHangupAuto" 
                ng-disabled="currentWebLauncher.id != 'user_default'"
                ng-change="update_weblauncher_settings()"
            
              > Auto-launch</label>
            </div>
            <input type="text" name="inbound.hangup" class="text DialogSettingWLInput" maxlength="255" ng-model="currentWebLauncher.inboundHangup"
            ng-disabled="currentWebLauncher.id != 'user_default'"
            ng-change="update_weblauncher_settings()"
            
            >
          </div>
        </div>
        <div class="ListSection">
          <div class="ListSectionHeader">
            <div class="ListSectionHeaderTitle">Web launcher variables</div>
            <div class="ListSectionHeaderRight"></div>
          </div>
          <div class="ListSectionBody">Web launcher variables description</div>
        </div>
        <div class="ListPage">
          <div class="ListPageHeader"></div>
          <div class="weblauncher-variables">
            <div class="scrollable-v">
              <div class="Dialog-settings-row">
                <span class="col1 h2">Variable</span>
                <span class="col2 h2">Description</span>
              </div>
              <div >
                <div ng-repeat="variable in weblaunchervariables" class="Dialog-settings-row"> 
                  <span class="col1 fj-single-line">{{ variable.name }} </span>
                  <span class="col2">{{ variable.description }}</span>
                </div>
                
              </div>
            </div>
          </div>
        </div>

  </div>
  </div>
  </div>
