<div class="SettingsPanel DialogContentMainBlock_List" >
  <div class="SettingsTabContent fj-content fj-stream" fjtype="v">
    <div class="fj-scrollable ListView WithoutToolBar" >
      <div class="fj-viewport" style="overflow: hidden;">
        <div class="fj-viewcontent">
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">My account</div>
              <div class="ListSectionHeaderRight"></div>
            </div>
            <div class="ListSectionBody">My account information</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
              <div class="Dialog-settings-row">
              <label class="queueBlock">Login:</label>
              <input class="text DialogSettingInput" readonly="true" type="text" ng-model="meModel.login">
              </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock">Server: </label>
              <input class="text DialogSettingInput" readonly="true" ng-model="meModel.server">
            </div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">My personal information</div>
              <div class="ListSectionHeaderRight"></div>
            </div>
          <div class="ListSectionBody">This information is visible to your contacts list.</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
            <div class="Dialog-settings-row">
              <div class="file-input Dialog-settings-row" flow-init flow-name="avatar.flow" flow-file-added="change_avatar($file)">

                <label class="queueBlock">Avatar:</label>
                  <img 
                   onerror="this.src='img/Generic-Avatar-Small.png'" data-ng-src="{{getMeAvatarUrl(40,38)}}"
                   style="min-height:38px; min-width:40px" flow-img="avatar"  />
                <span class="ImgBtnUpload"flow-btn flow-drop flow-drag-enter="style={border: '4px solid green'}" flow-drag-leave="style={}"
                ng-style="style">Upload</span>

              </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock">First Name:</label>
              <input class="text DialogSettingInput" readonly="true" ng-model="meModel.first_name">
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock">Last Name:</label>
              <input class="text DialogSettingInput" readonly="true" ng-model="meModel.last_name">
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock">Display Name:</label>
              <input class="text DialogSettingInput" readonly="true" ng-model="meModel.display_name">
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock">Email:</label>
              <input class="text DialogSettingInput" readonly="true" type="email" ng-model="meModel.email">
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock">Mobile:</label>
              <input class="text DialogSettingInput" readonly="true" type="text" ng-model="meModel.mobile">
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock">Voicemail:</label>
              <input class="text DialogSettingInput" readonly="true" type="text" ng-model="meModel.primary_vm_box">
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock">Business Phone:</label>
              <input class="text DialogSettingInput" readonly="true" type="text" ng-model="meModel.business_phone">
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock">Extension:</label>
              <input class="text DialogSettingInput" readonly="true" type="text" ng-model="meModel.primary_extension">
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock">IMS:</label>
              <input class="text DialogSettingInput" type="text" readonly="true" ng-model="meModel.ims">
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock">JID:</label>
              <input class="text DialogSettingInput" type="text" readonly="true" ng-model="meModel.my_jid">
            </div>
            <div class="Dialog-settings-row">
              <label class="queueBlock">My Department:</label>
              <input class="text DialogSettingInput" type="text" readonly="true" ng-model="department">
            </div>
          </div>
        </div>
      </div>
      <div class="fj-scroll fj-ui-scrollerFr" data-controller-id="id8605" data-template-id="scroll" data-event="mousedown mouseover mouseup" data-fj-local-id="dynamic" style="">
        <div class="fj-ui-scrollerFr-decoration"></div>
        <div class="fj-ui-scroller" data-fj-local-id="scroller" style="height: 106.40963855421687px; top: 0px;">
          <div class="fj-ui-scroller-decoration"></div>
        </div>
      </div>
    </div>
  </div>
</div>
