<div class="SettingsPanel DialogContentMainBlock_List" >
  <div class="SettingsTabContent fj-content fj-stream" >
    <div class="fj-scrollable ListView WithoutToolBar fj-viewcontent">
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Sound Quality</div>
            </div>
            <div class="ListSectionBody">Sound settings</div>
          </div>
          <div class="ListPage">
          <div class="Dialog-settings-row">
            <div class="lblSelect">Web phone state: </div>
            <b class="WebphoneRegistred-true">Registered</b>
          </div>
          <div class="Dialog-settings-row">
            <div class="lblSelect">Microphone:</div>
            <input type="range" min="0" max="1" step=".01" ng-model="micVol" ng-change="update_settings('hudmw_webphone_mic','update',micVol)"
              ></input>
          </div>
        <div class="Dialog-settings-row">
          <div class="lblSelect">Speaker:</div>
          <input type="range" min="0" max="1" step=".01" ng-model="spkVol" ng-change="update_settings('hudmw_webphone_speaker','update',spkVol)"></input>
        </div>
      <div class="Dialog-settings-row">
        <div class="lblSelect">Echo: </div>
        <select class="fj-hbox SelectBox SelectBoxSettings">
          <option value="4"><span>14 ms - Laptop 13-17"</span></option>
        </select>

    </div>
  </div>
  <div class="ListSection">
    <div class="ListSectionHeader">
      <div class="ListSectionHeaderTitle">Devices</div>
      <div class="ListSectionHeaderRight"></div>
    </div>
  <div class="ListSectionBody">Select device to use</div>
  </div>
  <div class="ListPage">
    <div class="ListPageHeader"></div>
    <div class="Dialog-settings-row">
      <div class="lblSelect">Input Devices: </div>
      <select class="fj-hbox SelectBox SelectBoxSettings">
        <option value="4"><span>Built-in Microph</span></option>
      </select>

    </div>
    <div class="Dialog-settings-row">
      <div class="lblSelect">Output Devices: </div>
      <select class="fj-hbox SelectBox SelectBoxSettings">
        <option value="4">Built-in Output</option>
      </select>

      </div>
      <div class="Dialog-settings-row">
        <div class="lblSelect">Ring Devices: </div>
        <select class="fj-hbox SelectBox SelectBoxSettings">
          <option value="4">Built-in Output</option>
        </select>

      </div>
    </div>

</div>
</div>
</div>
