<div class="SettingsPanel DialogContentMainBlock_List" >
  <div class="SettingsTabContent fj-content fj-stream" fjtype="v">
    <div class="fj-scrollable ListView WithoutToolBar" >
      <div class="fj-viewport" style="overflow: hidden;">
        <div class="fj-viewcontent">
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">My account</div>
              <div class="ListSectionHeaderRight"></div>
            </div>
            <div class="ListSectionBody">My account information</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
              <label class="inputBlock">Login:</label>
              <input class="text DialogSettingInput" readonly="true" type="text" value="5770_vovchuk">
            <div class="Dialog-settings-row">
              <label class="inputBlock">Server: </label>
              <input class="text DialogSettingInput" readonly="true" value="s5770.pbxtra.fonality.com">
            </div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">My personal information</div>
              <div class="ListSectionHeaderRight"></div>
            </div>
          <div class="ListSectionBody">This information is visible to your contacts list.</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
            <div class="Dialog-settings-row">
              <div class="file-input" flow-init flow-files-submitted="$flow.upload()"> 
                <label class="inputBlock">Avatar:</label>
                <img src="/test"/>
                <span class="btn" flow-btn>Upload</span>
              </div>
            <div class="Dialog-settings-row">
              <label class="inputBlock">First Name:</label>
              <input class="text DialogSettingInput" readonly="true" value="Alexandr">
            </div>
            <div class="Dialog-settings-row">
              <label class="inputBlock">Last Name:</label>
              <input class="text DialogSettingInput" readonly="true" value="Vovchuk --Primary">
            </div>
            <div class="Dialog-settings-row">
              <label class="inputBlock">Display Name:</label>
              <input class="text DialogSettingInput" readonly="true" value="Alexandr Vovchuk --Primary">
            </div>
            <div class="Dialog-settings-row">
              <label class="inputBlock">Email:</label>
              <input class="text DialogSettingInput" readonly="true" type="email" value="a.vovchuk@gmail.com">
            </div>
            <div class="Dialog-settings-row">
              <label class="inputBlock">Mobile:</label>
              <input class="text DialogSettingInput" readonly="true" type="text" value="98-923-240-1984">
            </div>
            <div class="Dialog-settings-row">
              <label class="inputBlock">Voicemail:</label>
              <input class="text DialogSettingInput" readonly="true" type="text" value="7085">
            </div>
            <div class="Dialog-settings-row">
              <label class="inputBlock">Business Phone:</label>
              <input class="text DialogSettingInput" readonly="true" type="text" value="">
            </div>
            <div class="Dialog-settings-row">
              <label class="inputBlock">Extension:</label>
              <input class="text DialogSettingInput" readonly="true" type="text" value="#7085">
            </div>
            <div class="Dialog-settings-row">
              <label class="inputBlock">IMS:</label>
              <input class="text DialogSettingInput" type="text" readonly="true" value="a.vovchuk@gmail.com">
            </div>
            <div class="Dialog-settings-row">
              <label class="inputBlock">JID:</label>
              <input class="text DialogSettingInput" type="text" readonly="true" value="5770_vovchuk@s5770.pbxtra.fonality.com">
            </div>
            <div class="Dialog-settings-row">
              <label class="inputBlock">My Department:</label>
              <input class="text DialogSettingInput" type="text" readonly="true" value="Primary phones">
            </div>
          </div>
        </div>
      </div>
      <div class="fj-scroll fj-ui-scrollerFr" data-controller-id="id8605" data-template-id="scroll" data-event="mousedown mouseover mouseup" data-fj-local-id="dynamic" style="">
        <div class="fj-ui-scrollerFr-decoration"></div>
        <div class="fj-ui-scroller" data-fj-local-id="scroller" style="height: 106.40963855421687px; top: 0px;">
          <div class="fj-ui-scroller-decoration"></div>
        </div>
      </div>
    </div>
  </div>
</div>
