<div class="SettingsPanel DialogContentMainBlock_List" >
  <div class="SettingsTabContent fj-content fj-stream hud-settings-form">
    <div class="fj-scrollable ListView WithoutToolBar fj-visibility-true fj-viewcontent">
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Web Launcher</div>
              <div class="ListSectionHeaderRight"></div>
            </div>
            <div class="ListSectionBody">General settings</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
            <div class="Dialog-settings-row">
              <div class="lblSelect">Web launcher profile</div>
              <select class="fj-hbox SelectBox SelectBoxSettings">
                <option value="">My Web Launcher</option>
              </select>
            </div>
            <div class="Dialog-settings-row">
              <label><input name="lwa" type="checkbox" value="true" data-fj-local-id="lwa"> Launch web page only when the call is answered</label>
            </div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Outbound Calls</div>
              <div class="ListSectionHeaderRight"></div>
            </div>
            <div class="ListSectionBody">Outbound calls settings</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
          <div class="Dialog-settings-row">
            <div class="Dialog-check-block right">
              <span class="inputBlock">Launch the web page below during new calls</span>
              <label><input name="out.silent" type="checkbox" value="true"> Silent</label>
              <label><input name="out.auto" type="checkbox" value="true" data-fj-local-id="out.auto"> Auto-launch</label>
            </div>
            <input type="text" name="outbound" class="text DialogSettingWLInput" maxlength="255" >
          </div>
          <div class="Dialog-settings-row">
            <div class="Dialog-check-block right">
              <span class="inputBlock">Launch the web page below after call hangs up</span>
              <label><input name="out.hangup.silent" type="checkbox" value="true"> Silent</label>
              <label><input name="out.hangup.auto" type="checkbox" value="true" > Auto-launch</label>
            </div>
            <input type="text" name="outbound.hangup" class="text DialogSettingWLInput" maxlength="255">
          </div>
        </div>
        <div class="ListSection">
          <div class="ListSectionHeader">
            <div class="ListSectionHeaderTitle">Inbound Calls</div>
            <div class="ListSectionHeaderRight"></div>
          </div>
          <div class="ListSectionBody">Inbound calls settings</div>
        </div>
        <div class="ListPage">
          <div class="ListPageHeader"></div>
          <div class="Dialog-settings-row">
            <div class="Dialog-check-block right">
              <span class="inputBlock">Launch the web page below during new calls</span>
              <label><input name="in.silent" type="checkbox" value="true" > Silent</label>
              <label><input name="in.auto" type="checkbox" value="true"> Auto-launch</label>
            </div>
            <input type="text" name="inbound" class="text DialogSettingWLInput" maxlength="255">
          </div>
          <div class="Dialog-settings-row">
            <div class="Dialog-check-block right">
              <span class="inputBlock">Launch the web page below after call hangs up</span>
              <label><input name="in.hangup.silent" type="checkbox" value="true"> Silent</label>
              <label><input name="in.hangup.auto" type="checkbox" value="true" > Auto-launch</label>
            </div>
            <input type="text" name="inbound.hangup" class="text DialogSettingWLInput" maxlength="255">
          </div>
        </div>
        <div class="ListSection">
          <div class="ListSectionHeader">
            <div class="ListSectionHeaderTitle">Web launcher variables</div>
            <div class="ListSectionHeaderRight"></div>
          </div>
          <div class="ListSectionBody">Web launcher variables description</div>
        </div>
        <div class="ListPage">
          <div class="ListPageHeader"></div>
          <div class="weblauncher-variables">
            <div class="scrollable-v">
              <div class="Dialog-settings-row">
                <span class="col1 h2">Variable</span>
                <span class="col2 h2">Description</span>
              </div>
              <div >
                <div class="Dialog-settings-row">
                  <span class="col1 fj-single-line">%%username%%</span>
                  <span class="col2">Your username for accounts that require authentication</span>
                </div>
                <div class="Dialog-settings-row" >
                  <span class="col1 fj-single-line">%%duration%%</span>
                  <span class="col2">The duration of your call in seconds</span>
                </div>
                <div  class="Dialog-settings-row">
                  <span class="col1 fj-single-line">%%caller_name%%</span>
                  <span class="col2">Name of the party on the other end of the call</span>
                </div>
                <div class="Dialog-settings-row">
                  <span class="col1 fj-single-line">%%type%%</span>
                  <span class="col2">Call type: either "inbound", "outbound" or "queue"</span>
                </div>
                <div class="Dialog-settings-row">
                  <span class="col1 fj-single-line">%%my_extension%%</span>
                  <span class="col2">Your extension</span>
                </div>
                <div class="Dialog-settings-row">
                  <span class="col1 fj-single-line">%%caller_number%%</span>
                  <span class="col2">Number of the party on the other end of the call</span>
                </div>
                <div class="Dialog-settings-row">
                  <span class="col1 fj-single-line">%%password%%</span>
                  <span class="col2">Your password for accounts that require authentication</span>
                </div>
                <div class="Dialog-settings-row">
                  <span class="col1 fj-single-line">%%caller_number_raw%%</span>
                  <span class="col2">%%caller_number%% stripped for all non-numerical characters</span>
                </div>
              </div>
            </div>
          </div>
        </div>

  </div>
  </div>
  </div>
