<div class="SettingsPanel DialogContentMainBlock_list"> 
    <div class="SettingsTabContent fj-viewcontent fj-scrollable ListView WithoutToolBar fj-viewport">
    <div class="fj-viewcontent fj-scrollable ListView WithoutToolBar fj-viewport"> 
    <div class="ListSection ">
      <div class="ListSeciontHeader">   
          <div class="ListSectionHeaderTitle">Queue summary stats</div>
      </div>
      <div class="ListSectionBody">Highlight threshold. Set to 0 if stat is never highlighted. </div>
      <div class="ListPage">
        
        <div><span class="inputBlock">Waiting</span><input type="number" min="0" pattern="[0-9.]+" style="width:50px">   Calls</div>
        
        <br>
        <div><span class="inputBlock">Avg Wait</span><input type="number" min="0" pattern="[0-9.]+" style="width:50px">   minutes </div>
        
        <br>
        <div><span class="inputBlock">Avg Talk</span><input type="number" min="0" pattern="[0-9.]+" style="width:50px">   minutes </div>
        
        <br>
        <div><span class="inputBlock">Abandoned</span><input type="number" min="0" pattern="[0-9.]+" style="width:50px">   %</div>
      
      </div>
       
      </div>
      <div class="fj-scroll fj-ui-scrollerFr" style="visibility: hidden;">
        <div class="fj-ui-scrollerFr-decoration"></div>
        <div class="fj-ui-scroller" data-fj-local-id="scroller">
          <div class="fj-ui-scroller-decoration"></div>
        </div>
      </div> 
      </div>
  </div>
</div>

