    <div class="ListSection ">
      <div class="ListSeciontHeader">   
          <div class="ListSectionHeaderTitle">{{::verbage.general}}</div>
      </div>

      <div class="ListSectionBody">{{::verbage.configure_desktop_alerts}}</div>
      <div class="ListPage">
      	<div class="Dialog-settings-row"><input type="checkbox"
          ng-model="alertShow" ng-change="update_settings('alert_show','update',alertShow)" 
        > <label>{{::verbage.show_alerts}}</label> </div>
      	<div class="Dialog-settings-row"><input type="checkbox"
          ng-model="settings.alertOnBusy" ng-change="update_settings('hudmw_show_alerts_in_busy_mode','update',settings.alertOnBusy)" 
        > <label>{{::verbage.show_status_when_busy}}</label> </div>
      	<div class="Dialog-settings-row"><input type="checkbox"
          ng-model="alertOnAlways" ng-change="update_settings('hudmw_show_alerts_always','update',alertOnAlways)" 
        > <label>{{::verbage.show_when_app_in_focus}}</label> </div>
      	<div class="Dialog-settings-row" ng-if="::browser != 'Chrome'"><input type="button" value="{{::verbage.reset_alert_position}}" ng-click="resetAlertPosition()"></div>
      </div>
       
     </div>
     <div class="ListSection ">
      <div class="ListSeciontHeader">   
          <div class="ListSectionHeaderTitle">{{::verbage.voicemail_alerts}}</div>
      </div>
      <div class="ListSectionBody">{{::verbage.configure_vm_desktop_alerts}}</div>
      <div class="ListPage">
      	<div class="Dialog-settings-row"><input type="checkbox"
           ng-model="alertShowVM" ng-change="update_settings('alert_vm_show_new','update',alertShowVM)" 
        > <label>{{::verbage.show_when_new_voicemail}}</label> </div>
      </div>
       
     </div>
     
     <div class="ListSection ">
      <div class="ListSeciontHeader">   
          <div class="ListSectionHeaderTitle">{{::verbage.call_alerts}}</div>
      </div>
	<div class="ListSectionBody">{{::verbage.configure_call_desktop_alerts}}</div>
      <div class="ListPage">
        <div class="ListPageHeaderText">{{::verbage.type}}</div>
        <div class="Dialog-settings-row"><input type="checkbox" ng-model="alertShowIncoming" ng-change="update_settings('alert_call_incoming','update',alertShowIncoming)"> 

        <label>{{::verbage.incoming_calls}}</label> </div>
        <div class="Dialog-settings-row"><input type="checkbox" ng-model="alertShowOutgoing" ng-change="update_settings('alert_call_outgoing','update',alertShowOutgoing)" > 

        <label>{{::verbage.outbound_calls}}</label> </div>
        
        <div class="ListPageHeaderText">{{::verbage.display_for}}</div>
        <div class="Dialog-settings-row"><input type="radio" ng-model="alertDisplayFor" value="all" ng-change="update_settings('alert_call_display_for','update',alertDisplayFor)" > <label>{{::verbage.all_my_calls}}</label> </div>
        <div class="Dialog-settings-row"><input type="radio" ng-model="alertDisplayFor" value="known" ng-change="update_settings('alert_call_display_for','update',alertDisplayFor)" > <label>{{::verbage.only_for_known_numbers}}</label> </div>
        <div class="Dialog-settings-row"><input type="radio" ng-model="alertDisplayFor" value="never" ng-change="update_settings('alert_call_display_for','update',alertDisplayFor)"> <label>{{::verbage.never_display}}</label> </div>
        
        <div class="ListPageHeaderText">{{::verbage.duration}}</div>
        <div class="Dialog-settings-row"><input type="radio" ng-model="alertDuration" value="entire"
         ng-change="update_settings('alert_call_duration','update',alertDuration)"
        > <label></label>{{::verbage.entire_call_recommended}} </div>
        <div class="Dialog-settings-row"><input type="radio" ng-model="alertDuration" value="while_ringing"
          ng-change="update_settings('alert_call_duration','update',alertDuration)"
        > <label>{{::verbage.while_phone_is_ringing}}</label> </div>
      </div>
       
     </div>
     <div class="ListSection ">
      <div class="ListSeciontHeader">   
          <div class="ListSectionHeaderTitle">{{::verbage.queue_alerts}}</div>
      </div>
      <div class="ListSectionBody">
        {{::verbage.configure_queue_not_and_desktop_alerts}}

      </div>

        <div class="table Queues">
          <div class="QueueHeader top">
            <div class="QueueSetting QueueSettingHeader QueueSettingCol1">&nbsp; &nbsp;</div>
            <div class="QueueSetting QueueSettingHeader" colspan="2"> {{::verbage.long_waiting_call}}</div>
            <div class="QueueSetting QueueSettingHeader" colspan="2"> {{::verbage.abandoned_calls}}</div>
          </div>
          <div class="QueueHeader"> <!--  style="display:inline-block" -->
            <div class="QueueSetting QueueSettingHeader QueueSettingCol1">&nbsp; &nbsp;</div>
            <div class="QueueSetting QueueSettingHeader QueueSettingCheckBox"> {{::verbage.notifications}}</div>
            <div class="QueueSetting QueueSettingHeader QueueSettingCheckBox"> {{::verbage.desktop_alerts}} </div>
            <div class="QueueSetting QueueSettingHeader QueueSettingCheckBox">  {{::verbage.notifications}} </div>
            <div class="QueueSetting QueueSettingHeader QueueSettingCheckBox"> {{::verbage.desktop_alerts}} </div>
          </div>
          <div class="QueueHeader"> <!--  style="display:inline-block" -->
            <div class="QueueSetting QueueSettingHeader QueueSettingCol1">{{::verbage.select_all}}</div>
            <div class="QueueSetting QueueSettingHeader QueueSettingCheckBox"><input type="checkbox"
                ng-model="allQueueNotificationsLW"
                ng-change="update_queue_settings('HUDw_QueueNotificationsLW_', allQueueNotificationsLW)"
            ></div>
            <div class="QueueSetting QueueSettingHeader QueueSettingCheckBox"><input type="checkbox"
                ng-model="allQueueAlertsLW"
                ng-change="update_queue_settings('HUDw_QueueAlertsLW_', allQueueAlertsLW)"
                ng-disabled="!allQueueNotificationsLW"
           ></div>
            <div class="QueueSetting QueueSettingHeader QueueSettingCheckBox"><input type="checkbox"
                ng-model="allQueueNotificationsAB"
                ng-change="update_queue_settings('HUDw_QueueNotificationsAb_', allQueueNotificationsAB)"
                
            ></div>
            <div class="QueueSetting QueueSettingHeader QueueSettingCheckBox"><input type="checkbox"
                ng-model="allQueueAlertsAB"
                ng-change="update_queue_settings('HUDw_QueueAlertsAb_', allQueueAlertsAB)"
                ng-disabled="!allQueueNotificationsAB"
           
            ></div>
          </div>
          <div class="queueList">          
          <div ng-repeat="queue in queues track by queue.xpid" class="ListRow">       
            <div class="SettingsListLineContent">
            <div class="QueueSetting QueueSettingCol1"> {{::queue.name}} </div>
            
            <div class="QueueSetting QueueSettingCheckBox">
              <input type="checkbox"
                ng-model="settings['HUDw_QueueNotificationsLW_'+queue.xpid]"                
                ng-change="update_settings('HUDw_QueueNotificationsLW_' + queue.xpid,'update', settings['HUDw_QueueNotificationsLW_'+queue.xpid] ? 'true' : 'false')"
              >
            </div>
            
            <div class="QueueSetting QueueSettingCheckBox">
              <input type="checkbox" 
              ng-model = "settings['HUDw_QueueAlertsLW_'+queue.xpid]"                            
              ng-change ="update_settings('HUDw_QueueAlertsLW_' + queue.xpid,'update', settings['HUDw_QueueNotificationsAb_'+queue.xpid] ? 'true' : 'false')"
              ng-disabled = "!settings['HUDw_QueueNotificationsLW_'+queue.xpid]"
              >
            </div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"
              ng-model = "settings['HUDw_QueueNotificationsAb_'+queue.xpid]"              
              ng-change="update_settings('HUDw_QueueNotificationsAb_' + queue.xpid,'update', settings['HUDw_QueueNotificationsAb_'+queue.xpid] ? 'true' : 'false')"
              
            ></div>
            <div class="QueueSetting QueueSettingCheckBox"><input type="checkbox"
              ng-model = "settings['HUDw_QueueAlertsAb_'+queue.xpid]"              
              ng-change ="update_settings('HUDw_QueueAlertsAb_' + queue.xpid,'update', settings['HUDw_QueueAlertsAb_'+queue.xpid] ? 'true' : 'false')"
              ng-disabled = "!settings['HUDw_QueueNotificationsAb_'+queue.xpid]"
           ></div>
           </div>
         </div>
        </div>       
      </div>
      </div>