          <div class="ListSection">
            <div class="ListSectionHeaderTitle">Interface</div>
            <div class="ListSectionBody">Application tuning</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
            <div class="Dialog-settings-row">
              <div class="lblSelect"><p>Language:</p></div>
              <select class="fj-hbox SelectBox SelectBoxSettings"
              ng-model="languageSelect"
              ng-options="language.label for language in languages"
              ng-change="update_settings('hudw_lang','update',languageSelect)"
              ></select>
            </div>
            <div class="Dialog-settings-row checkbox-label" style="display:inline">
                <input
                ng-model=searchAutoClear
                ng-click="update_settings('hudmw_searchautoclear','update',searchAutoClear)"
                name="autoclear" type="checkbox" value="true" > Autoclear search
            </div>
            <div class="Dialog-settings-row">
              <div class="lblSelect"><p>Autoclear after:</p></div>
              <select class="fj-hbox SelectBox SelectBoxSettings" ng-model='autoClearSelected'
              ng-options="autoClearOption.label for autoClearOption in autoClearSettingOptions"
              ng-change="update_settings('hudmw_searchautocleardelay','update',autoClearSelected)"
              >
              </select>
            </div>
            <div class="Dialog-settings-row">
              <div class="lblSelect">Avatar hover menu delay: </div>
              <select class="fj-hbox SelectBox SelectBoxSettings"
                ng-model="hoverDelaySelected"
                ng-options="hoverDelay.label for hoverDelay in hoverDelayOptions"
                ng-change="update_settings('avatar_hover_delay','update',hoverDelaySelected)"
              >
              </select>
            </div>
            <div class="Dialog-settings-row">
              <label>
                <input
                ng-model="enableBox"
                ng-change="update_settings('hudmw_box_enabled','update',enableBox)"
                name="boxing" type="checkbox" value="true" >Enable Box
              </label>
            </div>
            <div class="Dialog-settings-row AppsReset">
              <div class="lblSelect"></div>
              <div ng-click="reset_app_menu()"event="c" class="XButton XButtonNormal XButtonWide ">
                <span>Reset App Menu Order</span>
              </div>
            </div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Sounds</div>
            </div>
            <div class="ListSectionBody">Sound settings for chat and notifications</div>
          </div>
          <div class="ListPage">
            <div class="Dialog-settings-row">
              <label><input
                ng-model="enableSound"
                ng-change="update_settings('hudmw_chat_sounds','update',enableSound)"
                type="checkbox" checked="checked" >Enable chat sound</label>
            </div>
            <div class="Dialog-settings-row">
              <label><input
                ng-disabled="!enableSound"
                ng-model="soundOnChatMsgReceived"
                ng-change="update_settings('hudmw_chat_sound_received','update',soundOnChatMsgReceived)"
                name="chat_sound_received" type="checkbox" value="true">On message received</label>
            </div>
            <div class="Dialog-settings-row">
              <label><input
                ng-disabled="!enableSound"
                ng-model="soundOnSentMsg"
                ng-change="update_settings('hudmw_chat_sound_sent','update',soundOnSentMsg)"
                name="chat_sound_sent" type="checkbox" value="true">On sent message</label>
            </div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Calls</div>
            </div>
            <div class="ListSectionBody">Call preferences</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
            <div class="Dialog-settings-row">
              <div class="lblSelect">Call log size:</div>
              <select
              ng-model="callLogSizeSelected"
              ng-options="callLogSize.label for callLogSize in callLogSizeOptions"
              ng-change="update_settings('recent_call_history_length','update',callLogSizeSelected)"
              class="fj-hbox SelectBox SelectBoxSettings"></select>
            </div>
            <div class="Dialog-settings-row">
              <label><input
                ng-model="enableBusyRingBack"
                ng-change="update_settings('busy_ring_back','update',enableBusyRingBack)"
                name="busy_ring_back" type="checkbox" value="true">Busy ring back</label>
            </div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Auto away</div>
            </div>
            <div class="ListSectionBody">Auto away settings</div>
          </div>
          <div class="ListPage">
            <div class="Dialog-settings-row" >
              <div class="lblSelect">Auto away after:</div>
              <select
                ng-model="autoAwaySelected"
                ng-options="autoAway.label for autoAway in autoAwayOptions"
                ng-change="update_settings('hudmw_auto_away_timeout','update',autoAwaySelected)"

                class="fj-hbox SelectBox SelectBoxSettings">
              </select>
            </div>
            <div class="Dialog-settings-row">
              <label><input
                ng-model="enableAutoAway"
                ng-change="update_settings('auto_away_timeout','update',enableAutoAway)"
                name="autoaway" type="checkbox" value="true">Enable Auto away</label>
            </div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Dashboard</div>
            </div>
            <div class="ListSectionBody">Dashboard settings</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
            <div class="Dialog-settings-row">
              <label><input
                ng-model="useColumnLayout"
                ng-change="update_settings('use_column_layout','update',useColumnLayout)"
                name="use-column-layout" type="checkbox" value="true" >Use column layout</label>
            </div>
          </div>