<div class="SettingsPanel DialogContentMainBlock_List">
  <div class="SettingsTabContent fj-content fj-stream hud-settings-form" fjtype="v" data-fj-local-id="tabPanel" data-controller-id="id8552" data-event="mousedown mouseover mouseup" data-template-id="settings-general-tab">
    <div class="fj-scrollable ListView WithoutToolBar" data-fj-local-id="SettingsListView">
      <div class="fj-viewport" style="overflow: hidden;">
        <div class="fj-viewcontent">
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Interface</div>
            </div>
            <div class="ListSectionBody">Application tuning</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
            <div class="Dialog-settings-row">
              <div class="lblSelect"><p>Language:</p></div>
              <select class="fj-hbox SelectBox SelectBoxSettings">
                <option value="United States">English (United States) </option>
              </select>
              </div>
            <div class="Dialog-settings-row checkbox-label" style="display:inline">
                <input name="autoclear" type="checkbox" value="true" data-fj-local-id="autoclear"> Autoclear search
            </div>
            <div class="Dialog-settings-row">
              <div class="lblSelect"><p>Autoclear after:</p></div>
              <select class="fj-hbox SelectBox SelectBoxSettings">
                <option value="30">30 Seconds</option>
              </select>
            </div>
            <div class="Dialog-settings-row">
              <div class="lblSelect">Avatar hover menu delay: </div>
              <select class="fj-hbox SelectBox SelectBoxSettings">
                <option value="30">1.0 Seconds</option>
              </select>
            </div>
            <div class="Dialog-settings-row">
              <label>
                <input name="boxing" type="checkbox" value="true" data-fj-local-id="boxing">Enable Box
              </label>
            </div>
            <div class="Dialog-settings-row AppsReset">
              <div class="lblSelect"></div>
              <div data-event="click" data-fj-local-id="resetAppsOrder" event="c" class="XButton XButtonNormal XButtonWide ">
                <span>Reset App Menu Order</span>
              </div>
            </div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Sounds</div>
              <div class="ListSectionHeaderRight"></div>
            </div>
            <div class="ListSectionBody">Sound settings for chat and notifications</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
            <div class="Dialog-settings-row">
              <label><input type="checkbox" checked="checked" data-fj-local-id="sound_enable">Enable chat sound</label>
            </div>
            <div class="Dialog-settings-row">
              <label><input name="chat_sound_received" type="checkbox" value="true" data-fj-local-id="chat_sound_received">On message received</label>
            </div>
            <div class="Dialog-settings-row">
              <label><input name="chat_sound_sent" type="checkbox" value="true" data-fj-local-id="chat_sound_sent">On sent message</label>
            </div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Calls</div>
            </div>
            <div class="ListSectionBody">Call preferences</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
            <div class="Dialog-settings-row">
              <div class="lblSelect">Call log size:</div>
              <select class="fj-hbox SelectBox SelectBoxSettings">
                <option value="50">50 items</option>
              </select>
            </div>
            <div class="Dialog-settings-row">
              <label><input name="busy_ring_back" type="checkbox" value="true" data-fj-local-id="busy_ring_back">Busy ring back</label>
            </div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Auto away</div>
            </div>
            <div class="ListSectionBody">Auto away settings</div>
          </div>
          <div class="ListPage" style="margin-top:10px">
            <div class="ListPageHeader"></div>
            <div class="Dialog-settings-row" >
              <div class="lblSelect">Auto away after:</div>
              <select class="fj-hbox SelectBox SelectBoxSettings">
                <option value="4">4 minutes</option>
              </select>
            </div>
            <div class="Dialog-settings-row">
              <label><input name="autoaway" type="checkbox" value="true" data-fj-local-id="autoaway">Enable Auto away</label>
            </div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">Dashboard</div>
              <div class="ListSectionHeaderRight"></div>
            </div>
            <div class="ListSectionBody">Dashboard settings</div>
          </div>
          <div class="ListPage">
            <div class="ListPageHeader"></div>
            <div class="Dialog-settings-row">
              <label><input name="use-column-layout" type="checkbox" value="true" data-fj-local-id="use-column-layout">Use column layout</label>
            </div>
          </div>
        </div>
      </div>
      <div class="fj-scroll fj-ui-scrollerFr" data-controller-id="id8553" data-template-id="scroll" data-event="mousedown mouseover mouseup" data-fj-local-id="dynamic" style="">
        <div class="fj-ui-scrollerFr-decoration"></div>
        <div class="fj-ui-scroller" data-fj-local-id="scroller" style="height: 89.32490518331227px; top: 0px;">
          <div class="fj-ui-scroller-decoration"></div>
        </div>
      </div>
    </div>
  </div>
</div>
