          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">
                {{::verbage.fonality_web_client}}
              </div>
            </div>
            <div class="ListSectionBody">{{::verbage.version}}: 1.4.010891</div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">{{::verbage.fon_cloud_service}}</div>
            </div>
            <div class="ListSectionBody">{{::verbage.fdp_version}} {{::meModel.fdp_version}}</div>
          </div>
          <div class="ListSection">
            <div class="ListSectionHeader">
              <div class="ListSectionHeaderTitle">{{::verbage.fon_pbx_control_server}}</div>
            </div>
            <div class="ListSectionBody">{{::verbage.hud_server_version}}: {{::meModel.server_version}}</div>
            </div>
            <div class="ListSection">
              <div class="ListSectionHeader">
                <div class="ListSectionHeaderTitle">{{::verbage.fon_pbx_server}}</div>
              </div>
              <div class="ListSectionBody">{{::verbage.fon_core_version}}: {{::meModel.fon_core}}</div>
            </div>
            <div class="ListSection PluginSection fj-visibility-true">
              <div class="ListSectionHeader">
                <div class="ListSectionHeaderTitle">{{::verbage.fon_plugin}}</div>
              </div>
              <div class="ListSectionBody">{{::verbage.version}}: <span>5.17.008986</span></div>
             
            </div>
