<!DOCTYPE html>
<html>
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<link rel="stylesheet" href="../../styles/main.css" />
	
		<script> 
				// for debugging
				// window.location="devtools://open";

				window.fj={alert:{}};

				window.dropEnabled=false;

				window.isIE = /*@cc_on!@*/false;

				document.oncontextmenu = function () { return false;};
				window.oncontextmenu = function () { return false;};

				function isDropEnabled(){
				    return window.dropEnabled;
				};

				function onMouseUpNative(){
				    window.dropEnabled=false;
				};

				function contentChanged() {
				};

				function addAlert(html)  {
					// ain't got no body
					if (!document.body)
						document.documentElement.appendChild(document.createElement('body'));
						
					document.body.innerHTML = html;
				   
					// scroll to bottom
					setTimeout(function() {
						document.getElementById('scroller').scrollTop = document.getElementById('scroller').scrollHeight;
					}, 100);
					
					fj.alert.Duration.start();
				}

				function alertScroll(x,y,dx) {
					var scrollable = document.getElementById("scroller");
					if(scrollable){
						var delta = 0;
					    if(dx !==undefined) {
					        delta = (1 * dx) / 120;
					    }
						scrollable.scrollTop += delta * 20;
					}
				}

				function mouseClick(element){
					var action = element.getAttribute('action');
					window.location.replace(action);
				}
				

				var FormatUtils = {
				    duration: {
				        getFormattedDuration: function(timestamp) {
				            var duration = (timestamp && new Date().getTime() - timestamp) || 0;
				            var durationDate = new Date(duration);
				            var hours = Math.floor(duration/3600000);
				            return (hours ? (hours+":"): "")
				                +((hours && durationDate.getUTCMinutes()<10) ?"0"+durationDate.getUTCMinutes():durationDate.getUTCMinutes())
				                +":"+(durationDate.getUTCSeconds() < 10 ? "0"+durationDate.getUTCSeconds() : durationDate.getUTCSeconds());
				        }
				    }
				    , date: {
				        toBeginOfDay: function(date) {
				            date.setHours(0);
				            date.setMinutes(0);
				            date.setSeconds(0);
				            date.setMilliseconds(0);
				            return date;
				        }
				        , getHumanTime: function(timestamp) {
				            var now = new Date();
				            var sent = new Date(timestamp);
				            var time = now.getTime() - sent.getTime();
				            if(time <= 60000)
				            {
				                return "1 min ago";
				            }
				            else if(time <= 300000)
				            {
				                return "5 min ago";
				            }
				            else if(time <= 1800000)
				            {
				                return "30 min ago";
				            }
				            else if(time <= 3600000)
				            {
				                return "Hour ago";
				            }
				            else
				            {
				                now = this.toBeginOfDay(now);
				                if(sent.getTime() >= now.getTime())
				                {
				                    return "Today";
				                }
				            }
				        }
				        , getDate: function(timestamp) {

				        }
				    }
				};


				fj.alert.Duration = {
				    __intervalId:null
				    , elements:[]
				    , start: function() {
				        var context =this;
				        this.getElements();
				        this.__intervalId = setInterval(function(){
				            for(var i = 0, iLen = context.elements.length; i < iLen; i++) {
				                context.setDurationValue(context.elements[i]);
				            }
				        }, 1000);
				    }
				    , setDurationValue: function(htmlElement) {
				        if(htmlElement) {
				            var formatedDuration = null;
				            if(htmlElement.getAttribute('data-duration')) {
				                formatedDuration = FormatUtils.duration.getFormattedDuration(parseInt(htmlElement.getAttribute('data-duration')));
				            }
				            else if(htmlElement.getAttribute('data-human-duration')) {
				                formatedDuration = FormatUtils.date.getHumanTime(parseInt(htmlElement.getAttribute('data-human-duration')));
				            }
				            if(formatedDuration) {
				                var oldChild = htmlElement.childNodes[0];
				                var newChild = document.createTextNode(formatedDuration);
				                if(oldChild) {
				                    htmlElement.replaceChild(newChild, oldChild);
				                }
				                else {
				                    htmlElement.appendChild(newChild);
				                }
				            }
				        }
				    }
				    , getElements: function() {
				        if(window.document.querySelectorAll) {
				            this.elements = window.document.querySelectorAll('*[data-duration], *[data-human-duration]');
				        }
				        else {
				            var _els = document.getElementsByTagName("*");
				            var arr= [];
				            for(var i = 0, iLen = _els.length; i < iLen; i++) {
				                if(_els[i].getAttribute("data-duration") || _els[i].getAttribute("data-human-duration")) {
				                    arr.push(_els[i]);
				                }
				            }
				            this.elements = arr;
				        }
				        return this.elements;
				    }
				    , clear: function() {
				        this.elements = [];
				        if(this.__intervalId!=null) {
				            clearInterval(this.__intervalId);
				            this.__intervalId = null;
				        }
				    }
				};

				fj.Utils = {
				    DOMUtils: {
				        addEventListener : function(htmlElement, methodName, callback) {
				            if(htmlElement) {
				                methodName = methodName == "mousewheel" ? "DOMMouseScroll" : methodName;
				                if (htmlElement.addEventListener) {
				                    htmlElement.addEventListener(methodName, callback, false);
				                } else if (htmlElement.attachEvent)  {
				                    htmlElement.attachEvent('on' + methodName, callback);
				                }

				                if(methodName == 'DOMMouseScroll') {
				                    htmlElement.onmousewheel = callback;
				                }
				            }
				        }
				        , removeEventListener : function(htmlElement, methodName, callback) {
				            if(htmlElement) {
				                methodName = methodName == "mousewheel" ? "DOMMouseScroll" : methodName;
				                if (htmlElement.removeEventListener) {
				                    htmlElement.removeEventListener(methodName, callback, false);
				                }
				                else if (htmlElement.detachEvent)  {
				                    try {
				                        htmlElement.detachEvent('on' + methodName, callback);
				                    }
				                    catch(e) {
				                        //TODO: show exception
				                    }

				                }
				                if(methodName == 'DOMMouseScroll') {
				                    htmlElement.onmousewheel = null;
				                }
				            }
				        }
				        , stopPropagation: function(event) {
				            event.stopPropagation ? event.stopPropagation() : (event.cancelBubble = true);
				        }
				        , getElementsByClassName: function(htmlElement, className) {
				            if(htmlElement.getElementsByClassName == undefined) {
				                var retnode = [];
				                var myclass = new RegExp('\\b'+className+'\\b');
				                var elem = htmlElement.getElementsByTagName('*');
				                for (var i = 0; i < elem.length; i++) {
				                    var classes = elem[i].className;
				                    if (myclass.test(classes)) {
				                        retnode.push(elem[i]);
				                    }
				                }
				                return retnode;
				            }
				            else {
				                return htmlElement.getElementsByClassName(className);
				            }
				        }
				    }
				    , returnFalseFn: function() {
				        return false;
				    }
				};

		</script>
	</head>
	
	<body>
		
	</body>
</html>