<div>    

	<link rel="stylesheet" href="{{path}}/app/styles/main.css">
	<a href="#contact/{{::contact.xpid}}"  class="ListRowFirst ListRow ListRow-Contact">			
			<div class="Avatar AvatarNormal" context-menu="contact">
				<img class="AvatarImgPH" src="{{path}}/app/img/Generic-Avatar-Small.png" />
				<div class="AvatarForeground AvatarInteractable"></div>
			</div>
			
			<div class="ListRowContent">
				<div class="ListRowTitle">
					<div class="name">
						
					
						<span><strong>{{ ::meModel.display_name }}</strong><div onclick="window.location.replace('#/Close')" style="display:inline-block; width:24px; float:right"class="NotificationClose"></div></span>
					</div>
					
				</div>
				
				<div class="CallStatus">
					<div ng-if="contact.call.startedAt" ng-click="showCallStatus($event, contact)" class="Avatar AvatarSmall CallAvatar CallAvatar_{{ contact.call.type == 11 ? 'External' : 'Office' }}">
						<img class="AvatarImgPH" ng-src="{{ getCallStatusAvatar(contact.call) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						<div class="AvatarInteractable AvatarForeground"></div>
					</div>
				</div>
				
				<div class="ListRowStatus">
					<div class="ListRowStatusIcon XIcon-QueueStatus XIcon-QueueStatus-{{contact.contactstatus_queueStatus}}">
						<div class="status-icon-inner"></div>
					</div>
					<div class="ListRowStatusIcon XIcon-ChatStatus-{{contact.hud_status || 'offline' }}">
						<div class="status-icon-inner"></div>
					</div>
					
					<br/>
					<div class="ListRowStatusText">{{contact.hud_status || 'offline'}}</div>
				</div>
			</div>
	</a>

<!--style="background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f8e6), to(#ecf2da));"-->


	

	<div ng-class="currentCall.incoming ? 'CallStatusContainerInbound' : 'CallStatusContainerOutbound' " ng-if="inCall"> 
		<div class="CallStatusIconContainer">
			<div class="CallStatusIcon"> </div>
		</div>
		<div style="display:inline-block" class="CallStatusText"> 
			<div  style="font-weight:bold;font-size:11px">{{currentCall.displayName}}</div>
			<div><div>outbound on call</div></div>
		</div>
		<div style="float:right;display:inline-block;margin-top:5px">
			<a href="#/CancelCall?{{currentCall.xpid}}" ng-if="isRinging" class="XButton" value="Cancel" onclick="window.close()">Cancel</a>
			<a href="#/HoldCall?{{currentCall.xpid}}"  ng-if="!isRinging && !onHold" class="XButton"  onclick="window.close()">Hold</a>
			<a href="#/EndCall?{{currentCall.xpid}}" ng-if="!isRinging && !onHold" class="XButton">End</a>
			<a href="#/ResumeCall?{{currentCall.xpid}}" ng-if="onHold" class="XButton">Talk</a>
			<a href="#/AcceptCall?{{currentCall.xpid}}" ng-if="currentCall.incoming && isRinging"  class="XButton">Accept</a>
		</div>
	</div>
	<div style="margin:0px 0px 0px 0px;background-color: gray;color: white;padding: .25em;">
		<div style="width: 24px;height: 24px;background: url('img/XIconSet-24x24.png') no-repeat -48px -72px;display:inline-block"></div>
		<div style="display:inline-block;vertical-align: middle">Notifications</div>
		<a href="#/OpenNotifications"value="Open" ng-click="test_pop()" style="float:right;position: relative;display: inline-block;" class="XButton">Open</a>
	</div>

	<div class="NotificationMessages" style="min-height:150px">
		<!--<react-component name="notification" props='notifications'/>-->
			
			<div class="Messages" ng-repeat="message in todaysNotifications | limitTo: messageLimit">
					<a href="#/contact?{{message.senderId}}">
					<div class="NotificationHeader"> 
							<div class="NotificationHeaderBackground"> 
								<div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
							</div>
							
					</div>
					</a>
					<div class="NotificationDivider"><img /></div>
					<div class="NotificationSection"> 
						
						<div class="LeftBarNotificationAvatarSection" ng-click="go_to_notification_chat(message.senderId,message.xpid)"> 
							<img class="NotificationAvatar"  ng-src="{{getAvatar(message.senderId)}}" onerror="this.src='img/Generic-Avatar-28.png'"/>
						</div>
					
						<div class="LeftBarNotificationMessageSection" ng-click="go_to_notification_chat(message.senderId,message.xpid)"> 
							<a href="#/contact?{{message.senderId}}" > 
							<div class="NotificationDisplayName" >{{ message.displayName}} <div class="NotificationTime">{{  convertTime(message.time) }} </div></div> 
							<div class="NotificationType">...{{ message.type }}</div>
							<div class="NotificationMessage">{{ getMessage(message) }} </div>
							</a>
							<div class="NotificationZoomBtn" ng-if="message.type == 'zoom'">
								<a class="XButton XButtonRed" href="#/RejectZoom"> Reject</span>
								<a class="XButton XButtonGreen" href="#/AcceptZoom?{{message.data.url}}" >Accept</a>
							
							</div>
							<div class="NotificationZoomBtn" ng-if="message.type == 'vm'">
								<a class="XButton" style="width:70px" href="#/PlayVM?{{message.vmId}}" > Play</a>
								<a class="XButton XButtonGreen" style="width:90px" href="#/CallBack?{{message.phone}}">Call Back</a>
							</div>

							<div class="NotificationZoomBtn" ng-if="message.type == 'missed-call'">
								<a class="XButton" style="width:70px" href="#contact/{{::contact.xpid}}">Chat</a>
								<a class="XButton XButtonGreen" style="width:70px" href="#/CallBack?{{message.phone}}">Call</a>
							</div>
						</div>
				</div>

			</div>
	</div>



</div>