<div style="font-size:1em">    

	<link rel="stylesheet" href="{{path}}/styles/main.css">
	<a href="#contact/{{::contact.xpid}}"  class="ListRowFirst ListRow ListRow-Contact" style="background-color:#F7F4F4">			
			<avatar style="width:2.4em;height:2.4em;display:inline-block;float:left" profile="contact"></avatar>
			
			<div class="ListRowContent">
				<div class="NotificationTitle">
					<div class="name">
						
					
						<span style="font-size:12px"><strong>{{ ::meModel.display_name }}</strong><div onclick="window.location.replace('#/Close')" style="display:inline-block; width:24px; float:right"class="NotificationClose"></div></span>
					</div>
					
				</div>
				
				<div class="CallStatus">
					<avatar 
						ng-if="contact.call.startedAt" 
						ng-click="showCallStatus($event, contact)" 
						profile="contact" 
						type="{{contact.call.type}}"></avatar>
				</div>
				
				<div class="">
					<div class="ListRowStatusIcon XIcon-QueueStatus XIcon-QueueStatus-{{meModel.queue_agent_status}}">
						<div class="status-icon-inner"></div>
					</div>
					<div class="ListRowStatusIcon XIcon-ChatStatus-{{meModel.chat_status || 'offline' }}">
						<div class="status-icon-inner"></div>
					</div>
					<div class="ListRowStatusText" style="display:inline-block;font-size:12px">{{meModel.chat_status || 'offline'}}</div>
				</div>
			</div>
	</a>

<!--style="background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f8e6), to(#ecf2da));"-->


	

	<div ng-class="currentCall.incoming ? 'CallStatusContainerInbound' : 'CallStatusContainerOutbound' " ng-if="activeCall.displayCall"> 
		<div class="CallStatusIconContainer">
			<div class="CallStatusIcon"> </div>
		</div>
		<div style="display:inline-block" class="CallStatusText"> 
			<div  style="font-weight:bold;font-size:11px">{{currentCall.displayName}}</div>
			<div><div>outbound on call</div></div>
		</div>
		<div style="float:right;display:inline-block;margin-top:5px">
			<a href="#/CancelCall?{{currentCall.xpid}}" ng-if="isRinging" class="XButton" value="{{::verbage.cancel}}" onclick="window.close()">{{::verbage.cancel}}</a>
			<a href="#/HoldCall?{{currentCall.xpid}}"  ng-if="!isRinging && !onHold" class="XButton"  onclick="window.close()">{{::verbage.hold}}</a>
			<a href="#/EndCall?{{currentCall.xpid}}" ng-if="!isRinging && !onHold" class="XButton">{{::verbage.end}}</a>
			<a href="#/ResumeCall?{{currentCall.xpid}}" ng-if="onHold" class="XButton">{{::verbate.talk}}</a>
			<a href="#/AcceptCall?{{currentCall.xpid}}" ng-if="currentCall.incoming && isRinging"  class="XButton">{{::verbage.accept}}</a>
		</div>
	</div>
	<div style="margin:0px 0px 0px 0px;background-color: gray;color: white;padding: .25em;">
		<div style="width: 24px;height: 24px;background: url('img/XIconSet-24x24.png') no-repeat -48px -72px;display:inline-block"></div>
		<div style="display:inline-block;vertical-align: middle"><span>{{::verbage.notifications}}</span><span class="Event" ng-show="notifications.length > 0 " > {{ notifications.length + ' events' }} </span> </div>
		
		
		<a href="#/OpenNotifications"value="{{::verbage.Open}}" style="float:right;position: relative;display: inline-block;" class="XButton">{{::verbage.open}}</a>
	</div>

	<div class="NotificationMessages" style="min-height:150px">
		<!--<react-component name="notification" props='notifications'/>-->
			
			<div class="Messages" ng-repeat="message in todaysNotifications | limitTo: messageLimit">
					<a href="#/contact?{{message.senderId}}" style="text-decoration:none">
					<div class="NotificationHeader"> 
							<div class="NotificationHeaderBackground"> 
								<div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
							</div>
							
					</div>
					</a>
					<div class="NotificationDivider"><img /></div>
					<div class="NotificationSection"> 
						
						<avatar profile="message.fullProfile" class="LeftBarNotificationAvatarSection" ng-click="go_to_notification_chat(message.senderId,message.xpid)"></avatar>
					
						<div class="LeftBarNotificationMessageSection chatNotification" ng-click="go_to_notification_chat(message.senderId,message.xpid)"> 
							<a href="#/contact?{{message.senderId}}" style="text-decoration:none"> 
							<div class="NotificationDisplayName" >{{ message.displayName}} <div class="NotificationTime">{{  convertTime(message.time) }} </div></div> 
							<div class="NotificationType">...{{ message.labelType }}</div>
							<div class="NotificationMessage">{{ getMessage(message) }} </div>
							</a>
							<div class="NotificationZoomBtn" ng-if="message.type == 'zoom'">
								<a class="XButton XButtonRed" href="#/RejectZoom"> {{::verbage.Reject}}</span>
								<a class="XButton XButtonGreen" href="#/AcceptZoom?{{message.data.url}}" >{{::verbage.accept}}</a>
							
							</div>
							<div class="NotificationZoomBtn" ng-if="message.type == 'vm'">
								<a class="XButton" style="width:70px" href="#/PlayVM?{{message.vmId}}" > {{::verbage.Play}}</a>
								<a class="XButton XButtonGreen" style="width:90px" href="#/CallBack?{{message.phone}}">{{::verbage.call_back}}</a>
							</div>

							<div class="NotificationZoomBtn" ng-if="message.type == 'missed-call'">
								<a class="XButton" style="width:70px" href="#contact/{{::contact.xpid}}">{{::verbage.chat}}</a>
								<a class="XButton XButtonGreen" style="width:70px" href="#/CallBack?{{message.phone}}">{{::verbage.Call}}</a>
							</div>
						</div>
				</div>

			</div>
	</div>



</div>