<div style="font-size:1em">    

	<link rel="stylesheet" href="{{path}}/styles/main.css">
	<a href="#contact/{{::contact.xpid}}"  class="ListRowFirst ListRow ListRow-Contact" style="background-color:#F7F4F4">			
			<avatar style="width:2.4em;height:2.4em;display:inline-block;float:left" profile="contact"></avatar>
			<div class="ListRowContent">
				<div class="NotificationTitle">
					<div class="name">
						<span style="font-size:12px"><strong>{{ ::meModel.display_name }}</strong><div onclick="window.location.replace('#/Close')" style="display:inline-block; width:24px; float:right"class="NotificationClose"></div></span>
					</div>
				</div>
				
				<div class="CallStatus">
					<avatar 
						ng-if="contact.call.startedAt" 
						ng-click="showCallStatus($event, contact)" 
						profile="contact" 
						type="{{contact.call.type}}"></avatar>
				</div>
				
				<div class="">
					<div class="ListRowStatusIcon XIcon-QueueStatus XIcon-QueueStatus-{{meModel.queue_agent_status}}">
						<div class="status-icon-inner"></div>
					</div>
					<div class="ListRowStatusIcon XIcon-ChatStatus-{{meModel.chat_status || 'offline' }}">
						<div class="status-icon-inner"></div>
					</div>
					<div class="ListRowStatusText" style="display:inline-block;font-size:12px">{{meModel.chat_status || 'offline'}}</div>
				</div>
			</div>
	</a>



	

	<div ng-repeat="currentCall in calls" ng-class="currentCall.incoming ? 'CallStatusContainerInbound' : 'CallStatusContainerOutbound'" ng-if="inCall"> 
		<div class="CallStatusIconContainer">
			<div class="CallStatusIcon"> </div>
		</div>
		<div style="display:inline-block" class="CallStatusText"> 
			<div style="font-weight:bold;font-size:11px" class="memberName">{{currentCall.displayName}} <div class="MyCallBlock_Rec ng-class:{'true': currentCall.record}"></div></div>
			<div class="callStatus"><div>{{ currentCall.incoming ? verbage.inbound : verbage.outbound}} {{::verbage.on_call}}</div><span class="MyCallBlock_Duration">{{callObj[currentCall.xpid].minutesText}}{{callObj[currentCall.xpid].secondsText}}{{callObj[currentCall.xpid].hoursText}}</span></div>
		</div>
		<div style="float:right;display:inline-block;margin-top:5px" class="controlButtons">
			<a href="#/CancelCall?{{currentCall.xpid}}"  ng-if="currentCall.state == callState.CALL_RINGING" class="XButton" value="{{::verbage.cancel}}" onclick="window.close()">{{:: currentCall.incoming ? verbage.decline : verbage.cancel}}</a>
			<a href="#/EndCall?{{currentCall.xpid}}" ng-if="currentCall.state == callState.CALL_ACCEPTED" class="XButton">{{::verbage.end}}</a>

			<a href="#/HoldCall?{{currentCall.xpid}}"  ng-if="currentCall.state == callState.CALL_ACCEPTED" class="XButton"  onclick="window.close()"  ng-class="currentCall.type == 0 ? 'disableButton' : ''" ng-disabled="currentCall.type == 0">{{::verbage.hold}}</a>
			
			<a href="#/ResumeCall?{{currentCall.xpid}}" ng-if="currentCall.state == callState.CALL_HOLD" class="XButton">{{::verbate.talk}}</a>
			<a href="#/AcceptCall?{{currentCall.xpid}}" ng-if="currentCall.incoming && currentCall.state == callState.CALL_RINGING"  class="XButton">{{::verbage.accept}}</a>
		</div>
	</div>

	<div style="margin:0px 0px 0px 0px;background-color: gray;color: white;padding: .25em;">
		<div style="width: 24px;height: 24px;background: url('img/XIconSet-24x24.png') no-repeat -48px -72px;display:inline-block"></div>
		<div style="display:inline-block;vertical-align: middle"><span>{{::verbage.notifications}}</span><span class="Event" ng-show="notifications.length > 0 " > {{ notifications.length + ' events' }} </span> </div>
		
		
		<a href="#/OpenNotifications"value="{{::verbage.Open}}" style="float:right;position: relative;display: inline-block;" class="XButton">{{::verbage.open}}</a>
	</div>

	<div class="NotificationMessages">
			<div class="Messages" ng-repeat="message in todaysNotifications | limitTo: messageLimit">
					<a href="#/contact?{{message.senderId}}" style="text-decoration:none">
					<div class="NotificationHeader ng-class:{'firstHeader': $index == 0};"> 
							<div class="NotificationHeaderBackground ng-class:{'firstHeaderTitle': $index == 0};"> 
								<div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
							</div>
							
					</div>
					</a>



					<div class="NotificationDivider ng-class:{'firstHeaderDivider': $index == 0};">
						<img />
					</div>
					<div class="NotificationSection ng-class:{'firstsection': $index == 0, 'halfHeight': !showHeader};"> 
						
						<avatar 
							class="LeftBarNotificationAvatarSection NotificationAvatar"
							ng-click="go_to_notification_chat(message); storeRecent(message.senderId)" 
							profile="message.fullProfile" 
							type="{{message.type == 'chat' ? 11 : message.audience == 'queue' ? 3 : 4}}">
						</avatar>
					
						<div class="LeftBarNotificationMessageSection chatNotification" ng-init="message_section_notifications = getMessage(message)"> 

							<a href="#/contact?{{message.senderId}}" style="text-decoration:none"> 
							

								<div ng-class="message.audience == 'queue' ? 'NotificationDisplayNameQueue' : 'NotificationDisplayName'" >
									<span ng-if="message.displayName">{{ message.displayName}}</span>
									<span ng-if="!message.displayName" style="width: 38.5%;">&nbsp;</span></span> 
									<div class="NotificationTime">{{  convertTime(message.time) }} </div>
								</div> 

								<div class="NotificationType" ng-show="showNotificationBody">...{{ ::message.label }} 
									<span class='NotificationDisplayName' ng-if="message.type == 'gchat'"> 
								{{ message.audience == 'group' ? message.title : 'Room #' + message.conference.roomNumber + '(' + message.conference.extensionNumber + ')'}}
									</span>
								</div>

								<div class="NotificationMessage"  ng-show="showNotificationBody" scroll-to-bottom>
								  <span ng-if="message.message && message.message.length > 1" ng-repeat="messageToDisplay in message_section_notifications track by $index">{{ messageToDisplay }}<br/></span>
								  <span ng-if="!message.message || message.message <= 1">{{ message_section_notifications }}</span>								  
								</div> 
							</a>
							<div class="NotificationZoomBtn" ng-if="message.type == 'zoom'">
								<a class="XButton XButtonRed" href="#/RejectZoom"> {{::verbage.Reject}}</span>
								<a class="XButton XButtonGreen" href="#/AcceptZoom?{{message.data.url}}" >{{::verbage.accept}}</a>
							
							</div>
							<div class="NotificationZoomBtn" ng-if="message.type == 'vm'">
								<a class="XButton" style="width:70px" href="#/PlayVM?{{message.vmId}}" > {{::verbage.Play}}</a>
								<a class="XButton XButtonGreen" style="width:90px" href="#/CallBack?{{message.phone}}">{{::verbage.call_back}}</a>
							</div>

							<div class="NotificationZoomBtn" ng-if="message.type == 'missed-call'">
								<a class="XButton" style="width:70px" href="#contact/{{::contact.xpid}}">{{::verbage.chat}}</a>
								<a class="XButton XButtonGreen" style="width:70px" href="#/CallBack?{{message.phone}}">{{::verbage.Call}}</a>
							</div>
						</div>
				</div>

			</div>
	</div>



</div>
