<div class="ToolBar">
	<input type="search" class="SearchBox" ng-model="calllog.query" ng-attr-placeholder="{{::verbage.search}}" ng-model-options="{debounce: 100}" ng-keypress="clearSearch(autoClearTime)"/>
</div>

<div class="WidgetTabContent">
	<div class="ListLineContent Header LeftContactsColumns">
		<div class="ListLineContentCell">&nbsp;</div>
		<div data-ng-click="sort('displayName')"
			 class="ListLineContentCell Name {{(sortField == 'displayName' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
			<span class="upper">{{::verbage.name}}</span>

			<div class="DirectionArrow"></div>
		</div>
		<div data-ng-click="sort('phone')"
			 class="ListLineContentCell Phone {{(sortField == 'phone' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
			<span class="upper" >{{::verbage.phone}}</span>

			<div class="DirectionArrow"></div>
		</div>
		<div data-ng-click="sort('duration')"
			 class="ListLineContentCell Duration {{(sortField == 'duration' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
			<span class="upper">{{::verbage.duration}}</span>

			<div class="DirectionArrow"></div>
		</div>
		<div data-ng-click="sort('startedAt')"
			 class="ListLineContentCell StartedAt {{(sortField == 'startedAt' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
			<span class="upper">{{::verbage.date}}</span>

			<div class="DirectionArrow"></div>
		</div>
		<div data-ng-click="sort('incoming')"
			 class="ListLineContentCell CallType {{(sortField == 'incoming' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
			<span class="upper">{{::verbage.type}}</span>

		
			<div class="DirectionArrow"></div>
		</div>
	</div>

	<div class="ListView">	
		<div>
			<div class="ListRow Table AvatarHoverArea" data-ng-repeat="call in calls | filter: customFilter() | orderBy:sortField:sortReverse | limitTo:logSize track by call.xpid">
				<div>
					<avatar profile="call.fullProfile" type="{{::call.type}}"></avatar>
				</div>
				<div class="Name"> {{ ::call.displayName }}</div>
				<div class="Phone">
					<span ng-click="makeCall(call.phone)">{{ ::call.phone }}</span>
				</div>
				<div class="Duration"> {{ ::call.duration | duration }}</div>
				<div class="Date"> {{ ::call.startedAt |  fondate:'MMMM D, hh:mm a':fon_lang_code }}</div>
    			<div class="Type">
					<div class="ListRowStatusIcon Small XIcon-CallLog-{{ ::call.incoming ? 'Incoming' : 'Outbound' }}"></div>
				</div>
			</div>
			
			<img src="img/XLoading.gif" class="Loading" ng-show="loading" />
			
			<div class="Empty" ng-if="!loading && calls.length == 0">{{::verbage.no_recent_calls_in_view}}</div>
		</div>
	</div>
</div>
