<div class="Widget Contacts" id="WidgetCallCenter">
  <div class="WidgetHeader" unpin="/callcenter" draggable="true">
    <div class="Avatar AvatarApp">
      <div class="TopBarItemAppIcon CallCenter"></div>
    </div>
    <div class="WidgetHeaderTitle">Call Center</div>
  </div>
  <div class="WidgetBody">
    <div class="WidgetTabBar">
      <a href="#/callcenter" class="WidgetTabBarButton Ready">
        <div class="inner">My Queue</div>
        <div class="arrow"></div>
      </a>
      <a href="#/callcenter/allqueues" class="WidgetTabBarButton Ready fj-selected-item">
        <div class="inner">All Queues</div>
        <div class="arrow"></div>
      </a>
      <a href="#/callcenter/mystatus" class="WidgetTabBarButton Ready">
        <div class="inner">My Status</div>
        <div class="arrow"></div>
      </a>
    </div>
    <!--<div class="ToolBar">-->
    <!--<div class="SearchInputBox">-->
    <!--<div class="SearchInputBoxInputHolder">-->
    <!--<input class="SearchInputBoxInput" data-ng-change="onSearch()" type="text" x-webkit-speech=""-->
    <!--data-ng-model="query" placeholder="Search">-->
    <!--</div>-->
    <!--<div class="SearchInputBoxStateButton">-->
    <!--<div class="SearchInputBoxStateButtonIcon"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="ListLineContent Header LeftContactsColumns">
      <div class="ListLineContentCell">
        Sort:
      </div>
      <div data-ng-click="sort('name')"
           class="ListLineContentCell Name {{(sortField == 'name' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
        <span>NAME</span>

        <div class="DirectionArrow"></div>
      </div>
      <div data-ng-click="sort('complete')"
           class="ListLineContentCell Complete {{(sortField == 'complete' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
        <span>COMPLETED</span>

        <div class="DirectionArrow"></div>
      </div>
      <div data-ng-click="sort('abandon')"
           class="ListLineContentCell Abandon {{(sortField == 'abandon' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
        <span>ABANDONED</span>

        <div class="DirectionArrow"></div>
      </div>
      <div data-ng-click="sort('sla')"
           class="ListLineContentCell Abandon {{(sortField == 'sla' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
        <span>SLA</span>

        <div class="DirectionArrow"></div>
      </div>
    </div>

    <div class="ListViewTopSpace"></div>
    <div class="LeftBarTabContentList">
      <div class="QueueBlockHolder AvatarHoverArea QueueDetailsEnabled-true"
           data-ng-repeat="queue in queues | SortCalllog | orderBy:'name'">

        <div class="QueueBlock">
          <div class="Avatar AvatarNormal QueueBlockAvatar">
            <div class="AvatarImgPH GroupAvatarShowDefault-false">

              <div class="GroupAvatarItem GroupAvatarItem_0"><img class="GroupAvatarItemImg"
                                                                  data-ng-src="{{ queue.getAvatar(0, 19, 19) }}">
              </div>
              <div class="GroupAvatarItem GroupAvatarItem_1"><img class="GroupAvatarItemImg"
                                                                  data-ng-src="{{ queue.getAvatar(1, 19, 19) }}">
              </div>
              <div class="GroupAvatarItem GroupAvatarItem_2"><img class="GroupAvatarItemImg"
                                                                  data-ng-src="{{ queue.getAvatar(2, 19, 19) }}">
              </div>
              <div class="GroupAvatarItem GroupAvatarItem_3"><img class="GroupAvatarItemImg"
                                                                  data-ng-src="{{ queue.getAvatar(3, 19, 19) }}">
              </div>
            </div>
            <div class="AvatarForeground AvatarInteractable"></div>
          </div>
          <div class="QueueBlockTitle SortField" ng-click="loadPanel(queue)"> {{ queue.name}} - {{ queue.description }}</div>
          <div class="QueueBlockStatus QueueBlockAgentsStatLine">
            Agents:<span>2</span> / <span>5</span> / <span>7</span></div>
          <div class="QueueBlockStat">
            <div class="QueueBlockStatInner">
              <div class="QueueBlockStatBlock">
                <div class="QueueBlockStatBlockValue"><span>{{ queuestats[queue.xpid].waiting }}</span></div>
                <div class="QueueBlockStatBlockTitle">Waiting</div>
              </div>
              <div class="QueueBlockStatBlock">
                <div class="QueueBlockStatBlockValue"><span>0</span></div>
                <div class="QueueBlockStatBlockTitle">Avg Wait</div>
              </div>
              <div class="QueueBlockStatBlock">
                <div class="QueueBlockStatBlockValue"><span>0</span></div>
                <div class="QueueBlockStatBlockTitle">Avg Talk</div>
              </div>
              <div class="QueueBlockStatBlock">
                <div class="QueueBlockStatBlockValue"><span>{{ queuestats[queue.xpid].completed }}</span></div>
                <div class="QueueBlockStatBlockTitle">Total</div>
              </div>
              <div class="QueueBlockStatBlock Red">
                <div class="QueueBlockStatBlockValue"><span>{{ queuestats[queue.xpid].abandonPercent }}</span>%
                </div>
                <div class="QueueBlockStatBlockTitle">Aband</div>
              </div>
              <div class="QueueBlockStatBlock">
                <div class="QueueBlockStatBlockValue"><span>{{ queuestats[queue.xpid].active }}</span></div>
                <div class="QueueBlockStatBlockTitle">Active</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="ListRowLeftAreaExtraWide">-->
<!--<div class="ListRowTitle"> {{ queue.name}}</div>-->
<!--<div class="ListRowDesc"> {{ queue.description }}</div>-->
<!--<div class="ListRowDesc"> completed: {{ queuestats[queue.xpid].completed }}</div>-->
<!--<div class="ListRowDesc"> completed %: {{ queuestats[queue.xpid].completedPercent }}</div>-->
<!--&lt;!&ndash;<div class="ListRowDesc"> completed SLA: {{ queuestats[queue.xpid].completedSla }}</div>&ndash;&gt;-->
<!--<div class="ListRowDesc"> SLA %: {{ queuestats[queue.xpid].completedSlaPercent }}</div>-->
<!--&lt;!&ndash;<div class="ListRowDesc"> abandoned: {{ queuestats[queue.xpid].abandone }}</div>&ndash;&gt;-->
<!--<div class="ListRowDesc"> abandoned %: {{ queuestats[queue.xpid].abandonPercent }}</div>-->
<!--</div>-->
