<div class="Widget CallLog" id="WidgetCallLog">
    <div class="WidgetHeader">
        <div class="TopBarItemAppIcon CallLog"></div>
        <div class="WidgetHeaderTitle">Calls & Recordings</div>
    </div>
    <div class="WidgetBody">
        <div class="WidgetTabBar" ng-init="selected = 'calllog'">
            <a href="" class="WidgetTabBarButton Ready" ng-class="{'fj-selected-item': selected == 'calllog'}" ng-click="selected = 'calllog'">
                <div class="inner">Call Log</div>
                <div class="arrow"></div>
            </a>
            <a href="" class="WidgetTabBarButton Ready" ng-class="{'fj-selected-item': selected == 'voicemails'}" ng-click="selected = 'voicemails'">
                <div class="inner">Voicemails</div>
                <div class="arrow"></div>
            </a>
        </div>
			
		<!-- ng-view -->
        <div ng-if="selected == 'calllog'" class="fj-content WidgetTabContent" ng-include="'views/CallLog.html'" ng-controller="CallLogController"></div>
        <div ng-if="selected == 'voicemails'" class="fj-content WidgetTabContent vmails" ng-include="'views/Voicemails.html'" ng-controller="VoicemailsController"></div>
    </div>

</div>

