<div class="ToolBar chatTop">
    <div class="ChatSearch">
        <div class="SearchIcon"></div>
        <input ng-model="query" class="Search" type="search" placeholder="Search" />
		<div class="Arrows">
			<input type="button" value="&#x25B2;" ng-click="searchChat(-1)" />
			<input type="button" value="&#x25BC;" ng-click="searchChat(1)" />
		</div>
    </div>
    <div class="XButton XButtonNormal" ng-disabled="!enableFileShare" ng-click="showAttachmentOverlay()"><span>File Share</span></div>
	<img src="img/XLoading.gif" class="Loading" ng-show="loading" />
</div>
		
<div class="ListViewContent" id="ListViewContent">
    <div class="ListMessage" ng-class="message.data.attachment.length > 0 ? 'ListMessageChatWidgetAttachments' : 'ListMessageChatWidget'"ng-repeat="message in messages | orderBy: 'created'">
        <div class="ListMessageLeft">
            <div class="Avatar AvatarSmall" avatar-menu="message.getFrom()" ng-hide="hideDisplay(message, $index)"  ng-class="{'CallAvatar CallAvatar_Office':(message.type == 'call' || message.type == 'voicemail')}">
                <img class="AvatarImgPH" data-fj-local-id="avatarImg" ng-src="{{message.avatar}}" onerror="this.src='img/Generic-Avatar-28.png'">
                <div class="AvatarInteractable AvatarForeground"></div>
            </div>
            <div class="time">{{::message.created | date: 'h:mm a'}}</div>
        </div>
        <div class="ListMessageContent AttachmentsHolder" >
            <div class="ListMessageHeader" ng-hide="hideDisplay(message, $index)" >
                <em>...from</em>
                <span class="ListMessageHeaderName">{{message.displayName}}</span>
                <div class="time">{{formatDate(message)}}</div>
            </div>
            <div class="ChatMessageItem AttachmentsHolder">
                <div class="ListMessageText" ng-bind-html="message.message | highlight:query"></div>
                <div class="AttachmentContainer" ng-repeat="attachment in message.data.attachment" ng-click="showDownloadAttachmentOverlay(attachment)">
                    <img class="AttachmentImg" ng-src="{{getAttachment(attachment.url)}}"></img>                 
                    <p> {{ attachment.fileName }}</p>
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="fj-vbox-cell fj-expanded-true" ng-if="conversationType == 'conference'  && !joined">
    <div class="TabWarning" >
        <div class="TabWarningHeader">Join conference call to use chat.</div>
        <div class="TabWarningMessage">You can see only messages sent during conference call.</div>
        <div class="XButton XButtonGreen TabWarningButton" ng-click="joinConference()"><span>Join</span></div>
    </div>
</div>

<div class="ChatInputBox" ng-if="enableChat">
    <div class="ChatInputBoxBorder"></div>
    <textarea ng-model="message" class="text ChatInputBoxInput" contenteditable="true" ng-keypress="chatKeypress($event)" title="You can use shift+enter to set a line break"></textarea>
    <div class="XButton XButtonNormal ChatInputBoxSend" ng-click="sendMessage()" ><span>Send</span></div>
</div>