<div class="ToolBar">
    <div class="ChatSearch">
        <div class="SearchIcon"></div>
        <input ng-model="query" class="Search" type="search" placeholder="Search" />
		<div class="Arrows">
			<input type="button" value="&#x25B2;" ng-click="searchChat(-1)" />
			<input type="button" value="&#x25BC;" ng-click="searchChat(1)" />
		</div>
    </div>
    <div class="XButton XButtonNormal" ng-disabled="!enableFileShare" ng-click="showFileShareOverlay(true)"><span>File Share</span></div>
	<img src="img/XLoading.gif" class="Loading" ng-show="loading" />
</div>
		
<div class="ListViewContent" id="ListViewContent" scroll-glue="glued">
    <div class="ListRowFirst  AvatarHoverArea ChatItemTypeRoot-true" ng-class="message.data.attachment.length > 0 ? 'ListMessageChatWidgetAttachments':'ListMessageChatWidget'"ng-repeat="message in messages | orderBy: 'created'">
        <div class="ListMessageLeft">
            <div class="Avatar AvatarSmall" avatar-menu="message.getFrom()" ng-class="{'CallAvatar CallAvatar_Office':(message.type == 'call' || message.type == 'voicemail')}">
                <img class="AvatarImgPH" data-fj-local-id="avatarImg" ng-src="{{message.avatar}}" onerror="this.src='img/Generic-Avatar-28.png'">
                <div class="AvatarInteractable AvatarForeground"></div>
            </div>
        </div>
        <div class="ListMessageContent AttachmentsHolder" >
            <div class="ListMessageHeader ChatOutbound">
                <div class="ListMessageHeaderPrefix">...from</div>
                <div class="ListMessageHeaderName">{{message.displayName}}</div>
                <div class="time">{{::message.created | date: 'MMMM d'}}</div>
            </div>
            <div class="ChatMessageItem AttachmentsHolder">
                <div class="time">{{::message.created | date: 'h:mm a'}}</div>
                <div class="ListMessageText" ng-bind-html="message.message | highlight:query"></div>
                <div class="AttachmentContainer" ng-repeat="attachment in message.data.attachment" ng-click="showDownloadAttachmentOverlay(true,attachment)">
                    <img class="AttachmentImg" ng-src="{{getAttachment(attachment.url)}}"></img>                 
                    <p> {{ attachment.fileName }}</p>
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="fj-vbox-cell fj-expanded-true" ng-if="conversationType == 'conference'  && !joined">
    <div class="TabWarning" >
        <div class="TabWarningHeader">Join conference call to use chat.</div>
        <div class="TabWarningMessage">You can see only messages sent during conference call.</div>
        <div class="XButton XButtonGreen TabWarningButton" ng-click="joinConference()"><span>Join</span></div>
    </div>
</div>

<div class="ChatInputBox" ng-if="enableChat">
    <div class="ChatInputBoxBorder"></div>
    <textarea ng-model="message" class="text ChatInputBoxInput" contenteditable="true" ng-keypress="chatKeypress($event)" title="You can use shift+enter to set a line break"></textarea>
    <div class="XButton XButtonNormal ChatInputBoxSend" ng-click="sendMessage()" ><span>Send</span></div>
</div>

<div ng-show="showAttachments" class="Overlay" flow-init flow-name="upload.flow">
    <div ng-click="showFileShareOverlay(false)" class="Background"></div>
    <div class="Foreground">
        <div ng-click="showFileShareOverlay(false)" class="Close">x</div>
        
        <div class="Header">
            <h2 style="display:inline-block">File Share To </h2><h2 style="color:#729c00;display:inline-block"> {{conference.name}} </h2>
        </div>
        
        <div class="Sections" >
            <div class="Section" ng-show="!closing">
                <div>
                    <h4>MESSAGE</h4>
                    <p>Add message to shared files or send message alone </p>
                    <textarea type="text" ng-model="message" class="XInputText"></textarea>
                </div>
                <div>
                    <h4>AUTO DELETE</h4>
                    <div ng-repeat="archive in archiveOptions" class="AutoDelete"> 
                        <input  type="radio" ng-model="$parent.selectedArchiveOption" ng-value="archive" ng-click="update(selectedArchiveOption)">{{archive.name}}</input>
                    </div>
                </div>
                <div>
                    <!--<h4>Description</h4>
                    <textarea ng-model="add.description" placeholder="Team description is used for search and provides useful information to the team members."></textarea>-->
                </div>
            </div>
            
            
            <div class="Section">
                <div >
                    <span> 
                        <h4 style="display:inline-block">ATTACHMENTS  </h4>
                        <span class="XButton" style="float:right;position:relative;margin: .75em 0 .25em 0;" flow-btn>Attach</span>
                    </span>
                </div>
                
                <div class="Members">
                    <div ng-repeat="file in $flow.files" class="ListRow">
                        <div style="margin-left:5px;display:inline-block;width:70%">  
                        <p style="border-bottom:1px solid #ccc;width:100%;color:#009cff;font-weight:bold">File</p>
                        <span style="margin-top:0px"><p>{{file.name}} ({{file.size}} bytes)</p></span>
                        </div>
                        <div class="XButton" style="float:right;margin-top:10px;margin-right:5px" ng-click="$flow.removeFile(file)">Remove</div>
                    </div>
                </div>
            </div>
            
            <div class="Section" ng-show="editing && !closing">
                <h4>Job is done?</h4>
                <a href="" ng-click="endGroup()">Click here to delete this team and say goodbye.</a>
            </div>
        </div>
        
        <div class="Footer">
            <div class="Error" ng-show="addError" ng-bind="addError"></div>
            
            <input type="button" class="XButton" value="Cancel" ng-click="showFileShareOverlay(false)" />
            <input type="button" class="XButton XButtonBlue" value="Share Message & Files" ng-click="uploadAttachments($flow.files)" />
        </div>
    </div>
</div>


<div ng-show="showDownloadAttachment" class="Overlay" flow-init flow-name="upload.flow">
    <div ng-click="showDownloadAttachmentOverlay(false)" class="Background"></div>
    <div class="Foreground">
        <div ng-click="showDownloadAttachmentOverlay(false)" class="Close">x</div>
        
        <div class="Header">
            <h2 style="display:inline-block">Preview: </h2><h2 style="color:#729c00;display:inline-block"> {{" " + currentDownload.fileName}} </h2>
        </div>
        
        <div class="Sections" >
            <div class="Section">
                <div style="background-color:#FFF;height:inherit">
                <img class="CurrentDownload" ng-src="{{getAttachment(currentDownload.url)}}"> </img>
                </div>
            </div>
            
            
            <div class="Section">
                <div style="margin-bottom:10px">
                    <span> 
                        <h4>ITEMS </h4>
                        <i>{{downloadables.length}} items found </i>
                    </span>
                </div>
                
                <div class="AttachmentDownload">
                    <div ng-repeat="download in downloadables" class="ListRow Small Downloadables" ng-click="selectCurrentDownload(download)">
                        <!--<div style="margin-left:5px;display:inline-block;width:70%"> --> 
                            <div style="display:inline-block;width:40px" class="Center"> 
                                <img class="AvatarSmall Center" ng-src="{{getAttachment(download.url)}}"></img> 
                            </div>
                            <div ng-class="currentDownload.xkey == download.xkey ? 'Selected' : '' "style="display:inline-block">
                                <div style="margin-top:0px;margin-left:5px">
                                    <p style="margin-top:0px">{{download.fileName}}</p>
                                    <p> created </p>
                                </div>
                            </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>
            
            <div class="Section" ng-show="editing && !closing">
                <h4>Job is done?</h4>
                <a href="" ng-click="endGroup()">Click here to delete this team and say goodbye.</a>
            </div>
        </div>
        
        <div class="Footer">
            <div class="Error" ng-show="addError" ng-bind="addError"></div>
            <input type="button" class="XButton" value="Previous" ng-click="getOffsetDownload(-1)" />
            <input type="button" class="XButton" value="Next" ng-click="getOffsetDownload(1)" />
            <a type="button" href="{{getAttachment(currentDownload.url)}}" target="_blank" class="XButton XButtonBlue" download value="Share Message & Files">Download Current</a>
        </div>
    </div>
</div>
