<div class="ToolBar chatTop">
    <div class="ChatSearch">
        <div class="SearchIcon"></div>
        <input ng-model="query" class="Search" type="search" placeholder="{{::verbage.search}}" />
		<div class="Arrows">
			<input type="button" value="&#x25B2;" ng-click="searchChat(-1)" />
			<input type="button" value="&#x25BC;" ng-click="searchChat(1)" />
		</div>
    </div>
    <button class="XButton XButtonNormal" ng-disabled="!enableFileShare" ng-click="showAttachmentOverlay()"><span>{{::verbage.file_share}}</span></button>
	<img src="img/XLoading.gif" class="Loading" ng-show="loading" />
</div>
		
<div class="ListViewContent" id="ListViewContent">
    <div class="ListMessage" ng-class="message.data.attachment.length > 0 ? 'ListMessageChatWidgetAttachments' : 'ListMessageChatWidget'"ng-repeat="message in messages | orderBy: 'created' track by message.xpid">
        <div class="ListMessageLeft">
            <div class="Avatar AvatarSmall" ng-hide="hideDisplay(message, $index)"  ng-class="{'CallAvatar CallAvatar_Office':(message.type == 'call' || message.type == 'voicemail')}" context-menu="message.fullProfile">
                <img class="AvatarImgPH" data-fj-local-id="avatarImg" ng-src="{{::message.fullProfile.getAvatar(28)}}" onerror="this.src='img/Generic-Avatar-28.png'">
                <div class="AvatarInteractable AvatarForeground"></div>
            </div>
            <div class="time">{{::message.created | date: 'h:mm a'}}</div>
        </div>
        <div class="ListMessageContent AttachmentsHolder" >
            <div class="ListMessageHeader" ng-hide="hideDisplay(message, $index)" >
                <em>...{{::verbage.from}}</em>
                <span class="ListMessageHeaderName">{{::message.fullProfile.displayName}}</span>
                <div class="time">{{::formatDate(message)}}</div>
            </div>
            <div class="ChatMessageItem AttachmentsHolder">
                <div class="ListMessageText" ng-bind-html="message.message | highlight:query"></div>
                <div class="AttachmentContainer" ng-repeat="attachment in message.data.attachment" ng-click="showDownloadAttachmentOverlay(attachment)">
                    <img class="AttachmentImg" ng-src="{{getAttachment(attachment.url)}}"></img>                 
                    <p> {{ attachment.fileName }}</p>
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="fj-vbox-cell fj-expanded-true" ng-if="conversationType == 'conference'  && !joined">
    <div class="TabWarning" >
        <div class="TabWarningHeader">{{::verbage.join_to_chat}}</div>
        <div class="TabWarningMessage">{{::verbage.only_see_messages_during_chat}}</div>
        <div class="XButton XButtonGreen TabWarningButton" ng-click="joinConference()"><span>{{::verbage.join}}</span></div>
    </div>
</div>

<div class="ChatInputBox" ng-if="enableChat">	
	<div class="ChatAlertOptions" ng-if="showAlerts">
		<div class="Left">
			<input type="radio" ng-model="alertStatus" name="alertStatus" value="3" /> {{::verbage.all_agents}}
			<input type="radio" ng-model="alertStatus" name="alertStatus" value="1" /> {{::verbage.logged_in}}
			<input type="radio" ng-model="alertStatus" name="alertStatus" value="2" /> {{::verbage.Logged_out}}
		</div>
		<div class="Right">
			{{ 150 - message.length }} {{::verbage.characters_left}}
		</div>
	</div>
	
	<div class="ChatInputFields">
		<textarea ng-model="message" class="text ChatInputBoxInput" ng-keypress="chatKeypress($event)" title="You can use shift+enter to set a line break" maxlength="{{::showAlerts ? 150 : -1}}"></textarea>
        <div class="XButton XButtonNormal ChatInputBoxSend" ng-click="sendMessage()" ><span>{{::verbage.send}}</span></div>
	</div>
</div>
