<div class="fj-widget-area Widget Conversation">
    <div class="WidgetHeader">
        <div class="ConferenceAvatarSection Avatar AvatarNormal" style="margin-bottom:5px">
                <div class="GroupAvatarItemLrg GroupAvatarItem_0">
                    <img class="GroupAvatarItemImg" data-ng-src="{{ getAvatar(0, 19, 19) }}">
                </div>
                <div class="GroupAvatarItemLrg GroupAvatarItem_1">
                    <img class="GroupAvatarItemImg"
                         data-ng-src="{{ getAvatar(1, 19, 19) }}">
                </div>
                <div class="GroupAvatarItemLrg GroupAvatarItem_2">
                    <img class="GroupAvatarItemImg"
                         data-ng-src="{{ getAvatar(2, 19, 19) }}">
                </div>
               <div class="GroupAvatarItemLrg GroupAvatarItem_3">
                    <img class="GroupAvatarItemImg" data-ng-src="{{ getAvatar(3, 19, 19) }}">
                </div>
               <div class="AvatarInteractable"></div>
        </div>
        <div class="WidgetHeaderTitle Single" style="margin-left:5px">Conference</div>
    </div>
    <div class="WidgetBody">
		<div class="WidgetTabBar">
            <a  class="WidgetTabBarButton Ready" ng-click="cTabSelected='CurrentCall'" ng-class="cTabSelected == 'CurrentCall' ? 'fj-selected-item': ''">
                <div class="inner">Current Call</div>
                <div class="arrow"></div>
            </a>
            <a class="WidgetTabBarButton Ready" ng-click="cTabSelected='chat'" ng-class="cTabSelected == 'chat' ? 'fj-selected-item': ''">
                <div class="inner">Chat</div>
                <div class="arrow"></div>
            </a>
            <a class="WidgetTabBarButton Ready" ng-click="cTabSelected='Recordings'" ng-class="cTabSelected == 'Recordings' ? 'fj-selected-item': ''">
                <div class="inner">Recordings</div>
                <div class="arrow"></div>
            </a>
        </div>

        <div ng-if="cTabSelected=='chat'" class="ListView ChatView WithToolBar" ng-include="'views/conversation/ConversationChat.html'"
        ></div>

        <div ng-if="cTabSelected=='CurrentCall'" class="fj-content WidgetTabContent" ng-include="'views/conference/CurrentCall.html'"></div>
        <div ng-if="cTabSelected=='Recordings'" class="fj-content WidgetTabContent" ng-include="'views/conference/ConferenceRecordings.html'"></div>
        
    </div>

   
</div>