<div class="fj-widget-area Widget Conversation">
    <div class="WidgetHeader">
        <div class="ConferenceAvatarSection  ConferenceRecording Avatar" style="margin-bottom:5px">
                <div class="GroupAvatarItem GroupAvatarItem_0">
                    <img class="GroupAvatarItemImg" data-ng-src="{{ getAvatarUrl(0) }}">
                </div>
                <div class="GroupAvatarItem GroupAvatarItem_1">
                    <img class="GroupAvatarItemImg"
                         data-ng-src="{{ getAvatarUrl(1) }}">
                </div>
                <div class="GroupAvatarItem GroupAvatarItem_2">
                    <img class="GroupAvatarItemImg"
                         data-ng-src="{{ getAvatarUrl(2) }}">
                </div>
               <div class="GroupAvatarItem GroupAvatarItem_3">
                    <img class="GroupAvatarItemImg" data-ng-src="{{ getAvatarUrl(3) }}">
                </div>
               <div class="AvatarInteractable"></div>
        </div>
        <div> 
            <div class="WidgetHeaderTitle Single" style="margin-left:5px">{{ conference.name}}</div>
            <div class="" style="left:4px;top: 2em;position: relative;">{{::verbage.free_room}}</div>
        
        </div>
    </div>
    <div class="WidgetBody">
		<div class="WidgetTabBar">
            <span ng-repeat="tab in tabs">
                <a href="#/conference/{{ ::conferenceId + '/' +  tab.lower}}" class="WidgetTabBarButton Ready" ng-class="selected == tab.lower ? 'fj-selected-item': ''">
                    <div class="inner">{{::tab.upper}}</div>
                    <div class="arrow"></div>
                </a>
            </span>
        </div>

        <!-- ng-views -->
        <div ng-if="selected == 'chat'" class="ListView ChatView WithToolBar" ng-include="'views/ChatView.html'"
        ng-controller="ChatController"
        ></div>
        <div ng-if="selected == 'currentcall'" class="fj-content WidgetTabContent" ng-include="'views/conference/CurrentCall.html'"
        ></div>
        <div ng-if="selected == 'recordings'" class="fj-content WidgetTabContent" ng-include="'views/Recordings.html'" ng-controller="RecordingsController"></div>
        
    </div>

   
</div>