<div class="ListLineContent Header LeftContactsColumns">
	<div ng-show="$parent.tab != 'recent'">
		<div data-ng-click="sort('displayName', '')" class="ListLineContentCell Name {{(sortField == 'displayName' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
			<span>{{::verbage.name}}</span>
			<div class="DirectionArrow"></div>
		</div>
		<div  ng-if="$parent.tab != 'external'" data-ng-click="sort('primaryExtension', '')" class="ListLineContentCell Extension {{(sortField == 'primaryExtension' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
			/<span>{{::verbage.extension}}</span>
			<div class="DirectionArrow"></div>
		</div>
		<div ng-if="$parent.tab != 'external'" data-ng-click="sort('hud_status', 'hud_status')"  class="ListLineContentCell HudStatus {{(sortField == 'hud_status' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
            <span>{{::verbage.hud_status}}</span>
            <div class="DirectionArrow"></div>
        </div>
		<div data-ng-click="sort('call.fullProfile.call.displayName', 'call')"  class="ListLineContentCell CallStatus {{(sortField == 'call.fullProfile.call.displayName' && ((sortReverse && 'Down') || 'Up')) || 'None'}} ng-class:{'external': $parent.tab == 'external'}">
			<span>{{::verbage.call_status}}</span>
			<div class="DirectionArrow"></div>
		</div>		
	</div>
</div>

<div class="ContactList">
	<div class="LeftBarTabContentList">
		<a href="#contact/{{::contact.xpid}}" ng-repeat="contact in contacts | orderBy: [orderByAttribute,'displayName']  | orderBy: sortField: sortReverse track by contact.xpid" class="ListRowFirst ListRow ListRow-Contact ContactRow-{{::contact.xpid}}" droppable="Call">	
			 
			<avatar profile="contact" context="contacts:$parent.tab"></avatar>
			
			<div class="ListRowContent" dockable="contact">
				<div class="ListRowTitle">
					<div class="name" ng-if="::contact.primaryExtension">
						<strong ng-bind-html="::contact.displayName"></strong>
						<span>#{{ ::contact.primaryExtension }}</span>
					</div>
					<div class="name" ng-if="::!contact.primaryExtension" >
						<strong ng-bind-html="contact.displayName"></strong>
					</div>
				</div>	
				
				<div class="ListRowStatus">
                    <div class="ListRowStatusIcon XIcon-ChatStatus-{{contact.hud_status || 'offline' }}"></div>
                    <div class="ListRowStatusIcon XIcon-QueueStatus XIcon-QueueStatus-{{contact.queue_status}}"></div>
                    <br/>                   
                    <div class="ListRowStatusText">{{ (contact.custom_status ? contact.custom_status : contact.hud_status ? verbage[contact.hud_status] : verbage['offline']) + (contact.call ? ' + ' + verbage['on_call'] : '') }}</div>
                </div>	
                
                <div class="CallStatus" ng-if="contact.call">
                    <avatar 
                        ng-click="showCallStatus($event, contact)"
                        profile="contact.call.fullProfile"
                        context="callstatus"
                        type="{{contact.call.type}}">
                    </avatar>
                </div>  
			</div>
		</a>
	</div>
</div>