<div ng-if="contextShow"> 
<div class="Arrow Left"></div>

<div class="TopRow" ng-switch="type == 'Contact' && profile != null">
	<div class="Contact" ng-switch-when="true">
		<div>
			<avatar profile="profile" context="context"></avatar>
			<div class="info">
				<span ng-bind-html="profile.displayName"></span>
				<br/>
				<div class="ListRowStatusIcon XIcon-QueueStatus-{{profile.queue_status}}"></div>
				<div class="ListRowStatusIcon XIcon-ChatStatus-{{profile.hud_status || 'offline' }}"></div>
			</div>
		</div>
		
		<div class="Numbers">
			<div>email:</div> <span>{{ profile.email }}</span>
			<br/>
			<div>ext:</div> <span>{{ profile.primaryExtension }}</span>
		</div>
		
		<div class="Numbers">
			<div>mobile:</div> <span>{{ profile.phoneMobile }}</span>
			<br/>
			<div>phone:</div> <span>{{ profile.phoneBusiness }}</span>
		</div>
	</div>
	
	<div ng-switch-when="false">
		<strong>{{ profile.displayName || profile.name || 'private' }}</strong>
	</div>
</div>

<div class="BottomRow Actions" ng-show="!reasons.show">
	<!-- recordings -->
	<a class="Button" href="" ng-show="widget == 'recordings'" ng-click="deleteRecording()">
		<div class="ListRowActionButtonRemove"></div>
		<span>{{::verbage.delete_word}}</span>
	</a>
		
	<!-- voicemails -->
	<div ng-if="widget == 'voicemails' && profile.xpid != myPid">
		<a class="Button" href="" ng-click="deleteRecording()">
			<div class="ListRowActionButtonRemove"></div>
			<span>{{::verbage.delete_word}}</span>
		</a>
		<a class="Button" href="" ng-show="!original.readStatus" ng-click="markAsRead(true)">
			<div class="ListRowActionButtonRead"></div>
			<span>Read</span>
		</a>
		<a class="Button" href="" ng-show="original.readStatus" ng-click="markAsRead(false)">
			<div class="ListRowActionButtonUnread"></div>
			<span>Unread</span>
		</a>
		<a class="Button" href="" ng-show="!profile && original.phone" ng-click="callNumber(original.phone)">
			<div class="ListRowActionButtonCall"></div>
			<span>{{::verbage.call_back}}</span>
		</a>
	</div>
	
	<!-- queue calls -->
	<div ng-if="widget == 'queue'">
		<a class="Button" href="" ng-show="context.agent.xpid != myPid" ng-click="takeQueueCall()">
			<div class="ListRowActionButtonTake"></div>
			<span>To Me</span>
		</a>
		<a class="Button" href="" ng-show="canRecord && !context.recorded" ng-click="recordQueueCall(true)">
			<div class="ListRowActionButtonRecord"></div>
			<span>Start Rec</span>
		</a>
		<a class="Button" href="" ng-show="canRecord && context.recorded" ng-click="recordQueueCall(false)">
			<div class="ListRowActionButtonRecord"></div>
			<span>Stop Rec</span>
		</a>
	</div>
	
	<!-- myself -->
	<div ng-if="profile.xpid == myPid && type == 'Contact'">
		<a class="Button" href="" ng-show="widget == 'conference' && !original.muted" ng-click="muteUser(true)">
			<div class="ListRowActionButtonMute"></div>
			<span>{{::verbage.Mute}}</span>
		</a>
		<a class="Button" href="" ng-show="widget == 'conference' && original.muted" ng-click="muteUser(false)">
			<div class="ListRowActionButtonUnmute"></div>
			<span>Unmute</span>
		</a>
		<a class="Button" href="" ng-show="widget == 'conference' && context.status.isMeJoined" ng-click="joinConference(false)">
			<div class="ListRowActionButtonLeave"></div>
			<span>{{::verbage.leave}}</span>
		</a>
		
		<div ng-show="widget == 'chat' && original.data.attachment">
			<a class="Button" href="" ng-click="fileShare(true)">
				<div class="ListRowActionButtonFileShare"></div>
				<span>Repost</span>
			</a>
			<a class="Button" href="" ng-click="deleteAttachment()">
				<div class="ListRowActionButtonRemove"></div>
				<span>{{::verbage.delete_word}}</span>
			</a>
		</div>
		
		<a class="Button" href="" ng-show="original.status.status == 'logout'" ng-click="loginQueue()">
			<div class="ListRowActionButtonLogin"></div>
			<span>{{::verbage.login}}</span>
		</a>
		<a class="Button Logout" href="" ng-show="original.status.status == 'login'" ng-click="reasons.show = true">
			<div class="ListRowActionButtonLogout"></div>
			<span>{{::verbage.logout}}</span>
		</a>
		<a class="Button" href="" ng-click="callInternal('callVoicemail')">
			<div class="ListRowActionButtonVoicemail"></div>
			<span>{{::verbage.voicemail}}</span>
		</a>
	</div>
		
	<!-- contact -->
	<div ng-if="profile.xpid != myPid && type == 'Contact'">
		<a class="Button" href="" ng-show="original.parkExt" ng-click="takeParkedCall()">
			<div class="ListRowActionButtonTake"></div>
			<span>{{::verbage.take}}</span>
		</a>
		
		<div ng-if="widget == 'conference'">
			<a class="Button" href="" ng-show="context.permissions == 0 && !original.muted" ng-click="muteUser(true)">
				<div class="ListRowActionButtonMute"></div>
				<span>{{::verbage.Mute}}</span>
			</a>
			<a class="Button" href="" ng-show="context.permissions == 0 && original.muted" ng-click="muteUser(false)">
				<div class="ListRowActionButtonUnmute"></div>
				<span>Unmute</span>
			</a>
			<a class="Button" href="" ng-show="context.permissions == 0" ng-click="kickMember()">
				<div class="ListRowActionButtonLeave"></div>
				<span>Kick</span>
			</a>
		</div>
		
		<a class="Button" href="" ng-show="canLoginAgent && original.status.status == 'logout'" ng-click="loginQueue()">
			<div class="ListRowActionButtonLogin"></div>
			<span>{{::verbage.login}}</span>
		</a>
		<a class="Button Logout" href="" ng-show="canLoginAgent && original.status.status == 'login'" ng-click="reasons.show = true">
			<div class="ListRowActionButtonLogout"></div>
			<span>{{::verbage.logout}}</span>
		</a>
		<a class="Button" href="" ng-show="context == 'favorites' && isFavorite" ng-click="removeFavorite()">
			<div class="ListRowActionButtonRemove"></div>
			<span>{{::verbage.Remove}}</span>
		</a>
		<a class="Button" href="" ng-show="profile.displayName && !profile.primaryExtension" ng-click="editContact()">
			<div class="ListRowActionButtonEdit"></div>
			<span>{{::verbage.Edit}}</span>
		</a>
		
		<a class="Button" href="#/contact/{{profile.xpid}}/chat" ng-show="profile.primaryExtension">
			<div class="ListRowActionButtonChat"></div>
			<span>{{::verbage.chat}}</span>
		</a>
		
		<a class="Button" href="" ng-show="profile.primaryExtension" ng-click="callNumber(profile.primaryExtension)">
			<div class="ListRowActionButtonCall"></div>
			<span>{{::verbage.Call}}</span>
		</a>

		<a class="Button" href="" ng-show="profile.call" ng-click="callInternal('callLater')">
			<div class="ListRowActionButtonCall"></div>
			<span>{{::verbage.Call_Later}}</span>
		</a>
		
		<a class="Button" href="" ng-show="canIntercom && profile.primaryExtension" ng-click="callInternal('callIntercom')">
			<div class="ListRowActionButtonCall"></div>
			<span>{{::verbage.Intercom}}</span>
		</a>
		<a class="Button" href="" ng-show="profile.primaryExtension" ng-click="callInternal('callVoicemail')">
			<div class="ListRowActionButtonVoicemail"></div>
			<span>{{::verbage.voicemail}}</span>
		</a>
		<a class="Button" href="" ng-show="profile.phoneBusiness" ng-click="callNumber(profile.phoneBusiness)">
			<div class="ListRowActionButtonCall"></div>
			<span>{{::verbage.Business}}</span>
		</a>
		<a class="Button" href="" ng-show="profile.phoneMobile" ng-click="callNumber(profile.phoneMobile)">
			<div class="ListRowActionButtonMobile"></div>
			<span>{{::verbage.mobile}}</span>
		</a>
		
		<div ng-if="canBarge && profile.call && profile.call.type > 0 && profile.call.fullProfile.xpid != myPid">
			<a class="Button" href="" ng-click="bargeCall('barge')">
				<div class="ListRowActionButtonBarge"></div>
				<span>{{::verbage.barge}}</span>
			</a>
			<a class="Button" href="" ng-click="bargeCall('monitor')">
				<div class="ListRowActionButtonMonitor"></div>
				<span>{{::verbage.monitor}}</span>
			</a>
			<a class="Button" href="" ng-click="bargeCall('whisper')">
				<div class="ListRowActionButtonWhisper"></div>
				<span>{{::verbage.whisper}}</span>
			</a>
		</div>
		
		<a class="Button" href="mailto:{{ profile.email }}" target="_blank" ng-show="profile.email">
			<div class="ListRowActionButtonEmail"></div>
			<span>{{::verbage.email}}</span>
		</a>
		<a class="Button" href="" ng-show="profile.primaryExtension" ng-click="fileShare()">
			<div class="ListRowActionButtonFileShare"></div>
			<span>{{::verbage.file_share}}</span>
		</a>
	</div>
	
	<!-- group -->
	<div ng-if="type == 'Group'">
		<a class="Button" href="" ng-show="profile.ownerId == myPid" ng-click="editGroup()">
			<div class="ListRowActionButtonEdit"></div>
			<span>{{::verbage.Edit}}</span>
		</a>
		<a class="Button" href="#/group/{{profile.xpid}}/chat" ng-show="isMine">
			<div class="ListRowActionButtonChat"></div>
			<span>{{::verbage.chat}}</span>
		</a>
		<a class="Button" href="" ng-click="sendGroupMail(profile)">
			<div class="ListRowActionButtonEmail"></div>
			<span>{{::verbage.email}}</span>
		</a>
		<a class="Button" href="" ng-show="canGroupPage && profile.extension" ng-click="callInternal('page', profile)">
			<div class="ListRowActionButtonCall"></div>
			<span>{{::verbage.page}}</span>
		</a>
		<a class="Button" href="" ng-show="canGroupIntercom && profile.extension" ng-click="callInternal('intercom', profile)">
			<div class="ListRowActionButtonCall"></div>
			<span>{{::verbage.Intercom}}</span>
		</a>
		<a class="Button" href="" ng-show="canGroupVoicemail && profile.extension" ng-click="callInternal('voicemail', profile)">
			<div class="ListRowActionButtonVoicemail"></div>
			<span>{{::verbage.voicemail}}</span>
		</a>
		<a class="Button" href="" ng-show="isMine" ng-click="fileShare()">
			<div class="ListRowActionButtonFileShare"></div>
			<span>{{::verbage.file_share}}</span>
		</a>
	</div>
		
	<!-- queue -->
	<div ng-if="type == 'QueueStat'">
		<a class="Button" href="" ng-show="(!context || canLoginAgent) && original.status.status == 'logout'" ng-click="loginQueue()">
			<div class="ListRowActionButtonLogin"></div>
			<span>{{::verbage.login}}</span>
		</a>
		<a class="Button Logout" href="" ng-show="(!context || canLoginAgent) && original.status.status == 'login'" ng-click="reasons.show = true">
			<div class="ListRowActionButtonLogout"></div>
			<span>{{::verbage.logout}}</span>
		</a>
		<a class="Button" href="" ng-show="myQueue" ng-click="fileShare()">
            <div class="ListRowActionButtonFileShare"></div>
            <span>{{::verbage.file_share}}</span>
        </a>
		<a class="Button" href="#/queue/{{profile.xpid}}/chat" ng-show="myQueue">
			<div class="ListRowActionButtonChat"></div>
			<span>{{::verbage.chat}}</span>
		</a>		
		<a class="Button" href="" ng-click="resetQueue()">
            <div class="ListRowActionButtonReset"></div>
            <span>{{::verbage.Reset_Stats}}</span>
        </a>
	</div>
	
	<!-- conference -->
	<div ng-if="type == 'ConferenceRoom'">
		<a class="Button" href="" ng-show="!profile.status.isMeJoined" ng-click="joinConference(true)">
			<div class="ListRowActionButtonJoin"></div>
			<span>{{::verbage.join}}</span>
		</a>
		<a class="Button" href="" ng-show="profile.status.isMeJoined" ng-click="joinConference(false)">
			<div class="ListRowActionButtonLeave"></div>
			<span>{{::verbage.leave}}</span>
		</a>
		<a class="Button" href="" ng-show="canRecord && profile.members.length > 0 && !profile.status.recorded" ng-click="recordConference(true)">
			<div class="ListRowActionButtonRecord"></div>
			<span>{{::verbage.start}}</span>
		</a>
		<a class="Button" href="" ng-show="canRecord && profile.members.length > 0 && profile.status.recorded" ng-click="recordConference(false)">
			<div class="ListRowActionButtonRecord"></div>
			<span>{{::verbage.stop}}</span>
		</a>
		<a class="Button" href="#/conference/{{profile.xpid}}/chat" ng-show="profile.status.isMeJoined">
			<div class="ListRowActionButtonChat"></div>
			<span>{{::verbage.chat}}</span>
		</a>
		<a class="Button" href="" ng-show="profile.members.length > 0" ng-click="sendGroupMail(profile)">
			<div class="ListRowActionButtonEmail"></div>
			<span>{{::verbage.email}}</span>
		</a>
		<a class="Button" href="" ng-show="profile.status.isMeJoined" ng-click="fileShare()">
			<div class="ListRowActionButtonFileShare"></div>
			<span>{{::verbage.file_share}}</span>
		</a>
	</div>
	
	<!-- dockable -->
	<div ng-show="profile.xpid != myPid && (profile.displayName !== undefined || profile.name !== undefined)">
		<a class="Button" href="" ng-show="canDock" ng-click="dockItem(true)">
			<div class="ListRowActionButtonDock"></div>
			<span>{{::verbage.dock}}</span>
		</a>
		<a class="Button" href="" ng-show="!canDock" ng-click="dockItem(false)">
			<div class="ListRowActionButtonUndock"></div>
			<span>{{::verbage.undock}}</span>
		</a>
	</div>

	<div ng-if="profile.xpid != myPid && profile.call"> 
		<callStatus profile="profile"></callStatus>
	</div>
</div>

<div class="BottomRow Reasons" ng-show="reasons.show">
	<h4>{{::verbage.reason}}</h4>
	<em>{{::verbage.select_logout_reason}}</em>
	
	<div class="List">
		<div class="Button" ng-repeat="reason in ::reasons.list | orderBy: 'name'"
			ng-click="logoutQueue(reason.xpid)">
			{{ ::reason.name }}
		</div>
	</div>
</div>
</div>
