<div class="ListLineContent Header LeftContactsColumns">
	<div ng-show="$parent.tab != 'recent'">
		<div data-ng-click="sort('displayName')" class="ListLineContentCell Name {{(sortField == 'displayName' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
			<span>NAME</span>
			<div class="DirectionArrow"></div>
		</div>
		<div data-ng-click="sort('primaryExtension')" class="ListLineContentCell Extension {{(sortField == 'primaryExtension' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
			<span>EXTENSION</span>
			<div class="DirectionArrow"></div>
		</div>
		<div data-ng-click="sort('call.startedAt')"  class="ListLineContentCell CallStatus {{(sortField == 'call.startedAt' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
			<span>CALL STATUS</span>
			<div class="DirectionArrow"></div>
		</div>
		<div data-ng-click="sort('hud_status')"  class="ListLineContentCell HudStatus {{(sortField == 'hud_status' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
			<span>HUD STATUS</span>
			<div class="DirectionArrow"></div>
		</div>
	</div>
</div>

<div class="ContactList">
	<!--<div id="ContactsList" contacts-list></div>-->
	<div class="LeftBarTabContentList">
		<a href="#contact/{{::contact.xpid}}" ng-click="storeRecent(contact.xpid)" data-ng-repeat="contact in contacts | filter: {displayName: $parent.$parent.query} | filter: customFilter() | orderBy: customSort(): customReverse() track by contact.xpid" class="ListRowFirst ListRow ListRow-Contact">			
			<div class="Avatar AvatarNormal" context-menu="contact">
				<img class="AvatarImgPH" data-ng-src="{{::contact.getAvatar(28)}}" onerror="this.src='img/Generic-Avatar-28.png'" />
				<div class="AvatarForeground AvatarInteractable"></div>
			</div>
			
			<div class="ListRowContent">
				<div class="ListRowTitle">
					<div class="name">
						<strong>{{ contact.displayName }}</strong>
						<span>#{{ ::contact.primaryExtension }}</span>
					</div>
				</div>
				
				<div class="CallStatus">
					<div ng-if="contact.call.startedAt" ng-click="showCallStatus($event, contact)" class="Avatar AvatarSmall CallAvatar CallAvatar_{{ contact.call.type == 11 ? 'External' : 'Office' }}">
						<img class="AvatarImgPH" ng-src="{{ getCallStatusAvatar(contact.call) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						<div class="AvatarInteractable AvatarForeground"></div>
					</div>
				</div>
				
				<div class="ListRowStatus">
					<div class="ListRowStatusIcon XIcon-ChatStatus-{{contact.hud_status || 'offline' }}">
						<div class="status-icon-inner"></div>
					</div>
					<div class="ListRowStatusIcon XIcon-QueueStatus XIcon-QueueStatus-{{contact.contactstatus_queueStatus}}">
						<div class="status-icon-inner"></div>
					</div>
					<br/>
					<div class="ListRowStatusText">{{contact.hud_status || 'offline'}}</div>
				</div>
			</div>
		</a>
	</div>
</div>

<div ng-if="$parent.overlay == 'contacts'" class="Overlay">
	<div ng-click="showOverlay(false)" class="Background"></div>
	<div class="Foreground">
		<div ng-click="showOverlay(false)" class="Close">x</div>
		
		<div class="Header">
			<h2>{{ $parent.edit ? 'Edit Contact' : 'Add a New Contact' }}</h2>
		</div>
		
		<div class="Sections">
			<div class="Section">
				<div>
					<h4>Contact Information</h4>
					<em>Want to know who is calling you?</em>
				</div>
				<div>
					<label>First Name</label>
					<input ng-model="add.firstName" type="text" class="XInputText" />
				</div>
				<div>
					<label>Last Name</label>
					<input ng-model="add.lastName" type="text" class="XInputText" />
				</div>
				<div>
					<label>Display Name</label>
					<input ng-model="add.displayName" type="text" class="XInputText" />
				</div>
				<div>
					<h4>Visibility</h4>
					<input ng-model="add.favorite" type="checkbox" /> Add to favorites group
				</div>
			</div>
			
			<div class="Section">
				<div>
					<h4>Phones</h4>
					<em>Add contact phone to make calls</em>
				</div>
				<div>
					<label>Business phone</label>
					<input ng-model="add.business" type="text" class="XInputText" />
				</div>
				<div>
					<label>Mobile phone</label>
					<input ng-model="add.mobile" type="text" class="XInputText" />
				</div>
				<div>
					<h4>Messaging</h4>
					<em>Want to chat and e-mail this person?</em>
				</div>
				<div>
					<label>E-mail</label>
					<input ng-model="add.email" type="text" class="XInputText" />
				</div>
				<div>
					<label>GoogleTalk (JID)</label>
					<input ng-model="add.jid" type="text" class="XInputText" />
				</div>
				<div>
					<label>IMS</label>
					<input ng-model="add.ims" type="text" class="XInputText" />
				</div>
			</div>
		</div>
		
		<div class="Footer">
			<div class="Error" ng-show="addError" ng-bind="addError"></div>
			<input type="button" class="XButton" value="Delete Contact & History" ng-click="delContact()" ng-show="$parent.edit" />
			<input type="button" class="XButton" value="Cancel" ng-click="showOverlay(false)" />
			<input type="button" class="XButton" value="{{ $parent.edit ? 'Save Changes' : 'Add Contact' }}" ng-click="saveContact()" />
		</div>
	</div>
</div>

<div ng-if="$parent.overlay == 'callstatus'" class="Overlay">
	<div ng-click="showOverlay(false)" class="Background"></div>
	<div class="Foreground">
		<div ng-click="showOverlay(false)" class="Close">x</div>
		
		<div class="Header">
			<h2>Call Management</h2>
		</div>
		
		<div class="Sections">
			<div class="Section">
				<div>
					<h4>Call Members</h4>
					<em>These contacts are talking</em>
				</div>
				<div class="Contact">
					<div class="Avatar AvatarNormal">
						<img class="AvatarImgPH" data-ng-src="{{ onCall.getAvatar(28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
					</div>
					<div class="Name">
						<strong>{{ onCall.displayName }}</strong>
						<br/>
						x{{ onCall.primaryExtension }}
					</div>
					
					<div class="Time">{{ timeElapsed }}</div>
					
					<div class="Buttons">
						<input type="button" class="XButton" value="Barge" />
						<input type="button" class="XButton" value="Monitor" />
						<input type="button" class="XButton" value="Whisper" />
						<input type="button" class="XButton" value="Transfer" />
					</div>
				</div>
				<div class="Contact">
					<div class="Avatar AvatarNormal">
						<img class="AvatarImgPH" ng-src="{{ getCallStatusAvatar(onCall.call) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
					</div>
					<div class="Name">
						<strong>{{ onCall.call.displayName }}</strong>
						<br/>
						{{ onCall.call.phone }}
					</div>
					
					<div class="Time">{{ timeElapsed }}</div>
					
					<div class="Buttons">
						<input type="button" class="XButton" value="Barge" />
						<input type="button" class="XButton" value="Monitor" />
						<input type="button" class="XButton" value="Whisper" />
						<input type="button" class="XButton" value="Transfer" />
					</div>
				</div>
			</div>
			
			<div class="Section">
				<div>
					<h4>Barged By</h4>
					<em>Contacts who barge the call</em>
				</div>
			</div>
		</div>
		
		<div class="Footer">
			<input type="button" class="XButton" value="Close" ng-click="showOverlay(false)" />
			<input type="button" class="XButton" value="Conferencing" />
		</div>
	</div>
</div>