<div class="Element" dragger>
	<div class="Header">
		<div class="Icon XIcon24-Speaker-On"></div>
		<div class="Title">
			<div>My Queues</div>
			<div class="Subtitle">Not an agent</div>
		</div>
	</div>
	<div class="Scrollable">
		<div class="SubHeader">
			My Queues
		</div>
		<div class="List">
			No queues...
		</div>
	</div>
	<resizer></resizer>
</div>

<div class="Element" dragger>
	<div class="Header">
		Parked Calls
	</div>
	<div class="Scrollable">
		<div class="SubHeader">
		
		</div>
		<div class="List">
	
		</div>
	</div>
	<resizer></resizer>
</div>