<div class="popupHolder DialogHolder" data-ng-controller="EditContactDialog">
    <div class="DialogAlign">
        <div class="Dialog" data-ng-click="stopPropagation($event)">
            <div class="DialogHeader">
                <div class="DialogHeaderIcon AddContact"></div>
                <div class="DialogHeaderTitle">Add a New Contact</div>
                <div class="DialogClose" data-event="click" data-fj-local-id="close" event="c">
                    <div class="DialogCloseIcon"></div>
                </div>
                <div class="DialogHeaderBorder"></div>
            </div>
            <div class="DialogContent">
                <div class="DialogHeaderBorder"></div>
                <div class="DialogContentCol_21">
                    <div class="ListSection">
                        <div class="ListSectionHeader">
                            <div class="ListSectionHeaderTitle">CONTACT INFORMATION</div>
                            <div class="ListSectionHeaderRight"></div>
                        </div>
                        <div class="ListSectionBody">Want to know who is calling you?</div>
                    </div>

                    <div class="DialogField small">
                        <label>First name</label>
                        <input type="text" data-ng-model="firstName" class="text DialogFieldInput" maxlength="255"></div>
                    <div class="DialogField small">
                        <label>Last name</label>
                        <input type="text" data-ng-model="lastName" class="text DialogFieldInput" maxlength="255">
                    </div>
                    <div class="DialogField small">
                        <label>Display name</label>
                        <input type="text" data-ng-model="displayName" class="text DialogFieldInput" maxlength="255">
                    </div>
                    <div class="ListSection">
                        <div class="ListSectionHeader">
                            <div class="ListSectionHeaderTitle">Visibility</div>
                            <div class="ListSectionHeaderRight"></div>
                        </div>
                        <label class="Checkbox" >
                                <input data-ng-model="favorite" type="checkbox" class="hiddenCheckbox">
                                Add to favorites group
                        </label>
                    </div>
                </div>
                <div class="DialogContentCol_22">
                    <div class="ListSection">
                        <div class="ListSectionHeader">
                            <div class="ListSectionHeaderTitle">PHONES</div>
                            <div class="ListSectionHeaderRight"></div>
                        </div>
                        <div class="ListSectionBody">Add contact phone to make calls</div>
                    </div>
                    <div class="DialogField small">
                        <label>Business phone</label>
                            <input data-ng-model="business" type="tel" class="text DialogFieldInput" maxlength="255">
                    </div>
                    <div class="DialogField small">
                        <label>Mobile phone</label>
                        <input data-ng-model="mobile" type="tel" class="text DialogFieldInput" maxlength="255">
                    </div>
                    <div class="ListSection">
                        <div class="ListSectionHeader">
                            <div class="ListSectionHeaderTitle">MESSAGING</div>
                            <div class="ListSectionHeaderRight"></div>
                        </div>
                        <div class="ListSectionBody">Want to chat and email this person?</div>
                    </div>
                    <div class="DialogField small">
                        <label>Email</label>
                        <input type="email" data-ng-model="email" class="text DialogFieldInput" maxlength="255">
                    </div>
                    <div class="DialogField small">
                        <label>GoogleTalk (JID)</label><input type="email" data-ng-model="jid" class="text DialogFieldInput" maxlength="100"></div>
                    <div class="DialogField small">
                        <label>IMS</label>
                        <input type="text" class="text DialogFieldInput" data-ng-model="ims" maxlength="255">
                    </div>
                </div>
            </div>
            <div class="fj-hbox DialogBottom">
                <div class="fj-hbox-space fj-relative">
                    <div class="DialogError fj-visibility-false">
                        <div class="DialogErrorArrow"></div>
                        <div class="inner">undefined</div>
                    </div>
                </div>
                <div class="fj-hbox-cell DialogButtons">
                    <div class="XButton XButtonNormal" data-ng-click="cancel()">
                        <span>Cancel</span>
                    </div>
                    <div class="XButton XButtonBlue XButtonWide" data-ng-click="save()">
                        <span>Save Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>