
<div class="Widget FileShare" ng-click="showInvite = false">
    <div class="WidgetHeader">
		<img src="img/fileshareLg.png" /> <h1>Fonality File Sharing</h1>
    </div>

    <div class="WidgetBody">
		<div class="Intro">
			<h3>Share Files with your contacts and groups.</h3>
		</div>

		
		
		<div class="Content">
			<div class="Left">
				<div class="SectionInvite">
				<h3>Select people from your HUD that you wish to:</h3>
			</div>
				<div class="Section">
					<img src="img/dropbox.gif">
					<h3 >Share your Dropbox files</h3>
				
				</div>
				<div class="Section">
					<img src="img/folderIcon.png" >
					<h3>Share files from your computer</h3>
				
				</div>
				
			</div>
			
			<div class="Right">
				<div class="SectionWorkspace">
		<div class="SearchHolder" >
					<input type="search" ng-focus="removeText()"  ng-model-options="{debounce: 200}" style="border:1px solid #015d73" class="SearchBox Add" ng-attr-placeholder="{{::verbage.add_someone}}" contact-search="all|addedContacts" />
				</div>				
				<div id="contacts-height" style="max-height:120px;overflow-y:auto">
				<div class="Contacts widget-zoom-contacts" style="float:none;width:100%;max-height:none">
					<div class="ListRow Small " data-ng-repeat="contact in addedContacts | orderBy:'displayName' track by contact.xpid ">
						<avatar profile="contact" widget="zoom"></avatar>
						<div class="ListRowContent" dockable="contact">
							<div class="ZoomRowTitle">
								<div class="name">{{::contact.displayName}}</div>
								<div class="link">#{{::contact.primaryExtension }}</div>
							</div>
							<div class="ZoomRowStatus">
								
								<div class="ListRowStatusIcon Small XIcon-ChatStatus-{{contact.hud_status}}"></div>
								<div class="ListRowDesc">{{contact.hud_status}}</div>
							</div>
						</div>
						<button data-ng-click="deleteContact(contact.xpid)" class="ListRowItemDel XButton XButtonRed">Delete</button>
					</div>
				</div>
			</div>
		</div>
				<div class="Section">
					<div class="WorkspaceButton" ng-click="verifyLicense()">
						Share Dropbox files
						<div style="padding-top:2px">&#9654;</div>
					</div>
				</div>
				<div class="Section">
					<div class="WorkspaceButton" ng-click="verifyLicense()">
						Share computer files
						<div style="padding-top:2px">&#9654;</div>
					</div>
				</div>

				
			</div>

		</div>
		
    </div>
</div>