<div class="ListLineContent Header LeftContactsColumns">
    <div data-ng-click="sort('name')" class="ListLineContentCell Recent {{(sortField == 'name' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
        <span>NAME</span>
        <div class="DirectionArrow"></div>
    </div>
    <div data-ng-click="sort('members.length')"  class="ListLineContentCell HudStatus {{(sortField == 'members.length' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
        <span>MEMBERS</span>
        <div class="DirectionArrow"></div>
    </div>
</div>

<div class="ContactList">
	<h4>My Department</h4>
	<em>Collaborate with your colleagues</em>
	<a href="#/group/{{::mine.xpid}}" ng-if="mine" class="ListRowFirst ListRow ListRow-Contact">
		<div ng-include="'views/GroupsRow.html'" ng-init="group = mine"></div>
	</a>
	
	<h4>All Other Departments</h4>
	<em>Other departments</em>
	<a href="#group/{{::group.xpid}}" data-ng-repeat="group in groups | filter: {name: $parent.$parent.query} | filter: customFilter('all') | orderBy:sortField:sortReverse track by group.xpid" class="ListRowFirst ListRow ListRow-Contact">
		<div ng-include="'views/GroupsRow.html'"></div>
	</a>
	
	<h4>My Teams</h4>
	<em>Teams managed by me</em>
	<a href="#group/{{::group.xpid}}" data-ng-repeat="group in groups | filter: {name: $parent.$parent.query} | filter: customFilter('mine') | orderBy:sortField:sortReverse track by group.xpid" class="ListRowFirst ListRow ListRow-Contact">
		<div ng-include="'views/GroupsRow.html'"></div>
	</a>
	
	<h4>Shared</h4>
	<em>I'm a member of these teams</em>
	<a href="#group/{{::group.xpid}}" data-ng-repeat="group in groups | filter: {name: $parent.$parent.query} | filter: customFilter('shared') | orderBy:sortField:sortReverse track by group.xpid" class="ListRowFirst ListRow ListRow-Contact">
		<div ng-include="'views/GroupsRow.html'"></div>
	</a>
	
	<h4>Others</h4>
	<em>Teams visible to everyone</em>
	<a href="#group/{{::group.xpid}}" data-ng-repeat="group in groups | filter: {name: $parent.$parent.query} | filter: customFilter('others') | orderBy:sortField:sortReverse track by group.xpid" class="ListRowFirst ListRow ListRow-Contact">
		<div ng-include="'views/GroupsRow.html'"></div>
	</a>
</div>