<div class="ListLineContent Header LeftContactsColumns">
    <div data-ng-click="sort('name')" class="ListLineContentCell Recent {{(sortField == 'name' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
        <span>NAME</span>
        <div class="DirectionArrow"></div>
    </div>
    <div data-ng-click="sort('members.length')"  class="ListLineContentCell HudStatus {{(sortField == 'members.length' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
        <span>MEMBERS</span>
        <div class="DirectionArrow"></div>
    </div>
</div>

<div class="ContactList">
	<h4>My Department</h4>
	<a href="#/group/{{::mine.xpid}}" ng-if="mine" class="ListRowFirst ListRow ListRow-Contact">
        <div class="ConversationAvatarSection Avatar AvatarNormal" context-menu="mine">
            <div class="GroupAvatarItem GroupAvatarItem_0">
				<img class="GroupAvatarItemImg" data-ng-src="{{ ::getAvatarUrl(mine, 0) }}" onerror="this.src='img/Generic-Avatar-14.png'" />
            </div>
            <div class="GroupAvatarItem GroupAvatarItem_1">
				<img class="GroupAvatarItemImg" data-ng-src="{{ ::getAvatarUrl(mine, 1) }}" onerror="this.src='img/Generic-Avatar-14.png'" />
            </div>
            <div class="GroupAvatarItem GroupAvatarItem_2">
				<img class="GroupAvatarItemImg" data-ng-src="{{ ::getAvatarUrl(mine, 2) }}" onerror="this.src='img/Generic-Avatar-14.png'" />
            </div>
            <div class="GroupAvatarItem GroupAvatarItem_3">
				<img class="GroupAvatarItemImg" data-ng-src="{{ ::getAvatarUrl(mine, 3) }}" onerror="this.src='img/Generic-Avatar-14.png'" />
            </div>
            <div class="AvatarInteractable"></div>
        </div>
        <div class="ListRowContent">
            <div class="ListRowTitle">
                <div class="name">
                    <b>{{ ::mine.name }}</b>
                    <span class="details">{{ ::mine.members.length }}</span>
                </div>
            </div>
            <div class="ListRowStatus">#{{ ::mine.extension }}</div>
		</div>
	</a>
	
	<h4>All Other Departments</h4>
	<a href="#group/{{::group.xpid}}" data-ng-repeat="group in groups | filter: {name: $parent.$parent.query} | orderBy:sortField:sortReverse track by group.xpid" ng-if="group != mine && group.xpid != favoriteID" class="ListRowFirst ListRow ListRow-Contact">
        <div class="Avatar AvatarNormal" context-menu="group">
            <div class="GroupAvatarItem GroupAvatarItem_0">
				<img class="GroupAvatarItemImg" data-ng-src="{{ ::getAvatarUrl(group, 0) }}" onerror="this.src='img/Generic-Avatar-14.png'" />
            </div>
            <div class="GroupAvatarItem GroupAvatarItem_1">
				<img class="GroupAvatarItemImg" data-ng-src="{{ ::getAvatarUrl(group, 1) }}" onerror="this.src='img/Generic-Avatar-14.png'" />
            </div>
            <div class="GroupAvatarItem GroupAvatarItem_2">
				<img class="GroupAvatarItemImg" data-ng-src="{{ ::getAvatarUrl(group, 2) }}" onerror="this.src='img/Generic-Avatar-14.png'" />
            </div>
            <div class="GroupAvatarItem GroupAvatarItem_3">
				<img class="GroupAvatarItemImg" data-ng-src="{{ ::getAvatarUrl(group, 3) }}" onerror="this.src='img/Generic-Avatar-14.png'" />
            </div>
            <div class="AvatarInteractable"></div>
        </div>
        <div class="ListRowContent">
            <div class="ListRowTitle">
                <div class="name">
                    <b>{{ group.name }}</b>
                    <span class="details">{{ group.members.length }}</span>
                </div>
            </div>
            <div class="ListRowStatus">#{{ ::group.extension }}</div>
		</div>
	</a>
</div>

</div>

<div ng-show="$parent.overlay == 'groups'" class="Overlay">
	<div ng-click="clearGroup()" class="Background"></div>
	<div class="Foreground">
		<div ng-click="clearGroup()" class="Close">x</div>
		
		<div class="Header">
			<h2>{{ closing ? 'Time to Say Goodbye...' : (editing ? 'Expand the Team' : 'Build the Team') }}</h2>
		</div>
		
		<div class="Sections">
			<div class="Section" ng-show="!closing">
				<div>
					<h4>Name</h4>
					<input type="text" ng-model="add.name" class="XInputText" />
				</div>
				<div>
					<h4>Security</h4>
					<input ng-model="add.type" ng-true-value="4" ng-false-value="2" type="checkbox" /> Visible to entire company
				</div>
				<div>
					<h4>Description</h4>
					<textarea ng-model="add.description" placeholder="Team description is used for search and provides useful information to the team members."></textarea>
				</div>
			</div>
			
			<div class="Section" ng-show="closing">
				<h4>Message</h4>
				<em>This chat message will be sent to each team member individually.</em>
				<br/>
				<textarea ng-model="add.message"></textarea>
			</div>
			
			<div class="Section">
				<div>
					<h4>Members</h4>
					<div class="ContactSearchHolder" ng-show="!closing">
						<input type="search" class="XInputText" placeholder="Add Someone" contact-search />
					</div>
				</div>
				
				<div class="Members">
					<div ng-repeat="contact in add.contacts" class="ListRow">
						<div class="Avatar AvatarNormal">
							<img ng-src="{{contact.getAvatar(28)}}" onerror="this.src='img/Generic-Avatar-28.png'" />
						</div>
						<div class="ListRowContent">
							<div class="ListRowTitle">
								<strong>{{ contact.displayName }}</strong>
								<p>#{{ contact.primaryExtension }}</p>
							</div>
						</div>
						<input type="button" value="Delete" class="Delete" ng-show="!closing" ng-click="removeUser(contact)" />
					</div>
				</div>
			</div>
			
			<div class="Section" ng-show="editing && !closing">
				<h4>Job is done?</h4>
				<a href="" ng-click="endGroup()">Click here to delete this team and say goodbye.</a>
			</div>
		</div>
		
		<div class="Footer">
			<div class="Error" ng-show="addError" ng-bind="addError"></div>
			
			<input type="button" class="XButton" value="Cancel" ng-click="clearGroup()" />
			<input type="button" class="XButton" value="{{ closing ? 'Delete Group & Send Message' : (editing ? 'Save Changes' : 'Create Team') }}" ng-click="saveGroup()" />
		</div>
	</div>
</div>