<div class="ListLineContent Header LeftContactsColumns">
    <div data-ng-click="sort('name')" class="ListLineContentCell Recent {{(sortField == 'name' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
        <span class="upper">{{::verbage.name}}</span>
        <div class="DirectionArrow"></div>
    </div>
    <div data-ng-click="sort('members.length')"  class="ListLineContentCell HudStatus {{(sortField == 'members.length' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
        <span class="upper">{{::verbage.members}}</span>
        <div class="DirectionArrow"></div>
    </div>
</div>

<div class="ContactList">
	<h4>{{::verbage.my_department}}</h4>
	<em>{{::verbage.my_department_collaborate}}</em>
	<a href="#/group/{{::mine.xpid}}" ng-if="mine" class="ListRowFirst ListRow ListRow-Contact">
		<div include-once="views/GroupsRow.html" ng-init="group = mine"></div>
	</a>
	
	<h4>{{::verbage.all_other_departments}}</h4>
	<em>{{::verbage.other_departments}}</em>
	<a href="#group/{{::group.xpid}}" data-ng-repeat="group in groups | filter: customFilter('all') | filter: searchFilter() |orderBy:sortField:sortReverse track by group.xpid" class="ListRowFirst ListRow ListRow-Contact">
		<div include-once="views/GroupsRow.html"></div>
	</a>
	
	<h4>{{::verbage.my_teams}}</h4>
	<em>{{::verbage.teams_managed_by_me}}</em>
	<a href="#group/{{::group.xpid}}" data-ng-repeat="group in groups | filter: searchFilter() | filter: customFilter('mine') | orderBy:sortField:sortReverse track by group.xpid" class="ListRowFirst ListRow ListRow-Contact">
		<div include-once="views/GroupsRow.html"></div>
	</a>
	
	<h4>{{::verbage.shared}}</h4>
	<em>{{::verbage.member_of_teams}}</em>
	<a href="#group/{{::group.xpid}}" data-ng-repeat="group in groups | filter: searchFilter() | filter: customFilter('shared') | orderBy:sortField:sortReverse track by group.xpid" class="ListRowFirst ListRow ListRow-Contact">
		<div include-once="views/GroupsRow.html"></div>
	</a>
	
	<h4>{{::verbage.others}}</h4>
	<em>{{::verbage.teams_visible_to_everyone}}</em>
	<a href="#group/{{::group.xpid}}" data-ng-repeat="group in groups | filter: searchFilter() | filter: customFilter('others') | orderBy:sortField:sortReverse track by group.xpid" class="ListRowFirst ListRow ListRow-Contact">
		<div include-once="views/GroupsRow.html"></div>
	</a>
</div>