<div class="Widget">
    <div class="WidgetHeader">
		<img src="img/Intellinote-Icon.png" />
		<img src="img/Intellinote-Logo.png" />
    </div>

    <div class="WidgetBody">
		<div>
			You are licensed to use the Fonality for Intellinote service. With this feature, you and your teams can get work done by capturing contextual information, collaborating and managing projects to completion on a powerful, versatile platform integrated into your Fonality Heads Up Display.
		</div>
		
		<div>
			<h4>Intellinote Home</h4>
			Users can directly access their Intellinote application by launching it directly from here. No additional login required.
		</div>
		
		<br/>
		<a href="" ng-click="verifyLicense()">GO TO INTELLINOTE</a>
    </div>
</div>