<div class="MenuWindow SelectMenuBox LocationsMenu" data-ng-controller="LocationsController" data-ng-style="currentPopup.position">
    <div class="SelectBoxMenu">
        <div class="SelectBoxText" style="font-size:12px">
            <span class="InnerIco">@</span>&nbsp;<span>{{ getCurrentLocationTitle() }}</span>
        </div>
        <div class="SelectBoxArrow"></div>
    </div>
    <div class="MenuContent">
        <div class="MenuSection">
             <div class="MenuItem" data-ng-click="setLocation(location.xpid)" data-ng-class="{'selected':location.xpid == getCurrentLocationId()}" data-ng-repeat="location in locations">
                <div class="SelectedIcon"></div>
                <div class="MenuItemText">{{ location.name }} ({{ location.phone }})</div>
                <div class="MenuItemTextStatus">{{ location.status.deviceStatus=='r' && 'registered' || 'unregistered' }}</div>
             </div>
        </div>
    </div>
</div>