<div class="Widget WidgetMe">
    <div class="WidgetHeader">
        <div class="WidgetHeaderTitle">{{ meModel.display_name }}</div>
        <div class="Avatar AvatarBig">
            <img onerror="this.src='img/Generic-Avatar-Small.png'" class="AvatarImgPH" data-ng-src="{{getMeAvatarUrl(90,90)}}">
            <div class="AvatarForeground AvatarStatic"></div>
        </div>
        <div class="MeInfoBlock">
               <div class="MeInfoBlock-column">
                    <div class="MeInfoTitle">{{::verbage.chat_status}}</div>
                    <div class="MenuSection">
                        <div class="MenuItem" data-ng-class="{'selected':(meModel.chat_status ==cstatus.key)}"  data-ng-click="setChatStatus(cstatus.key)" data-ng-repeat="cstatus in chatStatuses">
                            <div class="MenuItemIcon XIcon-ChatStatus-{{ cstatus.title }}" >
                            </div>
                            <div class="MenuItemText">{{ cstatus.title }}</div>
                            <div class="SelectedIcon"></div>
                        </div>
                    </div>
                </div>
                <div class="MeInfoBlock-column">
                    <div class="MeInfoTitle">{{::verbage.custom_status}}</div>
                    <div class="LeftBarMeCustomStatusSection">
                        <textarea data-ng-change="" class="LeftBarMeCustomStatus" data-ng-model="meModel.chat_custom_status" placeholder="Custom message"></textarea>
                    </div>
                    <div class="MeInfoTitle">{{::verbage.location}}</div>
                    <div class="LocationSelector ">
                      <!--<select> </select>-->
                        <div class="SelectBox" data-ng-click="showLocationsPopup($event, $element)">
                                <div class="SelectBoxText">
                                    <span class="InnerIco">@</span>&nbsp;<span>{{ getCurrentLocationTitle() }}</span>
                                </div>
                                <div class="SelectBoxArrow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="WidgetBody"> 
             <div class="call-block">                           
             <!--  ng-if="currentCall != null"-->

              <div class="CurrentCall"  ng-if="currentCall != null">
                <div class="WidgetSectionTitle">{{verbase.current_call}} {{ timeElapsed }}</div>
                <div class="LeftSide"> 
                  <div class="ListRowNoBorders ListRowFirst ListRow ListRow-Contact " >      
                      <div class="Avatar AvatarSmall CallAvatar CallAvatar_External">
                        <img class="AvatarImgPH" ng-src="{{ currentCall.contact ? currentCall.contact.getAvatar(28) : 'img/Generic-Avatar-28.png' }}" onerror="this.src='img/Generic-Avatar-28.png'"
                         />
                        <div class="AvatarForeground AvatarInteractable"></div>
                      </div>
                      
                      <div class="ListRowContent" style="border-left:none">
                        <div class="ListRowTitle">
                          <div class="name">
                            <span><strong>{{ currentCall.displayName }}</strong></span>
                          </div>
                          <div class="ListRowStatus" >
                            <div class="ListRowStatusIcon" style="display: inline-block;">{{ currentCall.phone }}</div>
                            <div ng-if="currentCall.type != 0" class="ListRowStatusIcon XIcon-QueueStatus XIcon-QueueStatus-{{currentCall.contact.queueStatus}}">
                              <div class="status-icon-inner"></div>
                            </div>
                            <div ng-if="currentCall.type != 0" class="ListRowStatusIcon XIcon-ChatStatus-{{currentCall.contact.hud_status || 'offline' }}">
                              <div class="status-icon-inner"></div>
                            </div>
                          
                          <br/>
                        </div>
                        </div>
                        
                        
                      </div>
                  </div>
                  <div class="Dialog-settings-row">
                    <div class="XButton XButtonToggleSmall" ng-class="volume.micVol == 0 ? 'XIcon24-MuteOn' : 'XIcon24-MuteOff'"

                    ng-click="update_settings('hudmw_webphone_mic','update',0)"></div>
                 
                    <input type="range" min="0" max="1" step=".01" ng-model="volume.micVol" ng-change="update_settings('hudmw_webphone_mic','update',volume.micVol)"
                    ></input>
                </div>
             <div class="Dialog-settings-row">
                <div class="XButton XButtonToggleSmall " ng-class="volume.spkVol == 0 ? 'XIcon24-Speaker-Off' : 'XIcon24-Speaker-On'" ng-click="update_settings('hudmw_webphone_speaker','update',0)"></div>
                <input type="range" min="0" max="1" step=".01" ng-model="volume.spkVol" ng-change="update_settings('hudmw_webphone_speaker','update',volume.spkVol)"></input>
                  </div>
                </div>
                <div class="RightSide"> 
                  <div class="row_buttons"> 
                    <button  class="XButton CurrentCallBtn" ng-disabled="currentCall.type == 0" ng-click="showCallOvery('transfer',currentCall)"><span>{{verbage.transfer}}</span></button> 
                    <button class="XButton CurrentCallBtn" ng-disabled="currentCall.type == 0" ng-click="showCallOvery('conference',currentCall)"><span>{{verbage.conf_room}}</span></button> 
                <div class="XButton CurrentCallBtn" ng-click="muteCall()" ng-if="currentCall.type == 0"><span>Mute</span></div>
                <div class="XButton CurrentCallBtn" ng-click="parkCall(currentCall)" ng-if="currentCall.type != 0"><span>Park</span></div>  
                  </div>
                  <div class="row_buttons">
                    <button class="XButton CurrentCallBtn" ng-disabled="currentCall.type == 0" ng-if="!currentCall.isHeld" ng-click="holdCall(currentCall)"><span> Hold</span></button> 
                    <div class="XButton CurrentCallBtn" ng-if="currentCall.isHeld" ng-click="holdCall(currentCall)"> Talk</div> 

                    <div class="XButton CurrentCallBtn" ng-class="currentCall.recorded ? 'XButtonRecordOn':''" ng-click="recordCall(currentCall)"> <span>REC  </span> <div ng-class="currentCall.recorded ? 'XIcon24-Record-On' : 'XIcon24-Record-Off'"></div></div> 
                    <div class=" SelectBox XButton CurrentCallBtn" data-ng-click="showLocationsPopup($event, $element)">  
                      <div class="SelectBoxText">
                                <span>{{::verbage.move}}</span>
                                </div>
                    </div> 
                  <div>
                  <div class="row_buttons">
                    <div class="XButton CurrentCallBtn" data-ng-click="showDialPad($event)"> # </div> 
                    <div class="XButton CurrentCallBtnLong" ng-click="endCall(currentCall)"> {{::verbage.end}} </div> 
                  </div>
                </div>
                </div>
              </div>           
              </div>

              <div class="NewCall" ng-if="currentCall == null">
                <div class="WidgetSectionTitle">{{verbage.place_a_call}}</div>
                <input class="NewCall" type="tel" ng-model="call_obj.phoneNumber" placeholder="Phone number">
                <div class="XButton XButtonNormal" data-ng-click="showDialPad($event)"><span>#</span></div>
                <div class="XButton XButtonGreen" ng-click="makeCall(call_obj.phoneNumber)"><span>Call</span></div>
              </div>              
                            
              <div class="RecentCallSection"> 
                  <div class="WidgetSectionTitle meTitle">{{verbage.recent_calls}}</div>
                  
                  <div class="RecentCallColumnHeaders">  
                    <div class="RecentCallsHeader RecentDate" ng-class="recentSelectSort == 'Date' ? 'recent-selected-column' :''" ng-click="sortCallLog('Date')"> 
                      <div class="RecentPointer">{{verbage.date + '/' + verbage.time}} </div><div ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
                    </div>
                    
                    <div class="RecentCallsHeader RecentFromTo" ng-class="recentSelectSort == 'From' ? 'recent-selected-column' :''" ng-click="sortCallLog('From')">
                        <div class="RecentPointer">{{verbage.from}}</div><div  ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
                    </div>
                    
                    <div class="RecentCallsHeader RecentFromTo" ng-class="recentSelectSort == 'To' ? 'recent-selected-column' :''" ng-click="sortCallLog('To')">
                        <div class="RecentPointer">{{verbage.to}}</div>
                        <div  ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
                    </div>
                    
                    <div class="RecentCallsHeader RecentDur" ng-class="recentSelectSort == 'Duration' ? 'recent-selected-column' :''" ng-click="sortCallLog('Duration')">
                     <div class="RecentPointer">{{verbage.duration}}</div>
                     <div  ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
                    </div>
                  </div>
                  <div ng-show="calllogs.length == 0" class="NoRecentCalls"> No Recent Calls</div>
                  
                  <div  class="RecentCallLogs">                   
                    <div ng-repeat="calllog in calllogs" class="RecentCallRow"> 
                      <div class="RecentCallsHeader RecentDate">{{ formatDate(calllog)}} </div>
                      <div class="RecentCallsHeader RecentFromTo" ng-click="makeCall(calllog.phone)" ng-disabled="calllog.incoming" ng-class="calllog.incoming ? 'dial' : ''">{{ formatIncoming(calllog,'From')}} </div>
                      <div class="RecentCallsHeader RecentFromTo" ng-click="makeCall(calllog.phone)" ng-disabled="!calllog.incoming" ng-class="calllog.incoming ? '' : 'dial'">{{ formatIncoming(calllog,'To')}} </div>
                      <div class="RecentCallsHeader RecentDur">{{ formatDuration(calllog)}} </div>
                    </div>
                    <div class="fj-scroll fj-ui-scrollerFr" data-controller-id="id111" data-template-id="scroll" data-event="mousedown mouseover mouseup" data-fj-local-id="dynamic" style="">
                      <div class="fj-ui-scrollerFr-decoration"></div>
                      <div class="fj-ui-scroller" data-fj-local-id="scroller" style="height: 41.4473684210526px; top: 0px;">
                           <div class="fj-ui-scroller-decoration"></div>
                      </div>
                    </div>                   
                  </div>                  
               </div>
              </div>
              <div class="fj-vbox-space Preferences-Holder">
	              <div class="WidgetSectionTitle">{{verbage.preferences}}</div>	              
		              <div class="WidgetTabBar">
		                <a href="" ng-repeat="tab in tabs" ng-click="$parent.selected = tab" class="WidgetTabBarButton Ready" ng-class="selected == tab ? 'fj-selected-item' : ''">
		                  <div class="inner HeaderLabel">{{ tab }}</div>
		                  <div class="arrow"></div>
		                </a>
		              </div>
		         
		              <div class="SettingsPanel DialogContentMainBlock_List">
						<div ng-show="selected == 'General'" class="fj-content" ng-include="'views/settings/Settings.html'" ></div>
						<div ng-show="selected == 'Web Launcher'" class="fj-content" ng-include="'views/settings/SettingsWebLauncer.html'"></div>
						<div ng-show="selected == 'Queues'" class="fj-content" ng-include="'views/settings/SettingsQueues.html'"></div>
						<div ng-show="selected == 'Account'" class="fj-content" ng-include="'views/settings/SettingsAccount.html'"></div>
						<div ng-show="selected == 'Alerts'" class="fj-content" ng-include="'views/settings/SettingsAlerts.html'"></div>
						<div ng-show="selected == 'CP'" class="fj-content" ng-include="'views/settings/SettingsCP.html'"></div>
						<div ng-show="selected == 'About'" class="fj-content" ng-include="'views/settings/SettingsAbout.html'"></div>
						<div ng-show="selected == 'Phone'" class="fj-content" ng-include="'views/settings/SettingsPhone.html'" ></div>
					  </div> 	                
	            </div>
	        </div>  
</div>
