<div class="Widget WidgetMe">
    <div class="WidgetHeader">
        <div class="WidgetHeaderTitle">{{ meModel.display_name }}</div>
        <div class="Avatar AvatarBig">
            <img onerror="this.src='img/Generic-Avatar-Small.png'" class="AvatarImgPH" data-ng-src="{{getMeAvatarUrl(90,90)}}">
            <div class="AvatarForeground AvatarStatic"></div>
        </div>
        <div class="MeInfoBlock">
               <div class="MeInfoBlock-column">
                    <div class="MeInfoTitle">Chat status</div>
                    <div class="MenuSection">
                        <div class="MenuItem" data-ng-class="{'selected':(meModel.chat_status ==cstatus.key)}"  data-ng-click="setChatStatus(cstatus.key)" data-ng-repeat="cstatus in chatStatuses">
                            <div class="MenuItemIcon XIcon-ChatStatus-{{ cstatus.title }}" >
                            </div>
                            <div class="MenuItemText">{{ cstatus.title }}</div>
                            <div class="SelectedIcon"></div>
                        </div>
                    </div>
                </div>
                <div class="MeInfoBlock-column">
                    <div class="MeInfoTitle">Custom status</div>
                    <div class="LeftBarMeCustomStatusSection">
                        <textarea data-ng-change="" class="LeftBarMeCustomStatus" data-ng-model="meModel.chat_custom_status" placeholder="Custom message"></textarea>
                    </div>
                    <div class="MeInfoTitle">Location</div>
                    <div class="LocationSelector ">
                      <!--<select> </select>-->
                        <div class="SelectBox" data-ng-click="showLocationsPopup($event, $element)">
                                <div class="SelectBoxText">
                                    <span class="InnerIco">@</span>&nbsp;<span>{{ getCurrentLocationTitle() }}</span>
                                </div>
                                <div class="SelectBoxArrow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="WidgetBody"> 
             <div class="call-block">                           
              
              <!--<div class="NewCall" >
                <div class="WidgetSectionTitle">Current Call </div>
                <div class="LeftSide"> 
                  <div> Icon </div>
                <div> Number</div>
                <div> Status</div>
                
                  <div class="Dialog-settings-row">
                    <div class="lblSelect">Microphone:</div>
                    <input type="range" min="0" max="1" step=".01" ng-model="micVol" ng-change="update_settings('hudmw_webphone_mic','update',micVol)"
                    ></input>
          </div>
             <div class="Dialog-settings-row">
                
                <div class="lblSelect">Speaker:</div>
                <input type="range" min="0" max="1" step=".01" ng-model="spkVol" ng-change="update_settings('hudmw_webphone_speaker','update',spkVol)"></input>
                  </div>
                </div>
                <div class="RightSide"> 
                  <div class="XButton"> Transfer</div> 
                  <div class="XButton"> Conf Room</div> 
                  <div class="XButton"> Park</div> 
                  <div class="XButton"> Hold</div> 
                  <div class="XButton"> Rec </div> 
                  <div class="XButton"> Move </div> 
                  <div class="XButton"> # </div> 
                  <div class="XButton"> End </div> 
                  
                </div>
              </div>  -->            
              

              <div class="NewCall" >
                <div class="WidgetSectionTitle">Place a call</div>
                <input class="NewCall" type="tel" ng-model="phoneNumber" placeholder="Phone number">
                <div class="XButton XButtonNormal" ><span>#</span></div>
                <div class="XButton XButtonGreen" ng-click="makeCall(phoneNumber)"><span>Call</span></div>
              </div>              
                            
              <div class="RecentCallSection"> 
                  <div class="WidgetSectionTitle meTitle">Recent calls</div>
                  
                  <div class="RecentCallColumnHeaders">  
                    <div class="RecentCallsHeader RecentDate" ng-class="recentSelectSort == 'Date' ? 'recent-selected-column' :''" ng-click="sortCallLog('Date')"> 
                      <div class="RecentPointer">Date/Time </div><div ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
                    </div>
                    
                    <div class="RecentCallsHeader RecentFromTo" ng-class="recentSelectSort == 'From' ? 'recent-selected-column' :''" ng-click="sortCallLog('From')">
                        <div class="RecentPointer">From</div><div  ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
                    </div>
                    
                    <div class="RecentCallsHeader RecentFromTo" ng-class="recentSelectSort == 'To' ? 'recent-selected-column' :''" ng-click="sortCallLog('To')">
                        <div class="RecentPointer">To</div>
                        <div  ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
                    </div>
                    
                    <div class="RecentCallsHeader RecentDur" ng-class="recentSelectSort == 'Duration' ? 'recent-selected-column' :''" ng-click="sortCallLog('Duration')">
                     <div class="RecentPointer">Duration</div>
                     <div  ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
                    </div>
                  </div>
                  <div ng-show="calllogs.length == 0" class="NoRecentCalls"> No Recent Calls</div>
                  
                  <div  class="RecentCallLogs"> 
                   <div>
                    <div ng-repeat="calllog in calllogs" class="RecentCallRow"> 
                      <div class="RecentCallsHeader RecentDate">{{ formatDate(calllog)}} </div>
                      <div class="RecentCallsHeader RecentFromTo" ng-click="makeCall(calllog.phone)" ng-disabled="calllog.incoming" ng-class="calllog.incoming ? 'dial' : ''">{{ formatIncoming(calllog,'From')}} </div>
                      <div class="RecentCallsHeader RecentFromTo" ng-click="makeCall(calllog.phone)" ng-disabled="!calllog.incoming" ng-class="calllog.incoming ? '' : 'dial'">{{ formatIncoming(calllog,'To')}} </div>
                      <div class="RecentCallsHeader RecentDur">{{ formatDuration(calllog)}} </div>
                    </div>
                    <div class="fj-scroll fj-ui-scrollerFr" data-controller-id="id111" data-template-id="scroll" data-event="mousedown mouseover mouseup" data-fj-local-id="dynamic" style="">
                      <div class="fj-ui-scrollerFr-decoration"></div>
                      <div class="fj-ui-scroller" data-fj-local-id="scroller" style="height: 41.4473684210526px; top: 0px;">
                           <div class="fj-ui-scroller-decoration"></div>
                      </div>
                    </div>
                   </div> 
                  </div>                  
               </div>
              </div>
              <div class="fj-vbox-space Preferences-Holder">
	              <div class="WidgetSectionTitle">Preferences</div>	              
		              <div class="WidgetTabBar">
		                <a href="" ng-repeat="tab in tabs" ng-click="$parent.selected = tab" class="WidgetTabBarButton Ready" ng-class="selected == tab ? 'fj-selected-item' : ''">
		                  <div class="inner HeaderLabel">{{ tab }}</div>
		                  <div class="arrow"></div>
		                </a>
		              </div>
		         
		              <div class="SettingsPanel DialogContentMainBlock_List">
		                <div class="fj-stream">
		                    <div class="fj-scrollable WithoutToolBar">
		                        <div class="fj-viewport" style="overflow: hidden;">
		                            <div class="fj-viewcontent">
						              <div ng-show="selected == 'General'" class="fj-content" ng-include="'views/settings/Settings.html'" ></div>
						              <div ng-show="selected == 'Web Launcher'" class="fj-content" ng-include="'views/settings/SettingsWebLauncer.html'"></div>
						              <div ng-show="selected == 'Queues'" class="fj-content" ng-include="'views/settings/SettingsQueues.html'"></div>
						              <div ng-show="selected == 'Account'" class="fj-content" ng-include="'views/settings/SettingsAccount.html'"></div>
						              <div ng-show="selected == 'Alerts'" class="fj-content" ng-include="'views/settings/SettingsAlerts.html'"></div>
						              <div ng-show="selected == 'CP'" class="fj-content" ng-include="'views/settings/SettingsCP.html'"></div>
						              <div ng-show="selected == 'About'" class="fj-content" ng-include="'views/settings/SettingsAbout.html'"></div>
						              <div ng-show="selected == 'Phone'" class="fj-content" ng-include="'views/settings/SettingsPhone.html'" ></div>
						            </div>
						        </div> 
						        <div class="fj-scroll fj-ui-scrollerFr" data-controller-id="id203" data-template-id="scroll" data-event="mousedown mouseover mouseup" data-fj-local-id="dynamic" style="
    position: absolute;  top: 10px;  bottom: 10px;  width: 10px;  right: -10px;  opacity: 0;  overflow: hidden;  border-radius: 3px;  -webkit-border-radius: 3px;
">  
                                    <div class="fj-ui-scrollerFr-decoration"></div>
                                    <div class="fj-ui-scroller" data-fj-local-id="scroller" style="height: 0px; top: -20px;">
                                        <div class="fj-ui-scroller-decoration"></div>
                                    </div>
                               </div>
						     </div>  
						  </div>   
						</div> 	                
	                </div>
	          </div>  
</div>
