<div class="LeftBarNotificationSection notificationsSection" ng-mouseover="showNotificationBody = true; showHeader = true" ng-mouseleave="showHeader = false; showNotificationBody = todaysNotifications.length > 3 ? false:true">
	<div class="TitleBar noNotifications" ng-show="!hasMessages">
        <div class="Icon"></div>
        <div>{{::verbage.notifications}}</div>
        <div class="Event" ng-show="notifications.length > 0" > - {{ notifications.length + ' ' + verbage.events }} </div>
        <input type="button" value="{{::verbage.open}}" class="XButton" ng-click="$parent.overlay ='notifications'" />
     </div> 
	 <div class="TitleBar hasButton"  ng-show="hasMessages" show-on-hover-parent>
        <div class="Icon"></div>
        <div>{{::verbage.notifications}}</div>
        <div class="Event" ng-show="notifications.length > 0" > - {{ notifications.length + ' ' + verbage.events }} </div>
        <input type="button" value="{{::verbage.open}}" class="XButton" ng-click="$parent.overlay ='notifications'" />
     </div>       
	<div class="NotificationMessages LeftBarNotifications">
		<!--<react-component name="notification" props='notifications'/>-->		   
			<div class="Messages" ng-repeat="message in todaysNotifications" >			
					<div class="NotificationHeader ng-class:{'firstHeader': $index == 0};"> 
							<div class="NotificationHeaderBackground ng-class:{'firstHeaderTitle': $index == 0};"> 
								<div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
							</div>
							
					</div>
					<div class="NotificationDivider ng-class:{'firstHeaderDivider': $index == 0};">
					    <img />
					   <div ng-if="$index == 0"> 
					    <div class="Icon" ng-show="!showHeader"></div>
				        <div ng-show="!showHeader">{{::verbage.notifications}}  </div>
				        <div class="Event" ng-show="notifications.length > 0 && !showHeader"> {{ notifications.length + ' events' }} </div>
				       </div>             
					</div>
					<div class="NotificationSection ng-class:{'firstsection': $index == 0, 'halfHeight': !showHeader};" > 
			
						<avatar 
							class="LeftBarNotificationAvatarSection NotificationAvatar"
							ng-click="go_to_notification_chat(message); storeRecent(message.senderId)" 
							profile="message.fullProfile" 
							type="{{message.type == 'chat' ? 11 : message.audience == 'queue' ? 3 : 4}}">
						</avatar>
					
						<div class="LeftBarNotificationMessageSection" > 
							<div ng-click="go_to_notification_chat(message); storeRecent(message.senderId)" class="chatNotification">
								<div class="" ng-class="message.audience == 'queue' ? 'NotificationDisplayNameQueue' : 'NotificationDisplayName'" ><span ng-if="message.displayName">{{ message.displayName}}</span><span ng-if="!message.displayName" style="width: 38.5%;">&nbsp;</span></span> <div class="NotificationTime">{{  convertTime(message.time) }} </div></div> 
								<div class="NotificationType" ng-show="showNotificationBody">...{{ ::message.label }} <span class='NotificationDisplayName' ng-if="message.type == 'gchat'"> 
								{{ message.audience == 'group' ? message.title : 'Room #' + message.conference.roomNumber + '(' + message.conference.extensionNumber + ')'}}</span></div>
								<div class="NotificationMessage"  ng-show="showNotificationBody" scroll-to-bottom>
								  <span ng-repeat="messageToDisplay in getMessage(message)">{{ messageToDisplay }}<br/></span>
								</div> 
							</div>
							<div class="NotificationZoomBtn" ng-if="message.type == 'zoom' && showNotificationBody">
								<span class="XButton XButtonRed"> {{::verbage.Reject}}</span>
								<span class="XButton XButtonGreen" ng-click="acceptCall(message.senderId)">{{::verbage.accept}}</span>
							
							</div>
							<div class="NotificationZoomBtn" ng-if="message.type == 'vm' && showNotificationBody">
								<span class="XButton" ng-click="playVm(message.vmId)"> {{::verbage.Play}}</span>
								<span class="XButton XButtonGreen" ng-click="makeCall(message.phone)">{{::verbage.call_back}}</span>
							</div>

							<div class="NotificationZoomBtn" ng-if="message.type == 'missed-call' && showNotificationBody">
								<span class="XButton chatNotification" ng-click="go_to_notification_chat(message); storeRecent(message.senderId)">{{::verbage.chat}}</span>
								<span class="XButton XButtonGreen" ng-click="makeCall(message.phone)">{{::verbage.Call}}</span>	
							</div>
							
							<div class="NotificationZoomBtn" ng-if="message.type == 'busy-ring-back' && showNotificationBody">
								<span class="XButton" ng-click="remove_notification(message.xpid);">{{::verbage.Skip}}</span>
								<span class="XButton XButtonGreen" ng-click="makeCall(message.fullProfile.primaryExtension)">{{::verbage.Call}}</span>	
							</div>
							
							<a href="#/queue/{{message.queueId}}" class="NotificationZoomBtn" ng-if="message.audience=='queue' && showNotificationBody">
								<span class="XButton" >{{::verbage.Show}}</span>
							</a>
						</div>
				</div>

			</div>

			<div class="Messages" style="cursor:hand;cursor:pointer;" ng-if="!phoneSessionEnabled" ng-click="showOverlay(true,'DownloadPlugin',{})">
				<a ng-href="{{ pluginDownloadUrl}}" style="text-decoration:none; color:inherit">			
					<div class="NotificationHeader ng-class:{'firstHeader': $index == 0};"> 
							<div class="NotificationHeaderBackground ng-class:{'firstHeaderTitle': $index == 0};"> 
								<div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
							</div>
							
					</div>
					<div class="NotificationDivider ng-class:{'firstHeaderDivider': $index == 0};">
					    <img />
					   <div ng-if="$index == 0"> 
					    <div class="Icon" ng-show="!showHeader"></div>
				        <div ng-show="!showHeader">{{::verbage.notifications}}  </div>
				        <div class="Event" ng-show="notifications.length > 0 && !showHeader"> {{ notifications.length + ' events' }} </div>
				       </div>             
					</div>
					<div class="NotificationSection ng-class:{'firstsection': $index == 0, 'halfHeight': !showHeader};" > 
						
						<div class="LeftBarNotificationAvatarSection " style="display:inline-block"> 
							<div class="AvatarWarningSmall"></div>
						</div>
					
						<div class="LeftBarNotificationMessageSection" > 
							<div>
								<div style="font-weight:bold;font-size:.7em;height: 2.5em;"><span>Browser Plugin</span></span> <div class="NotificationTime">{{   }} </div></div> 
								<div ></div>

								<div class="NotificationMessage"  ng-show="showNotificationBody" scroll-to-bottom>Click to download & Install</div>
							</div>
							
						</div>
				</div>
				</a>
			</div>

	</div>
</div>

<div ng-show="$parent.overlay == 'notifications'" class="Overlay">
	<div ng-click="showNotificationOverlay(false)" class="Background"></div>
	<div class="Foreground">
		<div ng-click="showNotificationOverlay(false)" class="Close">x</div>
		
		<div class="Header NotificationSectionHeader">
			<div class="NotificationSectionHeaderImage"></div>
			<div class="NotificationHeaderTitle"> <h2>  {{::verbage.notifications}} </h2> </div>
			<div class="NotificationHeaderTitle"> <h2>  {{::verbage.new_word}}: {{get_new_notifications().length}} </h2> </div>
			<div class="NotificationHeaderTitle"> <h2>  {{::verbage.away}}: {{ get_away_notifications().length}}</h2> </div>
			<div class="NotificationHeaderTitle"> <h2>  {{::verbage.old}}:  {{ get_old_notifications().length}}</h2> </div>
		
		</div>
		
		<div class="Sections NotificationMessages" >
			<div>
				<div class="Messages" ng-repeat="message in notifications">
					
					<div class="NotificationHeader"> 
							<div class="NotificationHeaderBackground"> 
								<div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
							</div>
							
					</div>
					<div class="NotificationDivider"><img /></div>
					<div class="NotificationSection"> 

						<avatar 
							class="LeftBarNotificationAvatarSection NotificationAvatar"
							ng-click="go_to_notification_chat(message); storeRecent(message.senderId)"
							profile="message.fullProfile"
							type="{{message.type == 'chat' ? 11 : message.audience == 'queue' ? 3 : 4}}">
						</avatar>
					
						<div class="LeftBarNotificationMessageSection"> 
							
							<div class="NotificationDisplayName chatNotification" ng-click="go_to_notification_chat(message); storeRecent(message.senderId)">{{ message.displayName}} <div class="NotificationTime">{{  message.time | fondate:'MMMM D, hh:mm a':fon_lang_code    }} </div></div> 
                            <div class="NotificationType">...{{ message.label }} <span ng-if="message.audience == 'gchat'">{{::verbage_conference_room}}</span></div>
							<div class="NotificationMessage"><p>{{ getMessage(message) }} </p> </div>
							<div class="NotificationZoomBtn" ng-if="message.type == 'zoom'">
								<span class="XButton XButtonRed" style="width:70px" > {{::verbage.Reject}}</span>
								<span class="XButton XButtonGreen" style="width:70px"  ng-click="acceptCall(message.senderId)" >{{::verbage.accept}}</a>
							</div>
							<div class="NotificationZoomBtn" ng-if="message.type == 'vm'">
								<span class="XButton" style="width:70px" > {{::verbage.Play}}</span>
								<span class="XButton XButtonGreen" style="width:90px" ng-click="makeCall(message.phone)" > {{::verbage.call_back}}</span>
							</div>

							<div class="NotificationZoomBtn" ng-if="message.type == 'missed-call'">
                <span class="XButton chatNotification" style="width:70px"  ng-click="go_to_notification_chat(message); storeRecent(message.senderId)">{{::verbage.chat}}</span>
                <span class="XButton XButtonGreen" style="width:70px" ng-click="makeCall(message.phone)">{{::verbage.Call}}</span>
							</div>
							<div class="NotificationZoomBtn" ng-if="message.audience == 'queue'">
								<span class="XButton" style="width:70px" >{{::verbage.Show}}</span>
							</div>
							

						</div>
				</div>

				</div>
			</div>
		</div>
		
		<div class="Footer">
			<div class="Error" ng-show="addError" ng-bind="addError"></div>
			<input type="button" class="XButton" value="{{::verbage.cancel}}" ng-click="showNotificationOverlay(false)" />
			<input type="button" class="XButton XButtonRed" value="{{::verbage.clear_all}}" ng-click="remove_all()" />
		</div>
	</div>

</div>


<div ng-repeat="currentCall in calls" ng-class="currentCall.incoming ? 'CallStatusContainerInbound' : 'CallStatusContainerOutbound' " ng-if="inCall" droppable>
		<div ng-click="showCurrentCallControls(currentCall)" class="CallStatusIconContainer">
			<div class="CallStatusIcon"> </div>
		</div>
		<div ng-click="showCurrentCallControls(currentCall)" class="CallStatusText"> 
			<div class="memberName">{{currentCall.displayName}}</div>
			<div class="callStatus"><div>{{ currentCall.incoming ? verbage.inbound : verbage.outbound}} {{::verbage.on_call}}</div></div>
		</div>
		
		<div ng-if="currentCall.record">rec</div>
		
		<div class="controlButtons">
			<div ng-click="endCall(currentCall.xpid)" ng-if="currentCall.state == callState.CALL_RINGING" class="XButton">{{::verbage.cancel}}</div>
			<div ng-click="holdCall(currentCall.xpid,true)" ng-if="currentCall.state == callState.CALL_ACCEPTED" class="XButton">{{::verbage.hold}}</div>
			<div ng-click="endCall(currentCall.xpid)" class="XButton" ng-if="currentCall.state == callState.CALL_ACCEPTED || currentCall.state == callState.CALL_HOLD ">{{::verbage.end}}</div>
			<div ng-click=" holdCall(currentCall.xpid,false)" class="XButton" ng-if="currentCall.state == callState.CALL_HOLD">{{::verbage.Talk}}</div>
			<div ng-click="acceptCall(currentCall.xpid)" ng-if="currentCall.incoming && currentCall.state == callState.CALL_RINGING" class="XButton">{{::verbage.accept}}</div>
		</div>
		
</div>
<div id="CallAlert" style="display:none" ng-include="'views/nativealerts/CallAlert.html'"></div>


