<div class="LeftBarNotificationSection notificationsSection" ng-class="todaysNotifications.length == 0 && !anotherDevice && phoneSessionEnabled ? 'noMessages' : 'hasMessages'"  expand-contract-notifications>
	<div class="NotificationMessages LeftBarNotifications ng-class:{'noMessages' : todaysNotifications.length == 0}">     
		<div class="TitleBar">
			<div ng-class="notifications.length > 0 ? 'HasNotificationIcon': 'NoNotificationIcon'"></div>
			<div>{{::verbage.notifications}}</div>
			<div class="Event" ng-show="notifications.length > 0"> - {{getNotificationsLength(notifications.length)+ ' ' + verbage.events}} </div>
			<input type="button" value="{{::verbage.open}}" class="XButton" ng-click="showOverlay(true, 'NotificationsOverlay', {})"/> <!-- "$parent.overlay = 'notifications'" -->
		</div>   
		
		<div class="scroller">  	
	        <div class="Messages" ng-repeat="message in todaysNotifications track by message.xpid" ng-show="showHideElements($index)">			
				<div class="NotificationHeader">
					<div class="NotificationHeaderBackground">
						<div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
					</div>

				</div>
				<div class="NotificationDivider"></div>
				<div class="NotificationSection ng-class:{'last' : $last  && phoneSessionEnabled && !anotherDevice};" >
					<avatar 
						class="LeftBarNotificationAvatarSection NotificationAvatar"
						ng-if="::message.type != 'error'"
						ng-click="go_to_notification_chat(message)" 
						profile="message.fullProfile" 
						type="{{::message.type == 'chat' ? 11 : message.audience == 'queue' ? 3 : 4}}">
					</avatar>

					<div ng-if="::message.type == 'error'" class="LeftBarNotificationAvatarSection " style="display:inline-block"> 
						<div class="AvatarWarningSmall"></div>
					</div>
				
					<div class="LeftBarNotificationMessageSection"> 
						<div ng-click="go_to_notification_chat(message)" class="chatNotification">
							<div class="" ng-class="::message.audience == 'queue' ? 'NotificationDisplayNameQueue' : 'NotificationDisplayName'" >
								<span ng-if="::message.displayName" ng-class="::message.displayName.length > 14 ? 'truncate' : ''">{{ ::message.displayName}}</span>
								<span ng-if="::!message.displayName" style="width: 38.5%;">&nbsp;</span> 
								<div class="NotificationTime">{{ ::message.time | fondate:'MMMM D YYYY, hh:mm a':fon_lang_code    }} </div>
							</div> 
							<div class="NotificationType">
								...{{message.label }} 
								<span class='NotificationDisplayName' ng-if="::message.type == 'gchat'">
									{{ ::message.conference ? 'Room #' + message.conference.roomNumber + ' (' + message.conference.extensionNumber + ')' : message.title }}
								</span>
							</div>

						
							<div class="NotificationMessage">
								<span class="vmfootnote vmduration" ng-if="::message.type == 'vm'">{{ ::message.vm.duration | duration }} &nbsp;</span>
								<span ng-bind-html="formatMessage(message)"> </span>	

							</div> 
						</div>
						
						<div class="NotificationZoomBtn" ng-if="::message.type == 'zoom'">
							<span class="XButton XButtonRed" ng-click="remove_notification(message.xpid)"> {{::verbage.Reject}}</span>
							<span class="XButton XButtonGreen" ng-click="acceptCall(message.senderId, message); remove_notification(message.xpid)">{{::verbage.join}}</span>
						</div>
						
						<div class="NotificationZoomBtn" ng-if="::message.type == 'vm'"> 
							<span class="XButton" ng-click="playVm(message)"> {{::verbage.Play}}</span>
							<span class="XButton XButtonGreen" ng-click="makeCall(message);remove_notification(message.xpid)">{{::verbage.call_back}}</span>
						</div>

						<div class="NotificationZoomBtn" ng-if="::message.type == 'missed-call'">
							<span class="XButton chatNotification" ng-click="go_to_notification_chat(message)">{{::verbage.chat}}</span>
							<span class="XButton XButtonGreen" ng-click="makeCall(message);remove_notification(message.xpid)">{{::verbage.Call}}</span>	
						</div>
						
						<div class="NotificationZoomBtn" ng-if="::message.type == 'busy-ring-back'">
							<span class="XButton" ng-click="remove_notification(message.xpid);">{{::verbage.Skip}}</span>
							<span class="XButton XButtonGreen" ng-click="makeCall(message);remove_notification(message.xpid)">{{::verbage.Call}}</span>	
						</div>
						
						<div class="NotificationZoomBtn" ng-if="::message.audience=='queue' && (message.type == 'q-alert-abandoned' || message.type == 'q-alert-rotation')">
							<span class="XButton" ng-click="showQueue(message)">{{::verbage.Show}}</span>
						</div>
					</div>
				</div>

			</div>
 
			<div class="Messages plugins"  ng-if="(!phoneSessionEnabled || !isPluginUptoDate()) && pluginErrorEnabled">		
				<div class="NotificationHeader"> 
					<div class="NotificationHeaderBackground"> 
						<div class="NotificationClose" ng-click="disableWarning()"></div>
					</div>
				</div>
				<a  style="color:#333;text-decoration:none" href="{{::pluginDownloadUrl}}" download target="_blank" ng-click="showOverlay(true,'DownloadPlugin',{});">
			
				<div class="NotificationDivider"></div>

				<div class="NotificationSection ng-class:{'last' : !anotherDevice}" >
					<div class="LeftBarNotificationAvatarSection " style="display:inline-block"> 
						<div class="AvatarWarningSmall"></div>
					</div>
				
					<div class="LeftBarNotificationMessageSection" > 
						<div class="chatNotification plugins">
							<div class="content"><span>Browser Plugin</span></span></div> 
							<div ></div>
							<div class="NotificationMessage" ng-if="!pluginVersion">Click to download & Install</div>
							<div class="NotificationMessage" ng-if="!isPluginUptoDate()">Click to Update</div>
						
						</div>
						
					</div>
				</div>
			  </a>
			</div>
			
			<div class="Messages webphone" ng-if="anotherDevice" ng-click="$parent.activatePhone()">                
			    <div class="NotificationHeader">
                    <div class="NotificationHeaderBackground"> 
                        <div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
                    </div>
                </div>
                <div class="NotificationDivider" ></div>
                <div class="NotificationSection webphone last"> 
                    
                    <div class="LeftBarNotificationAvatarSection " style="display:inline-block"> 
                        <div class="AvatarWarningSmall"></div>
                    </div>
                
                    <div class="LeftBarNotificationMessageSection" > 
                        <div class="chatNotification webphone">
                            <div class="content"><span>Web Phone</span></span> <div class="NotificationTime">{{   }} </div></div> 
                            <div ></div>

                            <div class="NotificationMessage">Phone registered on another device. Click on this message to set this instance as active.</div>
                        </div>
                        
                    </div>
                 </div>               
            </div> 
        </div>    
	</div>
</div>


<div class="CallStatusContainer">
	<div class="CallStatusContainerInbound" ng-repeat="currentCall in calls" 
	
	ng-class="currentCall.type == 5 ? 'CallStatusContainerOutbound' : ( currentCall.type == 3 ? 'CallStatusContainerQueue' :  'CallStatusContainerInbound')"

	ng-if="inCall" dockable="currentCall" droppable="Contact">		<!--     -->								
				
				<div  class="CallStatusIconContainer" ng-class="currentCall.type == 5 ? 'CallStatusIconExternalBorder' : ( currentCall.type == 3 ? 'CallStatusIconQueueBorder' :  'CallStatusIconInternalBorder')">
					<div ng-click="showCurrentCallControls(currentCall)" ng-class="currentCall.state == callState.CALL_HOLD ? 'IsCallHold' : 
					(volume.micVolume == 0 ? 'CallIsMuted' : 'IsOnCall' )
					"> </div>
				</div>
				<div ng-click="showCurrentCallControls(currentCall)" class="CallStatusText" ng-class="currentCall.state == callState.CALL_RINGING ? 'ringing' : 'accepted'"> 
					<div class="memberName"><div class="name ng-class:{'truncate': currentCall && currentCall.displayName.length > 14}">{{currentCall.displayName}}</div> <div class="MyCallBlock_Rec ng-class:{'true': currentCall.record}"></div></div>
					<div class="callStatus"><div class="onCall">{{ currentCall.incoming ? verbage.inbound : verbage.outbound}} {{::verbage.on_call}} &nbsp;</div><span class="MyCallBlock_Duration" timer="callObj[currentCall.xpid].start"></span></div>
					
				</div>				
				<div class="controlButtons" ng-switch="currentCall.state">
					<span ng-if="currentCall.mute" class="mute" style="font-size:9px;color:red">Muted</span>
					
					<div ng-click="endCall(currentCall.xpid)" class="XButton decline" ng-switch-when="0">{{ currentCall.incoming ? verbage.
					decline : verbage.cancel}}</div>
					<div ng-click="endCall(currentCall.xpid)" class="XButton end" ng-switch-when="2">{{::verbage.end}}</div>
					<div ng-click="holdCall(currentCall.xpid,true)" ng-disabled="currentCall.type == 0" ng-if="currentCall.state == callState.CALL_ACCEPTED && currentCall.barge == 0" class="XButton hold">{{::verbage.hold}}</div>
					
					<div ng-click=" holdCall(currentCall.xpid,false)" class="XButton" ng-switch-when="3">{{::verbage.Talk}}</div>
					<div ng-click="acceptCall(currentCall.xpid, message)" ng-if="currentCall.incoming && currentCall.state == callState.CALL_RINGING && meModel.location.locationType != 'm'" class="XButton accept">{{::verbage.accept}}</div>
				</div>
				
	</div>	
</div>
	<!--include once directive is causing the IE to crash for call alerts still unsure why until then switching back to ng-include   -->
	<div id="Alert" style="visibility:hidden;position:absolute;left:-1000px"  ng-if="displayAlert" ng-include="'views/nativealerts/CallAlert.html'"></div>
    


