<div class="MenuWindow SelectMenuBox LocationsMenu" data-ng-controller="GroupSinglePageController" data-ng-style="currentPopup.position">
    <div class="MenuContent">
        <div class="MenuSection">
             <div class="MenuItem">
                <div class="MenuItemText" data-ng-click="callGroup('*74')">Group Page</div>
             </div>
            <div class="MenuItem">
                <div class="MenuItemText" data-ng-click="callGroup('*75')">Group Intercom</div>
             </div>
                  <div class="MenuItem">
                <div class="MenuItemText" data-ng-click="callGroup('*86')">Group Voicemail</div>
             </div>
        
        </div>
    </div>
</div>