
 <div class="fj-vbox-space Preferences-Holder" >
  	<div class="PreferencesSectionTitle">{{::verbage.preferences}}
  	<i class="material-icons" ng-click="closePreferences()">close</i>
  	</div>
  	<div class="PreferencesContent">
      <ul class="PreferencesTabBar" style="width:90px;float:left;margin:0;">
        <li href="" ng-repeat="tab in ::tabs" ng-show="tab.isActive" ng-click="saveMeTab(tab.option, $index)" class="WidgetTabBarButton Ready" ng-class="{'fj-selected-item' : toggleObject.item == $index}">
          <div class="PrefTabLabel {{language}}">{{ ::tab.label }}</div>
          <!-- <div class="arrow"></div> -->
        </li>
      </ul>

      <div class="SettingsPanel DialogContentMainBlock_List" style="width:570px;float:right;margin-right:20px" ng-switch="selected.option">
        <div ng-switch-default class="fj-content" include-once="views/settings/Settings.html"></div>
        <div ng-switch-when="Web Launcher" class="fj-content" include-once="views/settings/SettingsWebLauncer.html"></div>
        <div ng-switch-when="Queues" class="fj-content" include-once="views/settings/SettingsQueues.html"></div>
        <div ng-switch-when="Account" class="fj-content" include-once="views/settings/SettingsAccount.html"></div>
        <div ng-switch-when="Alerts" class="fj-content" include-once="views/settings/SettingsAlerts.html"></div>
        <div ng-switch-when="CP" class="fj-content padding" include-once="views/settings/SettingsCP.html"></div>
        <div ng-switch-when="About" class="fj-content padding" include-once="views/settings/SettingsAbout.html"></div>
        <!-- <div ng-switch-when="Phone" class="fj-content" include-once="views/settings/SettingsPhone.html"></div> -->
      </div>
      </div>
</div>
