<div class="Widget Contacts" id="WidgetCallCenter">
  <div class="WidgetHeader">
    <div class="Avatar AvatarApp">
      <div class="TopBarItemAppIcon CallCenter"></div>
    </div>
    <div class="WidgetHeaderTitle">Queue</div>
  </div>
  <div class="WidgetBody">

    <div class="WidgetBody">
      <div class="WidgetTabBar">
        <a href="" ng-repeat="tab in tabs" ng-click="$parent.selected = tab" class="WidgetTabBarButton Ready" ng-class="selected == tab ? 'fj-selected-item' : ''">
          <div class="inner">{{ ::tab }}</div>
          <div class="arrow"></div>
        </a>
      </div>
      <div class="ListLineContent Header LeftContactsColumns">

      </div>
      <div class="LeftBarTabContentList">
        <a href="#contact/{{::member.contactId}}"
           class="ListRow Table AvatarHoverArea"
           data-ng-repeat="member in members | SortCalllog | orderBy:sortField:sortReverse">
          <div class="Avatar AvatarSmall CallAvatar CallAvatar_{{ member.getLocation() }}">
            <img class="AvatarImgPH" data-fj-local-id="avatarImg"
                 ng-src="{{ member.contact.getAvatarUrl(28,28)}}">

            <div class="AvatarInteractable"></div>
          </div>
          <div class="ListRowContent">

            <div class="ListRowLeftAreaWide">
              <div class="ListRowTitle"> {{ member.contact.getDisplayName()}}</div>
              <div class="Link ListRowDesc">#{{ member.contact.primaryExtension }}</div>
             </div>
            <div class="ListRowStatus">
              <div class="ListRowStatusIcon XIcon-ChatStatus-{{member.contact.getChatStatus()}}">
                <div class="status-icon-inner"></div>
              </div>
              <div class="ListRowStatusIcon XIcon-QueueStatus XIcon-QueueStatus-{{member.contact.contactstatus_queueStatus}}">
                <div class="status-icon-inner"></div>
              </div>
              <div class="ListRowStatusText">{{member.contact.contactstatus_xmppCustom || member.contact.contactstatus_xmpp || 'offline'}}</div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
