<div class="ListLineContent Header LeftContactsColumns">
    <div>
        <div data-ng-click="sort('timeline')" class="ListLineContentCell Name {{(sortField == 'timeline' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
            <span>Timeline</span>
            <div class="DirectionArrow"></div>
        </div>
        <div data-ng-click="sort('grouped')"  class="ListLineContentCell HudStatus {{(sortField == 'grouped' && ((sortReverse && 'Down') || 'Up')) || 'None'}}">
            <span>Grouped</span>
            <div class="DirectionArrow"></div>
        </div>
    </div>
</div>
<div class="ContactList" ng-style="{'height': RecentTabHeight}">
    <div class='timeline' ng-if="sortField =='timeline'" ng-style="{'height': RecentTabHeight}">     
        
        <div ng-click="goToFullRoute(item)" data-ng-repeat="item in totalCombined | filter: recentFilter() | orderBy: 'timestamp': true track by item.xpid" class="ListRowFirst ListRow ListRow-Contact" droppable="{{::getDroppableType(item.recent_type)}}"> 
           
            <avatar profile="item"></avatar>
			
            <div class="ListRowContent" dockable="item" ng-if="::item.recent_type == 'contact'">

                <div class="ListRowTitle">
                    <div class="name">
                        <strong>{{ ::item.displayName || item.name }}</strong>  
                        <div class="status">                     
	                        <div class="ListRowStatusIcon external XIcon-ChatStatus-{{item.hud_status || 'offline' }}"></div>
	                        <span class="desc">{{item.custom_status ? item.custom_status : item.hud_status ? verbage[contact.hud_status] : verbage['offline'] }}{{item.call ? ' + ' + verbage['on_call'] : ''}}</span>
                        </div>
                    </div>
                </div>                
                <div class="CallStatus" ng-if="item.call.startedAt">
                    <avatar 
                        ng-if="item.call.startedAt" 
                        ng-click="showCallStatus($event, item)" 
                        profile="item.call.fullProfile" 
                        context="callstatus"
                        type="{{::item.call.type}}">
                    </avatar>
                </div>              
            </div>
            
            <div class="ListRowContent" dockable="item" ng-if="::item.recent_type =='group'">
                <div class="ListRowTitle">
                    <div class="name">
                        <strong>{{ item.name }}</strong>
                        <div class="status">
	                        <div class="ListRowStatusIcon external XIcon-ChatStatus-{{item.hud_status || 'offline' }}"></div>                       
	                        <span class="details" ng-if="deptHeaderDisplay(item.type)" class="WidgetHeaderTitle Full">{{::verbage.department}}</span>
						    <span class="details" ng-if="nonVisibleTeamHeaderDisplay(item.type)" class="WidgetHeaderTitle Full">{{::verbage.team}}</span>
						    <span class="details" ng-if="publicTeamHeaderDisplay(item.type)" class="WidgetHeaderTitle Full">{{::verbage.public_team}}</span>     
                        </div>                 
                    </div>
                </div>
                <!-- <div class="ListRowStatus Members">{{ item.members.length }}</div>-->
            </div>

            <div class="ListRowContent" dockable="item" ng-if="::item.recent_type == 'queue'">
                <div class="ListRowTitle">
                    <strong>Q:{{ ::item.name }}</strong>
                    <br/>
                    <div class="status queue">
	                    <div class="ListRowStatusIcon external XIcon-ChatStatus-{{contact.hud_status || 'offline' }}"></div>	                    
	                    <span class="desc">{{ ::item.name }}</span>
                    </div>
                </div>
            </div>            

            <div class="ListRowContent" dockable="item" ng-if="::item.recent_type == 'conference'">
                <div class="ListRowTitle">
                    <div class="name"> <strong>{{::verbage.room}} # {{::item.roomNumber}} ({{::item.extensionNumber}})</strong> </div>
                    <div data-ng-if="item.members.length == 0" class="status conference">
                        <div class="ListConferenceStatusIcon XIcon-ChatStatus-Offline"></div>
                       <span class="desc">{{::verbage.free_room}}</span>
                    </div>                            
                    <div data-ng-if="item.members.length > 0" class="status conference">
                        <div class="ListRowStatusIcon XIcon-ChatStatus-Available"></div>
                        <span class="desc">{{item.members.length}} {{::verbage.members_on_call}}</span>
                    </div> 
                </div>
                <div data-fj-local-id="membersList" data-ng-if="item.members.length > 0" class="CallStatus">                   
                         <avatar profile="member.fullProfile" type="4"></avatar>                                                                     
                </div>
            </div>
        </div>    
        <!-- </a> -->
    </div>

    <div class='grouped' ng-if="sortField == 'grouped'">

        <!-- need to sort based on most recently clicked at the top -->
        <div data-ng-repeat="section in groupedSections | orderBy:'-lastTime.time'">
            <!-- if its the contact section -> display the recent contacts div -->
            <div ng-if="section.type === 'contact' && recentContactFlag">
                <div class="RecentContacts">
                 <div class="group_title">
                   <div class="group_header">
                    <div class="group">{{::verbage.recent_contacts}}</div>
                    <div class="dept">{{::verbage.contact_name_status}}</div>
                   </div> 
                 </div>
                 <!-- <a href="#/contact/{{::contact.xpid}}/{{::lastContactTabRoute(contact.xpid)}}" data-ng-repeat="contact in totalContacts | filter: searchRecentContactFilter() | filter: recentFilter() | orderBy: 'timestamp': true | limitTo: contactsLimit() track by contact.xpid" class="ListRowFirst ListRow ListRow-Contact" droppable="Call"> -->
                 <div ng-click="goToFullRoute(contact)" data-ng-repeat="contact in totalContacts | filter: searchRecentContactFilter() | filter: recentFilter() | orderBy: 'timestamp': true | limitTo: contactsLimit() track by contact.xpid" class="ListRowFirst ListRow ListRow-Contact" droppable="Call">
                        <avatar profile="contact"></avatar>
                        
                        <div class="ListRowContent" dockable="contact">
                            <div class="ListRowTitle">
                                <div class="name">
                                    <strong>{{ contact.displayName || contact.name }}</strong>
                                    <span>#{{ ::contact.primaryExtension || contact.extension }}</span>
                                </div>
                            </div>
                            <div class="ListRowStatus">
                                <div class="ListRowStatusIcon XIcon-ChatStatus-{{contact.hud_status || 'offline' }}"></div>
                                <div class="ListRowStatusIcon XIcon-QueueStatus XIcon-QueueStatus-{{contact.queue_status}}"></div>
                                <br/>
                                <div class="ListRowStatusText">{{contact.hud_status || 'offline'}}{{contact.call ? ' + ' + verbage['on_call'] : ''}}</div>
                            </div> 
                            
                            <div class="CallStatus" ng-if="contact.call.startedAt">
                                <avatar 
                                    ng-if="contact.call.startedAt" 
                                    ng-click="showCallStatus($event, contact)" 
                                    profile="contact.call.fullProfile" 
                                    context="callstatus"
                                    type="{{contact.call.type}}">
                                </avatar>
                            </div>              
                        </div>
                    </div>
                <!-- </a> -->
                    <button class="loadmore" ng-show="hasMoreContactsToLoad()" ng-click="loadMoreContacts()"><strong>LOAD MORE</strong></button>
                </div>
            </div>

            <div ng-if="section.type === 'group' && recentGroupFlag">
                <div class="RecentGroups">
                  <div class="group_title">
                    <div class="group_header">
                    <div class="group">{{::verbage.recent_groups}}</div>
                    <div class="dept">{{::verbage.recent_group_name_members}}</div>
                    </div>
                  </div>
                    <div ng-click="goToFullRoute(group)" href="#/group/{{::group.xpid}}" data-ng-repeat="group in totalGroups | filter: searchRecentGroupFilter() | filter: recentFilter() | orderBy: 'timestamp': true | limitTo: groupsLimit() track by group.xpid" class="ListRowFirst ListRow ListRow-Contact">
                    <!-- <a href="#/group/{{::group.xpid}}" data-ng-repeat="group in totalGroups | filter: searchRecentGroupFilter() | filter: recentFilter() | orderBy: 'timestamp': true | limitTo: groupsLimit() track by group.xpid" class="ListRowFirst ListRow ListRow-Contact"> -->
                        <avatar profile="group"></avatar>
                        <div class="ListRowContent" dockable="group">
                            <div class="ListRowTitle">
                                <div class="name">
                                    <strong>{{ group.name }}</strong>
                                    <span class="details">
                                        {{ ::group.extension ? '#' + group.extension : getOwner(group) }}
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="ListRowStatus Members">{{ group.members.length }}</div> -->
                        </div>
                    <!-- </a> -->
                    </div>
                    <button class="loadmore" ng-show="hasMoreGroupsToLoad()" ng-click="loadMoreGroups()"><strong>LOAD MORE</strong></button>
                </div>
            </div>

            <div ng-if="section.type === 'queue' && recentQueueFlag">
                <div class="RecentQueues">
                  <div class="group_title"> 
                   <div class="group_header">
                    <div class="group">{{::verbage.recent_queues}}</div>
                    <div class="dept">{{::verbage.recent_queue_name_status}}</div>
                   </div> 
                  </div>
                    <div ng-click="goToFullRoute(queue)" class="ListRowFirst ListRow ListRow-Contact" data-ng-repeat="queue in totalQueues | filter: {name: $parent.$parent.query} | filter: recentFilter() | orderBy: 'timestamp': true | limitTo: queuesLimit() track by queue.xpid"> 
                    <!-- <a href="#/queue/{{::queue.xpid}}" class="ListRowFirst ListRow ListRow-Contact" data-ng-repeat="queue in totalQueues | filter: {name: $parent.$parent.query} | filter: recentFilter() | orderBy: 'timestamp': true | limitTo: queuesLimit() track by queue.xpid">  -->
                        <avatar profile="queue"></avatar>
                    
                        <div class="ListRowContent" dockable="queue">
                            <div class="ListRowTitle">
                                <strong>{{ ::queue.name }}</strong>
                                <br/>
                                <span class="status">
	                                <div class="ListRowStatusIcon XIcon-QueueStatus-{{ queue.me.status.status }}"></div>
	                                <span class="desc">{{ queueStatusLabel(queue.me.status.status) }}</span>
                                </span>
                            </div>
                        </div>
                    <!-- </a> -->
                    </div>
                    <button class="loadmore" ng-show="hasMoreQueuesToLoad()" ng-click="loadMoreQueues()"><strong>LOAD MORE</strong></button>
                </div>
            </div>

            <div ng-if="section.type === 'conference' && recentConfFlag">
                <div class="RecentConferenes">
                  <div class="group_title">
                    <div class="group_header">
	                    <div class="group">{{::verbage.recent_conferences}}</div>
	                    <div class="dept">{{::verbage.recent_conference_room_extension}}</div>
                    </div>
                  </div>
                    <div ng-click="goToFullRoute(conference)" class="ListRow ListRowFirst ListRow-Conference" data-ng-repeat="conference in totalConferences | filter: searchRecentConfFilter() | filter: recentFilter() | orderBy: 'timestamp': true | limitTo: conferencesLimit() track by conference.xpid" droppable="Call,Contact">
                    <!-- <a href="#/conference/{{::conference.xpid}}/currentcall" class="ListRow ListRowFirst ListRow-Conference" data-ng-repeat="conference in totalConferences | filter: searchRecentConfFilter() | filter: recentFilter() | orderBy: 'timestamp': true | limitTo: conferencesLimit() track by conference.xpid" droppable="Call,Contact"> -->
                        <avatar profile="conference"></avatar>
                        <div class="ListRowContent" dockable="conference">
                            <div class="ListRowTitle">
                                <div class="name"> <strong>{{::verbage.room}} # {{::conference.roomNumber}} ({{::conference.extensionNumber}})</strong></div>
                                
                                <div data-ng-if="conference.members.length == 0" class="status conference">
                                    <div class="ListConferenceStatusIcon XIcon-ChatStatus-Offline"></div>
                                    <span class="desc">{{::verbage.free_room}}</span>
                                </div>                            
                                <div data-ng-if="conference.members.length > 0" class="status conference">
                                    <div class="ListRowStatusIcon XIcon-ChatStatus-Available"></div>
                                    <span class="desc">{{conference.members.length}} {{::verbage.members_on_call}}</span>
                                </div> 
                            </div>
                        
                            <div data-fj-local-id="membersList" data-ng-if="conference.members.length > 0" class="CallStatus">                               
                                    <avatar profile="member.fullProfile" type="4"></avatar>                                                                    
                            </div>
                        </div>
                    <!-- </a> -->
                    </div>
                    <button class="loadmore" ng-show="hasMoreConferencesToLoad()" ng-click="loadMoreConferences()"><strong>LOAD MORE</strong></button>
                </div>
            </div>
        </div>

    </div>
</div>