<div class="Widget Search" id="WidgetSearch">
    <div class="WidgetBody">
		<div class="SearchPanel">
			<div class="SearchInputBox">
				<div class="SearchInputBoxInputHolder">
					<input class="SearchInputBoxInput"
						   type="search" x-webkit-speech=""
						   data-ng-model="query" 
						   ng-click="clearSearch()" ng-keydown="onKeyDown($event)"
						   placeholder="Type or speak for results"
						   autofocus="true" />
				</div>
				<div class="SearchInputBoxStateButton"><div class="SearchInputBoxStateButtonIcon"></div></div>
			</div>
			<input type="button" class="XButton" value="Search" ng-click="searchEmUp()" />
		</div>
		
		<div class="SearchResults">
			<div ng-if="!searched" class="Intro">
				<h4>Search to Start Conversation</h4>
				<em>Type or speak name of contact, team, queue, or conference room...</em>
			</div>
			
			<div ng-if="searched && contacts.length == 0 && groups.length == 0 && queues.length == 0 && conferences.length == 0" class="Empty">
				Nothing found.
			</div>
		
			<div ng-if="contacts.length > 0">
				<h4>Contacts</h4>
				<a href="#/contact/{{ contact.xpid }}" ng-repeat="contact in contacts track by contact.xpid" class="ListRow">		
					<div class="Avatar AvatarNormal" context-menu="contact">
						<img class="AvatarImgPH" data-ng-src="{{::contact.getAvatar(28)}}" onerror="this.src='img/Generic-Avatar-28.png'" />
						<div class="AvatarForeground AvatarInteractable"></div>
					</div>
					
					<div class="ListRowContent">
						<div class="ListRowTitle">
							<div class="name">
								<strong>{{ ::contact.displayName }}</strong>
							</div>
							<div class="ListRowStatusIcon XIcon-QueueStatus XIcon-QueueStatus-{{contact.contactstatus_queueStatus}}">
								<div class="status-icon-inner"></div>
							</div>
							<div class="ListRowStatusIcon XIcon-ChatStatus-{{contact.hud_status || 'offline' }}">
								<div class="status-icon-inner"></div>
							</div>
							{{contact.hud_status || 'offline'}}
						</div>
						
						<div class="ListRowStatus">
							<span ng-if="contact.primaryExtension">#{{ ::contact.primaryExtension }}</span>
						</div>
					</div>
				</a>
			</div>
			
			<div ng-if="groups.length > 0">
				<h4>Groups</h4>
				<a href="#/group/{{ group.xpid }}" ng-repeat="group in groups track by group.xpid" class="ListRow">
					<div class="Avatar AvatarNormal" context-menu="group">
						<div class="GroupAvatarItem GroupAvatarItem_0">
							<img class="GroupAvatarItemImg" data-ng-src="{{ ::group.getAvatar(0, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						</div>
						<div class="GroupAvatarItem GroupAvatarItem_1">
							<img class="GroupAvatarItemImg" data-ng-src="{{ ::group.getAvatar(1, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						</div>
						<div class="GroupAvatarItem GroupAvatarItem_2">
							<img class="GroupAvatarItemImg" data-ng-src="{{ ::group.getAvatar(2, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						</div>
						<div class="GroupAvatarItem GroupAvatarItem_3">
							<img class="GroupAvatarItemImg" data-ng-src="{{ ::group.getAvatar(3, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						</div>
						<div class="AvatarInteractable"></div>
					</div>
					<div class="ListRowContent">
						<div class="ListRowTitle">
							<div class="name">
								<strong>{{ ::group.name }}</strong>
								<span class="details">
									{{ ::group.members.length }} member(s)
								</span>
							</div>
						</div>
						<div class="ListRowStatus">{{ ::group.extension ? '#' + group.extension : getOwner(group) }}</div>
					</div>
				</a>
			</div>
			
			<div ng-if="conferences.length > 0">
				<h4>Conferences</h4>
				<a href="#/conference/{{ conference.xpid }}" ng-repeat="conference in conferences track by conference.xpid" class="ListRow">
                    <div class="ConferenceAvatarSection Avatar AvatarNormal">
                        <div class="GroupAvatarItem GroupAvatarItem_0">
							<img class="GroupAvatarItemImg" ng-src="{{ ::conference.getAvatar(0, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						</div>
                        <div class="GroupAvatarItem GroupAvatarItem_1">
							<img class="GroupAvatarItemImg" ng-src="{{ ::conference.getAvatar(1, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						</div>
                        <div class="GroupAvatarItem GroupAvatarItem_2">
							<img class="GroupAvatarItemImg" ng-src="{{ ::conference.getAvatar(2, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						</div>
						<div class="GroupAvatarItem GroupAvatarItem_3">
							<img class="GroupAvatarItemImg" ng-src="{{ ::conference.getAvatar(3, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						</div>
						
                        <div class="AvatarInteractable"></div>
                    </div>
                    <div class="ListRowContent">
                        <div class="ListRowTitle">
                            <div class="name"> Room # {{::conference.roomNumber}} ({{::conference.extensionNumber}})</div>
                            <span class="link" ng-if="conference.location">at {{::conference.location}}</span>
							
                            <div data-ng-if="conference.members.length == 0">
                                <div class="ListConferenceStatusIcon XIcon-ChatStatus-Offline"></div>
								<div class="ListConferenceStatusText">Free room</div>
                            </div>                            
                            <div data-ng-if="conference.members.length > 0">
                                <div class="ListRowStatusIcon XIcon-ChatStatus-Available"></div>
								<div class="ListConferenceStatusText">{{conference.members.length}} member(s) on a call</div>
							</div> 
                        </div>
                    </div>
					
                    <div data-fj-local-id="membersList" data-ng-if="conference.members.length > 0" class="ListRow-Conference-Members">
                        <div class="conferences-room-item-member" data-ng-repeat="member in conference.members">
                            <div class="Avatar AvatarSmall CallAvatar CallAvatar_Office">
                                <img class="AvatarImgPH" data-ng-src="{{getAvatarUrl(conference, $index)}}" onerror="this.src='img/Generic-Avatar-28.png'" />
                                <div class="AvatarInteractable"></div>
                            </div>
                            <div class="first-name">{{member.displayName}}</div>
                        </div>
                    </div>
				</a>
			</div>
			
			<div ng-if="queues.length > 0">
				<h4>Queues</h4>
				<a href="#/queue/{{ queue.xpid }}" ng-repeat="queue in queues track by queue.xpid" class="ListRow">
					<div class="Avatar AvatarNormal">
						<div class="GroupAvatarItem GroupAvatarItem_0">
							<img class="GroupAvatarItemImg" data-ng-src="{{ ::queue.getAvatar(0, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						</div>
						<div class="GroupAvatarItem GroupAvatarItem_1">
							<img class="GroupAvatarItemImg" data-ng-src="{{ ::queue.getAvatar(1, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						</div>
						<div class="GroupAvatarItem GroupAvatarItem_2">
							<img class="GroupAvatarItemImg" data-ng-src="{{ ::queue.getAvatar(2, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						</div>
						<div class="GroupAvatarItem GroupAvatarItem_3">
							<img class="GroupAvatarItemImg" data-ng-src="{{ ::queue.getAvatar(3, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						</div>
						<div class="AvatarInteractable"></div>
					</div>
					<div class="ListRowContent">
						<div class="ListRowTitle">
							<div class="name">
								<strong>{{ ::queue.name }}</strong>
								<span class="details">
									{{ ::queue.members.length }} member(s)
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
    </div>
</div>

