<div class="TopBarLogo"></div>

<div class="TopBarIcons">
	<div class="DragDropList" ui-sortable="sortableOptions" ng-model="appIcons">
		<a href="{{::icon.url}}" class="TopBarItemApp" data-ng-repeat="icon in appIcons" ng-class="{'not-sortable': icon.locked}">
			<div class="Avatar AvatarNormal TopBarItemAppIcon" ng-show="icon.key == 'Me'">
				<img class="AvatarImgPH" data-ng-src="{{ getAvatar() }}" onerror="this.src='img/Generic-Avatar-28.png'" />
			</div>
			<div class="TopBarItemAppIcon {{ ::icon.key }}" ng-show="icon.key != 'Me'"></div>
			<div class="TopBarItemAppName">{{ ::icon.title }}</div>
		</a>
	</div>
</div>

<div class="TopBarMeStatus">
    <div class="cust_status">
        <div class="XButton Logout" ng-click="logout()">
            <div class="icon"></div>
            <span>{{::verbage.sign_out}}</span>
        </div>
    
        <div class="Status">
            <div ng-if="queue.queues && queue.queues.length > 0">
                {{::verbage.me}} {{ queue.loggedIn > 0 ? 'in (' + queue.loggedIn + ')' : 'out (' + queue.queues.length + ')' }}
                <div class="ListRowStatusIcon XIcon-QueueStatus-{{ meModel.queue_agent_status }}"></div>
            </div>
            <div ng-if="!queue.queues || queue.queues.length == 0" class="ListRowStatusIcon XIcon-QueueStatus-"></div>
            
            <div class="hud_status">
                {{ meModel.chat_status ? (meModel.chat_status == 'dnd' ? verbage['busy'] : verbage[meModel.chat_status]) : verbage.offline }}
                <div class="ListRowStatusIcon XIcon-ChatStatus-{{ meModel.chat_status || 'offline' }}"></div>
            </div>
        </div>
    </div>
	<div class="TopBarVoicemailControls" ng-show="voicemail">		
		<div class="XButtonClose" ng-click="closePlayer()"></div>
		<div class="Caller">
			<avatar profile="voicemail.fullProfile" type="4"></avatar>
			<div class="Details">
				<em>...{{ voicemail.primaryExtension == meModel.primary_extension ? verbage.to : verbage.from }}</em>
				<strong>{{ voicemail.displayName || voicemail.name }}</strong>
				<br/>
				<span>{{ voicemail.primaryExtension || voicemail.extensionNumber }}</span>
			</div>
		</div>
		<div class="Loading" ng-show="!player.loaded">{{::verbage.loading}}...</div>
		<div class="Progress" ng-show="player.loaded">
			<div class="Time">{{ player.position | duration }}</div>
			<div class="Left"></div><div class="Bar">
				<div class="MediaPlayerProgressButton" ng-style="{'left':player.progress}" ng-mousedown="moveSlider($event)"></div>
			</div><div class="Right"></div>
			<div class="Time">{{ player.duration | duration }}</div>
		</div>
		<div class="Buttons">
			<div>
				<div class="MediaPlayerBack" ng-click="changeSeek(-2)"></div>
				<div ng-class="player.playing ? 'MediaPlayerPause' : 'MediaPlayerPlay'" ng-click="playAudio()"></div>
				<div class="MediaPlayerForward" ng-click="changeSeek(2)"></div>
			</div>
			<div>
				<div class="MediaPlayerVolumeDown" ng-click="changeVolume(-.2)"></div>
				<div class="Volume">
					<div ng-class="{'On': player.volume > 0}"></div>
					<div ng-class="{'On': player.volume > .2}"></div>
					<div ng-class="{'On': player.volume > .4}"></div>
					<div ng-class="{'On': player.volume > .6}"></div>
					<div ng-class="{'On': player.volume > .8}"></div>
				</div>
				<div class="MediaPlayerVolumeUp" ng-click="changeVolume(.2)"></div>
			</div>
		</div>
		
		<audio id="voicemail_player">
			<source id="voicemail_player_source" type="audio/mp3"></source>
		</audio>
	</div>    
</div>