    <div class="ToolBar" >
		<input type="{{::verbage.search}}" class="SearchBox" placeholder="{{::verbage.search}}" data-ng-model="tester.query" />              
      <!--   <select class="XButton XButtonNormal XButtonDropDown XSortButton" ng-model="selectedSort"
                    ng-options="sort_option.display_name for sort_option in sort_options"
                ng-change="sortBy(selectedSort)"
        > 
        </select>  -->           
        <select class="XButton XButtonNormal XButtonDropDown XSortButton" ng-model="selectedVoice" ng-options="voice_option.display_name for voice_option in voice_options track by voice_option.display_name" ng-change="sortBy(selectedVoice)">
        </select>
        <select class="XButton XButtonNormal XButtonDropDown disabled-false" ng-model="actionObj.selectedAction" ng-options = "action.display_name for action in actions" ng-change="handleVoiceMailAction(actionObj.selectedAction.type)">
            <option>{{::verbage.action}}</option>
            <div class="XButtonDropDownArrow"></div>
        </select>
    </div>
    
    <div class="ListView fj-scrollable"> 
        <div class="vmlabel" ng-if="voicemails.length == 0"> 
            <div class="vmlabelheader"> {{::verbage.no_voicemails}} </div> 
            <div class="vmnomessage"> {{::verbage.no_voicemails_between}} {{ emptyVoiceLabel }} </div>
        </div>
        <div class="vmsection" ng-repeat="voicemail in voicemails | filter: voiceFilter() | orderBy: selectedSort.type: selectedSort.desc track by voicemail.xpid"> 
            <div class="vmavatarsection AvatarNormal" context-menu="voicemail.fullProfile"> 
                <img class="vmavatar " ng-src="{{getMeAvatarUrl(voicemail.contactId,50,50)}}" onerror="this.src='img/Generic-Avatar-28.png'"/>
				<div class="AvatarInteractable"></div>
            </div>

            <div class="vminfo" ng-click="playVoicemail(voicemail)"> 
                    <div class="displayName">
						<em>{{ ::voicemail.phone == meModel.primary_extension ? verbage.me + ' ' + verbage.to + '...' :  verbage.from + '...' }}<em>
						<p class="vmdisplay" ng-style="{'font-weight': !voicemail.readStatus && voicemail.phone != meModel.primary_extension ? 'bold' : 'normal'}">
							{{ ::voicemail.displayName + ' <' + ::voicemail.fullProfile.primaryExtension + '>' }}
                        </p>
                        <div class="vmalternate">
                            <div class="vmtime">{{ ::voicemail.date | date: 'yyyy MMMM d, h:mm a' }} </div>
                            <input style="float:right"class="vmcallbtn" type="button" value="{{::verbage.Call}}" ng-click="callExtension(voicemail.phone)"></input>
                        </div>
                    </div> 
                    <div class="footnote">
                        <div class="vmfootnote vmduration">{{ ::voicemail.duration | duration }} </div>
                        <div class="vmfootnote">{{ voicemail.transcription != "" ? voicemail.transcription : verbage.no_transcriptions }}</div>
                    </div>
                    
            </div>
        </div>
    </div>