    <div class="ToolBar" >
        <div class="SearchInputBox">
            <div class="SearchInputBoxInputHolder">
                <input class="SearchInputBoxInput" type="search" x-webkit-speech="" placeholder="Search" ng-model="query">
            </div>
            <div class="SearchInputBoxStateButton">
                <div class="SearchInputBoxStateButtonIcon"></div>
            </div>
        </div>

        <select class="XButton XButtonNormal XButtonDropDown XSortButton" ng-model="selectedSort"
                    ng-options="sort_option.display_name for sort_option in sort_options"
                ng-change="sortBy(selectedSort)"
        > 
        </select>
        
        <select class="XButton XButtonNormal XButtonDropDown disabled-false" ng-model="selectedAction"
            ng-options = "action_option.display_name for action_option in actions"
            ng-change="handleVoiceMailAction(selectedAction.type)"
        >
            <option>Actions</option>

            <div class="XButtonDropDownArrow"></div>
        </select>
    </div>
    
    <div class="ListView fj-scrollable"> 
        <div class="vmlabel" ng-if="voicemails.length == 0"> 
            <div class="vmlabelheader"> No Voicemails In View </div> 
            <div class="vmnomessage"> There are currently no voicemails in the system between you and {{ emptyVoiceLabel }} </div>
        </div>
        <div class="vmsection" ng-repeat="voicemail in voicemails | filter: { displayName:query } | orderBy: selectedSort.type: selectedSort.desc"> 
            
            <div class="vmavatarsection AvatarNormal" > 
                    <img class="vmavatar " ng-src="{{getMeAvatarUrl(voicemail.contactId,50,50)}}" onerror="this.src='/app/img/Generic-Avatar-28.png'"/>
            </div>

            <div class="vminfo" ng-click="playVoicemail(voicemail)"> 
                    <div class="displayName">
						<em>{{ voicemail.phone == meModel.primary_extension ? 'Me to' : 'from...' }}<em>
						<p class="vmdisplay" ng-style="{'font-weight': !voicemail.readStatus && voicemail.phone != meModel.primary_extension ? 'bold' : 'normal'}">
							{{ voicemail.displayName + ' <' + voicemail.phone + '>' }}
                        </p>
                        <div class="vmalternate">
                            <div class="vmtime">{{ voicemail.date | date: 'yyyy MMMM d, h:mm a' }} </div>
                            <input style="float:right"class="vmcallbtn" type="button" value="Call"></input>
                        </div>
                    </div> 
                    <div class="footnote">
                        <div class="vmfootnote vmduration">{{ voicemail.duration | duration }} </div>
                        <div class="vmfootnote">{{ voicemail.transcription != "" ? voicemail.transcription : "no transcription available" }}</div>
                    </div>
                    
            </div>
        </div>
    </div>