<div class="Widget WidgetZoom" id="widget-zoom">
    <div class="WidgetHeader">
        <div class="TopBarItemAppIcon Zoom"></div>
        <div class="WidgetHeaderTitle">
            {{::verbage.zoom}}
        </div>
    </div>

    <div class="ListSection WidgetFont WidgetZoomBody" ng-if="inMeeting"> 
             <div>
              <h2
              style="display: block;font-size: 1.5em;-webkit-margin-before: 0.83em;-webkit-margin-after: 0.83em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;color:#666"
              >{{::verbage.zoom_created}}</h2>
            </div>
            <div> Your meeting will begin in 30 seconds. If your meeting doesn't begin automatically, please use this <a href="{{joinUrl}}"> {{::verbage.link}} </a> </div>
            <br>
            <div> 
                {{::verbage.link_to_join}}
                <br>
                <a href="{{joinUrl}}">{{ joinUrl}} </a>
            </div>
        </div>



    <div class="WidgetZoomBody "ng-if="!inMeeting"> 
        

                

        <div class="ListSection WidgetFont" > 
            <div> {{::verbage.video_collaboration_summary}}</div>
        </div>
        <div class="ZoomWidgetSection left"> 
            <div class="ListSection WidgetTextHeader"> 
                <div class="ListSectionHeaderTitle">{{::verbage.join}}</div> 
                <div class="WidgetFont">{{::verbage.join_summary}}</div>
            </div>

            <div class="JoinMeetingSection"> 
                <div class="SearchInputBox">
                    <div class="SearchInputBoxInputHolder">
                        <input class="SearchInputBoxInput" data-ng-model="meetingId" type="text" placeholder="{{::verbage.meeting_id}}" />
                    </div>
                </div>
                <button data-ng-click="joinMeeting(meetingId)" class="XButton XButton XButtonWide XButtonBlue">{{::verbage.join_now}}</button>

            </div>

        </div>

        <div class="ZoomWidgetSection right"> 
            <div class="ListSection WidgetTextHeader"> 
                <div class="ListSectionHeaderTitle">{{::verbage.create}}</div> 
                <div class="WidgetFont">{{::verbage.create_summary}}</div>
            </div>

            <div class="JoinMeetingSection"> 
                <button ng-click="startMeeting('screen_share')" class="XButton XButton XButtonWide XButtonBlue">{{::verbage.start_screen_share_only}}</button>
                <button ng-click="startMeeting('video')" class="XButton XButton XButtonWide XButtonBlue">{{::verbage.start_with_video}}</button>
                <div class="Add SearchInputBox">
					<input type="search" class="SearchBox" placeholder="{{::verbage.add_someone}}" contact-search />
                </div>
            </div>

            <div class="widget-zoom-contacts">
                    <div class="ListRow Small" data-ng-class="{'ListRowOdd':$odd}" data-ng-repeat="contact in addedContacts | orderBy:'displayName'">
                        <div class="AvatarSmall Avatar">
                                <img class="AvatarImgPH" data-ng-src="{{ getAvatarUrl(contact.xpid,40,40)}}" onerror="this.src='img/Generic-Avatar-14.png'"/>
                        </div>
                        <div class="ListRowContent" dockable="contact">
                            <div class="ZoomRowTitle">
                                <div class="name">{{contact.displayName}}</div>
                                <div class="link">#{{contact.primaryExtension }}</div>
                            </div>
                            <div class="ZoomRowStatus">
                                <div class="ListRowStatusIcon Small XIcon-QueueStatus XIcon-QueueStatus-{{contact.queueStatus}}"></div>
                                <div class="ListRowStatusIcon Small XIcon-ChatStatus-{{contact.hud_status}}"></div>
                                <div class="ListRowDesc">{{contact.hud_status}}</div>
                            </div>
                        </div>
                        <button data-ng-click="deleteContact(contact.xpid)" class="ListRowItemDel XButton XButtonRed">Delete</button>
                    </div>
            </div>


        </div>

    </div>

</div>