<div class="Widget WidgetZoom" id="widget-zoom" >
    <div class="WidgetHeader" >
        <div class="TopBarItemAppIcon Zoom"></div>
        <div class="WidgetHeaderTitle">
            Fonality Video Collaboration
        </div>
    </div>

    <div class="ListSection WidgetFont WidgetZoomBody" ng-if="inMeeting"> 
             <div>
              <h2>{{::verbage.zoom_created}}</h2>
            </div>
            <div> {{::verbage.zoom_your_meeting_will_begin}} <a href="{{joinUrl}}"> {{::verbage.link}} </a> </div>
            <br>
            <div> 
                {{::verbage.link_to_join}}
                <br>
                <a href="{{joinUrl}}">{{ joinUrl}} </a>
            </div>
        </div>



    <div class="WidgetZoomBody "ng-if="!inMeeting"> 
        

                

        <div class="ListSection WidgetFont" style="padding:0px 15px 0px 15px"> 
            <div> {{::verbage.video_collaboration_summary}}</div>

        </div>

            <div class="ScheduleTabBar">
                        <a href="" class="ScheduleTabBarButton Ready" ng-click="setScheduleTab('Home')" ng-class="tab == 'Home' ? 'fj-selected-item' : ''">
                            <div class="inner">Home</div>
                            <div class="arrow"></div>
                        </a>
                        <a href="" class="ScheduleTabBarButton Ready" ng-click="setScheduleTab('Meetings'); getData()" ng-class="tab == 'Meetings' ? 'fj-selected-item' : ''" >
                            <div class="inner">Meetings</div>
                            <div class="arrow"></div>
                        </a>
            </div>

<div id="homeContainer" ng-show="showHome" ng-controller="ModalDemoCtrl" >
        <div class="ZoomWidgetSection left"> 
            <div class="ListSection WidgetTextHeader" style="margin-bottom:15px"> 
                <div class="ListSectionHeaderTitle">SCHEDULE A MEETING</div>
                <div class="WidgetFont">Click here to schedule a meeting.</div>
            </div>
            <div class="ListSection WidgetTextHeader" style="margin-bottom:10px"> 
                    <div class="ListSectionHeaderTitle">{{::verbage.join}}</div> 
                    <div class="WidgetFont">{{::verbage.join_summary}}</div>
            </div>
            <div class="ListSection WidgetTextHeader"> 
                            <div class="ListSectionHeaderTitle">{{::verbage.create}}</div> 
                            <div class="WidgetFont">{{::verbage.create_summary}}</div>
            </div>       
        </div>
<div id="btnContainer">
        <div id="scheduleMeetingBtn">
        <button data-ng-click="open('lg')" class="XButton XButton XButtonWide XButtonBlue">Schedule Meeting</button>
       </div>

        <div id="joinMeeting">
                <div class="SearchInputBox">
                    <div class="SearchInputBoxInputHolder">
                        <input class="SearchInputBoxInput" data-ng-model="meetingId" type="text" ng-attr-placeholder="{{::verbage.meeting_id}}" />
                    </div>
                </div>
                <button data-ng-click="joinMeeting(meetingId)" class="XButton XButton XButtonWide XButtonBlue">{{::verbage.join_now}}</button>

        </div>

     
            
                <div id="joinVideoScreen">
                 <div class="addContact">
                    <div >
                        <input type="search" ng-model-options="{debounce: 200}" class="SearchBox Add" ng-attr-placeholder="{{::verbage.add_someone}}" contact-search />
                    </div>
                 </div>
                <button ng-click="startMeeting('screen_share')" class="XButton XButton XButtonWide XButtonBlue first">{{::verbage.start_screen_share_only}}</button>
                <button ng-click="startMeeting('video')" class="XButton XButton XButtonWide XButtonBlue">{{::verbage.start_with_video}}</button>
               
            <div class="widget-zoom-contacts">
                    <div class="ListRow Small" data-ng-class="{'ListRowOdd':$odd}" data-ng-repeat="contact in addedContacts | orderBy:'displayName'" >
						<avatar profile="contact" widget="zoom"></avatar>
                        <div class="ListRowContent" dockable="contact">
                            <div class="ZoomRowTitle">
                                <div class="name">{{contact.displayName}}</div>
                                <div class="link">#{{::contact.primaryExtension }}</div>
                            </div>
                            <div class="ZoomRowStatus">
                                <!-- <div class="ListRowStatusIcon Small XIcon-QueueStatus XIcon-QueueStatus-{{contact.queueStatus}}"></div> -->
                                <div class="ListRowStatusIcon Small XIcon-ChatStatus-{{contact.hud_status}}"></div>
                                <div class="ListRowDesc">{{::contact.hud_status}}</div>
                            </div>
                        </div>
                        <button data-ng-click="deleteContact(contact.xpid)" class="ListRowItemDel XButton XButtonRed">Delete</button>
                    </div>
            </div>
        

    </div>

</div>

</div>

<div id="meetingContainer" ng-show="showMeetings" >
    <div class="meetingHeader" >
        <ul>
          <li><h4>Personal Meeting ID(PMI)</h4><button><a href="https://zoom.us/my/{{pmi}}" style="color:black">Start</a></button></li>
          <li><h3>{{pmi}}</h3><button>Copy</button></li>
          <li><a href ="https://zoom.us/my/{{pmi}}" style="color:black">https://zoom.us/my/{{pmi}}</a></li>
        </ul>
    </div>
    <div id="scrollArea" ng-controller="ScrollController">

        <div class="meetingBody">
            <h3>My Meetings</h3>

            <ul>
                <li ng-repeat="x in meetingList|orderBy:'start_time':'reverse'">
                   <h5 style="font-weight:bold">{{x.start_time|date:"EEEE, MMM dd, yyyy"}}</h5>
                   <p>Topic: {{x.topic}}</p>
                   <p>Meeting Id: {{x.meeting_id}}</p>
                   <div class="meetingBtnsContainer">
                       <button>Edit</button>
                       <button>Start</button><br>
                       <button>Copy</button>
                       <button ng-click="deleteMeeting()">Delete</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

</div>
</div>


<script type="text/ng-template" id="myModalContent.html">

   <div class="WidgetHeader" style="border-bottom:1px solid gray; padding:10px 10px 0px 10px;margin:12px">
        <div class="TopBarItemAppIcon Zoom"></div>
        <div class="WidgetHeaderTitle">
            Fonality Video Collaboration - Schedule A Meeting
        </div>
    </div>
    <div class="modal-body" ng-controller="ModalDemoCtrl">
    <div ng-controller="DatepickerDemoCtrl">
       
        <div id="scheduleInputContainer">
            <ul>
               <li><label>Meeting Topic:</label><input ng-model="meeting.meetingTopic"  style="width:310px"></li>
               <li>
                       
                  <label style="margin-left:55px">When:</label>     
                  <input style="padding:0px 10px 0px 10px;width:100px"  datepicker-popup="{{format}}" ng-model="meeting.dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                    <button type="button" style="background-color:white;border:none" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              
                          

               <select ng-init="meeting.timeSelect = times[0]" ng-options="o for o in times" name="timeSelect" ng-model="meeting.timeSelect" >
               </select>
               <select name="AmPm" ng-model="meeting.AmPm" ng-init="meeting.AmPm = meridian[0]" ng-options="a for a in meridian">
                    
               </select>


                </li>
                <li>
                <label style="margin-left:35px">Duration:</label>
                <select name="hourDuration" ng-model="meeting.hourDuration" ng-init="meeting.hourDuration = hourOption[0]"  ng-options="hr for hr in hourOption">
                </select>
                <label>hr</label>
                <select name="minDuration" ng-model="meeting.minDuration" ng-init="meeting.minDuration = minOption[0]" ng-options="min for min in minOption">
                </select>
                <label>min</label>
                </li>
                <li>
                <label style="margin-left:22px">Time Zone:</label>
                <select name="timezone" ng-model="meeting.timezone" ng-init="meeting.timezone = timeZone[0]" ng-options="t for t in timeZone">
                </select>
                </li>
            </ul>
        <div id="passwordContainer">
            <form>
                
                    <label>Meeting Options:</label>
                    <input type="checkbox" ng-model="checked">Require meeting password
                    <br>
                    <input type="password" style="margin-left:125px" ng-hide="!checked">
                    <br>
                    <input type="checkbox" style="margin-left:125px">Enable join before host
                
            </form>
        </div>
        </div>
        

    

    
    <div class="modal-footer">
        <button class="btn btn-primary" type="button"  ng-click="ok(); openClipboard(meetingTopic);" >Schedule</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </div>
    </div>
</script>
<script type="text/ng-template" id="copyToClipboard.html">
   <div  class="WidgetHeader" style="border-bottom:1px solid gray; padding:10px 10px 0px 10px;margin:12px">
        <div class="TopBarItemAppIcon Zoom"></div>
        <div class="WidgetHeaderTitle">
            Fonality Video Collaboration - Add To Calendar
        </div>
    </div>
    <div id="calendarContainer" style="padding:0px 10px 0px 20px">
        <div style="font-size:14px;font-weight:bold;border:1px solid none;width:225px;margin-bottom:10px">Your Meeting is Scheduled</div>
        <div style="font-size:12px;font-weight:bold;color:gray;border:1px solid none;width:350px;margin-bottom:5px">Click the Copy to Clipboard button to copy the invitation to your clipboard and paste in to your calendar invite.</div>
        <p style="width:280px">When using your Fonality conference bridge please add conference bridge number and password in the editable invitation area before copying to the clipboard</p>
    </div>
    <textarea   rows="15" cols="50" style="position:relative;bottom:120px;left:450px;font-size:11px">
    Hi there,

    {{userName}} is inviting you to a scheduled Zoom meeting.

    Topic:{{meeting.meetingTopic}}

    Time:{{meeting.timeSelect}} {{meeting.AmPm}}

    Join from PC, Mac, iOS or Android:

    Or join by phone:

    +1 646 7788 (US Toll) or +1 415 762 9988 (US Toll)
    Meeting ID:{{meeting.meeting_id}}
    </textarea>

    
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="copyToClipboard()">Copy!</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
   
</script>

<style>
.full button span {
background-color: limegreen;
border-radius: 32px;
color: black;
}
.partially button span {
background-color: orange;
border-radius: 32px;
color: black;
}
#scrollArea {
height: 760px;
overflow: auto;
}

#bottom {
display: block;
margin-top: 2000px;
}
</style>
        
    
