<div class="MenuWindow WidgetActionDropDownMenu" data-ng-controller="ActionMenuController" data-ng-style="currentPopup.position">
    <div class="MenuContent">
        <div class="MenuSection" data-event="mousedown mouseover mouseup">
            <div data-template-id="widget-action-menu-list-item" data-event="mousedown mouseover mouseup" data-ng-repeat="item in model">
                <div data-ng-click="applyAction(item.id)" data-ng-class="{'selected':item.selected}" class="MenuItem">
                    <div class="SelectedIcon"></div>
                    <div class="MenuItemText">{{item.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>