<div data-ng-controller="LeftBarContactsController">
    <div class="ToolBar">
        <div class="SearchInputBox">
            <div class="SearchInputBoxInputHolder">
                <input class="SearchInputBoxInput" data-ng-change="onSearch()" type="text" x-webkit-speech="" data-ng-model="query" placeholder="Search">
            </div>
            <div class="SearchInputBoxStateButton">
                <div class="SearchInputBoxStateButtonIcon"></div>
            </div>
        </div>
        <button class="XButton XButtonNormal" data-ng-click="createContact($event)">New
        </button>
    </div>
    <div class="ListLineContent Header LeftContactsColumns">
        <div data-ng-click="sort('displayName')" class="ListLineContentCell Name {{(sortField == 'displayName' && ((sortReverce && 'Down') || 'Up')) || 'None'}}">
            <span>NAME</span>/
            <div class="DirectionArrow"></div>
        </div>
        <div data-ng-click="sort('primaryExtension')" class="ListLineContentCell Extension {{(sortField == 'primaryExtension' && ((sortReverce && 'Down') || 'Up')) || 'None'}}">
            <span>EXTENSION</span>
            <div class="DirectionArrow"></div>
        </div>
        <div data-ng-click="sort('startedAt')"  class="ListLineContentCell CallStatus {{(sortField == 'startedAt' && ((sortReverce && 'Down') || 'Up')) || 'None'}}">
            <span>CALL STATUS</span>
            <div class="DirectionArrow"></div>
        </div>
        <div data-ng-click="sort('xmpp')"  class="ListLineContentCell HudStatus {{(sortField == 'xmpp' && ((sortReverce && 'Down') || 'Up')) || 'None'}}">
            <span>HUD STATUS</span>
            <div class="DirectionArrow"></div>
        </div>
    </div>
    <div  class="LeftBarTabContentList">
        <a href="#/contact/{{contact.xpid}}" class="ListRow Small Table AvatarHoverArea" data-ng-repeat="contact in contacts | ContactsWithoutMe | filter:filterContactFn(query) |  orderBy:sortField:sortReverce">
            <div class="Avatar AvatarSmall">
                <img class="AvatarImgPH" data-ng-src="{{contact.getAvatarUrl(28,28)}}">
                <div class="AvatarInteractable"></div>
            </div>
            <div class="ListRowContent">
                <div data-ng-if="contact.hasCall" class="ListRowCallArea">
                    <div class="Avatar AvatarSmall CallAvatar CallAvatar_{{contact.getCallType()}}">
                        <img class="AvatarImgPH" data-ng-src="{{contact.getCallAvatarUrl(28, 28)}}">
                        <div class="AvatarInteractable"></div>
                    </div>
                </div>
                    <div class="ListRowLeftArea">
                        <div class="ListRowTitle"> {{ contact.getDisplayName()}}</div>
                        <div class="link ListRowDesc">#{{ contact.primaryExtension }}</div>
                    </div>

                    <div class="ListRowStatus">
                            <div class="ListRowStatusIcon Small XIcon-ChatStatus-{{contact.xmpp || 'offline'}}"></div>
                            <div class="ListRowStatusIcon Small XIcon-QueueStatus XIcon-QueueStatus-{{contact.queueStatus}}"></div>
                            <div class="ListRowStatusText">{{contact.xmppCustom || contact.xmpp || 'offline'}}</div>
                    </div>
            </div>
        </a>
    </div>
</div>