<div class="MenuWindow WidgetActionDropDownMenu" data-ng-controller="SortMenuController" style="top: 216px; left: 661px;">
    <div class="MenuContent">
        <div class="MenuSection" data-event="mousedown mouseover mouseup">
            <div data-template-id="widget-action-menu-list-item" data-event="mousedown mouseover mouseup" data-ng-repeat="item in model">
                <div data-ng-click="applySorting(item.id)" class="fj-hbox MenuItem selected-{{item.selected}}">
                    <div class="fj-hbox-cell MenuItemCheck-{{item.selected}}">
                        <div class="status-icon-inner"></div>
                    </div>
                    <div class="fj-hbox-space MenuItemText">{{item.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>