<div class="ToolBar Queues">
	<input class="SearchBox" type="search"
        ng-model="newObj.query"
        x-webkit-speech=""
        placeholder="Search" />
		
  <div class="XButton QueueButtonToggle XButtonNormal" ng-click="viewIcon = !viewIcon">
    <div class="QueueViewIcon" ng-class="viewIcon ? 'QueueListView' : 'QueueTileView'"></div>
  </div>
    <select ng-if="viewIcon" class="XButton XButtonNormal XButtonDropDown XSortButton"
            ng-model="selectedSort" ng-options="sort_option.display_name for sort_option in sort_options"
            ng-change="sortBy(selectedSort.type)">
    </select>
</div>

<div class="ListViewTopSpace"></div>

<div ng-if="viewIcon" class="QueueList">
	<div class="Block" ng-repeat="queue in queues | filter: queueFilter() track by queue.xpid">
		<a href="#/queue/{{::queue.xpid}}" class="Header">
			<div class="Avatar AvatarNormal" context-menu="queue">
				<div class="GroupAvatarItem GroupAvatarItem_0">
					<img class="GroupAvatarItemImg" data-ng-src="{{ ::queue.getAvatar(0, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
				</div>
				<div class="GroupAvatarItem GroupAvatarItem_1">
					<img class="GroupAvatarItemImg" data-ng-src="{{ ::queue.getAvatar(1, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
				</div>
				<div class="GroupAvatarItem GroupAvatarItem_2">
					<img class="GroupAvatarItemImg" data-ng-src="{{ ::queue.getAvatar(2, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
				</div>
				<div class="GroupAvatarItem GroupAvatarItem_3">
					<img class="GroupAvatarItemImg" data-ng-src="{{ ::queue.getAvatar(3, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
				</div>
				<div class="AvatarInteractable"></div>
			</div>
			<div class="Title">
				<div class="Name">{{ ::queue.name }}</div>
				<div class="Agents">Agents: {{ 0 + ' / ' + queue.loggedInMembers + ' / ' + queue.members.length }}</div>
			</div>
		</a>
		
		<div class="Stats">
			<div ng-class="(queue.info.waiting > queueThresholds.waiting && queueThresholds.waiting != 0) ? 'RedText' : ''">
				<strong>{{ queue.info.waiting }}</strong>
				Waiting
			</div>
			<div ng-class="(queue.info.esa > queueThresholds.avg_wait && queueThresholds.avg_wait != 0) ? 'RedText' : ''">
				<strong>{{ queue.info.esa*1000 | duration }}</strong>
				Avg Wait
			</div>
			<div ng-class="(queue.info.avgTalk > queueThresholds.avg_wait && queueThresholds.avg_wait != 0) ? 'RedText' : ''">
				<strong>{{ queue.info.avgTalk*1000 | duration }}</strong>
				Avg Talk
			</div>
			<div >
				<strong>{{ queue.info.abandon + gadget.data.info.completed }}</strong>
				Total
			</div>
			<div ng-class="(queue.info.abandonPercent > queueThresholds.abandoned && queueThresholds.abandoned != 0) ? 'RedText' : ''">
				<strong>{{ queue.info.abandonPercent }}%</strong>
				Abandon
			</div>
			<div>
				<strong>{{ queue.info.active }}</strong>
				Active
			</div>
		</div>
	</div>
</div>

<div ng-if="!viewIcon" class="QueueList">
	<div class="Grid">
		<div class="Header">
			<div ng-click="sortBy('name')">
				<span>Queue Name</span>
				<div ng-if="sortColumn == 'name'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
			</div>
			<div ng-click="sortBy('callsWaiting')">
				<span>Waiting</span>		
				<div ng-if="sortColumn == 'callsWaiting'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
			</div>
			<div ng-click="sortBy('avgWait')">
				<span><span ng-if="sortColumn != 'avgWait'">Avg</span> Wait</span>		
				<div ng-if="sortColumn == 'avgWait'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
			</div>
			<div ng-click="sortBy('avgTalk')">
				<span><span ng-if="sortColumn != 'avgTalk'">Avg</span> Talk</span>		
				<div ng-if="sortColumn == 'avgTalk'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
			</div>
			<div ng-click="sortBy('total')">
				<span>Total</span>		
				<div ng-if="sortColumn == 'total'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
			</div>
			<div ng-click="sortBy('abandoned')">
				<span>Aband</span>		
				<div ng-if="sortColumn == 'abandoned'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
			</div>
			<div ng-click="sortBy('active')">
				<span>Active</span>		
				<div ng-if="sortColumn == 'active'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
			</div>
		</div>
		<div class="Table">
			<a href="#queue/{{::queue.xpid}}" class="Row" ng-repeat="queue in queues | filter: queueFilter() track by queue.xpid">
                <div>{{ ::queue.name }}</div>
				<div>{{ queue.info.waiting}}</div>
				<div>{{ queue.info.esa*1000 | duration}}</div>
				<div>{{ queue.info.avgTalk*1000 | duration}}</div>
				<div>{{ queue.info.abandon + queue.info.completed }}</div>
				<div>{{ queue.info.abandonPercent }}%</div>
				<div>{{ queue.info.active }}</div>
			</a>
		</div>
	</div>
</div>

<div class="ToolBarBottom" ng-show="selected == 'All Queues'">
  <input type="button" class="XButton" value="Reset All Stats" ng-click="resetStats()"  />
</div>


