<div class="ToolBar ">
  <div class="SearchInputBox">
    <div class="SearchInputBoxInputHolder"><input class="SearchInputBoxInput" type="text"
                                                  onchange="onSearch(!event, this)"
                                                  x-webkit-speech=""
                                                  placeholder="Search"></div>
    <div class="SearchInputBoxStateButton">
      <div class="SearchInputBoxStateButtonIcon"></div>
    </div>
  </div>
  <div class="XButton XButtonToggle XButtonNormal"><span><div class="QueueViewIcon QueueListView"></div></span>
  </div>
  <div class="fj-visibility-true conversation-queues-tab-tool-bar-sort-button">
    <div
      class="XButton XButtonNormal XButtonDropDown XSortButton disabled-false"><span>Sort by Queue name</span>

      <div class="XButtonDropDownArrow"></div>
    </div>
  </div>
</div>

<div class="ListViewTopSpace"></div>
<div class="LeftBarTabContentList">
  <div class="QueueBlockHolder AvatarHoverArea QueueDetailsEnabled-true"
       data-ng-repeat="queue in queues | filter: {name: query}">

    <div class="QueueBlock">
      <div class="Avatar AvatarNormal QueueBlockAvatar">
        <div class="AvatarImgPH GroupAvatarShowDefault-false">

          <div class="GroupAvatarItem GroupAvatarItem_0"><img class="GroupAvatarItemImg"
                                                              data-ng-src="{{ ::getAvatarUrl(queue, 0) }}">
          </div>
          <div class="GroupAvatarItem GroupAvatarItem_1"><img class="GroupAvatarItemImg"
                                                              data-ng-src="{{ ::getAvatarUrl(queue, 1) }}">
          </div>
          <div class="GroupAvatarItem GroupAvatarItem_2"><img class="GroupAvatarItemImg"
                                                              data-ng-src="{{ ::getAvatarUrl(queue, 2) }}">
          </div>
          <div class="GroupAvatarItem GroupAvatarItem_3"><img class="GroupAvatarItemImg"
                                                              data-ng-src="{{ ::getAvatarUrl(queue, 3) }}">
          </div>
        </div>
        <div class="AvatarForeground AvatarInteractable"></div>
      </div>
      <a href="#queue/{{::queue.xpid}}" class="QueueBlockTitle SortField"> {{ queue.name }} - {{ queue.description
        }}</a>

      <div class="QueueBlockStatus QueueBlockAgentsStatLine">
        <!--Agents:<span>{{queueStatMembers[queue.xpid].membersTalking}}</span> / <span>{{queueStatMembers[queue.xpid].membersCount}}</span> / <span>{{queueStatMembers[queue.xpid].membersLogged}}</span></div>-->
        Agents:<span>{{queue.loggedInMembers}}</span> / <span>{{queue.loggedOutMembers}}</span> / <span>{{queue.membersCount}}</span>
      </div>


      <div class="QueueBlockStat">
        <div class="QueueBlockStatInner">
          <div class="QueueBlockStatBlock">
            <div class="QueueBlockStatBlockValue"><span>{{ queue.info.waiting }}</span></div>
            <div class="QueueBlockStatBlockTitle">Waiting</div>
          </div>
          <div class="QueueBlockStatBlock">
            <div class="QueueBlockStatBlockValue"><span>{{ queue.info.waiting }}</span></div>
            <div class="QueueBlockStatBlockTitle">Avg Wait</div>
          </div>
          <div class="QueueBlockStatBlock">
            <div class="QueueBlockStatBlockValue"><span>{{ queue.info.avgTalk | Duration }}</span></div>
            <div class="QueueBlockStatBlockTitle">Avg Talk</div>
          </div>
          <div class="QueueBlockStatBlock">
            <div class="QueueBlockStatBlockValue"><span>{{ queue.info.completed }}</span></div>
            <div class="QueueBlockStatBlockTitle">Total</div>
          </div>
          <div class="QueueBlockStatBlock Red">
            <div class="QueueBlockStatBlockValue"><span>{{ queue.info.abandon }}</span>%
            </div>
            <div class="QueueBlockStatBlockTitle">Abandon</div>
          </div>
          <div class="QueueBlockStatBlock">
            <div class="QueueBlockStatBlockValue"><span>{{ queue.info.active }}</span></div>
            <div class="QueueBlockStatBlockTitle">Active</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="MenuWindow WidgetActionDropDownMenu" style="top: 216px; left: 621px;">
  <div class="MenuContent">
    <div class="MenuSection">
      <div>
        <div class="fj-hbox MenuItem selected-true">
          <div class="fj-hbox-cell MenuItemCheck-true">
            <div class="status-icon-inner"></div>
          </div>
          <div class="fj-hbox-space MenuItemText">Queue name</div>
        </div>
      </div>
      <div>
        <div class="fj-hbox MenuItem selected-false">
          <div class="fj-hbox-cell MenuItemCheck-false">
            <div class="status-icon-inner"></div>
          </div>
          <div class="fj-hbox-space MenuItemText">Calls waiting</div>
        </div>
      </div>
      <div>
        <div class="fj-hbox MenuItem selected-false">
          <div class="fj-hbox-cell MenuItemCheck-false">
            <div class="status-icon-inner"></div>
          </div>
          <div class="fj-hbox-space MenuItemText">Average wait time (ESA)</div>
        </div>
      </div>
      <div>
        <div class="fj-hbox MenuItem selected-false">
          <div class="fj-hbox-cell MenuItemCheck-false">
            <div class="status-icon-inner"></div>
          </div>
          <div class="fj-hbox-space MenuItemText">Average talk time</div>
        </div>
      </div>
      <div>
        <div class="fj-hbox MenuItem selected-false">
          <div class="fj-hbox-cell MenuItemCheck-false">
            <div class="status-icon-inner"></div>
          </div>
          <div class="fj-hbox-space MenuItemText">Total calls (since last reset)</div>
        </div>
      </div>
      <div>
        <div class="fj-hbox MenuItem selected-false">
          <div class="fj-hbox-cell MenuItemCheck-false">
            <div class="status-icon-inner"></div>
          </div>
          <div class="fj-hbox-space MenuItemText">Abandoned calls</div>
        </div>
      </div>
      <div>
        <div class="fj-hbox MenuItem selected-false">
          <div class="fj-hbox-cell MenuItemCheck-false">
            <div class="status-icon-inner"></div>
          </div>
          <div class="fj-hbox-space MenuItemText">Active calls</div>
        </div>
      </div>
    </div>
  </div>
</div>
