<div class="ToolBar Queues">
  <div class="SearchInputBox">
    <div class="SearchInputBoxInputHolder"><input class="SearchInputBoxInput" type="search"
                                                  ng-model="query"
                                                  x-webkit-speech=""
                                                  placeholder="Search"></div>
    <div class="SearchInputBoxStateButton">
      <div class="SearchInputBoxStateButtonIcon"></div>
    </div>
  </div>
  <div class="XButton QueueButtonToggle XButtonNormal">
    <span><div ng-click="viewIcon = !viewIcon" class="QueueViewIcon"
               ng-class="viewIcon ? 'QueueListView' : 'QueueTileView'"></div></span>
  </div>
  <div ng-if="viewIcon" class="fj-visibility-true conversation-queues-tab-tool-bar-sort-button">
    <select class="XButton XButtonNormal XButtonDropDown XSortButton ng-pristine ng-valid ng-touched"
            ng-model="selectedSort" ng-options="sort_option.display_name for sort_option in sort_options"
            ng-change="sortBy(selectedSort.type)">

    </select>
  </div>
</div>

<div class="ListViewTopSpace"></div>

<div ng-if="viewIcon" class="LeftBarTabContentList">
  <div class="QueueBlockHolder AvatarHoverArea QueueDetailsEnabled-true"
       data-ng-repeat="queue in queues | filter: {name: query} track by queue.xpid">

    <div class="QueueBlock">
      <div class="Avatar AvatarNormal QueueBlockAvatar" context-menu="queue">
        <div class="AvatarImgPH GroupAvatarShowDefault-false">

          <div class="GroupAvatarItem GroupAvatarItem_0"><img class="GroupAvatarItemImg"
                                                              data-ng-src="{{ ::getAvatarUrl(queue, 0) }}">
          </div>
          <div class="GroupAvatarItem GroupAvatarItem_1"><img class="GroupAvatarItemImg"
                                                              data-ng-src="{{ ::getAvatarUrl(queue, 1) }}">
          </div>
          <div class="GroupAvatarItem GroupAvatarItem_2"><img class="GroupAvatarItemImg"
                                                              data-ng-src="{{ ::getAvatarUrl(queue, 2) }}">
          </div>
          <div class="GroupAvatarItem GroupAvatarItem_3"><img class="GroupAvatarItemImg"
                                                              data-ng-src="{{ ::getAvatarUrl(queue, 3) }}">
          </div>
        </div>
        <div class="AvatarForeground AvatarInteractable"></div>
      </div>
      <a href="#queue/{{::queue.xpid}}" class="QueueBlockTitle SortField"> {{ queue.name }} - {{ queue.description}}</a>

      <div class="QueueBlockStatus QueueBlockAgentsStatLine">
        <!--Agents:<span>{{queueStatMembers[queue.xpid].membersTalking}}</span> / <span>{{queueStatMembers[queue.xpid].membersCount}}</span> / <span>{{queueStatMembers[queue.xpid].membersLogged}}</span></div>-->
        Agents:<span>{{queue.loggedInMembers}}</span> / <span>{{queue.loggedOutMembers}}</span> / <span>{{queue.membersCount}}</span>
      </div>

      <div class="QueueBlockStat">
        <div class="QueueBlockStatInner">
          <div class="QueueBlockStatBlock">
            <div class="QueueBlockStatBlockValue"><span>{{ queue.info.waiting }}</span></div>
            <div class="QueueBlockStatBlockTitle">Waiting</div>
          </div>
          <div class="QueueBlockStatBlock">
            <div class="QueueBlockStatBlockValue"><span>{{ queue.info.waiting }}</span></div>
            <div class="QueueBlockStatBlockTitle">Avg Wait</div>
          </div>
          <div class="QueueBlockStatBlock">
            <div class="QueueBlockStatBlockValue"><span>{{ queue.info.avgTalk | duration }}</span></div>
            <div class="QueueBlockStatBlockTitle">Avg Talk</div>
          </div>
          <div class="QueueBlockStatBlock">
            <div class="QueueBlockStatBlockValue"><span>{{ queue.info.completed }}</span></div>
            <div class="QueueBlockStatBlockTitle">Total</div>
          </div>
          <div class="QueueBlockStatBlock Red">
            <div class="QueueBlockStatBlockValue"><span>{{ queue.info.abandon }}</span>%
            </div>
            <div class="QueueBlockStatBlockTitle">Abandon</div>
          </div>
          <div class="QueueBlockStatBlock">
            <div class="QueueBlockStatBlockValue"><span>{{ queue.info.active }}</span></div>
            <div class="QueueBlockStatBlockTitle">Active</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="!viewIcon" class="fj-content WidgetTabContent">
  <div>
    <div class="fj-hbox QueueTableHeader ListLineContent Header">
      <div ng-click="sortBy('name')" class="recent-selected-column fj-hbox-space ListLineContentCell Name">
        <span>Queue Name</span>
        <div ng-if="sortColumn == 'name'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
      </div>
      <div ng-click="sortBy('callsWaiting')"  class="recent-selected-column fj-hbox-cell ListLineContentCell Number"><span>Waiting </span>

        <div ng-if="sortColumn == 'callsWaiting'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
      </div>
      <div ng-click="sortBy('avgWait')" class="recent-selected-column fj-hbox-cell ListLineContentCell AvgWaiting"><span>Avg Wait </span>

        <div ng-if="sortColumn == 'avgWait'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
      </div>
      <div ng-click="sortBy('avgTalk')" class="recent-selected-column fj-hbox-cell ListLineContentCell AvgTalk"><span>Avg. Talk</span>

        <div ng-if="sortColumn == 'avgTalk'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
      </div>
      <div ng-click="sortBy('total')" class="recent-selected-column fj-hbox-cell ListLineContentCell Number"><span>Total</span>

        <div ng-if="sortColumn == 'total'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
      </div>
      <div ng-click="sortBy('abandoned')" class="recent-selected-column fj-hbox-cell ListLineContentCell Number"><span>Aband</span>

        <div ng-if="sortColumn == 'abandoned'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
      </div>
      <div ng-click="sortBy('active')" class="recent-selected-column fj-hbox-cell ListLineContentCell Number"><span>Active</span>

        <div ng-if="sortColumn == 'active'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
      </div>
    </div>
  </div>
  <div class="ListView WithToolBar QueueListView-false">
    <div class="fj-viewport" style="overflow: hidden;">
      <div class="fj-viewcontent"
           data-ng-repeat="queue in queues | filter: {name: query}">
        <!--<div class="ListViewTopSpace"></div>-->
        <div>
          <div class="fj-scroll-content" style="top: 0px;">
            <div class="{{$even?'ListRow ListLine':'ListRowOdd'}}">
              <div class="fj-hbox ListLineContent ListLineContentTop">
                <a href="#queue/{{::queue.xpid}}">
                  <div class="fj-hbox-space ListLineContentCell Name"><span>{{ queue.name }}</span>
                </a>
              </div>
              <div class="fj-hbox-cell ListLineContentCell Number"><span>{{ queue.info.waiting}} </span>
              </div>
              <div class="fj-hbox-cell ListLineContentCell AvgWaiting"><span>{{ queue.info.waiting}}</span>
              </div>
              <div class="fj-hbox-cell ListLineContentCell AvgTalk"><span>{{ queue.info.avgTalk | duration}}</span>
              </div>
              <div class="fj-hbox-cell ListLineContentCell Number"><span>{{ queue.info.completed }}</span>
              </div>
              <div class="fj-hbox-cell ListLineContentCell Number"><span>{{ queue.info.abandoned }}</span>
              </div>
              <div class="fj-hbox-cell ListLineContentCell Number"><span>{{ queue.info.active }}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="fj-scroll fj-ui-scrollerFr" style="visibility: hidden;">
    <div class="fj-ui-scrollerFr-decoration"></div>
    <div class="fj-ui-scroller">
      <div class="fj-ui-scroller-decoration"></div>
    </div>
  </div>
</div>
<div class="ToolBarBottom">
  <div class="XButtonResetAllStat"></div>
</div>
</div>


