<div class="Widget Queues" id="WidgetCallCenter">
  <div class="WidgetHeader">
    <div class="TopBarItemAppIcon CallCenter"></div>
    <div class="WidgetHeaderTitle">{{::verbage.callcenter}}</div>
    <div class="WidgetStat">
      <div class="row first">
        <div class="Left">
            <div class="Labels">
                <div>{{::verbage.logged_in_agents}}:</div>              
            </div>
            <div class="Data">
                <div>{{ total.loggedIn + ' of ' + total.members }}</div>                
            </div>
        </div>
        <div class="Right">
            <div class="Labels">
                <div>{{::verbage.queue_sort_calls_wait}}:</div>                          
            </div>
            <div class="Data">
                <div>{{ total.waiting }}</div>              
            </div>
        </div>
      </div>
      <div class="row second">
        <div class="Left">
            <div class="Labels">               
                <div>{{::verbage.active_agents}}:</div>
            </div>
            <div class="Data">               
                <div>{{ total.active }}</div>
            </div>
        </div>
        <div class="Right">
            <div class="Labels">                           
                <div>{{::verbage.queue_sort_total_calls}}:</div>
            </div>
            <div class="Data">                
                <div>{{ total.calls }}</div>
            </div>
        </div>
      </div>		
    </div>
  </div>

  <div class="WidgetBody">
    <div class="WidgetTabBar">
      <span ng-repeat="tab in tabs">
      	<a href="#/callcenter/{{ ::tab.lower }}" ng-click="saveTab(tab.lower, $index)" class="WidgetTabBarButton Ready" ng-class="{'fj-selected-item' : toggleObject.item == $index}">
      		<div class="inner">{{ ::tab.upper }}</div>
      		<div class="arrow"></div>
      	</a>
      </span>   
    </div>

    <!-- ng-views -->
    <div ng-if="selected == 'myqueue'" class="ListView WithToolBar"
         include-once="views/queues/AllQueues.html" 
		 ng-controller="CallCenterQueueController"></div>
    <div ng-if="selected == 'allqueues'" class="ListView WithToolBar"
         include-once="views/queues/AllQueues.html" 
		 ng-controller="CallCenterQueueController"></div>
    <div ng-if="selected == 'mystatus'" class="MyStatus ListView WithToolBar"
         include-once="views/queues/MyStatus.html" 
		 ng-controller="CallCenterMyStatusController"></div>
  </div>

</div>
