<div class="Widget Queues" id="WidgetCallCenter">
  <div class="WidgetHeader">
    <div class="TopBarItemAppIcon CallCenter"></div>
    <div class="WidgetHeaderTitle">Call Center</div>
    <div class="WidgetStat WidgetStatQueue">
      <div class="fj-hbox WidgetStatEntry c00">
        <div class="fj-hbox-cell Label">Logged-in Agents:</div>
        <div class="fj-hbox-space Value">{{ total.loggedIn + ' of ' + total.members }}
        </div>
      </div>
      <div class="fj-hbox WidgetStatEntry c01">
        <div class="fj-hbox-cell Label">Calls Waiting:</div>
        <div class="fj-hbox-space Value">{{ total.waiting }}</div>
      </div>
      <div class="fj-hbox WidgetStatEntry c10">
        <div class="fj-hbox-cell Label">Active Agents:</div>
        <div class="fj-hbox-space Value">{{ total.active }}</div>
      </div>
      <div class="fj-hbox WidgetStatEntry c11">
        <div class="fj-hbox-cell Label">Total Calls (since last reset):</div>
        <div class="fj-hbox-space Value">{{ total.calls }}</div>
      </div>
    </div>
  </div>

  <div class="WidgetBody">
    <div class="WidgetTabBar">
      <a href="" ng-repeat="tab in tabs" ng-click="$parent.selected = tab" class="WidgetTabBarButton Ready"
         ng-class="selected == tab ? 'fj-selected-item' : ''">
        <div class="inner">{{ ::tab }}</div>
        <div class="arrow"></div>
      </a>
    </div>

    <!-- ng-views -->
    <div ng-if="selected == 'My Queue'" class="ListView WithToolBar"
         ng-include="'views/queues/AllQueues.html'" ng-controller="CallCenterController" ng-init="init(false, 'My Queue')"></div>
    <div ng-if="selected == 'All Queues'" class="ListView WithToolBar"
         ng-include="'views/queues/AllQueues.html'" ng-controller="CallCenterController"  ng-init="init(true, 'All Queues')"></div>
    <div ng-if="selected == 'My Status'" class="fj-content WidgetTabContent myStatus"
         ng-include="'views/queues/MyStatus.html'" ng-controller="CallCenterMyStatusController"></div>

  </div>

</div>
