<div class="fj-content WidgetTabContent">
  <div>
    <div class="ToolBar ">
      <div class="SearchInputBox">
        <div class="SearchInputBoxInputHolder"><input class="SearchInputBoxInput" type="text"
                                                      onchange="onSearch(!event, this)"
                                                      x-webkit-speech=""
                                                      placeholder="Search"></div>
        <div class="SearchInputBoxStateButton">
          <div class="SearchInputBoxStateButtonIcon"></div>
        </div>
      </div>
      <div class="XButton XButtonToggle XButtonNormal"><span><div class="QueueViewIcon QueueListView"></div></span>
      </div>
      <div class="fj-visibility-true conversation-queues-tab-tool-bar-sort-button">
        <div
          class="XButton XButtonNormal XButtonDropDown XSortButton disabled-false"><span>Sort by Queue name</span>

          <div class="XButtonDropDownArrow"></div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="myQueues.length > 0" class="fj-visibility-false">
    <div class="fj-hbox QueueTableHeader ListLineContent Header">
      <div class="fj-hbox-space ListLineContentCell Name"><span>Queue Name</span>

        <div class="asc_arrow"></div>
      </div>
      <div class="fj-hbox-cell ListLineContentCell Number"><span>Waiting </span>

        <div class="asc_arrow"></div>
      </div>
      <div class="fj-hbox-cell ListLineContentCell AvgWaiting"><span>Avg Wait </span>

        <div class="asc_arrow"></div>
      </div>
      <div class="fj-hbox-cell ListLineContentCell AvgTalk"><span>Avg. Talk</span>

        <div class="asc_arrow"></div>
      </div>
      <div class="fj-hbox-cell ListLineContentCell Number"><span>Total</span>

        <div class="asc_arrow"></div>
      </div>
      <div class="fj-hbox-cell ListLineContentCell Number"><span>Aband</span>

        <div class="asc_arrow"></div>
      </div>
      <div class="fj-hbox-cell ListLineContentCell Number"><span>Active</span>

        <div class="asc_arrow"></div>
      </div>
    </div>
  </div>
  <div class="fj-scrollable ListView WithToolBar QueueListView-false">
    <div class="fj-viewport" style="overflow: hidden;">
      <div class="fj-viewcontent"
           data-ng-repeat="queue in myQueues | orderBy:sortField:sortReverse">
        <!--<div class="ListViewTopSpace"></div>-->
        <div class="">
          <div class="fj-scroll-content" style="top: 0px;">
            <div class="{{$even?'ListRow ListLine':'ListRowOdd'}}">
              <!--<div class="{{$index%2==0?'ListRow ListLine':'ListRowOdd'}}">-->
              <!--<div class="ListRow {{$index%2==0?'':'ListRowOdd'}} ListLine ListLineExpanded">-->
              <div class="fj-hbox ListLineContent ListLineContentTop">
                <div class="fj-hbox-cell ListLineContentCell Status">
                  <div class="ListLineContentCellIcon XIcon-ChatStatus-Available"></div>
                </div>
                <div class="fj-hbox-cell ListLineContentCell Status">
                  <div title="" class="ListLineContentCellIcon XIcon-QueueStatus LockedIn"></div>
                </div>
                <div class="fj-hbox-space ListLineContentCell Name"><span>{{ queue.name }}</span>
                </div>
                <div class="fj-hbox-cell ListLineContentCell Number"><span>Waiting </span>
                </div>
                <div class="fj-hbox-cell ListLineContentCell AvgWaiting"><span>Avg Wait </span>
                </div>
                <div class="fj-hbox-cell ListLineContentCell AvgTalk"><span>Avg. Talk</span>
                </div>
                <div class="fj-hbox-cell ListLineContentCell Number"><span>Total</span>
                </div>
                <div class="fj-hbox-cell ListLineContentCell Number"><span>Aband</span>
                </div>
                <div class="fj-hbox-cell ListLineContentCell Number"><span>Active</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--<div class="fj-viewcontent">-->
      <!--<div class="ListViewTopSpace"></div>-->
      <!--<div-->
      <!--class="ListIsEmpty" style="display: block;">-->
      <!--<div class="fj-scroll-content"></div>-->
      <!--<div></div>-->
      <!--</div>-->
      <!--<div class="QueueTableList ListIsEmpty" style="display: none;">-->
      <!--<div class="fj-scroll-content"></div>-->
      <!--<div></div>-->
      <!--</div>-->
      <!--</div>-->
    </div>
    <div class="fj-scroll fj-ui-scrollerFr" style="visibility: hidden;">
      <div class="fj-ui-scrollerFr-decoration"></div>
      <div class="fj-ui-scroller">
        <div class="fj-ui-scroller-decoration"></div>
      </div>
    </div>
  </div>
  <div class="ToolBarBottom">
    <div class="XButtonResetAllStat"></div>
  </div>
</div>
