<div class="ToolBar">
  <select class="SelectBox XButton" ng-model="checkSelect" ng-change="selectQueues(checkSelect); checkSelect = ''">
	<option value="">{{::verbage.select}}</option>
	<option value="all">{{::verbage.select_all}}</option>
	<option value="clear">{{::verbage.clear_selection}}</option>
  </select>
  
  <select class="SelectBox XButton" 
	ng-model="mystatus.logoutReason" 
	ng-change="loginQueues(false)" 
	ng-disabled="disableLogout"
	ng-options="reason.name for reason in reasons | orderBy:'name' track by reason.xpid">
		<option value="">{{::verbage.logout}}</option>
  </select>
  
  <input type="button" class="XButton" value="{{::verbage.login}}" ng-click="loginQueues(true)" ng-disabled="disableLogin" />
</div>

<div class="QueueList">
	<div class="ListRow" ng-repeat="queue in queues | orderBy: 'name' track by queue.xpid" ng-click="checkboxes[queue.xpid] = !checkboxes[queue.xpid]">	
		<div class="Avatar AvatarNormal" context-menu="queue">
			<div class="GroupAvatarItem GroupAvatarItem_0">
				<img class="GroupAvatarItemImg" data-ng-src="{{ ::queue.getAvatar(0, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
			</div>
			<div class="GroupAvatarItem GroupAvatarItem_1">
				<img class="GroupAvatarItemImg" data-ng-src="{{ ::queue.getAvatar(1, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
			</div>
			<div class="GroupAvatarItem GroupAvatarItem_2">
				<img class="GroupAvatarItemImg" data-ng-src="{{ ::queue.getAvatar(2, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
			</div>
			<div class="GroupAvatarItem GroupAvatarItem_3">
				<img class="GroupAvatarItemImg" data-ng-src="{{ ::queue.getAvatar(3, 28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
			</div>
			<div class="AvatarInteractable"></div>
		</div>

		<div class="ListRowContent">
			<div class="ListRowTitle">
				{{ ::queue.name }}
				<br/>
				<div class="ListRowStatusIcon XIcon-QueueStatus-{{ queue.me.status.status }}"></div>
				{{ queueStatusLabel(queue.me.status.status) }}
			</div>
		</div>
		
		<div class="ListRowStatus">
			<input type="checkbox" 
				ng-model="checkboxes[queue.xpid]" 
				ng-click="$event.stopPropagation();"
				ng-true-value="true" ng-false-value="false" 
				ng-init="checkboxes[queue.xpid] = false" 
				ng-if="queue.me.status.status.indexOf('permanent') == -1" />
		</div>
	</div>
</div>