<div class="LeftBarTabContentList">
  <div class="ToolBar">
    <div></div>
    <div></div>
    <div class="SearchInputBox">
      <div class="SearchInputBoxInputHolder"><input class="SearchInputBoxInput" type="text"
                                                    onchange="onSearchEvent($event)"
                                                    x-webkit-speech=""
                                                    placeholder="Search"></div>
      <div class="SearchInputBoxStateButton">
        <div class="SearchInputBoxStateButtonIcon"></div>
      </div>
    </div>
  </div>
  <div class="ListSection">
    <div class="ListSectionHeader Expandable">
      <div class="ListSectionHeaderTitle">In Qeueue</div>
    </div>
    <div class="ListSectionBody">Nobody is waiting</div>
  </div>

  <!--<a href="#contact/{{::member.contactId}}"-->
  <!--class="ListRow Table AvatarHoverArea"-->
  <!--data-ng-repeat="member in loggedInMembers | SortCalllog | orderBy:sortField:sortReverse">-->

  <!--<div ng-include="'views/queues/QueueMemberSection.html'"></div>-->

  <!--</a>-->

  <div class="ListSection">
    <div class="ListSectionHeader Expandable">
      <div class="ListSectionHeaderTitle">Active Calls (Answered)</div>
    </div>
    <div class="ListSectionBody">No Active Calls</div>
  </div>


  <!--<a href="#contact/{{::member.contactId}}"-->
  <!--class="ListRow Table AvatarHoverArea"-->
  <!--data-ng-repeat="member in loggedOutMembers | SortCalllog | orderBy:sortField:sortReverse">-->

  <!--<div ng-include="'views/queues/QueueMemberSection.html'"></div>-->

  <!--</a>-->

</div>

