<div class="ToolBar ">
  <input type="search" class="SearchBox" ng-model="query" placeholder="Search" />
    <select class="XButton XButtonNormal XButtonDropDown XSortButton" ng-model="selectedSort">
		<option value="displayName">Sort By Name</option>
		<option value="queue_status">Sort By Call Status</option>
		<option value="hud_status">Sort By Chat Status</option>
    </select>
</div>

<div class="QueueList">
  <div class="ListSection">
    <div class="ListSectionHeader">
      <div class="ListSectionHeaderTitle">{{::verbage.logged_in}}</div>
    </div>
    <div class="ListSectionBody">Agents logged into the queue</div>
  </div>

  <div 
	ng-include="'views/queues/QueueMemberSection.html'"
    data-ng-repeat="member in loggedInMembers | filter: {displayName: query} | orderBy: selectedSort">
  </div>

  <div class="ListSection">
    <div class="ListSectionHeader">
      <div class="ListSectionHeaderTitle">{{::verbage.logged_out}}</div>
    </div>
    <div class="ListSectionBody">Agents logged out of the queue</div>
  </div>

  <div
	ng-include="'views/queues/QueueMemberSection.html'"
    data-ng-repeat="member in loggedOutMembers | filter: {displayName: query} | orderBy: selectedSort">
  </div>
</div>

