<div class="ListLineContent Header LeftContactsColumns">

</div>

<div class="LeftBarTabContentList">
  <div class="ListSection">
    <div class="ListSectionHeader">
      <div class="ListSectionHeaderTitle">Call Log</div>
    </div>
    <div class="ListSectionBody">TODO</div>
  </div>

  <!--<a href="#contact/{{::member.contactId}}"-->
     <!--class="ListRow Table AvatarHoverArea"-->
     <!--data-ng-repeat="member in loggedInMembers | SortCalllog | orderBy:sortField:sortReverse">-->

    <!--<div ng-include="'views/queues/QueueMemberSection.html'"></div>-->

  <!--</a>-->

  <!--<div class="ListSection">-->
    <!--<div class="ListSectionHeader">-->
      <!--<div class="ListSectionHeaderTitle">Logged Out</div>-->
    <!--</div>-->
    <!--<div class="ListSectionBody">Agents logged out of the queue</div>-->
  <!--</div>-->


  <!--<a href="#contact/{{::member.contactId}}"-->
     <!--class="ListRow Table AvatarHoverArea"-->
     <!--data-ng-repeat="member in loggedOutMembers | SortCalllog | orderBy:sortField:sortReverse">-->

    <!--<div ng-include="'views/queues/QueueMemberSection.html'"></div>-->

  <!--</a>-->
</div>

