<a href="#contact/{{member.contactId}}">
  <div class="Avatar AvatarSmall">
    <img class="AvatarImgPH"
         ng-src="{{ getAvatarUrl(member.contactId)}}">

    <div class="AvatarInteractable"></div>
  </div>
  <div class="ListRowContent">

    <div class="ListRowLeftAreaWide">
      <div class="ListRowTitle"> {{ member.displayName}}</div>
      <div
        class="ListRowStatusIcon XIcon-QueueStatus XIcon-QueueStatus-{{member.status.status}}">
        <div class="status-icon-inner"></div>
      </div>


      <!--<div class=" XIcon-QueueStatus  QueueStatus" ng-class="member.status.status == 'login' ? 'XIcon-QueueStatus-login' : 'XIcon-QueueStatus-logout' "></div>-->
      <!--<div class="QueueStatus ListRowStatusText">{{member.status.status == 'login' ?  'Logged in' : 'Logged Out'}}</div>-->

      <div class="ListRowStatusIcon XIcon-ChatStatus-{{member.status.status}}">
        <div class="status-icon-inner"></div>
      </div>

      <div class="ListRowStatus ListRowStatusText">{{member.status.status ||
        member.contact.displayName || 'offline'}}
      </div>
    </div>
    <div class="ListRowStatus">


      <div class="Link ListRowDesc">#{{ member.extension }}</div>

    </div>
  </div>
</a>

