<div class="StatHeader">
	<div class="StatBlock">
		<span>Holding</span>
		<span>{{ queue.info.waiting }}</span>
	</div>
	<div class="StatBlock">
		<span>Abandon</span>
		<span>{{ queue.info.abandonPercent }}%</span>
	</div>
	<div class="StatBlock">
		<span>Complete</span>
		<span>{{ queue.info.completedPercent }}%</span>
	</div>
	<div class="StatBlock">
		<span>TTA SLA</span>
		<span>{{ queue.info.completedSlaPercent }}%</span>
	</div>
	<div class="StatBlock">
		<span>Avg Talk</span>
		<span>{{ queue.info.avgTalk }} sec</span>
	</div>
	<div class="StatBlock">
		<span>ESA</span>
		<span>{{ queue.info.esa }} sec</span>
	</div>
</div>

<div class="ResetDate">
	Reset: {{ queue.info.resetTime | date: 'yyyy MMMM d, h:mm a' }}
</div>

<div class="ListView QueueStatTable">
	<div class="Row Header">
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>Agent Name</div>
		<div>Talk / Idle</div>
		<div>Calls</div>
		<div>Avg Talk</div>
		<div>&nbsp;</div>
	</div>
	
	<div class="Table">
		<div class="Agent" ng-repeat="member in queueMembers | orderBy: 'displayName' track by member.xpid" ng-init="row[member.xpid] = false">
			<div class="Row" ng-click="row[member.xpid] = !row[member.xpid]" ng-class="row[member.xpid] ? 'Selected' : ''">
				<div><div class="ListRowStatusIcon XIcon-ChatStatus-{{contact.hud_status || 'offline' }}"></div></div>
				<div><div class="ListRowStatusIcon XIcon-QueueStatus XIcon-QueueStatus-{{contact.queue_status}}"></div></div>
				<div>{{member.displayName}}</div>
				<div>0</div>
				<div>0</div>
				<div>{{ 0 | duration }}</div>
				<div><div class="TwistieArrow" ng-class="row[member.xpid] ? 'Open' : 'Closed'"></div></div>
			</div>
			
			<div class="Details" ng-show="row[member.xpid]">
				<div class="SubHeader">Other queues</div>
				<div class="Row" ng-repeat="queue in member.otherQueues" ng-click="goToQueue(queue.xpid)">
					<div>&nbsp;</div>
					<div>&nbsp;</div>
					<div>{{ queue.name }}</div>
					<div>0</div>
					<div>0</div>
					<div>{{ 0 | duration }}</div>
					<div>&nbsp;</div>
				</div>
				<div class="Empty" ng-if="member.otherQueues.length == 0">Agent of this queue only</div>
				
				<div class="SubHeader">Current queue calls</div>
				<div class="Empty">no calls</div>
			</div>
		</div>
	</div>
</div>

<!--
      <div ng-click="sortBy('name')" class="recent-selected-column fj-hbox-space ListLineContentCell Name">
        <span>Agent Name</span>
        <div ng-if="sortColumn == 'name'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
      </div>

      <div ng-click="sortBy('talkIdle')" class="recent-selected-column fj-hbox-space ListLineContentCell Duration">
        <span>Talk / Idle</span>
        <div ng-if="sortColumn == 'talkIdle'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
      </div>

      <div ng-click="sortBy('calls')" class="recent-selected-column fj-hbox-space ListLineContentCell Calls">
        <span>Calls</span>
        <div ng-if="sortColumn == 'calls'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
      </div>

      <div ng-click="sortBy('avgTalk')" class="recent-selected-column fj-hbox-space ListLineContentCell AvgTalk">
        <span>Avg Talk</span>
        <div ng-if="sortColumn == 'avgTalk'" ng-class="isAscending ? 'asc_arrow' : 'desc_arrow'"></div>
      </div>
-->