<div class="ListLineContent Header LeftContactsColumns">

</div>

<div class="LeftBarTabContentList">
  <div class="ListSection">
    <div class="ListSectionHeader">
      <div class="ListSectionHeaderTitle">In Qeueue</div>
    </div>
    <div class="ListSectionBody">Nobody is waiting</div>
  </div>

  <!--<a href="#contact/{{::member.contactId}}"-->
     <!--class="ListRow Table AvatarHoverArea"-->
     <!--data-ng-repeat="member in loggedInMembers | SortCalllog | orderBy:sortField:sortReverse">-->

    <!--<div ng-include="'views/queues/QueueMemberSection.html'"></div>-->

  <!--</a>-->

  <div class="ListSection">
    <div class="ListSectionHeader">
      <div class="ListSectionHeaderTitle">Active Calls (Answered)</div>
    </div>
    <div class="ListSectionBody">No Active Calls</div>
  </div>


  <!--<a href="#contact/{{::member.contactId}}"-->
     <!--class="ListRow Table AvatarHoverArea"-->
     <!--data-ng-repeat="member in loggedOutMembers | SortCalllog | orderBy:sortField:sortReverse">-->

    <!--<div ng-include="'views/queues/QueueMemberSection.html'"></div>-->

  <!--</a>-->
</div>

