<a href="#contact/{{member.contactId}}">
  <div class="Avatar AvatarSmall">
    <img class="AvatarImgPH"
         ng-src="{{ getAvatarUrl(member.contactId)}}">

    <div class="AvatarInteractable"></div>
  </div>
  <div class="ListRowContent">

    <div class="ListRowLeftAreaWide">
      <div class="ListRowTitle"> {{ member.displayName}}</div>
        <div
          class="ListRowStatusIcon XIcon-QueueStatus"
          ng-class="member.status.status == 'login' ? 'XIcon-QueueStatus-login' : 'XIcon-QueueStatus-logout' ">
         </div>

        <div class="ListRowStatusIcon"
          ng-class="member.status.status == 'login' ? 'XIcon-ChatStatus-available' : 'XIcon-ChatStatus-unavailable' ">
        </div>

        <div class="fj-hbox-space ListRowStatusText">
          {{member.status.status == 'login' ? 'Logged In' : 'Logged Out'}}
        </div>
    </div>
    <div class="ListRowStatus">
      <div class="Link ListRowDesc">#{{ member.extension }}</div>

    </div>
  </div>
</a>
