<div class="Widget Queues" id="WidgetCallCenter">

  <div class="WidgetHeader">
    <avatar profile="queue"></avatar>
    <div class="WidgetHeaderTitle Single"><span>{{::queue.name}}</span></div>
	
    <div class="WidgetStat">
		<div class="Left">
			<div class="Labels">
				<div>{{::verbage.agents}}:</div>
				<div>{{::verbage.Reset_word}}:</div>
			</div>
			<div class="Data">
				<div>{{ queue.loggedInMembers + ' of ' + queue.members.length}}</div>
				<div>{{ queue.info.resetTime | date: 'M/d - h:mm a' }}</div>
			</div>
		</div>
		<div class="Right">
			<div class="Labels">
				<div>{{::verbage.calls_holding}}:</div>
				<div>{{::verbage.total_calls}}:</div>
			</div>
			<div class="Data">
				<div>{{ queue.info.waiting }}</div>
				<div>{{ queue.info.completed + queue.info.abandon }}</div>
			</div>
		</div>
    </div>
  </div>

  <div class="WidgetBody">
    <div class="WidgetTabBar">
      <span ng-repeat="tab in tabs | filter: tabFilter()" >      
        <a href="#/queue/{{ ::queueId + '/' + tab.lower}}" ng-click="saveQTab(tab.lower, $index)" class="WidgetTabBarButton Ready" ng-class="{'fj-selected-item' : toggleObject.item == $index}">
          <div class="inner">{{ ::tab.upper }}</div>
          <div class="arrow"></div>
        </a>
      </span>     
    </div>
   
    <!-- ng-views -->
    <div ng-if="selected == 'agents' || toggleObject.item == 0" class="ListView WithToolBar" 
		include-once="views/queues/QueueWidgetAgents.html" ng-controller="QueueWidgetAgentsController"></div>
    <div ng-if="selected == 'stats' || toggleObject.item == 1" class="ListView WithToolBar"
         include-once="views/queues/QueueWidgetStats.html" ng-controller="QueueWidgetStatsController"></div>
    <div ng-if="selected == 'calls' || toggleObject.item == 2" class="ListView WithToolBar"
         include-once="views/queues/QueueWidgetCalls.html" ng-controller="QueueWidgetCallsController"></div>
    <div ng-if="selected == 'chat' || toggleObject.item == 3" class="ListView ChatView"
         include-once="views/ChatView.html" ng-controller="ChatController"></div>
    <div ng-if="selected == 'calllog' || toggleObject.item == 4" class="ListView CallLog"
         include-once="views/CallLog.html" ng-controller="CallLogController"></div>
    <div ng-if="selected == 'recordings' || toggleObject.item == 5" class="ListView WithToolBar"
         include-once="views/Recordings.html" ng-controller="RecordingsController"></div>
    <div ng-if="selected == 'alerts' || toggleObject.item == 6" class="ListView ChatView"
         include-once="views/ChatView.html" ng-controller="ChatController"></div>

  </div>

</div>
