<a href="#contact/{{member.xpid}}" class="ListRow">
  <avatar profile="member"></avatar>
  
  <div class="ListRowContent" dockable="member">
    <div class="ListRowTitle">
		<strong> {{ member.displayName}}</strong>
		<br/>
		<div class="ListRowStatusIcon XIcon-QueueStatus XIcon-QueueStatus-{{member.queue_status}}"></div>

		<div class="ListRowStatusIcon XIcon-ChatStatus-{{ verbage[member.hud_status] || verbage['offline'] }}"></div>
		{{ ::verbage[member.hud_status] || verbage['offline'] }}
    </div>
    <div class="ListRowStatus">
      <div class="Link ListRowDesc">#{{ ::member.primaryExtension }}</div>
    </div>
    <input style="float:right"class="vmcallbtn" type="button" value="Call" ng-click="callExtension(member.primaryExtension)"></input>
  </div>
</a>
