<div class="Widget Queues" id="WidgetCallCenter">

  <div class="WidgetHeader">
    <div class="Avatar AvatarNormal">
      <div class="AvatarImgPH GroupAvatarShowDefault-false">
        <div class="GroupAvatarItem GroupAvatarItem_0">
			<img class="GroupAvatarItemImg" ng-src="{{::queue.getAvatar(0, 28)}}" onerror="this.src='img/Generic-Avatar-28.png'" />
		</div>
        <div class="GroupAvatarItem GroupAvatarItem_1">
			<img class="GroupAvatarItemImg" ng-src="{{::queue.getAvatar(1, 28)}}" onerror="this.src='img/Generic-Avatar-28.png'" />
		</div>
        <div class="GroupAvatarItem GroupAvatarItem_2">
			<img class="GroupAvatarItemImg" ng-src="{{::queue.getAvatar(2, 28)}}" onerror="this.src='img/Generic-Avatar-28.png'" />
		</div>
        <div class="GroupAvatarItem GroupAvatarItem_3">
			<img class="GroupAvatarItemImg" ng-src="{{::queue.getAvatar(3, 28)}}" onerror="this.src='img/Generic-Avatar-28.png'" />
		</div>
      </div>
      <div class="AvatarForeground AvatarInteractable"></div>
    </div>
    <div class="WidgetHeaderTitle Single"><span>{{::queue.name}}</span></div>
	
    <div class="WidgetStat">
		<div class="Left">
			<div class="Labels">
				<div>Agents:</div>
				<div>Reset:</div>
			</div>
			<div class="Data">
				<div>{{ queue.loggedInMembers + ' of ' + queue.members.length}}</div>
				<div>{{ queue.info.resetTime | date: 'M/d - h:mm a' }}</div>
			</div>
		</div>
		<div class="Right">
			<div class="Labels">
				<div>Calls Holding:</div>
				<div>Total Calls:</div>
			</div>
			<div class="Data">
				<div>{{ queue.info.waiting }}</div>
				<div>{{ queue.info.completed + queue.info.abandon }}</div>
			</div>
		</div>
    </div>
  </div>

  <div class="WidgetBody">
    <div class="WidgetTabBar">
      <span ng-repeat="tab in tabs">
        <a href="#/queue/{{ ::queueId + '/' + tab.lower}}" class="WidgetTabBarButton Ready" ng-class="selected == tab.lower ? 'fj-selected-item': ''" ng-if="!tab.hide">
          <div class="inner">{{ ::tab.upper }}</div>
          <div class="arrow"></div>
        </a>
      </span>     
    </div>

    <!-- ng-views -->
    <div ng-if="selected == 'agents'" class="ListView WithToolBar" 
		ng-include="'views/queues/QueueWidgetAgents.html'" ng-controller="QueueWidgetAgentsController"></div>
    <div ng-if="selected == 'stats'" class="ListView WithToolBar"
         ng-include="'views/queues/QueueWidgetStats.html'" ng-controller="QueueWidgetStatsController"></div>
    <div ng-if="selected == 'calls'" class="ListView WithToolBar"
         ng-include="'views/queues/QueueWidgetCalls.html'" ng-controller="QueueWidgetCallsController"></div>
    <div ng-if="selected == 'chat'" class="ListView ChatView"
         ng-include="'views/ChatView.html'" ng-controller="ChatController"></div>
    <div ng-if="selected == 'calllog'" class="ListView CallLog"
         ng-include="'views/CallLog.html'" ng-controller="CallLogController"></div>
    <div ng-if="selected == 'recordings'" class="ListView WithToolBar"
         ng-include="'views/Recordings.html'" ng-controller="RecordingsController"></div>

  </div>

</div>
