<div class="ToolBar ">
  <input type="search" ng-model-options="{debounce: 200}" class="SearchBox" ng-model="que.query" ng-attr-placeholder="{{::verbage.search}}" />
  <div class="SelectBox selectWrapper queue">
    <select ng-model="selectedSort">
		<option value="displayName">{{::verbage.sort_by_name}}</option>
		<option value="queue_status">{{::verbage.sort_by_call_status}}</option>
		<option value="hud_status">{{::verbage.sort_by_chat_status}}</option>
    </select>
  </div>  
</div>

<div class="QueueList">
  <div class="ListSection">
    <div class="ListSectionHeader">
      <div class="ListSectionHeaderTitle">{{::verbage.logged_in}}</div>
    </div>
    <div class="ListSectionBody">{{::verbage.agents_logged_into_queue}}</div>
  </div>

  <div 
	include-once="views/queues/QueueMemberSection.html"
    data-ng-repeat="member in agents | filter: statusFilter('in') | filter: searchFilter() | orderBy: selectedSort" class="queueAgents">
  </div>

  <div class="ListSection">
    <div class="ListSectionHeader">
      <div class="ListSectionHeaderTitle">{{::verbage.logged_out}}</div>
    </div>
    <div class="ListSectionBody">{{::verbage.agents_logged_out_of_queue}}</div>
  </div>

  <div
	include-once="views/queues/QueueMemberSection.html"
    data-ng-repeat="member in agents | filter: statusFilter('out') | filter: searchFilter() | orderBy: selectedSort" class="queueAgents">
  </div>
</div>

