<div class="ToolBar ">
  <input type="search" class="SearchBox" ng-model="query" ng-attr-placeholder="{{::verbage.search}}" ng-model-options="{debounce: 100}" />
    <select class="XButton XButtonNormal XButtonDropDown XSortButton" ng-model="selectedSort">
		<option value="displayName">{{::verbage.sort_by_name}}</option>
		<option value="queue_status">{{::verbage.sort_by_call_status}}</option>
		<option value="hud_status">{{::verbage.sort_by_chat_status}}</option>
    </select>
</div>

<div class="QueueList">
  <div class="ListSection">
    <div class="ListSectionHeader">
      <div class="ListSectionHeaderTitle">{{::verbage.logged_in}}</div>
    </div>
    <div class="ListSectionBody">{{::verbage.agents_logged_into_queue}}</div>
  </div>

  <div 
	ng-include="'views/queues/QueueMemberSection.html'"
    data-ng-repeat="member in loggedInMembers | filter: {displayName: query} | orderBy: selectedSort" ng-click="storeRecentQueueMember(member.xpid)">
  </div>

  <div class="ListSection">
    <div class="ListSectionHeader">
      <div class="ListSectionHeaderTitle">{{::verbage.logged_out}}</div>
    </div>
    <div class="ListSectionBody">{{::verbage.agents_logged_out_of_queue}}</div>
  </div>

  <div
	ng-include="'views/queues/QueueMemberSection.html'"
    data-ng-repeat="member in loggedOutMembers | filter: {displayName: query} | orderBy: selectedSort" ng-click="storeRecentQueueMember(member.xpid)">
  </div>
</div>

