<div class="MenuWindow BargeDropDown SelectMenuBox" data-ng-style="currentPopup.position">
    <div class="MenuContent">
        <div class="MenuSection">
             <div class="MenuItem selected" ng-click="barge_call(currentPopup.model, 'barge')">                              
                <div class="SelectedIcon" ng-show="currentPopup.model.barge == 2"></div>
                <div ng-class="{'BargeMenuItemTextAdjuster': currentPopup.model.barge == 2}" class="MenuItemText BargeMenuItemText"><span>Barge</span></div>
             </div>
             <div class="MenuItem selected" ng-click="barge_call(currentPopup.model, 'monitor')">                              
                <div class="SelectedIcon" ng-show="currentPopup.model.barge == 1"></div>
                <div ng-class="{'BargeMenuItemTextAdjuster': currentPopup.model.barge == 1}" class="MenuItemText BargeMenuItemText"><span>Monitor</span></div>
             </div>
             <div class="MenuItem selected" ng-click="barge_call(currentPopup.model, 'whisper')">                              
                <div class="SelectedIcon"ng-show="currentPopup.model.barge == 3" ></div>
                <div ng-class="{'BargeMenuItemTextAdjuster': currentPopup.model.barge == 3}" class="MenuItemText BargeMenuItemText"><span>Whisper</span></div>
             </div>
        </div>
    </div>
</div>
