<div class="Overlay" ng-controller="CallStatusOverlayController">
	<div ng-click="showOverlay(false)" class="Background"></div>
	<div class="Foreground">
		<div ng-click="showOverlay(false)" class="Close">x</div>
		
		<div class="Header">
			<h2>Call Management</h2>
		</div>
		
		<div class="Sections">
			<div class="Section">
				<div>
					<h4>Call Members</h4>
					<em>These contacts are talking</em>
				</div>
				<div class="Contact">
					<div class="Avatar AvatarNormal" context-menu="onCall">
						<img class="AvatarImgPH" data-ng-src="{{ onCall.getAvatar(28) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						<div class="AvatarForeground AvatarInteractable"></div>
					</div>
					<div class="Name">
						<strong>{{ onCall.displayName }}</strong>
						<br/>
						x{{ onCall.primaryExtension }}
					</div>
					
					<div class="Barging" ng-if="onCall.call.barge > 0">Barging</div>
					
					<div class="Time">{{ timeElapsed }}</div>
					
					<div class="Buttons">
						<input type="button" class="XButton" value="Barge" ng-click="bargeCall('barge', onCall.xpid)" ng-disabled="onCall.call.type != 4" />
						<input type="button" class="XButton" value="Monitor" ng-click="bargeCall('monitor', onCall.xpid)" ng-disabled="onCall.call.type != 4" />
						<input type="button" class="XButton" value="Whisper" ng-click="bargeCall('whisper', onCall.xpid)" ng-disabled="onCall.call.type != 4" />
						<input type="button" class="XButton" value="Transfer" ng-disabled="onCall.call.type != 4" />
					</div>
				</div>
				<div class="Contact">
					<div class="Avatar AvatarNormal" context-menu="onCall.call">
						<img class="AvatarImgPH" ng-src="{{ getCallStatusAvatar(onCall.call) }}" onerror="this.src='img/Generic-Avatar-28.png'" />
						<div class="AvatarForeground AvatarInteractable"></div>
					</div>
					<div class="Name">
						<strong>{{ onCall.call.displayName }}</strong>
						<br/>
						{{ onCall.call.phone }}
					</div>
					
					<div class="Time">{{ timeElapsed }}</div>
					
					<div class="Buttons">
						<input type="button" class="XButton" value="Barge" ng-click="bargeCall('barge', onCall.call.contactId)" ng-disabled="onCall.call.type != 4" />
						<input type="button" class="XButton" value="Monitor" ng-click="bargeCall('monitor', onCall.call.contactId)" ng-disabled="onCall.call.type != 4" />
						<input type="button" class="XButton" value="Whisper" ng-click="bargeCall('whisper', onCall.call.contactId)" ng-disabled="onCall.call.type != 4" />
						<input type="button" class="XButton" value="Transfer" ng-disabled="onCall.call.type != 4" />
					</div>
				</div>
			</div>
			
			<div class="Section">
				<div>
					<h4>Barged By</h4>
					<em>Contacts who barge the call</em>
					<div class="Bargers">
						<div ng-repeat="barger in onCall.call.bargers" class="ListRow ListRow">
							<div class="Avatar AvatarNormal" context-menu="barger">
								<img class="AvatarImgPH" data-ng-src="{{::barger.getAvatar(28)}}" onerror="this.src='img/Generic-Avatar-28.png'" />
								<div class="AvatarForeground AvatarInteractable"></div>
							</div>
			
							<div class="ListRowContent">
								<div class="ListRowTitle">
									<div class="name">
										<strong>{{ ::barger.displayName }}</strong>
										<span>#{{ ::barger.primaryExtension }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="Footer">
			<input type="button" class="XButton" value="Close" ng-click="showOverlay(false)" />
			<input type="button" class="XButton" value="Conferencing" />
		</div>
	</div>
</div>