<div class="Overlay" ng-controller="CallStatusOverlayController">
	<div ng-click="showOverlay(false)" class="Background"></div>
	<div class="Foreground" ng-if="screen == 'call'">
		<!-- <div ng-click="showOverlay(false)" class="Close">x</div> -->				
		<div class="Header">
		  <div ng-click="showOverlay(false)" class="Close">
           <div class="CloseIcon2"></div>
          </div>
		  <div class="headerIcon callStatus"></div>
		  <div class="HeaderTitle">{{::verbage.call_management}}</div>
			<!-- <h2>{{::verbage.call_management}}</h2>-->
		</div>
		
		<div class="Sections callStatus">
			<div class="Section">
				<div>
					<h4 class="upper">{{::verbage.call_members}}</h4>
					<p>{{::verbage.contacts_talking}}</p>
				</div>
				<div class="Contact top">
					<avatar profile="onCall"></avatar>
					<div class="Name">
						<strong>{{ ::onCall.displayName }}</strong>
						<br/>
						x{{ ::onCall.primaryExtension }}
					</div>
					
					<div class="Barging" ng-if="onCall.call.barge > 0">{{::verbage.barging}}</div>
					
					<div class="Time">{{ timeElapsed }}</div>
					
					<div class="Buttons">
						<input type="button" class="XButton" value="{{::verbage.barge}}" ng-click="bargeCall('barge', onCall.xpid)" ng-disabled="!determineBarge(onCall.xpid)" />
						<input type="button" class="XButton" value="{{::verbage.monitor}}" ng-click="bargeCall('monitor', onCall.xpid)" ng-disabled="!determineBarge(onCall.xpid)" />
						<input type="button" class="XButton" value="{{::verbage.whisper}}" ng-click="bargeCall('whisper', onCall.xpid)" ng-disabled="!determineBarge(onCall.xpid)" />
						<input type="button" class="XButton" value="{{::verbage.transfer}}" ng-click="changeScreen('transfer', onCall.xpid)" ng-disabled="!determineTransferFrom(onCall.xpid)" />
					</div>
				</div>
				<div class="Contact">
					<avatar profile="onCall.call.fullProfile"></avatar>
					<div class="Name">
						<strong>{{ ::onCall.call.displayName }}</strong>
						<br/>
						{{ ::onCall.call.phone }}
					</div>
					
					<div class="Time">{{ timeElapsed }}</div>
					
					<div class="Buttons">
						<input type="button" class="XButton" value="{{::verbage.barge}}" ng-click="bargeCall('barge', onCall.xpid)" ng-disabled="!determineBarge(onCall.call.fullProfile.xpid)" />
						<input type="button" class="XButton" value="{{::verbage.monitor}}" ng-click="bargeCall('monitor', onCall.xpid)" ng-disabled="!determineBarge(onCall.call.fullProfile.xpid)" />
						<input type="button" class="XButton" value="{{::verbage.whisper}}" ng-click="bargeCall('whisper', onCall.call.fullProfile.xpid)" ng-disabled="!determineBarge(onCall.call.fullProfile.xpid)" />
						<input type="button" class="XButton" value="{{::verbage.transfer}}" ng-click="changeScreen('transfer', onCall.xpid)" ng-disabled="!determineTransferFrom(onCall.xpid)" />
					</div>
				</div>
			</div>
			
			<div class="Section">
				<div>
					<h4 class="upper">{{::verbage.barged_by}}</h4>
					<p>{{::verbage.contacts_barge_call}}</p>
				</div>
				
				<div class="Bargers">
					<div ng-repeat="barger in onCall.call.bargers" class="ListRow ListRow">
						<avatar profile="barger"></avatar>
			
						<div class="ListRowContent">
							<div class="ListRowTitle">
								<div class="name">
									<strong>{{ ::barger.displayName }}</strong>
									<span>#{{ ::barger.primaryExtension }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="Footer">
			<div class="Error" ng-show="onCall.call.recorded">{{ recordingElapsed }}</div>
		
			<input type="button" class="XButton" value="{{ onCall.call.recorded ? 'Stop' : 'Start' }} Recording" ng-click="recordCall()" ng-model="onCall.call.recorded" />
			<input type="button" class="XButton" value="Close" ng-click="showOverlay(false)" />
			<input type="button" class="XButton" value="Conferencing" ng-click="changeScreen('conference')" />
		</div>
	</div>
	
	<!-- transfer call -->
	<div class="Foreground" ng-if="screen == 'transfer'">
		<!-- <div ng-click="showOverlay(false)" class="Close">x</div> -->        		
		<div class="Header">
		  <div ng-click="showOverlay(false)" class="Close">
           <div class="CloseIcon2"></div>
          </div>
          <div class="headerIcon callTransfer"></div>
          <div class="HeaderTitle">{{::verbage.call_transfer}}</div>            
        </div>
		
		
		<div class="Sections">
			<div class="Section">
				<div>
					<h4 class="upper">{{::verbage.contact_to_transfer}}</h4>
					<p>{{::verbage.transfer_selected_person}}</p>
				</div>
				<div class="Contact">
					<avatar profile="transferFrom"></avatar>
					<div class="Name">
						<strong>{{ transferFrom.displayName }}</strong>
						<br/>
						x{{ transferFrom.primaryExtension ? transferFrom.primaryExtension : transferFrom.phone }}
					</div>
					
					<div class="Time">{{ timeElapsed }}</div>
				</div>
			</div>
			
			<div class="Section" ng-show="!transferTo">
				<div class="transferSearch">
					<h4 class="upper">{{::verbage.destination}}</h4>
					<div class="ContactSearchHolder">
						<input type="search" ng-model-options="{debounce: 200}" class="SearchBox Add" id="TransferOverlay" ng-attr-placeholder="{{::verbage.add_someone}}" transfer-contact-search />
					</div>

				</div>
				<!-- <div class="Banner upper">{{::verbage.contacts}}</div> -->
				<div class="Members">
					<a href="" class="ListRow" ng-repeat="contact in transferContacts | filter: transferPermFilterContacts() | orderBy: 'displayName' track by contact.xpid" ng-click="selectDestination(contact)"> 
						<avatar profile="contact"></avatar>
						<div class="ListRowContent">
							<div class="ListRowTitle">
								<strong>{{ ::contact.displayName }}</strong>
								<br/>
								<div class="ListRowStatusIcon XIcon-QueueStatus-{{contact.queue_status}}"></div>
								<div class="ListRowStatusIcon XIcon-ChatStatus-{{contact.hud_status || 'offline' }}"></div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div>{{transfer.search}}</div>
			
			<div class="Section" ng-if="transferTo">
				<div>
					<h4 class="upper">{{::verbage.office_destination}}</h4>
					<p>{{::verbage.call_transfer_destination}}</p>
				</div>
				<div>
					<a href="" class="ListRow"> 
						<avatar profile="transferTo"></avatar>
						<div class="ListRowContent">
							<div class="ListRowTitle">
								<strong>{{ transferTo.displayName }}</strong>
								<br/>
								<div class="ListRowStatusIcon XIcon-QueueStatus-{{transferTo.queue_status}}"></div>
								<div class="ListRowStatusIcon XIcon-ChatStatus-{{transferTo.hud_status || 'offline' }}"></div>
							</div>
						</div>
					</a>
				</div>
				<div>
					<h4 class="upper">{{::verbage.transfer_options}}</h4>
					<p>{{::verbage.call_transfer_destination}}</p>
				</div>
				<div>
					<input type="checkbox" ng-model="who.sendToPrimary" ng-value="{{who.sendToPrimary}}" ng-true-value="true" ng-false-value="false" /> {{::verbage.primary_extension}}
					<br/>
					<input type="checkbox" ng-model="who.sendToPrimary" ng-value="{{who.sendToPrimary}}" ng-true-value="false" ng-false-value="true" /> {{::verbage.voicemail_box}}
				</div>
			</div>
		</div>
		
		<div class="Footer">
			<div class="Error" ng-show="addError" ng-bind="addError"></div>
			
			<input type="button" class="XButton" value="Cancel" ng-click="changeScreen('call')" />
			<input type="button" class="XButton" value="Transfer" ng-click="transferCall()" />
		</div>
	</div>
	
	<!-- conferencing -->
	<div class="Foreground" ng-if="screen == 'conference'">
		<!-- <div ng-click="showOverlay(false)" class="Close">x</div> -->       	
		<div class="Header">
		 <div ng-click="showOverlay(false)" class="Close">
           <div class="CloseIcon2"></div>
          </div>  
          <div class="headerIcon callTransfer"></div>
          <div class="HeaderTitle">{{::verbage.transfer_to_conference_room}}</div>            
        </div>
        
		
		<div class="Sections">
			<div class="Section">
				<div>
					<h4 class="upper">{{::verbage.contact_to_transfer}}</h4>
					<p>{{::verbage.contacts_will_be_transfered_to_conference}}</p>
				</div>
				<div>
					<div class="ListRow">
						<avatar profile="onCall"></avatar>
						<div class="ListRowContent">
							<div class="ListRowTitle">
								<div class="name">
									<strong>{{ ::onCall.displayName }}</strong>
									<span>{{ ::onCall.primaryExtension }}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="ListRow">
						<avatar profile="onCall.call.fullProfile"></avatar>
						<div class="ListRowContent">
							<div class="ListRowTitle">
								<div class="name">
									<strong>{{ ::onCall.call.displayName }}</strong>
									<span>{{ ::onCall.call.phone }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div ng-show="onCall.xpid != myPid && onCall.call.fullProfile.xpid != myPid">
					<div>
						<h4 class="upper">{{::verbage.Options}}</h4>
						<p>{{::verbage.add_yourself_to_conference}}</p>
					</div>
					
					<input type="checkbox" ng-model="meToo.me" /> 
					{{::verbage.join_me_as_well}}
				</div>
			</div>
			
			<div class="Section" ng-show="!selectedConf">
				<div>
					<h4 class="upper">{{::verbage.conference_room}}</h4>
					<input type="search" ng-model-options="{debounce: 200}" class="SearchBox" ng-model="conf.query" ng-attr-placeholder="{{::verbage.search_by_room_or_person}}" />
				</div>
				<div class="Members">
                    <a href="" class="ListRow ListRow-Conference" data-ng-repeat="conference in conferences | filter: isStatusUndefined | filter: conFilter track by conference.xpid" ng-click="selectConference(conference)">
						<avatar profile="conference"></avatar>
                        <div class="ListRowContent">
                            <div class="ListRowTitle">
                                <div class="name"> {{::verbage.room}} # {{::conference.roomNumber}} ({{::conference.extensionNumber}})</div>
								 
                                <div data-ng-if="conference.members.length == 0">
                                    <div class="ListConferenceStatusIcon XIcon-ChatStatus-Offline"></div>
									{{::verbage.free_room}}
                                </div>                            
                                <div data-ng-if="conference.members.length > 0">
                                    <div class="ListRowStatusIcon XIcon-ChatStatus-Available"></div>
									{{conference.members.length}} {{::verbage.members_on_call}}
								</div> 
                            </div>
                        </div>
                    </a>
				</div>
			</div>
			
			<div class="Section" ng-show="selectedConf">
				<div>
					<h4 class="upper">{{::verbage.destination}}</h4>
				</div>
				
				<div>
					<a href="" class="ListRow ListRow-Conference">
						<avatar profile="selectedConf"></avatar>
						<div class="ListRowContent">
							<div class="ListRowTitle">
								<div class="name"> {{::verbage.room}} # {{::selectedConf.roomNumber}} ({{::selectedConf.extensionNumber}})</div>
								
								<div data-ng-if="selectedConf.members.length == 0">
									<div class="ListConferenceStatusIcon XIcon-ChatStatus-Offline"></div>
									{{::verbage.free_room}}
								</div>                            
								<div data-ng-if="selectedConf.members.length > 0">
									<div class="ListRowStatusIcon XIcon-ChatStatus-Available"></div>
									{{selectedConf.members.length}} {{::verbage.members_on_call}}
								</div> 
							</div>
							
							<div class="ListRowStatus" ng-if="selectedConf.location">
								at {{::selectedConf.location}}
							</div>
						</div>
					</a>
				</div>
				
				<div>
					<h4 class="upper">{{::verbage.are_you_ready}}?</h4>
					<p>{{::verbage.call_transfer_to_conference}}</p>
				</div>
			</div>
		</div>
		
		<div class="Footer">
			<div class="Error" ng-show="addError" ng-bind="addError"></div>
			
			<input type="button" class="XButton" value="{{::verbage.cancel}}" ng-click="changeScreen('call')" />
			<input type="button" class="XButton" value="{{::verbage.join}}" ng-click="joinConference()" />
		</div>
	</div>
</div>
