<div class="Overlay" ng-controller="ContactEditOverlayController">
	<div ng-click="showOverlay(false)" class="Background"></div>
	<div class="Foreground">
		<div ng-click="showOverlay(false)" class="Close">x</div>
		
		<div class="Header">
			<h2>{{ editing ? 'Edit Contact' : 'Add a New Contact' }}</h2>
		</div>
		
		<div class="Sections">
			<div class="Section">
				<div>
					<h4>{{::verbage.contact_info}}</h4>
					<em>{{::verbage.want_to_know_who_is_calling}}</em>
				</div>
				<div>
					<label>{{::verbage.first_name}}</label>
					<input ng-model="add.firstName" type="text" class="XInputText" />
				</div>
				<div>
					<label>{{::verbage.last_name}}</label>
					<input ng-model="add.lastName" type="text" class="XInputText" />
				</div>
				<div>
					<label>{{::verbage.display_name}}</label>
					<input ng-model="add.displayName" type="text" class="XInputText" />
				</div>
				<div>
					<h4>{{::verbage.visibility}}</h4>
					<input ng-model="add.favorite" type="checkbox" /> {{::verbage.add_to_favorites}}
				</div>
			</div>
			
			<div class="Section">
				<div>
					<h4>{{::verbage.phones}}</h4>
					<em>{{::verbage.add_contact_phone_to_make_calls}}</em>
				</div>
				<div>
					<label>{{::verbage.business_phone}}</label>
					<input ng-model="add.business" type="text" class="XInputText" />
				</div>
				<div>
					<label>{{::verbage.mobile}}</label>
					<input ng-model="add.mobile" type="text" class="XInputText" />
				</div>
				<div>
					<h4>Messaging</h4>
					<em>Want to chat and e-mail this person?</em>
				</div>
				<div>
					<label>{{::verbage.email}}</label>
					<input ng-model="add.email" type="text" class="XInputText" />
				</div>
				<div>
					<label>{{::verbage.google_talk}}</label>
					<input ng-model="add.jid" type="text" class="XInputText" />
				</div>
				<div>
					<label>{{::verbage.IMS}}</label>
					<input ng-model="add.ims" type="text" class="XInputText" />
				</div>
			</div>
		</div>
		
		<div class="Footer">
			<div class="Error" ng-show="addError" ng-bind="addError"></div>
			<input type="button" class="XButton" value="Delete Contact & History" ng-click="delContact()" ng-show="editing" />
			<input type="button" class="XButton" value="Cancel" ng-click="showOverlay(false)" />
			<input type="button" class="XButton" value="{{ editing ? verbage.save_changes : verbage.add_contact }}" ng-click="saveContact()" />
		</div>
	</div>
</div>