<div class="MenuWindow" data-ng-style="currentPopup.position">
    <div class="dialpad">
         <div class="dialpadrow">
            <div class="XButton DialPadBtn" ng-click="broadcastDial(1)"> 
                <div class="dialpadnum">1</div> 
                <div class="dialpadletter"></div> 
            </div>
            <div class="XButton DialPadBtn" ng-click="broadcastDial(2)">
                <div class="dialpadnum">2</div> 
                <div class="dialpadletter">ABC</div> 
           </div>
            
            <div class="XButton DialPadBtn" ng-click="broadcastDial(3)"> 
                <div class="dialpadnum">3</div> 
                <div class="dialpadletter">DEF</div> 
            </div>
        </div>
        
        <div class="dialpadrow">
            <div class="XButton DialPadBtn" ng-click="broadcastDial(4)"> 
                <div class="dialpadnum">4</div> 
                <div class="dialpadletter">GHI</div> 
            </div>
            <div class="XButton DialPadBtn" ng-click="broadcastDial(5)"> 
                <div class="dialpadnum">5</div> 
                <div class="dialpadletter">JKL</div> 
            </div>
            <div class="XButton DialPadBtn" ng-click="broadcastDial(6)"> 
                <div class="dialpadnum">6</div> 
                <div class="dialpadletter">MNO</div> 
           
            </div>
        </div>


        <div class="dialpadrow">
            <div class="XButton DialPadBtn" ng-click="broadcastDial(7)">
                <div class="dialpadnum">7</div> 
                <div class="dialpadletter">PQRS</div> 
           
            </div>
            <div class="XButton DialPadBtn" ng-click="broadcastDial(8)">
                <div class="dialpadnum">8</div> 
                <div class="dialpadletter">TUV</div> 
           
            </div>
            <div class="XButton DialPadBtn" ng-click="broadcastDial(9)">
                <div class="dialpadnum">9</div> 
                <div class="dialpadletter">WXYZ</div> 
           </div>
        </div>
       
       <div class="dialpadrow">
             <div class="XButton DialPadBtn" ng-click="broadcastDial('*')">
                <div class="dialpadnum">*</div> 
                <div class="dialpadletter"></div> 
           </div>
             <div class="XButton DialPadBtn" ng-click="broadcastDial(0)">
                <div class="dialpadnum">0</div> 
                <div class="dialpadletter">+</div> 
           </div>
            <div class="XButton DialPadBtn" ng-click="broadcastDial('#')">
                <div class="dialpadnum">#</div> 
                <div class="dialpadletter"></div> 
           </div>
       </div>
    </div>
</div>