<div id="hudn_download_modal">
	
	<div id="hudn_download_modal_content">
		
		<div class="modal-header">
			<h2 id="modal-header-title">HUD Softphone</h2>
			<p id="modal-header-sub">The HUD Desktop Companion</p>
		</div>

		<div class="modal-body">
			
			<div class="left-side-modal">
				
				<div class="top-layer">
					<div class="left-column">
						<img id="left-column-img" src="./img/hudn_screenshot1.png"></img>
					</div>

					<div class="middle-column">
						<div id="middle-column-div1">System Application with Presence, Alerts and Phone</div>
						<div id="middle-column-div2">Desktop Softphone and phone controls</div>
					</div>

					<div class="right-column">
						<img id="right-column-img" src="./img/hudn_screenshot2.png"></img>
					</div>
				</div>

				<div class="middle-layer">
					<ul>
						<li class="middle-list-item">Auto login and presence on computer startup</li>
						<li class="middle-list-item">Control your location and presence</li>
						<li class="middle-list-item">Place and control calls outside of HUD</li>
					</ul>
				</div>

				<div class="bottom-layer">
					<button ng-click="downloadHudn()" id="download-btn">DOWNLOAD & INSTALL</button>
				</div>

			</div>

			<div class="right-side-modal">

				<div class="top-portion">
					<div style="">
						<p class="right-column-block">HUD Companion replaces the web-based softphone that you have enjoyed in the past, and is more secure and flexible.</p>
						<p class="right-column-block">If you choose not to install the new application the current web-phone will cease to work.</p>
						<p class="right-column-block">I understand that by not installing the new HUD Softphone I will lose Fonality softphone functionality</p>
					</div>
				</div>

				<div class="bottom-portion">
					<button ng-click="closeDownloadModal()" class="decline-btn">DECLINE</button>
				</div>

			</div>

		</div>

	</div>

</div>