<div id="hudn_download_modal">
	
	<div id="hudn_download_modal_content">
		
		<div class="toptier">
			<div class="toptiertext">
				<p id="firstParagraph">HUD Softphone</p>
				<p id="secondParagraph">Your HUD desktop companion</p>
			</div>
		</div>

		<div class="secondtier">
			<div id="leftcolumn">
				<div class="checkside">
					<img src="./img/green_check.png" />
				</div>
				<div class="textside">
					Auto login and presence on computer startup.
				</div>
			</div>
			<div id="middlecolumn">
				<div class="checkside">
					<img src="./img/green_check.png" />
				</div>
				<div class="textside">
					Place and control calls with your computer.
				</div>
			</div>
			<div id="rightcolumn">
				<div class="checkside">
					<img src="./img/green_check.png" />
				</div>
				<div class="textside">
					Control your location and presence.
				</div>
			</div>
		</div>

		<div class="thirdtier">
			<div id="imageside">
				<div id="imagecontainer">
					<img src="./img/promo-karl.png" />
				</div>
				<div class="nothing">
					<div class="quickstart">
						<a href="http://www.fonality.com/hubfs/User_and_Quick_Start_Guides/UserGuide-HUDWeb-Softphone-2016.pdf" target="_blank">HUD Softphone Quick Start Guide</a>
					</div>
				</div>
			</div>
			<div id="contentside">
				<div id="contentcontainer">
					<div id="content">
						<p><b>What is it?</b> HUD Softphone allows you to make and receive calls with your computer.</p>
						<p><b>Is it necessary?</b> No. If you solely use a desk phone to make and receive calls, that is all you need. However, there are a few important reasons why you may want to download HUD Softphone:</p>
						<ul>
							<li>You use or want to use softphone functionality with HUD (most commonly with a computer headset)</li>
							<li>You do not have a desk phone</li>
							<li> You use Fonality call controls inside your Salesforce application</li>
						</ul>
					</div>
				</div>
				<div id="buttoncontainer">
					<button ng-click="downloadHudn()" id="download-btn">DOWNLOAD & INSTALL</button>
				</div>
			</div>
		</div>

		<div class="bottomtier">
			<div id="declinetext">
				<div id="declinetextcontainer">
					<p>If you decline, you can download from Preferences at a later date.</p>
					<p>I understand that by not installing HUD Softphone, I will not be able to make and receive calls using my computer with HUD.</p>
				</div>
			</div>
			<div id="declinebuttonsection">
				<button ng-click="closeDownloadModal()" class="decline-btn">DECLINE</button>
			</div>
		</div>

	</div>

</div>