<div class="Overlay" style="z-index:1200">
    
    <style> 

        #dialogheadicon{
            left: 0px;
              top: 10px;
              width: 40px;
              height: 40px;
              background: url("img/XApp-Icons.png") no-repeat -320px -40px;
              font-size:12px;
        }

        #header_label{
            display: inline-block;
            position: absolute;
            left: 10%;
            top: 4%;
        }
    </style>
    <div   class="Background"></div>
    <div class="Foreground">
        <div ng-click="showOverlay(false)" class="Close">x</div>
        
        <div class="Header">
            <span><div id="dialogheadicon"></div>  <h2 id="header_label">Fonality Browser Plugin Installation</h2></span>
        </div>
        
        <div class="Sections">
            <div class="Section">
                 <div>
                    <h4>Installation</h4>
                    <em>your download will begin in a moment if it doesn't , restart the download</em>
                    <em><ol> 
                        <li>Run installer after download complete</li>
                        <li>Follow installer instructions</li>
                    </ol></em>
                </div>
            </div>
            
            <div class="Section">
                <div>
                    <h4>Features</h4>
                    <em>Plugin improves user experience with fonality web client</em>
                    <em><ol> 
                        <li>Web Softphone</li>
                        <li>Desktop Alerts</li>
                        <li>Performance Enhancement</li>
                    </ol></em>
                </div>
            </div>
        </div>
        
        <div class="Footer">
                
            <a ng-href="{{pluginDownloadUrl}}" class="XButton"> Restart Download </a>
           
            <input type="button" class="XButton XButtonRed" value="Close" ng-click="showOverlay(false)" />
           
        </div>
    </div>
</div>