<div class="Overlay"> <!--  style="z-index:1200" -->  
    <div   class="Background"></div>
    <div class="Foreground">
        <!-- <div ng-click="showOverlay(false)" class="Close">x</div> -->                
        <div class="Header">
          <div ng-click="showOverlay(false)" class="Close">
           <div class="CloseIcon2"></div>
          </div>
          <div class="headerIcon plugin"></div>          
          <div class="HeaderTitle">Fonality Browser Plugin Installation</div>
            <!-- <span><div id="dialogheadicon"></div>  <h2 id="header_label">Fonality Browser Plugin Installation</h2></span> -->
        </div>
        
        <div class="Sections">
            <div class="Section">
                 <div>
                    <h4 class="upper">Installation</h4>
                    <p>your download will begin in a moment if it doesn't , restart the download</p>
                    <em><ol> 
                        <li>Run installer after download complete</li>
                        <li>Follow installer instructions</li>
                    </ol></em>
                </div>
            </div>
            
            <div class="Section">
                <div>
                    <h4 class="upper">Features</h4>
                    <p>Plugin improves user experience with fonality web client</p>
                    <em><ol> 
                        <li>Web Softphone</li>
                        <li>Desktop Alerts</li>
                        <li>Performance Enhancement</li>
                    </ol></em>
                </div>
            </div>
        </div>
        
        <div class="Footer">
                
            <a ng-href="{{pluginDownloadUrl}}" download target="_blank" class="XButton"> Restart Download </a>
           
            <input type="button" class="XButton XButtonRed" value="Close" ng-click="showOverlay(false)" />
           
        </div>
    </div>
</div>