<div class="Overlay" ng-controller="GroupEditOverlayController">
	<div ng-click="showOverlay(false)" class="Background"></div>
	<div class="Foreground">
		<div ng-click="showOverlay(false)" class="Close">x</div>
		
		<div class="Header">
			<h2>{{ closing ? verbage.time_to_goodbye : (editing ? verbage.expand_team : verbage.build_team) }}</h2>
		</div>
		
		<div class="Sections">
			<div class="Section" ng-show="!closing">
				<div>
					<h4>{{::verbage.name}}</h4>
					<input type="text"  ng-model="add.name" class="XInputText" />
				</div>
				<div>
					<h4>{{::verbage.Message}}</h4>
					<input ng-model="add.type" ng-true-value="4" ng-false-value="2" type="checkbox" /> {{::verbage.visible_to_entire}}
				</div>
				<div>
					<h4>{{::verbage.description}}</h4>
					<textarea ng-model="add.description" ng-attr-placeholder="{{::verbage.team_description}}"></textarea>
				</div>
			</div>
			
			<div class="Section" ng-show="closing">
				<h4>{{::verbage.Message}}</h4>
				<em>{{::verbage.message_individual}}</em>
				<br/>
				<textarea ng-model="add.message"></textarea>
			</div>
			
			<div class="Section">
				<div>
					<h4>{{::verbage.members}}</h4>
					<div class="ContactSearchHolder" ng-show="!closing">
						<input type="search" ng-model-options="{debounce: 200}" class="XInputText" ng-attr-placeholder="{{::verbage.add_someone}}" contact-search />
					</div>
				</div>
				
				<div class="Members">
					<div ng-repeat="contact in add.contacts" class="ListRow">
						<avatar profile="contact"></avatar>
						<div class="ListRowContent">
							<div class="ListRowTitle">
								<strong>{{ contact.displayName }}</strong>
								<br/>
								#{{ ::contact.primaryExtension }}
							</div>
						</div>
						<input type="button" value="{{::verbage.delete_word}}" class="Delete" ng-show="!closing" ng-click="removeUser(contact)" />
					</div>
				</div>
			</div>
			
			<div class="Section" ng-show="editing && !closing">
				<h4>{{::verbage.job_is_done}}</h4>
				<a href="" ng-click="endGroup()">{{::verbage.click_to_delete}}</a>
			</div>
		</div>
		
		<div class="Footer">
			<div class="Error" ng-show="addError" ng-bind="addError"></div>
			<input type="button" class="XButton" value="{{::verbage.cancel}}" ng-click="showOverlay(false)" />
			<input type="button" class="XButton" value="{{ closing ? verbage.delete_group + ' & ' + verbage.send_message : (editing ? verbage.save_changes : verbage.create_team) }}" ng-click="saveGroup()" />
		</div>
	</div>
</div>