<div class="MenuWindow SelectMenuBox LocationsMenu" data-ng-controller="LocationsController" data-ng-style="currentPopup.position">
    <div class="SelectBoxMenu">
        <div class="SelectBoxText" style="font-size:12px">
            <div ng-if="currentPopup.target != 'move'"><span class="InnerIco">@</span>&nbsp;<span>{{ getCurrentLocationTitle() }}</span></div>
            <span class="InnerIco move" ng-if="currentPopup.target == 'move'">Select phone to use</span>
        </div>
        <div ng-click="onBodyClick()" class="SelectBoxArrow"></div>
    </div>   
    <div class="MenuContent">
        <div class="MenuSection">       
             <div class="MenuItem" data-ng-click="(currentPopup.target == null || currentPopup.target == '') ? setLocation(location.xpid) : moveLocation(location.xpid)" data-ng-class="{'selected':location.xpid == getCurrentLocationId()}" data-ng-repeat="location in locations | SortItems:'name'">                      
                <div class="SelectedIcon"></div>
                <div class="MenuItemText">{{ ::location.name }} <span ng-if="location.locationType != 'a' && location.locationType != 'w'">({{ ::location.phone }})</span></div>
                <div class="MenuItemTextStatus">{{ (location.status.deviceStatus=='r' || location.locationType == 'm') ? 'registered' : 'unregistered' }}</div>
             </div>
        </div>
    </div>
</div>