<div class="Overlay" style="z-index:1200">
    
    <style> 

        #dialogheadicon{
            left: 0px;
              top: 10px;
              width: 40px;
              height: 40px;
              background: url("img/XApp-Icons.png") no-repeat -200px -40px;
              font-size:12px;
        }

        #header_label{
            display: inline-block;
            position: absolute;
            left: 10%;
            top: 4%;
        }
    </style>
    <div   class="Background"></div>
    <div class="Foreground">
        <!-- <div ng-click="showOverlay(false)" class="Close">x</div> -->               
        <div class="Header">
          <div ng-click="showOverlay(false)" class="Close">
           <div class="CloseIcon2"></div>
          </div>
          <div class="headerIcon noPermissions"></div>
          <div class="HeaderTitle">{{::verbage.sorry_no_authorization_header}}</div>
            <!-- <span><div id="dialogheadicon"></div>  <h2 id="header_label">{{::verbage.sorry_no_authorization_header}}</h2></span> -->
        </div>
        
        <div class="Sections">
            <div class="Section">
                 <div>
                    <h4 class="upper">{{::verbage.WHY}}?</h4>
                    <p>{{::verbage.no_valid_license}}</p>
                </div>
            </div>
            
            <div class="Section">
                <div>
                    <h4 class="upper">{{::verbage.SUGGESTION}}</h4>
                    <p>{{::verbage.if_this_is_an_error}}</p>
                </div>
            </div>
        </div>
        
        <div class="Footer">
            
        
            <input type="button" class="XButton XButtonRed" value="Sign in as another user" ng-click="reloadPage()" />
           
        </div>
    </div>
</div>