<div class="notifications Overlay NotificationOverlay" ng-controller="NotificationController"> <!-- ng-if="overlay == 'notifications'"  -->
    <div ng-click="showOverlay(false)" class="Background"></div>
    <div class="Foreground">                     
        <div class="Header NotificationSectionHeader">
            <div ng-click="showNotificationOverlay(false); showOverlay(false);" class="Close">
               <div class="CloseIcon2"></div>
            </div>
            <!-- <div class="NotificationSectionHeaderImage"></div> -->
            <div class="headerIcon notifications"></div>                                   
            <div class="HeaderTitle">{{::verbage.notifications}}</div>
            <div class="HeaderTitle">{{::verbage.new_word}}: {{ get_new_notifications().length + errors.length }} </div>
            <div class="HeaderTitle">{{::verbage.away}}: {{ get_away_notifications().length}} </div>
            <div class="HeaderTitle"> {{::verbage.old}}:  {{ get_old_notifications().length}} </div>
        
        </div>
        <div class="NotificationMessages" >     
           <!-- /////////////////// NEW NOTIFICATIONS /////////////////////////// -->        
          <div class="overlayNotificationsSection" ng-if="hasNewNotifications || errors.length > 0">                              
            <div class="section_header">         
             <div class="Conference-HeaderTitle">NEW ITEMS</div>
             <div class="Conference-HeaderSubTitle">You have {{newNotificationsLength + errors.length }} new item(s)</div> 
            </div>
            <div class="new_notifications notifications_section">
				  <!-- errors -->
				  <div class="Messages error" ng-repeat="error in errors track by error.xpid" ng-switch="::error.xpid">	
					<div class="NotificationHeader"> 
						<div class="NotificationHeaderBackground"> 
							<div class="NotificationClose" ng-click="dismissError(error.xpid)"></div>
						</div>
					</div>
					
					<div class="NotificationDivider"></div>
					
					<a ng-switch-when="browserPlugin" style="color:#333;text-decoration:none" href="{{::pluginDownloadUrl}}" download target="_blank" ng-click="showOverlay(true,'DownloadPlugin',{});">
						<div class="NotificationSection">
							<div class="LeftBarNotificationAvatarSection" style="display:inline-block"> 
								<div class="AvatarWarningSmall"></div>
							</div>
						
							<div class="LeftBarNotificationMessageSection"> 
								<div class="chatNotification error">
									<div class="content"><span ng-bind-html="::error.displayName"></span></div> 
									<div ></div>
									<div class="NotificationMessage" ng-bind-html="::error.message"></div>
								</div>
							</div>
						</div>
					</a>
					
					<div ng-switch-when="anotherDevice" class="NotificationSection error" ng-click="$parent.activatePhone()">
						<div class="LeftBarNotificationAvatarSection" style="display:inline-block"> 
							<div class="AvatarWarningSmall"></div>
						</div>
					
						<div class="LeftBarNotificationMessageSection"> 
							<div class="chatNotification error">
								<div class="content"><span ng-bind-html="::error.displayName"></span> <div class="NotificationTime"></div></div> 
								<div ></div>
								<div class="NotificationMessage" ng-bind-html="::error.message"></div>
							</div>
							
						</div>
					 </div> 
					
					<div ng-switch-when="networkError" class="NotificationSection error" ng-click="showOverlay(true, 'NetworkErrorsOverlay', {})">
						<div class="LeftBarNotificationAvatarSection" style="display:inline-block"> 
							<div class="AvatarWarningSmall"></div>
						</div>
					
						<div class="LeftBarNotificationMessageSection"> 
							<div class="chatNotification error">
								<div class="content"><span ng-bind-html="::error.displayName"></span> <div class="NotificationTime"></div></div> 
								<div ></div>
								<div class="NotificationMessage" ng-bind-html="::error.message"></div>
							</div>
							
						</div>
					 </div>  
				  </div>
				  
				  <!-- normal messages -->
                  <div class="Messages" ng-repeat="message in get_new_notifications()">             
                     <div class="NotificationHeader"> 
                            <div class="NotificationHeaderBackground"> 
                                <div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
                            </div>
                            
                     </div>
                     <div class="NotificationDivider"></div>
                     <div class="NotificationSection"> 
    
                        <avatar 
                            class="LeftBarNotificationAvatarSection NotificationAvatar"
                            ng-click="go_to_notification_chat(message)"
                            profile="::checkIfGroup(message)"
                            id="OverlayAvatarId"
                            type="{{::message.type == 'chat' ? 11 : message.audience == 'queue' ? 3 : 4}}"
                            ng-attr-isgroup="{{::message.audience == 'group'}}">>
                        </avatar>                  
                        <div class="LeftBarNotificationMessageSection" ng-init="new_notifications_to_display = getMessage(message); multiple_new_notifications = getMultipleNotifications(message)">                         
                            <div class="NotificationDisplayName chatNotification" ng-click="go_to_notification_chat(message)">{{ message.displayName}} <div class="NotificationTime">{{  message.time | fondate:'MMMM D YYYY, hh:mm a':fon_lang_code    }} </div></div> 
                               <div class="NotificationType">...{{ message.label }} <span class='NotificationDisplayName' ng-if="::message.type == 'gchat'">
                                {{ ::message.conference ? 'Room #' + message.conference.roomNumber + ' (' + message.conference.extensionNumber + ')' : message.title }}
                                
                               </span></div>                             
                            <div class="NotificationMessage" ng-click="go_to_notification_chat(message)"><p ng-if="multiple_new_notifications" ng-repeat="chat_sub_message in new_notifications_to_display track by $index">{{chat_sub_message}}</p>
                            <p ng-if="!multiple_new_notifications">
                            
                            <span class="vmfootnote vmduration" ng-if="::message.type == 'vm'">{{ ::message.vm.duration | duration }} &nbsp;</span>                            
                            <span ng-if="!multiple_new_notifications && message.type != 'description'" style="margin-left:5px">{{ ::new_notifications_to_display }} </span> 
                            <span ng-bind-html="cleanGroupDeleteMsg(message.message)" ng-if="::message.type == 'description'"><strong>Goodbye {{::message.data.groupId}}!</strong></span><br>
                            
                            </p>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'zoom'">
                                <span class="XButton XButtonRed" style="width:70px" ng-click="remove_notification(message.xpid)"> {{::verbage.Reject}}</span>
                                <span class="XButton XButtonGreen" style="width:70px"  ng-click="acceptCall(message.senderId, message)" >{{::verbage.accept}}</a>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'vm'">
                                <span class="XButton" style="width:70px" ng-click="playVm(message)"> {{::verbage.Play}}</span>
                                <span class="XButton XButtonGreen" style="width:90px" ng-click="makeCall(message)" > {{::verbage.call_back}}</span>
                            </div>
    
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'missed-call'">
                               <span class="XButton chatNotification" ng-if="::message.fullProfile != null" style="width:70px"  ng-click="go_to_notification_chat(message)">{{::verbage.chat}}</span>
                               <span class="XButton XButtonGreen" style="width:70px" ng-click="makeCall(message)">{{::verbage.Call}}</span>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.audience == 'queue' && (message.type == 'q-alert-abandoned' || message.type == 'q-alert-rotation')">
                                <span class="XButton" style="width:70px" ng-click="showQueue(message)">{{::verbage.Show}}</span>
                            </div>          
                        </div>
                   </div>
    
                </div>              
              </div>    
            <div class="notification_border ng-class:{'lessPadding': !showNew}"></div>  
         </div>
        
         <!-- /////////////////// AWAY NOTIFICATIONS /////////////////////////// -->
         <div class="overlayNotificationsSection" ng-if="hasAwayNotifications">
            <div class="section_header">
             <div class="Conference-HeaderTitle">WHILE YOU WERE AWAY</div> 
             <div class="Conference-HeaderSubTitle">You have {{awayNotificationsLength}} unread events while you were away</div> 
             <input type="button" class="XButton header" ng-show="showAway" value="{{::verbage.show}}" ng-click="showNotifications('away')" /> 
             <input type="button" class="XButton header" ng-show="!showAway" value="{{::verbage.hide}}" ng-click="showNotifications('away')" />        
            </div> 
             <div class="away_notifications notifications_section" ng-show="!showAway">                          
                <div class="Messages" ng-repeat="message in get_away_notifications()">               
                     <div class="NotificationHeader"> 
                            <div class="NotificationHeaderBackground"> 
                                <div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
                            </div>
                            
                     </div>
                     <div class="NotificationDivider"></div>
                     <div class="NotificationSection"> 
    
                        <avatar 
                            class="LeftBarNotificationAvatarSection NotificationAvatar"
                            ng-click="go_to_notification_chat(message)"
                            profile="message.fullProfile"
                            type="{{message.type == 'chat' ? 11 : message.audience == 'queue' ? 3 : 4}}">
                        </avatar>                               
                        <div class="LeftBarNotificationMessageSection" ng-init="away_notifications_to_display = getMessage(message);multiple_away_notifications = getMultipleNotifications(message)">
                            <div class="NotificationDisplayName chatNotification" ng-click="go_to_notification_chat(message)">{{ message.displayName}} <div class="NotificationTime">{{  message.time | fondate:'MMMM D YYYY, hh:mm a':fon_lang_code    }} </div></div>
                               <div class="NotificationType">...{{ ::message.label }} <span ng-if="message.audience == 'gchat'">{{::verbage_conference_room}}</span></div>
                            
                            <div class="NotificationMessage" ng-click="go_to_notification_chat(message)"><p ng-if="multiple_away_notifications" ng-repeat="sub_message in away_notifications_to_display track by $index">{{ ::sub_message }}</p>
                            <p ng-if="!multiple_away_notifications">
                            <span class="vmfootnote vmduration" ng-if="message.type == 'vm'">{{ ::message.vm.duration | duration }} &nbsp;</span>
                            <span ng-if="!multiple_away_notifications" style="margin-left:5px">{{ ::away_notifications_to_display }} </span> </p>
                            
                             </div>
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'zoom'">
                                <span class="XButton XButtonRed" style="width:70px" ng-click="remove_notification(message.xpid)"> {{::verbage.Reject}}</span>
                                <span class="XButton XButtonGreen" style="width:70px"  ng-click="acceptCall(message.senderId, message)" >{{::verbage.accept}}</a>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'vm'">
                                <span class="XButton" style="width:70px" ng-click="playVm(message)"> {{::verbage.Play}}</span>
                                <span class="XButton XButtonGreen" style="width:90px" ng-click="makeCall(message)" > {{::verbage.call_back}}</span>
                            </div>
    
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'missed-call'">
                               <span class="XButton chatNotification" style="width:70px"  ng-click="go_to_notification_chat(message)">{{::verbage.chat}}</span>
                               <span class="XButton XButtonGreen" style="width:70px" ng-click="makeCall(message)">{{::verbage.Call}}</span>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.audience == 'queue' && (message.type == 'q-alert-abandoned' || message.type == 'q-alert-rotation')">
                                <span class="XButton" style="width:70px"  ng-click="showQueue(message)">{{::verbage.Show}}</span>
                            </div>          
                        </div>
                   </div>
    
                </div>         
              </div>
              <div class="notification_border ng-class:{'lessPadding': !showAway}"></div>
         </div>
         <!-- /////////////////// OLD NOTIFICATIONS /////////////////////////// -->
         <div class="overlayNotificationsSection" ng-if="hasOldNotifications" ng-hide="clearOld">    
          <div class="section_header">         
             <div class="Conference-HeaderTitle">OLD ITEMS</div>
             <div class="Conference-HeaderSubTitle">You have {{oldNotificationsLength}} old item(s)</div> 
             <input type="button" class="XButton header" ng-show="showOld" value="{{::verbage.show}}" ng-click="showNotifications('old')" /> 
             <input type="button" class="XButton header" ng-show="!showOld" value="{{::verbage.hide}}" ng-click="showNotifications('old')" />
             <input type="button" class="XButton header" value="{{::verbage.clear}}" ng-click="removeOldNotifications()" />
          </div>   
             <div class="old_notifications notifications_section" ng-show="!showOld">                        
                <div class="Messages" ng-repeat="message in get_old_notifications()">             
                     <div class="NotificationHeader"> 
                            <div class="NotificationHeaderBackground"> 
                                <div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
                            </div>
                            
                     </div>
                     <div class="NotificationDivider"></div>
                     <div class="NotificationSection"> 
    
                        <avatar 
                            class="LeftBarNotificationAvatarSection NotificationAvatar"
                            ng-click="go_to_notification_chat(message)"
                            profile="message.fullProfile"
                            type="{{message.type == 'chat' ? 11 : message.audience == 'queue' ? 3 : 4}}">
                        </avatar>            
                   
                        <div class="LeftBarNotificationMessageSection" ng-init="old_notifications_to_display = getMessage(message); multiple_old_notifications = getMultipleNotifications(message)">
                            <div class="NotificationDisplayName chatNotification" ng-click="go_to_notification_chat(message)">{{::message.displayName}} <div class="NotificationTime">{{::  message.time | fondate:'MMMM D YYYY, hh:mm a':fon_lang_code    }} </div></div>
                               <div class="NotificationType">...{{ message.label }} <span ng-if="::message.audience == 'gchat'">{{::verbage_conference_room}}</span></div>

                            <div class="NotificationMessage" ng-click="go_to_notification_chat(message)">
                             <p ng-if="multiple_old_notifications" ng-repeat="sub_message in old_notifications_to_display track by $index"> {{ ::sub_message }} </p>
                             <p ng-if="!multiple_old_notifications">                               

                            <span class="vmfootnote vmduration" ng-if="::message.type == 'vm'">{{ ::message.vm.duration | duration }} &nbsp;</span>
                            <span ng-if="!multiple_old_notifications">{{ ::old_notifications_to_display }} </span> 
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'zoom'">
                                <span class="XButton XButtonRed" style="width:70px" ng-click="remove_notification(message.xpid)"> {{::verbage.Reject}}</span>
                                <span class="XButton XButtonGreen" style="width:70px"  ng-click="acceptCall(message.senderId, message)" >{{::verbage.accept}}</a>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'vm'">
                                <span class="XButton" style="width:70px" ng-click="playVm(message)"> {{::verbage.Play}}</span>
                                <span class="XButton XButtonGreen" style="width:90px" ng-click="makeCall(message)" > {{::verbage.call_back}}</span>
                            </div>
    
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'missed-call'">
                               <span class="XButton chatNotification" style="width:70px"  ng-click="go_to_notification_chat(message)">{{::verbage.chat}}</span>
                               <span class="XButton XButtonGreen" style="width:70px" ng-click="makeCall(message)">{{::verbage.Call}}</span>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="message.audience == 'queue' && (message.type == 'q-alert-abandoned' || message.type == 'q-alert-rotation')">
                                <span class="XButton" style="width:70px" ng-click="showQueue(message)">{{::verbage.Show}}</span>
                            </div>          
                        </div>
                   </div>
    
                </div>
                
              </div>    
          </div>     
        </div>
        
        <div class="Footer">
            <input type="button" class="XButton" value="{{::verbage.cancel}}" ng-click="showOverlay(false);" />
            <input type="button" class="XButton XButtonRed" value="{{::verbage.clear_all}}" ng-click="remove_all();showOverlay(false);" />
        </div>
        
    </div>

</div>
