<div class="notifications Overlay NotificationOverlay" ng-controller="NotificationController"> <!-- ng-if="overlay == 'notifications'"  -->
    <div ng-click="showOverlay(false)" class="Background"></div>
    <div class="Foreground">                     
        <div class="Header NotificationSectionHeader">
            <div ng-click="showNotificationOverlay(false); showOverlay(false);" class="Close">
               <div class="CloseIcon2"></div>
            </div>
            <!-- <div class="NotificationSectionHeaderImage"></div> -->
            <div class="headerIcon notifications"></div>                                   
            <div class="HeaderTitle">{{::verbage.notifications}}</div>
            <div class="HeaderTitle">{{::verbage.new_word}}: {{ getNotificationsLength(get_new_notifications().length)}} </div>
            <div class="HeaderTitle">{{::verbage.away}}: {{ get_away_notifications().length}} </div>
            <div class="HeaderTitle"> {{::verbage.old}}:  {{ get_old_notifications().length}} </div>
        
        </div>
        <div class="NotificationMessages" >     
           <!-- /////////////////// NEW NOTIFICATIONS /////////////////////////// -->        
          <div class="overlayNotificationsSection" ng-if="hasNewNotifications">                              
            <div class="section_header">         
             <div class="Conference-HeaderTitle" ng-if="hasOldNotifications">NEW ITEMS</div>
             <div class="Conference-HeaderSubTitle" ng-if="hasOldNotifications">You have {{newNotificationsLength}} new item(s)</div> 
            </div>
            <div class="new_notifications notifications_section" ng-if="hasNewNotifications" ng-show="!showNew">                            
                <div class="Messages" ng-repeat="message in get_new_notifications()">              
                     <div class="NotificationHeader"> 
                            <div class="NotificationHeaderBackground"> 
                                <div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
                            </div>
                            
                     </div>
                     <div class="NotificationDivider"><img /></div>
                     <div class="NotificationSection"> 
    
                        <avatar 
                            class="LeftBarNotificationAvatarSection NotificationAvatar"
                            ng-click="go_to_notification_chat(message)"
                            profile="message.fullProfile"
                            type="{{::message.type == 'chat' ? 11 : message.audience == 'queue' ? 3 : 4}}">
                        </avatar>                  
                        <div class="LeftBarNotificationMessageSection" ng-init="new_notifications_to_display = getMessage(message)">                         
                            <div class="NotificationDisplayName chatNotification" ng-click="go_to_notification_chat(message)">{{ message.displayName}} <div class="NotificationTime">{{  message.time | fondate:'MMMM D YYYY, hh:mm a':fon_lang_code    }} </div></div> 
                               <div class="NotificationType">...{{ message.label }} <span class='NotificationDisplayName' ng-if="::message.type == 'gchat'">
                                {{ ::message.conference ? 'Room #' + message.conference.roomNumber + ' (' + message.conference.extensionNumber + ')' : message.title }}
                                
                               </span></div>
                            <div class="NotificationMessage"><p ng-if="message.message && message.message.length > 1" ng-repeat="chat_sub_message in new_notifications_to_display track by $index" ng-bind-html="chat_sub_message"></p>
                            <p ng-if="!message.message || message.message <= 1">
                            <span class="vmfootnote vmduration" ng-if="::message.type == 'vm'">{{ ::message.vm.duration | duration }} &nbsp;</span>
                            <span ng-if="!message.message || message.message <= 1" style="position:absolute;margin-left:5px">{{ new_notifications_to_display }} </span> </p>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'zoom'">
                                <span class="XButton XButtonRed" style="width:70px" ng-click="remove_notification(message.xpid)"> {{::verbage.Reject}}</span>
                                <span class="XButton XButtonGreen" style="width:70px"  ng-click="acceptCall(message.senderId, message)" >{{::verbage.accept}}</a>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'vm'">
                                <span class="XButton" style="width:70px" ng-click="playVm(message)"> {{::verbage.Play}}</span>
                                <span class="XButton XButtonGreen" style="width:90px" ng-click="makeCall(message)" > {{::verbage.call_back}}</span>
                            </div>
    
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'missed-call'">
                               <span class="XButton chatNotification" style="width:70px"  ng-click="go_to_notification_chat(message)">{{::verbage.chat}}</span>
                               <span class="XButton XButtonGreen" style="width:70px" ng-click="makeCall(message)">{{::verbage.Call}}</span>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.audience == 'queue' && (message.type == 'q-alert-abandoned' || message.type == 'q-alert-rotation')">
                                <span class="XButton" style="width:70px" ng-click="showQueue(message)">{{::verbage.Show}}</span>
                            </div>          
                        </div>
                   </div>
    
                </div>              
              </div>    
            <div class="notification_border ng-class:{'lessPadding': !showNew}"></div>  
         </div>
        
         <!-- /////////////////// AWAY NOTIFICATIONS /////////////////////////// -->
         <div class="overlayNotificationsSection" ng-if="hasAwayNotifications">
            <div class="section_header">
             <div class="Conference-HeaderTitle" ng-if="hasAwayNotifications">WHILE YOU WERE AWAY</div> 
             <div class="Conference-HeaderSubTitle" ng-if="hasAwayNotifications">You have {{awayNotificationsLength}} unread events while you were away</div> 
             <input type="button" class="XButton header"  ng-if="hasAwayNotifications" ng-show="showAway" value="{{::verbage.show}}" ng-click="showNotifications('away')" /> 
             <input type="button" class="XButton header"  ng-if="hasAwayNotifications" ng-show="!showAway" value="{{::verbage.hide}}" ng-click="showNotifications('away')" />        
            </div> 
             <div class="away_notifications notifications_section"   ng-if="hasAwayNotifications" ng-show="!showAway">                          
                <div class="Messages" ng-repeat="message in get_away_notifications()">               
                     <div class="NotificationHeader"> 
                            <div class="NotificationHeaderBackground"> 
                                <div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
                            </div>
                            
                     </div>
                     <div class="NotificationDivider"><img /></div>
                     <div class="NotificationSection"> 
    
                        <avatar 
                            class="LeftBarNotificationAvatarSection NotificationAvatar"
                            ng-click="go_to_notification_chat(message)"
                            profile="message.fullProfile"
                            type="{{message.type == 'chat' ? 11 : message.audience == 'queue' ? 3 : 4}}">
                        </avatar>                               
                        <div class="LeftBarNotificationMessageSection" ng-init="away_notifications_to_display = getMessage(message)">
                            <div class="NotificationDisplayName chatNotification" ng-click="go_to_notification_chat(message)">{{ message.displayName}} <div class="NotificationTime">{{  message.time | fondate:'MMMM D YYYY, hh:mm a':fon_lang_code    }} </div></div>
                               <div class="NotificationType">...{{ ::message.label }} <span ng-if="message.audience == 'gchat'">{{::verbage_conference_room}}</span></div>
                            <div class="NotificationMessage"><p ng-if="message.message && message.message.length > 1" ng-repeat="sub_message in away_notifications_to_display track by $index" ng-bind-html="sub_message"></p>
                            <p ng-if="!message.message || message.message <= 1">
                            <span class="vmfootnote vmduration" ng-if="message.type == 'vm'">{{ ::message.vm.duration | duration }} &nbsp;</span>
                            <span ng-if="!message.message || message.message <= 1" style="position:absolute;margin-left:5px">{{ away_notifications_to_display }} </span> </p>
                            
                             </div>
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'zoom'">
                                <span class="XButton XButtonRed" style="width:70px" ng-click="remove_notification(message.xpid)"> {{::verbage.Reject}}</span>
                                <span class="XButton XButtonGreen" style="width:70px"  ng-click="acceptCall(message.senderId, message)" >{{::verbage.accept}}</a>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'vm'">
                                <span class="XButton" style="width:70px" ng-click="playVm(message)"> {{::verbage.Play}}</span>
                                <span class="XButton XButtonGreen" style="width:90px" ng-click="makeCall(message)" > {{::verbage.call_back}}</span>
                            </div>
    
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'missed-call'">
                               <span class="XButton chatNotification" style="width:70px"  ng-click="go_to_notification_chat(message)">{{::verbage.chat}}</span>
                               <span class="XButton XButtonGreen" style="width:70px" ng-click="makeCall(message)">{{::verbage.Call}}</span>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.audience == 'queue' && (message.type == 'q-alert-abandoned' || message.type == 'q-alert-rotation')">
                                <span class="XButton" style="width:70px"  ng-click="showQueue(message)">{{::verbage.Show}}</span>
                            </div>          
                        </div>
                   </div>
    
                </div>         
              </div>
              <div class="notification_border ng-class:{'lessPadding': !showAway}"></div>
         </div>
         <!-- /////////////////// OLD NOTIFICATIONS /////////////////////////// -->
         <div class="overlayNotificationsSection" ng-if="hasOldNotifications" ng-hide="clearOld">    
          <div class="section_header">         
             <div class="Conference-HeaderTitle" ng-if="hasOldNotifications">OLD ITEMS</div>
             <div class="Conference-HeaderSubTitle" ng-if="hasOldNotifications">You have {{oldNotificationsLength}} old item(s)</div> 
             <input type="button" class="XButton header"  ng-if="hasOldNotifications" ng-show="showOld" value="{{::verbage.show}}" ng-click="showNotifications('old')" /> 
             <input type="button" class="XButton header"  ng-if="hasOldNotifications" ng-show="!showOld" value="{{::verbage.hide}}" ng-click="showNotifications('old')" />
             <input type="button" class="XButton header"  ng-if="hasOldNotifications" value="{{::verbage.clear}}" ng-click="removeOldNotifications()" />
          </div>   
             <div class="old_notifications notifications_section" ng-if="hasOldNotifications" ng-show="!showOld">                        
                <div class="Messages" ng-repeat="message in get_old_notifications()">             
                     <div class="NotificationHeader"> 
                            <div class="NotificationHeaderBackground"> 
                                <div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
                            </div>
                            
                     </div>
                     <div class="NotificationDivider"><img /></div>
                     <div class="NotificationSection"> 
    
                        <avatar 
                            class="LeftBarNotificationAvatarSection NotificationAvatar"
                            ng-click="go_to_notification_chat(message)"
                            profile="message.fullProfile"
                            type="{{message.type == 'chat' ? 11 : message.audience == 'queue' ? 3 : 4}}">
                        </avatar>            
                   
                        <div class="LeftBarNotificationMessageSection" ng-init="old_notifications_to_display = getMessage(message); multiple_old_notifications = getMultipleNotifications(message)">
                            <div class="NotificationDisplayName chatNotification" ng-click="go_to_notification_chat(message)">{{::message.displayName}} <div class="NotificationTime">{{::  message.time | fondate:'MMMM D YYYY, hh:mm a':fon_lang_code    }} </div></div>
                               <div class="NotificationType">...{{ message.label }} <span ng-if="::message.audience == 'gchat'">{{::verbage_conference_room}}</span></div>

                            <div class="NotificationMessage">
                             <p ng-if="multiple_old_notifications" ng-repeat="sub_message in old_notifications_to_display track by $index"> {{ ::sub_message }} </p>
                             <p ng-if="!multiple_old_notifications">                               

                            <span class="vmfootnote vmduration" ng-if="::message.type == 'vm'">{{ ::message.vm.duration | duration }} &nbsp;</span>
                            <span ng-if="!multiple_old_notifications">{{ old_notifications_to_display }} </span> 
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'zoom'">
                                <span class="XButton XButtonRed" style="width:70px" ng-click="remove_notification(message.xpid)"> {{::verbage.Reject}}</span>
                                <span class="XButton XButtonGreen" style="width:70px"  ng-click="acceptCall(message.senderId, message)" >{{::verbage.accept}}</a>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'vm'">
                                <span class="XButton" style="width:70px" ng-click="playVm(message)"> {{::verbage.Play}}</span>
                                <span class="XButton XButtonGreen" style="width:90px" ng-click="makeCall(message)" > {{::verbage.call_back}}</span>
                            </div>
    
                            <div class="NotificationZoomBtn" ng-if="::message.type == 'missed-call'">
                               <span class="XButton chatNotification" style="width:70px"  ng-click="go_to_notification_chat(message)">{{::verbage.chat}}</span>
                               <span class="XButton XButtonGreen" style="width:70px" ng-click="makeCall(message)">{{::verbage.Call}}</span>
                            </div>
                            <div class="NotificationZoomBtn" ng-if="message.audience == 'queue' && (message.type == 'q-alert-abandoned' || message.type == 'q-alert-rotation')">
                                <span class="XButton" style="width:70px" ng-click="showQueue(message)">{{::verbage.Show}}</span>
                            </div>          
                        </div>
                   </div>
    
                </div>
                
              </div>    
          </div>
          <!-- //////////////////////////// Plugins //////////////////////// -->    
         <div class="overlayNotificationsSection plugins" ng-if="!phoneSessionEnabled" ng-click="showOverlay(true,'DownloadPlugin',{})">                        
          <div class="notifications_section"> 
            <div class="Messages plugins ng-class:{'first': !hasNewNotifications && !hasAwayNotifications && !hasOldNotifications}">
                <a ng-href="{{ pluginDownloadUrl}}" style="text-decoration:none; color:inherit">            
                    <div class="NotificationHeader"> 
                            <div class="NotificationHeaderBackground"> 
                                <div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
                            </div>
                            
                    </div>
                    <div class="NotificationDivider">
                        <img />                       
                       <div  class="header_text"> 
                        <div class="Icon" ng-show="!showHeader"></div>
                        <div ng-show="!showHeader">{{::verbage.notifications}}  </div>
                        <div class="Event" ng-show="notifications.length > 0 && !showHeader"> {{ getNotificationsLength(notifications.length) + ' events'}} </div>
                       </div>             
                    </div>
                    <div class="NotificationSection plugins" > 
                        
                        <div class="LeftBarNotificationAvatarSection "> 
                            <div class="AvatarWarningSmall"></div>
                        </div>
                    
                        <div class="LeftBarNotificationMessageSection" > 
                            <div class="chatNotification plugins">
                                <div class="content"><span>Browser Plugin</span></span> <div class="NotificationTime">{{   }} </div></div> 
                                <div ></div>

                                <div class="NotificationMessage">Click to download & Install</div>
                            </div>
                            
                        </div>
                </div>
                </a>
             </div>
            </div>
           </div>    
            <!-- ////////////////////// WEBPHONE /////////////////// -->
           <div class="overlayNotificationsSection webphone" ng-if="anotherDevice" ng-click="activatePhone()">                        
             <div class="notifications_section">   
                <div class="Messages webphone last ng-class:{'first': phoneSessionEnabled && !hasNewNotifications && !hasAwayNotifications && !hasOldNotifications}">                
                    <div class="NotificationHeader"> 
                            <div class="NotificationHeaderBackground"> 
                                <div class="NotificationClose" ng-click="remove_notification(message.xpid)"></div>
                            </div>
                            
                    </div>
                    <div class="NotificationDivider">
                        <img />
                       <div class="header_text"> 
                        <div class="Icon" ng-show="!showHeader"></div>
                        <div ng-show="!showHeader">{{::verbage.notifications}}  </div>
                        <div class="Event" ng-show="notifications.length > 0 && !showHeader"> {{ getNotificationsLength(notifications.length) + ' events' }} </div>
                       </div>             
                    </div>
                    <div class="NotificationSection webphone last"> 
                        
                        <div class="LeftBarNotificationAvatarSection"> 
                            <div class="AvatarWarningSmall"></div>
                        </div>
                    
                        <div class="LeftBarNotificationMessageSection" > 
                            <div class="chatNotification webphone">
                                <div class="content"><span>Web Phone</span></span> <div class="NotificationTime">{{   }} </div></div> 
                                <div ></div>

                                <div class="NotificationMessage">Phone registered on another device. Click on this message to set this instance as active.</div>
                            </div>
                            
                        </div>
                 </div>               
               </div>       
             </div>
           </div>       
        </div>
        
        <div class="Footer">
            <div class="Error" ng-show="addError" ng-bind="addError"></div>
            <input type="button" class="XButton" value="{{::verbage.cancel}}" ng-click="showOverlay(false);" />
            <input type="button" class="XButton XButtonRed" value="{{::verbage.clear_all}}" ng-click="remove_all();showOverlay(false);" />
        </div>
        
    </div>

</div>
