<div class="MenuWindow SelectMenuBox LocationsMenu" data-ng-controller="GroupSinglePageController" data-ng-style="currentPopup.position">
    <div class="MenuContent">
        <div class="MenuSection">
             <div class="MenuItem">
                <div class="MenuItemText" data-ng-click="callGroup('*74')">{{::verbage.group_page}}</div>
             </div>
            <div class="MenuItem">
                <div class="MenuItemText" data-ng-click="callGroup('*75')">{{::verbage.group_intercom}}</div>
             </div>
                  <div class="MenuItem">
                <div class="MenuItemText" data-ng-click="callGroup('*86')">{{::verbage.group_voicemail}}</div>
             </div>
        
        </div>
    </div>
</div>