<!DOCTYPE html>
<html lang="en" data-ng-app="HUDWeb">
<head>
    <title>Fonality HUDWeb</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link type="image/x-icon" rel="icon" href="img/XFavicon.ico">

    <link type="text/css" rel="stylesheet" href="css/base.css">
    <link type="text/css" rel="stylesheet" href="css/loading.css">
    <link type="text/css" rel="stylesheet" href="css/topBar.css">
    <link type="text/css" rel="stylesheet" href="css/avatar.css">
    <link type="text/css" rel="stylesheet" href="css/widget.css">
    <link type="text/css" rel="stylesheet" href="css/button.css">
    <link type="text/css" rel="stylesheet" href="css/menu.css">
    <link type="text/css" rel="stylesheet" href="css/chat-status.css">
    <link type="text/css" rel="stylesheet" href="css/queue-status.css">
    <link type="text/css" rel="stylesheet" href="css/select-box.css">
    <link type="text/css" rel="stylesheet" href="css/leftBar.css">
    <link type="text/css" rel="stylesheet" href="css/search.css">
    <link type="text/css" rel="stylesheet" href="css/listRow.css">
    <link type="text/css" rel="stylesheet" href="css/list-section.css">
    <link type="text/css" rel="stylesheet" href="css/expandedToolbar.css">
    <link type="text/css" rel="stylesheet" href="css/media.css">
    <link type="text/css" rel="stylesheet" href="css/tabs.css">
    <link type="text/css" rel="stylesheet" href="css/toolbar.css">
    <link type="text/css" rel="stylesheet" href="css/table.css">

    <!-- LIBS -->

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular.route.min.js"></script>
    <script src="js/lib/fjs.core.debug.js"></script>
    <script src="js/lib/fjs.fdp.api.debug.js"></script>

    <!--MODEL-->

    <script src="js/model/entryModel.js"></script>
    <script src="js/model/feedModel.js"></script>
    <script src="js/model/custom/meFeedModel.js"></script>
    <script src="js/model/custom/contactEntryModel.js"></script>
    <script src="js/model/custom/contactsFeedModel.js"></script>
    <script src="js/model/custom/conferenceEntryModel.js"></script>
    <script src="js/model/custom/conferenceFeedModel.js"></script>
    <script src="js/model/custom/conferenceMemberEntryModel.js"></script>
    <script src="js/model/custom/conferenceMemberFeedModel.js"></script>

    <!-- client model -->
    <script src="js/model/client/clientFeedModel.js"></script>
    <script src="js/model/client/sortingEntryModel.js"></script>
    <script src="js/model/client/sortingFeedModel.js"></script>

    <!--filters-->
    <script src="js/model/filters/contactsWithoutMeFilter.js"></script>
    <script src="js/model/filters/sortConferenceFilter.js"></script>
    <script src="js/model/filters/externalContactsFilter.js"></script>


    <script src="js/model/data_provider.js"></script>
    <script src="js/model/module.js"></script>


    <!--UI-->

    <script src="js/ui/controllers/base/Controller.js"></script>
    <script src="js/ui/controllers/MainController.js"></script>
    <script src="js/ui/controllers/TopNavigationController.js"></script>
    <script src="js/ui/controllers/MeWidgetController.js"></script>
    <script src="js/ui/controllers/LocationsController.js"></script>
    <script src="js/ui/controllers/base/AddContactMenuController.js"></script>
    <script src="js/ui/controllers/ZoomWidgetController.js"></script>
    <script src="js/ui/controllers/ConferencesWidgetController.js"></script>
    <script src="js/ui/controllers/LeftBarContactsController.js"></script>


    <script src="js/ui/controllers/SortMenuController.js"></script>


    <script src="js/ui/controllers/LeftBarController.js"></script>
    <script src="js/ui/controllers/LeftBarCallsController.js"></script>

    <script src="js/ui/module.js"></script>
    <script src="js/lib/properties.js"></script>


</head>
<body data-ng-controller="MainController" data-ng-click="onBodyClick()">



<div class="TopBar">
    <div class="TopBarLogo">
    </div>
    <div class="TopBarIcons" data-ng-controller="TopNavigationController">
            <a href="#/me" class="TopBarItemMe TopBarItemApp AvatarHoverArea">
                <div class="TopBarItemAppIcon">
                    <div class="Avatar AvatarNormal">
                        <img class="AvatarImgPH" data-ng-src="{{model.getMyAvatarUrl(38, 38)}}">
                        <div class="AvatarInteractable"></div>
                    </div>
                </div>
                <div class="TopBarItemAppName">Me</div>
            </a>
            <a href="{{icon.url}}" class="TopBarItemApp" data-ng-repeat="icon in appIcons">
                    <div class="TopBarItemAppIcon {{ icon.key }}"></div>
                    <div class="TopBarItemAppName">{{ icon.title }}</div>
            </a>
    </div>
    <div class="TopBarMeStatus">
            <div class="TopBarMeStatus-row">
                <button class="XButton" data-ng-click="logout()">
                    <div class="logout-ico"></div> Sign out
                </button>
            </div>
            <div class="TopBarMeStatus-row">
                <span>Me in ({{ model.getMyAgentStatusDetails() }})</span>
                <div class="ListRowStatusIcon Small XIcon-QueueStatus-{{ model.getMyAgentStatus() }}"></div>
            </div>
            <div class="TopBarMeStatus-row">
                <span>{{ model.getMyChatStatus() }}</span>
                <div class="ListRowStatusIcon Small XIcon-ChatStatus-{{ model.getMyChatStatus() }}"></div>
            </div>
        </div>
    <div class="TopBarBottomLine"></div>
</div>



<div class="LeftSideBar" data-ng-controller="LeftBarController">
    <div class="LeftSideBarHead"></div>
    <div data-ng-include="currentTab.url"></div>
    <div class="LeftSideWidgetTabs WidgetTabBar">
        <div class="WidgetTabBarButton Ready" data-ng-class="{'fj-selected-item': (tab.key == currentTab.key)}" data-ng-click="selectTab(tab)" data-ng-repeat="tab in tabs">
            <div class="inner">{{tab.title}}</div>
            <div class="arrow"></div>
        </div>
    </div>

        <!--<div class="LeftBarPhoneSection">
            <div class="LeftBarNewCall">
                    <div class="left-phone-search" data-ng-class="{'hasresults':number!=''}">
                                <div class="SearchInputBox">
                                    <div class="SearchInputBoxInputHolder">
                                        <input class="SearchInputBoxInput" data-ng type="search" data-ng-keyup="onkeyup($event)" placeholder="Quick call" data-ng-model="number" data-ng-change="numberChanged()">
                                    </div>
                                    <div class="SearchInputBoxStateButton">
                                        <div class="SearchInputBoxStateButtonIcon"></div>
                                    </div>
                                </div>
                                <div data-ng-if="canCall()" class="CallButtonPlaceholder">
                                    <div class="XButton XButtonGreen" >
                                        <span>Call number</span>
                                    </div>
                                </div>
                                <div data-ng-if="number" class="finded">
                                    <div data-ng-class="{'selected': selectedContact == contact}" data-ng-click="selectContact(contact.xpid)" class="ListRow ListRowSmallest AvatarHoverArea" data-ng-repeat="contact in filteredContacts">
                                        <div class="Avatar AvatarSmall">
                                            <img class="AvatarImgPH" data-ng-src="{{contact.getAvatarUrl(28,28)}}">
                                            <div class="AvatarInteractable"></div>
                                        </div>
                                        <div class="ListRowContent">
                                            <div class="ListRowLeftArea">
                                                <div class="ListRowTitle"> {{ contact.displayName || contact.jid }}</div>
                                                <div class="ListRowStatus">
                                                    <div class="ListRowStatusIcon XIcon-ChatStatus-{{contact.xmpp || 'offline'}}"></div>
                                                    <div class="ListRowStatusIcon XIcon-QueueStatus XIcon-QueueStatus-{{contact.queueStatus}}"></div>
                                                    <div class="LisrRowDesc">#{{ contact.primaryExtension }}</div>
                                                </div>
                                            </div>
                                            <div class="ListRowButtons">
                                                <div data-ng-if="contact.jid" class="ListRowActionButton ListRowActionButtonChat"></div>
                                                <div title="{{ contact.primaryExtension }}" data-ng-if="contact.primaryExtension" class="ListRowActionButton ListRowActionButtonCall"></div>
                                                <div title="{{ contact.email }}" data-ng-if="contact.email" class="ListRowActionButton ListRowActionButtonEmail"></div>
                                                <div title="{{ contact.phoneMobile }}" data-ng-if="contact.phoneMobile" class="ListRowActionButton ListRowActionButtonMobile"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>
            <div class="LeftBarCalls">

            </div>
        </div>-->



   <!-- <div class="fj-vbox-cell LeftSideBarSection LeftSideBarSectionHead" data-ng-controller="LeftBarCallsController">
        <div class="LeftSideBarSectionBody">
            <div class="LeftBarPhoneCalls">
                <div class="PhoneCallsPanel">
                    <div class="fj-phone-section-content" >
                        <div data-ng-controller="MyCallController" class="MyCallBlock AvatarHoverArea {{ call.getCallType() }} " data-ng-class="{'IsHold-true': call.state == 3}" data-ng-repeat="call in calls">
                            <div class="fj-hbox MyCallHolder">
                                <div class="fj-hbox-cell MyCallBlockCallIconHolder">
                                    <div class="MyCallBlock_CallIcon Category-{{ call.getCallType() }}">
                                        <div class="MyCallBlock_CallIconInner" data-ng-class="{'IsMute-true': call.mute}"></div>
                                    </div>
                                </div>
                                <div class="fj-hbox-space MyCallBlockCallLineHolder">
                                    <div class="fj-hbox MyCallBlock_CallLineTop">
                                        <div class="fj-hbox-space MyCallBlock_CallerName">{{ call.displayName }}</div>
                                        <div class="fj-hbox-cell MyCallBlock_Rec {{call.record}}"></div>
                                    </div>
                                    <div class="fj-hbox MyCallBlock_CallLineBottom">
                                        <div class="fj-hbox-space MyCallBlock_CallInfo"><span>{{call.incoming && "Inbound" || "Outbound"}}</span><span
                                                class="fj-visibility-{{call.state != 3}}">&nbsp; on hold &nbsp;</span><span
                                                class="fj-visibility-{{call.state == 3}}">&nbsp; on call &nbsp;</span><span
                                                class="MyCallBlock_Duration" >{{duration}}</span><span
                                                class="fj-visibility-false">&nbsp;/&nbsp;</span><span
                                                class="MyCallBlock_HoldInfo_Timer fj-visibility-false">{{holdDuration}}</span></div>
                                        <div class="fj-hbox-cell MyCallBlock_MutedText fj-visibility-{{call.mute}}">
                                            Muted
                                        </div>
                                    </div>
                                </div>
                                <div class="fj-hbox-cell MyCallBlockButtonsHolder">
                                    <div class="fj-hbox MyCallBlock_Buttons fj-visibility-{{call.state!=0 || call.incoming}}">
                                        <div class="fj-hbox-space MyCallBlock_Buttons_Left">
                                            <div data-ng-click="hangup()" class="XButton XButtonNormal {{call.state==0}}">
                                                <span>Decline</span></div>
                                            <div data-ng-click="hangup()" data-event="click" class="XButton XButtonNormal {{call.state!=0}}">
                                                <span>End</span></div>
                                        </div>
                                        <div class="fj-hbox-space MyCallBlock_Buttons_Right">
                                            <div data-ng-click="accept()" class="XButton XButtonNormal {{call.state==0}}">
                                                <span>Accept</span></div>
                                            <div data-ng-click="hold()" class="XButton XButtonNormal {{call.state==2}} disabled-{{!!call.details.conferenceId}}">
                                                <span>Hold</span></div>
                                            <div data-ng-click="unhold()" class="XButton XButtonNormal {{call.state==3}}">
                                                <span>Talk</span></div>
                                        </div>
                                    </div>
                                    <div class="fj-hbox MyCallBlock_Buttons fj-visibility-{{call.state==0 && !call.incoming}}">
                                        <div class="fj-hbox-space">
                                            <div class="XButton XButtonNormal" data-ng-click="hangup()">
                                                <span>Cancel</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="LeftSideBarSectionBottom Phone"></div>
            <div class="LeftSideBarSectionNewCall">
                <div class="PhoneInputBox"><input type="tel" id="callinput" data-ng-model="number" class="InputNewCall" placeholder="Phone number"></div>
                <div data-ng-click="call()" class="XButton XButtonGreen XButtonCall"><span>New Call</span></div>
            </div>
        </div>
    </div>-->


    <!--<div class="LeftSideWidgetTabs WidgetTabBar">
        <div class="WidgetTabBarButton Ready" data-ng-class="{'fj-selected-item': (tab.key == currentTab.key)}" data-ng-click="selectTab(tab)" style="width: {{ tab.width }};" data-ng-repeat="tab in tabs">
            <div class="inner">{{tab.title}}</div>
            <div class="arrow"></div>
        </div>
    </div>-->
</div>

<ng-view></ng-view>

<div ng-include="currentPopup.url"></div>

<div  id="fj-loading" class="fj-loading">
    <div class="fji-box">
        <div class="fji-label">Loading...</div>
        <div class="loading-amination">
            <img src="img/ajax-loader.gif">
        </div>
    </div>
</div>
</body>
</html>