<div class="fj-widget-area Widget Conference">
    <div class="WidgetHeader">
        <div class="TopBarItemAppIcon Conferences"></div>
        <div class="WidgetHeaderTitle Single">{{::verbage.conferencing}}</div>
        <div class="WidgetStat">
			<div class="Left">
				<div class="Labels">
					<div>{{::verbage.occupied}}:</div>
					<div>{{::verbage.talking}}:</div>
				</div>
				<div class="Data">
					<div>{{ totals.occupied }}</div>
					<div>{{ totals.talking }}</div>
				</div>
			</div>
			<div class="Right">
				<div class="Labels">
					<div>{{::verbage.rooms}}:</div>
					<div>{{::verbage.total}}:</div>
				</div>
				<div class="Data">
					<div>{{ conferences.length }}</div>
					<div>{{ totals.all }}</div>
				</div>
			</div>
        </div>
    </div>
	
    <div class="WidgetBody">
        <div class="WidgetTabBar">
            <a href="" class="WidgetTabBarButton Ready" ng-class="tab == 'my' ? 'fj-selected-item': ''" ng-click="saveCTab(1); tab = 'my'">
                <div class="inner">{{::verbage.my_rooms}}</div>
                <div class="arrow"></div>
            </a>
            <a href="" class="WidgetTabBarButton Ready" ng-class="tab == 'all' ? 'fj-selected-item': ''" ng-click="saveCTab(2); tab = 'all'">
                <div class="inner">{{::verbage.all_rooms}}</div>
                <div class="arrow"></div>
            </a>
        </div>
		
        <div class="WidgetTabContent">
            <div class="ToolBar">
             <div class="SelectBox selectWrapper conf">
                <select ng-model="selectedConf" ng-options="sort_option.display_name for sort_option in sort_options track by sort_option.display_name" ng-change="sortConf(selectedConf)"></select>
             </div>
                <input type="button" value="{{::verbage.find_free_room}}" class="XButtonWide XButton XButtonNormal disabled-{{isFindMyFreeAndJoinDisabled}}" data-ng-click="findRoom()" />
                <div class="SearchInputBox">
                    <div class="SearchInputBoxInputHolder">
                        <input class="SearchInputBoxInput" data-ng-model="query" type="search" ng-model-options="{debounce: 200}" x-webkit-speech="" ng-attr-placeholder="{{::verbage.search}}" />
                    </div>
                    <div class="SearchInputBoxStateButton">
                        <div class="SearchInputBoxStateButtonIcon"></div>
                    </div>
                </div>
            </div>
           
            <div class="ListView WithToolBar">
                <div class="InlineList">
                    <div class="ListViewTopNote" data-ng-hide="hideNote">
                        <span ng-if="tab == 'all'">{{::verbage.conf_summary_all_rooms}}</span>
						<span ng-if="tab == 'my'">{{::verbage.conf_summary_my_rooms}}</span>
						
                        <div class="ListViewTopNoteClose" data-ng-click="hideNote=true"></div>
                    </div>
                    <a href="#/conference/{{::conference.xpid}}/currentcall" class="ListRow ListRow-Conference ng-class:{'last': $last}" data-ng-repeat="conference in conferences | filter: customFilter() | orderBy: [selectedConf.type, 'location'] track by conference.xpid" droppable="Contact,Call">
                        <avatar profile="conference"></avatar>
                        <div class="ListRowContent" dockable="conference">
                            <div class="ListRowTitle">
                                <div class="name"> {{::verbage.room}} # {{::conference.roomNumber}} ({{::conference.extensionNumber}})</div>
								
                                <div data-ng-if="conference.members.length == 0">
                                    <div class="ListConferenceStatusIcon XIcon-ChatStatus-Offline"></div>
									{{::verbage.free_room}}
                                </div>                            
                                <div data-ng-if="conference.members.length > 0">
                                    <div class="ListRowStatusIcon XIcon-ChatStatus-Available"></div>
									{{conference.members.length}} {{::verbage.members_on_call}}
								</div> 
                            </div>
							<div class="ListRowStatus" ng-if="conference.location">
								at {{::conference.location}}
							</div>
						
                        <div data-fj-local-id="membersList" data-ng-if="conference.members.length > 0" class="ListRow-Conference-Members">
                            <div class="conferences-room-item-member" data-ng-repeat="member in conference.members">
                                <avatar profile="member" type="4" context="conference:conference"></avatar>
                                <div class="first-name">{{::member.displayName}}</div>
                            </div>
                        </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>