<div class="ToolBar" >
        <div class="SearchInputBox">
            <div class="SearchInputBoxInputHolder">
                <input class="SearchInputBoxInput" type="text" x-webkit-speech="" placeholder="Search" ng-model="query">
            </div>
            <div class="SearchInputBoxStateButton">
                <div class="SearchInputBoxStateButtonIcon"></div>
            </div>
        </div>

 </div>


    <!--<react-component name="Voicemailbox" props="data"></react-component>-->
    
    <div class="ListView fj-scrollable"> 
        <div class="vmsection" ng-repeat="callrecording in callrecordings "> 
           
            <div class="ConferenceAvatarSection  Avatar ConferenceRecording">
                <div class="GroupAvatarItemLrg GroupAvatarItem_0">
                    <img class="GroupAvatarItemImg" data-ng-src="{{ getAvatarUrl(0) }}">
                </div>
                <div class="GroupAvatarItemLrg GroupAvatarItem_1">
                    <img class="GroupAvatarItemImg"
                         data-ng-src="{{ getAvatarUrl(1) }}">
                </div>
                <div class="GroupAvatarItemLrg GroupAvatarItem_2">
                    <img class="GroupAvatarItemImg"
                         data-ng-src="{{ getAvatarUrl(2) }}">
                </div>
               <div class="GroupAvatarItemLrg GroupAvatarItem_3">
                    <img class="GroupAvatarItemImg" data-ng-src="{{ getAvatarUrl(3) }}">
                </div>
               <div class="AvatarInteractable"></div>
            </div>


            <div class="vminfo"> 
                    <div class="displayName">
                        <p class="vmdisplay">
                            <span> Conference Room #{{conference.roomNumber}} {{'<' + conference.extensionNumber + '>'}} </span>
                        </p>
                        <div class="vmalternate">
                            <div class="vmtime">{{ formate_date(callrecording.created) }} </div>
                            <input style="float:right"class="vmcallbtn" type="button" value="Join"></input>
                        </div>
                    </div> 
                    <div class="footnote">
                        <div class="vmfootnote vmduration">{{ formatDuration(callrecording.duration) }} </div>
                    </div>
                    
            </div>
        </div>
    </div>