<div>     
    <div class="ListViewTopNote">
        <span style="font-size:12px;">{{ joined ? 'you are on a call' : 'You are not a member of this conference' }}</span>
        <input class="XButton" style="float:right; margin-top:5px; margin-right:5px;" type="button" ng-click="joinConference()"value="{{joined ? 'Leave' : 'Join' }}"> </input> 
	</div>

</div>

<div class="ToolBar" style="height:6em;"> 
    <div class="ConferenceMembers"> 
        <div class="Conference-HeaderTitle">Conference Members</div>
        

        <div class="Add SearchInputBox" style="top:20px">
            <div class="SearchInputBoxInputHolder">
                <input class="SearchInputBoxInput" type="search" contact-search conference="true" placeholder="Add someone" data-ng-model="query"></div>
            <div class="SearchInputBoxStateButton">
                <div class="SearchInputBoxStateButtonIcon"></div>
            </div>
        </div>
    </div>

</div>

<div class="ListView fj-scrollable"> 
	<div class="ListRow" ng-repeat="member in conference.members" > 

		<div class="CallAvatar CallAvatar_Office Avatar" context-menu="member.fullProfile"> 
			<img class="vmavatar " ng-src="member.fullProfile.getAvatar(28)" onerror="this.src='img/Generic-Avatar-28.png'"/>
			<div class="AvatarForeground AvatarInteractable"></div>
		</div>

		<div class="ListRowContent"> 
			<div class="ListRowTitle">
				<div class="name">
					<span> {{ member.displayName }} </span>
					<div class="footnote">
						<div class="XIconSetMic QueueStatus IconDisplay"></div>
						<div class="ListRowStatusIcon XIcon-QueueStatus-{{member.fullProfile.queue_status}}"></div>
						<div class="ListRowStatusIcon XIcon-ChatStatus-{{member.fullProfile.hud_status || 'offline' }}"></div>
					</div>
				</div> 
			</div>
			
			<div class="ListRowStatus">
				<div class="vmtime" timer="member.started"></div>
			</div>
		</div>
    </div>
</div>