<div>     
    <div class="ListViewTopNote">
        <span style="font-size:12px;">{{ joined ? verbage.you_are_on_call : verbage.not_a_member_of_conference }}</span>
        <input class="XButton" style="float:right; margin-top:5px; margin-right:5px;" type="button" ng-click="joinConference()"value="{{joined ? verbage.leave : verbage.join }}"> </input> 
	</div>

</div>

<div class="ToolBar" style="height:6em;"> 
    <div class="ConferenceMembers"> 
        <div class="Conference-HeaderTitle">{{::verbage.conference_member}}</div>
        

        <div class="Add SearchInputBox" style="top:20px">
            <div class="SearchInputBoxInputHolder">
                <input class="SearchInputBoxInput" type="search" contact-search conference="true" ng-attr-placeholder="{{::verbage.add_someone}}" data-ng-model="query"></div>
            <div class="SearchInputBoxStateButton">
                <div class="SearchInputBoxStateButtonIcon"></div>
            </div>
        </div>
    </div>

</div>

<div class="ListView fj-scrollable"> 
	<div class="ListRow" ng-repeat="member in conference.members" > 

		<avatar profile="member" type="4" context="conference:conference"></avatar>

		<div class="ListRowContent" dockable="member.fullProfile"> 
			<div class="ListRowTitle">
				<div class="name">
					<span> {{ ::member.displayName }} </span>
					<div>
						<div class="QueueStatus IconDisplay" ng-class="member.muted ? 'XIconMuteMic' : 'XIconSetMic'"></div>						
						<div class="ListRowStatusIcon XIcon-QueueStatus-{{member.fullProfile.queue_status}}"></div>
						<div class="ListRowStatusIcon XIcon-ChatStatus-{{member.fullProfile.hud_status || 'offline' }}"></div>
						{{member.fullProfile.custom_status ? member.fullProfile.custom_status : member.fullProfile.hud_status ? verbage[member.fullProfile.hud_status] : verbage['offline'] }}
					</div>
				</div> 
			</div>
			
			<div class="ListRowStatus">
				<div class="vmtime" timer="member.started"></div>
				<div ng-if="member.ring">
					<img src="img/XLoading.gif" />
					joining...
				</div>
			</div>
		</div>
    </div>
</div>
