option{
  text-align:center;
  padding-left:20px;
}

textarea {
  background-color: #FFFFFF;
  appearance: textfield;
  user-select: text;
  resize: none;
  outline: none;
  padding: 5px;
  font-size: 11px;
  border-radius: 3px;
  color: #333;
  border: solid 1px #C7C7C7;
  box-shadow: 0 0 1px #ddd inset;
  font-family: Arial, Tahoma, 'Helvetica Neue', Helvetica, sans-serif;
  position: relative;
}

input[type="text"], input[type="email"], input[type="search"], input[type="tel"] {
  /*padding:5px;*/
  /*height:16px;*/
  border-radius:2px;
  outline: none;
}

.XButton {
  position: relative;
  display: inline-block;
  height: 2.5em;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  line-height: 2.4em;
  text-decoration: none;
  cursor: pointer;
  font-size: .7em;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.2);
  background: #fefefe linear-gradient(#fefefe, #ebebeb);
  color: #333;
  text-shadow: 0 1px 0 #fff;
  vertical-align: top;
}



.XButton:hover {
  background: #fefefe linear-gradient(#fefefe, #ddd);
  border: 1px solid rgba(0,0,0,0.3);
  color: #222;
  text-shadow : 0 1px 0 #fff;
}

.XButton.XButtonGreen {
  background: #3c9c00 linear-gradient(#3c9c00, #328400);
  color: #e8e8e8;
  border: 1px solid rgba(155,155,155,0.3);
  text-shadow: none;
}

.XButton.XButtonGreen:hover, .XButton.XButtonBlue:hover, .XButton.XButtonRed:hover {
  border: 1px solid rgba(0,0,0,0.3);
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.XButton.XButtonBlue {
  background: #0077f1 linear-gradient(#0077f1, #006fe1);
  color: #e8e8e8;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
  border: 1px solid rgba(155,155,155,0.3);
}

.XButton.XButtonRed {
  background: #d72800 linear-gradient(#d72800, #b72200);
  color: #e8e8e8;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
  border: 1px solid rgba(155,155,155,0.3);
}

.XButtonMedium.disabled-true span,
.XButtonMedium.disabled-true:hover span
{
  height: 26px;
  background-image: linear-gradient(left top, left bottom, #fefefe, #ebebeb);
  background-color: #fefefe;
  color: #999;
  text-shadow: 0 1px 0px #fff;
  cursor: auto;
  border: 1px solid rgba(0,0,0,0.3);
  transition: none;
  box-shadow: none;
}

.XButton:disabled span, .XButtonNormal:disabled span, .XButtonNormal.disabled-true span
{
  height: 26px;
  background-image: linear-gradient(left top, left bottom, #fefefe, #ebebeb);
  background-color: #fefefe;
  color: #999;
  text-shadow: 0 1px 0px #fff;
  transition: border .3s;
  cursor: auto;
}

.XButtonBlue.disabled-true span,
.XButtonBlue.disabled span
{
  opacity: 0.5;
  cursor: auto;
}

.XInputText {
  border-radius: 3px;
  padding: 3px;
  color: #333;
  border: solid 1px #C7C7C7;
  box-shadow: 0px 0px 1px #DDD inset;
}

.XIcon24-MuteOff {
  background: url(../img/XIconSet-24x24.png) no-repeat 0px 0px;
  width: 24px;
  height: 24px;
}
.XIcon24-MuteOn {
  background: url(../img/XIconSet-24x24.png) no-repeat -24px 0px;
  width: 24px;
  height: 24px;
}
/**
DO NOT CHANGE .XIcon24-Speaker-On/Off style. Fix order in HUDweb 2.0
*/
.XIcon24-Speaker-Off {
  background: url(../img/XIconSet-24x24.png) no-repeat -48px 0px;
  width: 24px;
  height: 24px;
}
.XIcon24-Speaker-On {
  background: url(../img/XIconSet-24x24.png) no-repeat -120px 0px;
  width: 24px;
  height: 24px;
}
.XIcon24-SoundSliderThumb {
  background: url(../img/XIconSet-24x24.png) no-repeat -96px 0px;
  width: 24px;
  height: 24px;
}

.SelectBox {
  display: inline-block;
  border-radius: 2px;
  background-image: linear-gradient(#fefefe, #ebebeb);
  border: 1px solid rgba(0,0,0,0.2);
  vertical-align: middle;
  padding:0 25px 0 10px;
  height:26px;
  line-height: 26px;
  font-weight: bold;
  font-size: 11px;
  position:relative;
  cursor:pointer;
}

.SelectBox:hover {
  background: #fefefe linear-gradient(#fefefe, #ddd);
  border: 1px solid rgba(0,0,0,0.3);
  color: #222;
  text-shadow : 0 1px 0 #fff;
}

.SelectBoxText {
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.SelectBoxSettings{
  width:195px;
  text-align:center;
  padding: 0 0 0 20px;
}

.SelectBoxText .InnerIco {
  color: #719d24;
}

.SelectBoxArrow {
  top: 12px;
  border:4px solid;
  border-color: #555 transparent transparent transparent;
  width: 0;
  height: 0;
  position:absolute;
  right: 8px;
}

.SelectBoxMenu {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  height: 30px;
  cursor: pointer;
}

.SelectBoxMenu .SelectBoxText {
  top: 5px;
  color: #719d24;
  font-weight: bold;
  text-align: center;
  position:relative;
}

.SelectMenuBox .MenuContent {
  margin-top: 30px;
}

.MediaPlayerSlider
{
  position: absolute;
  top: 22px;
  height: 10px;
  left: 30px;
  right: 30px;
}
.MediaPlayerSliderBg {
  position: absolute;
  top: -1px;
  height: 10px;
  left: 6px;
  right: 16px;
  border-top: solid 1px #959595;
}
.MediaPlayerSliderBgLeft
{
  background-image: url("img/XPlayer.png");
  position: absolute;
  bottom: 0px;
  height: 20px;
  width: 30px;
  left: 0px;
  right: 4px;
  background-position: -40px -150px;
}

.MediaPlayerSliderBgRight
{
  background-image: url("img/XPlayer.png");
  background-position: -50px -150px;
  position: absolute;
  bottom: 0px;
  height: 20px;
  width: 30px;
  right: 0px;
}
.MediaPlayerSliderInner
{
  position: absolute;
  top: 0px;
  height: 10px;
  left: 0px;
  right: 20px;
}
.MediaPlayerSliderThumb
{
  position: absolute;
  top: 0px;
  height: 16px;
  border-radius: 20px;
  /** sample, fill from controller */
}
.MediaPlayerSliderThumbIco
{
  top: -10px;
  height: 20px;
  right: 0px;
  background-image: url("img/XPlayer.png");
  background-position: 0px -150px;
  position: absolute;
  width: 20px;
  left: 0px;
}
.MediaPlayerSliderIndicator{
  display: none;
}

.PopupSlider {
  display:none;
  position:absolute;
  top:26px;
  left:0;
  width:28px;
  z-index: 100;
  height:100px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
  .PopupSliderFadeLine {
    position:absolute;
    top:5px;
    bottom: 5px;
    background-color: #bbb;
    left:12px;
    right:12px;
  }
  .PopupSliderFader {
    position:absolute;
    top:30px;
    width:20px;
    height:20px;
    background-color: #999;
    border-radius: 20px;
    left:4px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3), 0px 2px 2px #ffffff inset;

  }
}

.ImgBtnUpload{
  display: inline-block;
  width: 100px;
  font-size: 1em;
  text-align: center;
  line-height: 28px;
  height: 26px;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  margin-right:10px;
  border-radius: 2px;
-webkit-border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.2);

}
