.CallLog .vmsections,
.CallLog .rows {
  border: 1px solid #eee;
  width: 99.5%;
  margin-bottom: 10px;
}
.CallLog .ListLineContent.Header .ListLineContentCell {
  max-width: none !important;
}
.CallLog .ListLineContent.Header .ListLineContentCell:first-child {
  width: 26px;
}
.CallLog .ListLineContent.Header .ListLineContentCell .DirectionArrow {
  left: 8px !important;
  position: relative !important;
}
.CallLog .ListLineContent.Header .ListLineContentCell.Down .DirectionArrow {
  top: 4px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .CallLog .ListLineContent.Header .ListLineContentCell .DirectionArrow {
    margin-left: 0;
  }
}
.CallLog .ListLineContent.Header .ListLineContentCell.Name {
  width: 112px !important;
}
.CallLog .ListLineContent.Header .ListLineContentCell.Phone {
  width: 78px !important;
}
.CallLog .ListLineContent.Header .ListLineContentCell.Duration {
  width: 44px  !important;
}
.CallLog .ListLineContent.Header .ListLineContentCell.StartedAt {
  width: 110px !important;
}
.CallLog .ListLineContent.Header .ListLineContentCell.CallType {
  width: 10%  !important;
}
.CallLog .vmails .ToolBar {
  width: 100%;
}
.CallLog .vmails .ToolBar select.XButtonDropDown {
  margin-top: 2px;
  top: -2px;
  float: right !important;
  padding: 6px 0;
}
.CallLog .vmails .ToolBar select.XButtonDropDown.XSortButton {
  width: 32.5% !important;
}
.CallLog .vmails .ToolBar input,
.CallLog .vmails .ToolBar select {
  float: left;
}
.CallLog .vmails .ToolBar input[type=search] {
  width: 30%;
}
.CallLog .vmails .ToolBar input[type=search].recording {
  width: 45%;
}
.CallLog .ListRow {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  font-size: .9em;
  width: 100%;
  cursor: default !important;
  font-size: 12px;
}
.CallLog .ListRow > div {
  flex: 1;
  -webkit-flex: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 40px;
}
.CallLog .ListRow > div:not(:first-child) {
  padding-left: 5px;
}
.CallLog .ListRow > div:not(:first-child) span {
  position: relative;
  top: 15px;
}
.CallLog .ListRow > div:not(.Type) {
  border-right: 1px solid #fff;
}
.CallLog .ListRow > div.Name {
  flex: 3 1 0;
  -webkit-flex: 3 1 0;
}
.CallLog .ListRow > div.Name > div {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #009cff;
  font-weight: bold;
  max-width: 114px;
  margin-top: 15px;
}
.CallLog .ListRow > div.Phone {
  text-decoration: underline;
  color: #333;
  flex: 2.1 1 0;
  -webkit-flex: 2.1 1 0;
  font-weight: bold;
}
.CallLog .ListRow > div.Phone span {
  white-space: nowrap;
  cursor: pointer;
}
.CallLog .ListRow > div.Duration {
  flex: 1.4 1 0;
  -webkit-flex: 1 1 0;
  padding-right: 6px;
}
.CallLog .ListRow > div.Date {
  flex: 3 1 0;
  -webkit-flex: 3 1 0;
  white-space: nowrap;
}
.CallLog .ListRow > div.Type {
  width: 6%;
}
.CallLog .ListRow > div.Type .ListRowStatusIcon {
  margin-top: 10px;
}
.CallLog .Empty {
  text-align: center;
  margin-top: 1em;
  color: gray;
}
.ListRowNoBorders {
  border: none !important;
}
.RecentCallSection {
  font-size: .7em;
  padding: 10px 0;
  height: 66%;
}
.RecentCallSection .RecentCallColumnHeaders {
  padding: 6px 10px;
  border-bottom: 1px solid #ccc;
}
.RecentCallSection .RecentCallLogs {
  font-weight: bold;
  padding: 4px 10px 10px 10px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  position: relative;
}
.RecentCallSection .RecentCallLogs .RecentCallRow {
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
}
.RecentCallSection .RecentCallLogs .fj-scroll {
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 10px;
  right: 0px;
  background-color: #f9f9f9;
}
.RecentCallSection .RecentCallLogs .fj-scroll .fj-ui-scrollerFr-decoration,
.RecentCallSection .RecentCallLogs .fj-scroll .fj-ui-scroller {
  background-color: #f9f9f9;
}
.RecentCallSection .CallLogs {
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 10px;
  overflow-y: auto;
}
.RecentCallSection .CallLogs .RecentCallRow {
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid white;
  width: 99%;
  background-color: #eee;
}
.RecentCallSection .CallLogs .RecentCallRow:hover {
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid white;
  width: 99%;
  background-color: #ccc;
}
.RecentCallSection .CalllogAvatar {
  width: 10%;
}
.RecentCallSection .CalllogAvatar .CalllogImage {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 3px solid #0093f0;
}
.RecentCallSection .CalllogName {
  width: 23%;
  display: inline-flex;
  display: -webkit-inline-flex;
}
.RecentCallSection .CalllogName .info {
  color: #009cff;
}
.RecentCallSection .CalllogPhone {
  width: 17%;
  text-align: center;
  display: inline-flex;
  display: -webkit-inline-flex;
}
.RecentCallSection .CalllogDuration {
  width: 14%;
  display: inline-flex;
  display: -webkit-inline-flex;
}
.RecentCallSection .CallLogDate {
  width: 25%;
  display: inline-flex;
  display: -webkit-inline-flex;
}
.RecentCallSection .CallLogType {
  width: 7%;
}
.RecentCallSection .RecentDate {
  width: 30%;
}
.RecentCallSection .RecentFromTo {
  width: 25%;
  text-align: center;
}
.RecentCallSection .RecentFromTo.call {
  cursor: pointer;
  text-decoration: underline;
  color: #91B139;
}
.RecentCallSection .RecentDur {
  width: 14%;
  text-align: center;
}
.NoRecentCalls {
  text-align: center;
  font-size: 1.3em;
  opacity: 0.5;
  padding: 10px 0 0 0;
}
.RecentCallsHeader {
  display: inline-block;
}
