.CallLog {        
  .ListLineContent.Header{
    .ListLineContentCell{
      max-width: none !important;
                    
      .DirectionArrow{
        left: 8px !important; 
        position: relative !important;
      }
      &.Down{
        .DirectionArrow{top: 4px;}
      }
                    
      @media screen and (-ms-high-contrast: active),
      (-ms-high-contrast: none) {
        .DirectionArrow{margin-left: 0;}
      }                   
                  
      &.Name{width: 23% !important;}   
      &.Phone{width: 15% !important;}
      &.Duration{width: 16%  !important;}  
      &.StartedAt{width: 15%  !important;}  
      &.CallType{width: 10%  !important;}
    }                                               
  }           

  .vmails{                
    .ToolBar{
            margin-bottom: 20px;
            
            select.XButtonDropDown{
                margin-top: 2px;
                height: 2.85em;
                top: -2px;
                float: right !important;
                padding: 0 6.3%;
                &.XSortButton{
                    width: 32.5% !important;
                }    
            }
            input, select{float: left;}
            input[type=search]{
                width: 30%;
            }
        }    
  }                

       
  .ListRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .9em;
    width: 100%;
    cursor: default !important;
            	    	
    & > div {
      flex: 1;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  overflow: hidden;
      
      .CallAvatar{
        cursor: pointer;
      }
      
      &:not(:first-child):not(.Name) {
        font-size: .8em;      	       	       	        	        	    
      }
    	  
      &.Name {
    	text-align: left;
    	text-overflow: ellipsis;
        overflow: hidden;
        flex: 3;
    	color: #009cff;     		  		
      }
    	  
      &.Phone {
	    text-decoration: underline;
    	color: #333;
    	flex: 2;
    	    
    	span{white-space: nowrap; cursor: pointer;}
      }
    	  
      &.Duration{flex:1;}
    	   
      &.Date {
        flex: 3;
    	white-space: nowrap;
      }
      &.Type{width: 6%;}
    }
  }

  .Empty {
    text-align: center;
	margin-top: 1em;
	color: gray;
  }  
}
.ListRowNoBorders{
  border:none !important;
}

.RecentCallSection{
  font-size:.7em;
  padding: 10px 0;
  height: 50%;
    
  .RecentCallColumnHeaders{    
    padding: 6px 10px;
    border-bottom:1px solid #ccc;
  }
  .RecentCallLogs{
    font-weight:bold;   
    padding: 4px 10px 10px 10px;    
    overflow-y:auto;    
    height: 100%;
    width: 100%;
    position: relative;
    
    .RecentCallRow{
      padding-top:7px;
      padding-bottom:7px;
      border-bottom:1px solid #ccc;
    }
    .fj-scroll{
        position: absolute;
        top: 10px;
        bottom: 10px;
        width: 10px;
        right: 0px;
        background-color: #f9f9f9;
        
        .fj-ui-scrollerFr-decoration, 
        .fj-ui-scroller{
            background-color: #f9f9f9;
        }
    }
  }

  .CallLogs{
    font-weight:bold;
    padding-top:4px;
    padding-bottom:10px;
    overflow-y:auto;
    .RecentCallRow{
      padding-top:7px;
      padding-bottom:7px;
      border:1px solid white;
      width:99%;
      background-color:#eee;
    }

    .RecentCallRow:hover{
      padding-top:7px;
      padding-bottom:7px;
      border:1px solid white;
      width:99%;
      background-color:#ccc;
    }
  
  }

  .CalllogAvatar{
    width:10%;
      .CalllogImage{
          border-radius:30px;
          -webkit-border-radius:30px;
          border:3px solid #0093f0;

      }
  }

  .CallLogText{
  }
  .CalllogName{
    width:23%;
    display:inline-flex;
    display:-webkit-inline-flex; 
    .info{
        color:#009cff;
    } 
  }

  .CalllogPhone{
    width:17%;
    text-align:center;
    display:inline-flex;  
    display:-webkit-inline-flex;
  }

  .CalllogDuration{
    width:14%;
    display:inline-flex;  
    display:-webkit-inline-flex;
 
  }

  .CallLogDate{
    width:25%;
    display:inline-flex;  
    display:-webkit-inline-flex;
 
  }

  .CallLogType{
    width:7%;
      
  }


  .RecentDate{
    width:30%

  }
  .RecentFromTo{
    width:25%;
    text-align:center;
 }
  .RecentDur{
    width:14%;
    text-align:center;
  }
}
.NoRecentCalls{
  text-align:center;
  font-size:1.3em;
  opacity: 0.5;
  padding: 10px 0 0 0;
}
.RecentCallsHeader{
  display:inline-block;
}