.Widget.CallLog .ListRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .9em;
}
.Widget.CallLog .ListRow:nth-child(odd) {
  background-color: #eee;
}
.Widget.CallLog .ListRow:hover {
  background-color: #ddd;
}
.Widget.CallLog .ListRow > div {
  flex: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.Widget.CallLog .ListRow > div:not(:first-child):not(.Name) {
  font-size: .8em;
}
.Widget.CallLog .ListRow > div.Name {
  text-align: left;
  flex: 3;
  color: #009cff;
}
.Widget.CallLog .ListRow > div.Phone {
  text-decoration: underline;
  color: #333;
  flex: 3;
}
.Widget.CallLog .ListRow > div.Date {
  flex: 3;
}
