.Widget.CallLog {
  .ListRow {
    display: flex;
	flex-direction: row;
	align-items: center;
	font-size: .9em;
	
	&:nth-child(odd) {
	  background-color: #eee;
	}
	
	&:hover {
	  background-color: #ddd;
	}
	
    & > div {
	  flex: 1;
	  display: inline-block;
	  vertical-align: middle;
	  text-align: center;
	  
	  &:not(:first-child):not(.Name) {
	    font-size: .8em;
	  }
	  
	  &.Name {
	    text-align: left;
		flex: 3;
		color: #009cff;
	  }
	  
	  &.Phone {
	    text-decoration: underline;
		color: #333;
	    flex: 3;
	  }
	  
	  &.Date {
	    flex: 3;
	  }
	}
  }
}