.CallLog {   
  
  .vmsections, .rows{
    border: 1px solid #eee;
    margin-bottom: 10px;
   }

   #createdVido a {
    text-decoration:underline;
   }    
   
  .ListLineContent.Header{
    .ListLineContentCell{
      max-width: none !important;
      &:first-child{
         width: 30px;
      }   
                    
      .DirectionArrow{
        left: 8px !important; 
        position: relative !important;
      }
      &.Down{
        .DirectionArrow{top: 4px;}
      }
                    
      @media screen and (-ms-high-contrast: active),
      (-ms-high-contrast: none) {
        .DirectionArrow{margin-left: 0;}
      }                   
                  
      &.Name{width: 118px;}
      &.Topic{width: 130px;}   
      &.Phone{width: 74px;}
      &.Duration{/*width: 50px; margin-left: 10px;*/ width: 65px; margin-left: -3px;}
      &.Meeting_Id{width:70px; margin-left: 58px;} 
      &.videoStartedAt{width: 110px;}     
      &.StartedAt{width: 95px;}
      &.Start_time{width: 20%;margin-left: 20px;}
      &.CallType{width: 10%;}
    }                                               
  }           

  .vmails{                
    .ToolBar{          
            width: 100%;
            
            select.XButtonDropDown{
                margin-top: 2px;               
                top: -2px;
                float: right !important;
                padding: 6px 0;
                &.XSortButton{
                    width: 32.5% !important;
                }    
            }
            
            input, select{float: left;}
            input[type=search]{
                width: 30%;
                  
                &.recording{width: 45%};
            }
        }    
  }               
       
  .ListRow {
    display: flex;
  display: -webkit-flex;
    flex-direction: row;
  -webkit-flex-direction: row;
    align-items: center;
  -webkit-align-items: center;
    font-size: .9em;
    width: 100%;
    cursor: default !important;
    font-size: 12px;
                    
    & > div{
      flex: 1;
    -webkit-flex: 1;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 40px;
    height: auto;           
      
      &:first-child {
          min-width: 40px;
          width: 40px;
      -ms-flex: 0;
      }
      
      &:not(:first-child) { 
        padding-left: 5px;               
        span{
            position: relative;
            top: 15px;
        }                                                     
      }
      
      &:not(.Type){
        border-right: 1px solid #fff;
      }
        
      &.Name {      
        flex: 3.75 1 0;
        -webkit-flex: 3.75 1 0;

        -ms-flex: 3;
        max-width: 135px;
        
        &.SmallFont-true {
          font-size: 11px;
        }
        &.SmallFont-false {
          font-size: 12px;
        }
      
       & > div{
         text-align: left;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #009cff;   
            max-width: 114px;
            margin-top:  15px;            
       }                      
      }
        
      &.Phone {
      text-decoration: underline;
      color: #333;
      flex: 2.75 1 0;
      -webkit-flex: 2.75 1 0;

      -ms-flex: 2.1;
      max-width: 130px;

      &.SmallFont-true {
        font-size: 9px;
      }
      &.SmallFont-false {
        font-size: 11px;
      }
          
      span{white-space: nowrap; cursor: pointer;}
      }

        
      &.Duration{
      flex: 1.3 1 0;
      -webkit-flex: 1.3 1 0;
      font-size: 11px;

      -ms-flex: 1;
      max-width: 50px;
    }
      &.MeetingId{
      flex: 1.3 1 0;
      -webkit-flex: 1.3 1 0;
      font-size: 11px;

      -ms-flex: 1;
      max-width: 80px;
      margin-left:60px;
    } 
     &.Time {
       flex: 2 1 0;
       -webkit-flex: 3.5 1 0;
       font-size: 11px;

      -ms-flex: 3;
      white-space: nowrap;
      max-width: 60px;
      }  
      &.Date {
       flex: 2 1 0;
       -webkit-flex: 3.5 1 0;
       font-size: 11px;

      -ms-flex: 3;
      white-space: nowrap;
      max-width: 125px;
      }
      &.Type{
        width: 6%;
        flex: .5;
        -webkit-flex: 1;

        -ms-flex: 1;
        .ListRowStatusIcon{
            margin-top: 10px;
        }
      }
    }
  }

  .Empty {
    text-align: center;
  margin-top: 1em;
  color: gray;
  }  
}
.ListRowNoBorders{
  border:none !important;
}

.RecentCallsHeader{
  display:inline-block;  
  color: #888;  
  
  &:not(:first-child){
   .RecentPointer{
     margin-left: -20px;
   } 
   &:nth-child(3){
    margin-left: -10px;
   }
  }
    
  &.recent-selected-column{ 
    color:#91B139;
  }
  span.upper{
    font-size: 9px;
    cursor: pointer;
  } 
  .desc_arrow{
    position: relative;
    border: solid 6px;
    width: 0;
    height: 0;
    display: inline-block;
    border-color: transparent transparent #729c00 transparent;
    bottom: 1px;
  }
  
  .asc_arrow{
    position: relative;
    border: solid 6px;
    border-color: #729c00 transparent transparent transparent;
    top: 5px;
    width: 0;
    height: 0;
    display: inline-block;
  }
}

.RecentCallSection{
  font-size:.7em; 
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex: .65 1 0;
  -webkit-flex: .65 1 0;
  -ms-flex: .65;
    
  .RecentCallColumnHeaders{    
    padding: 6px 10px;
    border-bottom:1px solid #ccc;
  }
  .RecentCallLogs{
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  -ms-flex: 1;
    font-size: 11px; 
    padding: 4px 10px 10px 10px;    
    overflow-y:auto;   
    overflow-x: hidden;
    width: 100%;
    position: relative;
    text-overflow: ellipsis;   
    color: #424242;
    text-shadow: 1px 0px 0px #B8B8B8;        
    
    .RecentCallsHeader{
        color: #424242 !important;
    }
    .RecentCallRow{
      padding-top:7px;
      padding-bottom:7px;
      border-bottom:1px solid #ccc;
    }
    .fj-scroll{
        position: absolute;
        top: 10px;
        bottom: 10px;
        width: 10px;
        right: 0px;
        background-color: #f9f9f9;
        
        .fj-ui-scrollerFr-decoration, 
        .fj-ui-scroller{
            background-color: #f9f9f9;
        }
    }
  }    

  .CallLogs{
    font-weight:bold;
    padding-top:4px;
    padding-bottom:10px;
    overflow-y:auto;
    .RecentCallRow{
      padding-top:7px;
      padding-bottom:7px;
      border:1px solid white;
      width:99%;
      background-color:#eee;
    }

    .RecentCallRow:hover{
      padding-top:7px;
      padding-bottom:7px;
      border:1px solid white;
      width:99%;
      background-color:#ccc;
    }
  
  }

  .CalllogAvatar{
    width:10%;
      .CalllogImage{
          border-radius:30px;
          -webkit-border-radius:30px;
          border:3px solid #0093f0;

      }
  }  
  .CalllogName{
    width:23%;
    display:inline-flex;
    display:-webkit-inline-flex; 
    .info{
        color:#009cff;
    } 
  }

  .CalllogPhone{
    width:17%;
    text-align:center;
    display:inline-flex;  
    display:-webkit-inline-flex;
  }

  .CalllogDuration{
    width:14%;
    display:inline-flex;  
    display:-webkit-inline-flex;
 
  }

  .CallLogDate{
    width:25%;
    display:inline-flex;  
    display:-webkit-inline-flex;
 
  }

  .CallLogType{
    width:7%;
      
  }


  .RecentDate{
    width:25%;

  }
  .RecentFromTo{
    width:30%;
    text-align:center;
    &.call{
        cursor: pointer;
        text-decoration: underline;
        color: #91B139 !important;
    }
 }
  .RecentDur{
    width:15%;
    text-align:center;
  }
}
.NoRecentCalls{
  text-align:center;
  font-size:1.3em;
  opacity: 0.5;
  padding: 10px 0 0 0;
}