.Conference .ToolBar .XButton {
  width: 150px !important;
  height: 2.6em;
  top: -3px;
}
.Conference .ToolBar .XButton[type=button] {
  left: 5px;
}
.Conference.Widget .SearchInputBox {
  left: 0px;
  top: 2px;
  width: 160px;
}
.Conference .ListViewTopNoteClose {
  top: 30%;
}
.Conference .ListViewTopNote {
  font-size: 12px;
}
.ListViewTopNote {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFE;
  border: solid 1px #EEE;
  border-radius: 3px;
  padding: .5em;
  height: 55px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 5px #888888;
}
.Conference-HeaderTitle {
  color: #0093f0;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  width: auto;
  text-transform: uppercase;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ListViewTopNoteClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background: url("../img/XIconSet-24x24.png") -24px -24px;
}
.ListRow-Conference-Members {
  clear: both;
  position: relative;
}
.conferences-room-item-member {
  width: 62px;
  display: inline-block;
  position: relative;
  height: 60px;
  border: solid 1px #EEE;
  border-radius: 3px;
  margin-left: 6px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: #FAFAFA;
}
.ListRow .conferences-room-item-member .Avatar {
  position: absolute;
  margin: 0;
  left: 15px;
  top: 8px;
}
.conferences-room-item-member .first-name {
  position: absolute;
  top: 45px;
  left: 5px;
  right: 5px;
  font-size: 11px;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  color: gray;
}
.ConferenceMembersInput {
  position: absolute;
  margin: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 18px;
  border: none;
  color: #729c00;
}
.TabWarning {
  position: relative;
  background-color: #ffffc0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffd0), to(#ffffc0));
  height: 84px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0px 0px 2px #999 inset;
  -webkit-box-shadow: 0px 0px 2px #999 inset;
  font-size: 12px;
}
.TabWarning .TabWarningHeader {
  position: relative;
  margin-left: 10px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  color: #555;
  border-bottom: solid 1px #999;
}
.TabWarning .TabWarningMessage {
  position: relative;
  margin: 10px;
  margin-right: 80px;
}
.TabWarning .TabWarningButton {
  position: absolute;
  right: 0px;
  bottom: 10px;
}
.ConferenceAvatarSection {
  -webkit-box-flex: 0;
  position: relative;
  width: 50px;
  height: 100%;
  float: left;
}
.ConferenceRecording {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  color: #0093f0;
}
