.DockPanel {
  position: relative;
  flex: 1;
  margin-left: 10px;
  font-size: .8em;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}
.DockPanel.ui-sortable:not(.ui-sortable-disabled) {
  column-width: 170px;
  -webkit-column-width: 170px;
  -moz-column-width: 170px;
  column-gap: 5px;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  overflow: visible;
}
.DockPanel.ui-sortable:not(.ui-sortable-disabled) .Gadget {
  position: static;
}
.DockPanel.Moving {
  border-width: 1px;
  border-image: url("../img/marching-ants.gif") 8 repeat repeat;
  -moz-border-image: url("../img/marching-ants.gif") 1 repeat repeat;
  -webkit-border-image: url("../img/marching-ants.gif") 1 repeat repeat;
}
.DockPanel .Gadget {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #aaa;
  overflow: hidden;
  width: 160px;
  background-color: #EBEBEB;
  margin: 1em;
  opacity: .9;
}
.DockPanel .Gadget.ui-draggable-dragging {
  border: 2px dashed #aaa;
  opacity: .7;
  min-height: 0px !important;
  height: auto !important;
  box-shadow: 5px 5px 8px gray !important;
}
.DockPanel .Gadget.ui-draggable-dragging .Content,
.DockPanel .Gadget.ui-draggable-dragging .Resizer {
  display: none;
}
.DockPanel .Gadget:hover {
  box-shadow: 0 0 8px gray;
}
.DockPanel .Gadget .Header {
  background-color: #ECECEC;
  padding: .25em;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}
.DockPanel .Gadget .Header.Single {
  background: linear-gradient(to bottom, #eeeeef, #ddddde);
}
.DockPanel .Gadget .Header > div {
  display: inline-block;
  vertical-align: top;
}
.DockPanel .Gadget .Header .Title {
  width: 75%;
}
.DockPanel .Gadget .Header .Title div {
  overflow: hidden;
  text-overflow: ellipsis;
}
.DockPanel .Gadget .Header .Title div:first-child {
  font-weight: bold;
}
.DockPanel .Gadget .Content {
  flex: 1;
  overflow-y: hidden;
}
.DockPanel .Gadget .Content:hover {
  overflow-y: auto;
}
.DockPanel .Gadget .Content .SubHeader {
  background: linear-gradient(to bottom, #d4d4d5, #d9d9da);
  border-top: 1px solid #aaa;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: .95em;
  padding: .25em;
  font-weight: bold;
  color: #888;
  text-shadow: whiteSmoke 0 1px 0;
}
.DockPanel .Gadget .Content .List {
  background: linear-gradient(to bottom, #dcdcdc, #eaeaeb);
}
.DockPanel .Gadget .Content .List > a {
  display: block;
  position: relative;
}
.DockPanel .Gadget .Resizer {
  background-color: #DDDDDE;
  height: 12px;
  cursor: n-resize;
  text-align: center;
}
.DockPanel .Gadget .Resizer div {
  background: url("../img/XIconSet-24x24.png") no-repeat 0px -30px;
  height: 12px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}
.DockPanel .TopBarItemAppIcon.CallCenter {
  position: relative;
  top: 0;
  left: 0;
}
