.DockPanel {
  position: relative;
  flex: 1;
  margin-left: 10px;
  font-size: .8em;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  
  &.ui-sortable:not(.ui-sortable-disabled) {
    column-width: 170px;
    -webkit-column-width: 170px;
    -moz-column-width: 170px;
    column-gap: 5px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
	overflow: visible;
	
	.Gadget {
      position: static;
	}
  }
  
  &.Moving {
    border-width: 1px;
    border-image: url("../img/marching-ants.gif") 8 repeat repeat;
    -moz-border-image: url("../img/marching-ants.gif") 1 repeat repeat;
    -webkit-border-image: url("../img/marching-ants.gif") 1 repeat repeat;
  }
  
  .Gadget {
	position: absolute;
    display: inline-flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #aaa;
	overflow: hidden;
	width: 160px;
	background-color: #EBEBEB;
	margin: 1em;
	opacity: .9;
	
	&.ui-draggable-dragging {
	  border: 2px dashed #aaa;
	  opacity: .7;
	  min-height: 0px !important;
	  height: auto !important;
	  box-shadow: 5px 5px 8px gray !important;
	  
	  .Content, .Resizer {
	    display: none;
	  }
	}
	
	&:hover {
	  box-shadow: 0 0 8px gray;
	}
	
    .Header {
	  background-color: #ECECEC;
	  padding: .25em;
	  cursor: pointer;
	  text-decoration: none;
	  white-space: nowrap;
	  
	  &.Single {
		background: linear-gradient(to bottom, #EEEEEF, #DDDDDE);
	  }
	  
	  & > div {
	    display: inline-block;
		vertical-align: top;
	  }
	  
	  .Title {
	    width: 75%;
		
		div {
		  overflow: hidden;
		  text-overflow: ellipsis;
		  
		  &:first-child {
		    font-weight: bold;
		  }
		}
	  }
	}
	
	.Content {
	  flex: 1;
	  overflow-y: hidden;
	  
	  &:hover {
	    overflow-y: auto;
	  }
	  
	  .SubHeader {
	    background: linear-gradient(to bottom, #D4D4D5, #D9D9DA);
		border-top: 1px solid #aaa;
		border-bottom: 1px solid white;
		text-align: center;
		font-size: .95em;
		padding: .25em;
		font-weight: bold;
		color: #888;
		text-shadow: whiteSmoke 0 1px 0;
	  }
	  
	  .List {
	    background: linear-gradient(to bottom, #DCDCDC, #EAEAEB);
		
		& > a {
		  display: block;
		  position: relative;
		}
		
		&.Stats {
		  font-size: .8em;
		  text-align: center;
		  color: #9B9B9B;
		  padding: 1em 0;
		  line-height: 1.5em;
		  border-top: 1px solid #D5D6D6;

		  & > div {
		    display: inline-block;
		    width: 30%;
		    
		    strong {
		      font-size: 1.3em;
		  	  display: block;
		    }
		  }
		}
	  }
	}
	
	.Resizer {
	  background-color: #DDDDDE;
	  height: 12px;
	  cursor: n-resize;
	  text-align: center;
	  
	  div {
		background: url("../img/XIconSet-24x24.png") no-repeat 0px -30px;
		height: 12px;
		width: 24px;
		display: inline-block;
	    vertical-align: middle;
	  }
	}
  }
  
  .TopBarItemAppIcon.CallCenter {
    position: relative;
	top: 0;
	left: 0;
  }
}