.DockPanel {
  position: relative;
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  margin-left: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: auto;
  overflow-y: hidden;
}
.DockPanel.Moving {
  border: 1px dashed #358503;
  border-width: 1px;
  -moz-border-image: url("../img/marching-ants.gif") 1 repeat repeat;
  -webkit-border-image: url("../img/marching-ants.gif") 1 repeat repeat;
}
.DockPanel .InnerDock {
  position: absolute;
  height: 100%;
  /*width: 100%;*/
  width: 39%;
  column-width: 170px;
  -webkit-column-width: 170px;
  -moz-column-width: 170px;
  column-gap: 5px;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
}
.DockPanel .InnerDock.ui-sortable:not(.ui-sortable-disabled) .Gadget {
  position: static;
  top: 0;
  left: 0;
}
.DockPanel .GadgetStatusText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 11px;
  cursor: pointer;
}
.DockPanel .ListSectionGadget {
  height: 20px;
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #fff;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#cfcfcf), color-stop(0.3, #e2e2e2), to(#eeeeee));
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: #888;
  text-shadow: whiteSmoke 0 1px 0;
  text-align: center;
}
.Gadget {
  position: relative;
  display: inline-flex;
  display: -webkit-inline-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  border-radius: 5px;
  border: 1px solid #aaa;
  overflow: hidden;
  width: 160px;
  background-color: #EBEBEB;
  margin: .5em;
  opacity: .9;
}
.Gadget.Positioned {
  position: absolute;
}
.Gadget.ui-draggable-dragging {
  border: 2px dashed #aaa;
  opacity: .7;
  min-height: 0px !important;
  height: auto !important;
  box-shadow: 5px 5px 8px gray !important;
}
.Gadget.ui-draggable-dragging.not-allowed .Header {
  cursor: not-allowed;
}
.Gadget.ui-draggable-dragging .Header {
  cursor: move;
}
.Gadget.ui-draggable-dragging .Content,
.Gadget.ui-draggable-dragging .Resizer {
  display: none;
}
.Gadget.NoFixedHeight {
  height: initial !important;
}
.Gadget:hover {
  box-shadow: 0 0 8px gray;
}
.Gadget .Header {
  cursor: pointer;
  background-color: #ECECEC;
  padding: .25em;
  text-decoration: none;
  white-space: nowrap;
  font-size: .8em;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.Gadget .Header > .Avatar {
  font-size: 1.25em;
}
.Gadget .Header.Single {
  background: linear-gradient(to bottom, #eeeeef, #ddddde);
}
.Gadget .Header > div {
  display: inline-block;
  vertical-align: top;
}
.Gadget .Header .Title {
  margin-left: .5em;
  overflow: hidden;
  flex: 1;
  -webkit-flex: 1;
}
.Gadget .Header .Title div {
  overflow: hidden;
  text-overflow: ellipsis;
}
.Gadget .Header .Title .Name {
  font-weight: bold;
  width: 99%;
  text-overflow: ellipsis;
}
.Gadget .Header .Title .Agents {
  background: linear-gradient(to bottom, #cfcfcf, #eeeeee);
  border-radius: 6px;
  margin-top: .5em;
  text-align: center;
  padding: .25em;
  font-size: .8em;
}
.Gadget .Header .TopBarItemAppIcon.CallCenter {
  position: relative;
  top: 0;
  left: 0;
}
.Gadget .Content {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  overflow-y: auto;
  min-height: 6em;
}
.Gadget .Content .SubHeader {
  background: linear-gradient(to bottom, #d4d4d5, #d9d9da);
  border-top: 1px solid #aaa;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: .75em;
  padding: .25em;
  font-weight: bold;
  color: #888;
  text-shadow: whiteSmoke 0 1px 0;
}
.Gadget .Content .List {
  flex: 1;
  -webkit-flex: 1;
  background: linear-gradient(to bottom, #dcdcdc, #eaeaeb);
}
.Gadget .Content .List .ListRow {
  background-color: #eee;
}
.Gadget .Content .List .ListRow .ListRowTitle {
  padding: 0;
}
.Gadget .Content .List.Stats {
  font-size: .7em;
  text-align: center;
  color: #9B9B9B;
  padding: 1em 0;
  line-height: 1.5em;
  border-top: 1px solid #D5D6D6;
}
.Gadget .Content .List.Stats > div {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.Gadget .Content .List.Stats > div strong {
  font-size: 1.3em;
  display: block;
}
.Gadget .Resizer {
  background-color: #DDDDDE;
  height: 12px;
  cursor: n-resize;
  text-align: center;
}
.Gadget .Resizer div {
  background: url("../img/XIconSet-24x24.png") no-repeat 0px -30px;
  height: 12px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}
.DroppableArea {
  border: 1px dashed #358503 !important;
  border-width: 1px !important;
  -moz-border-image: url("../img/marching-ants.gif") 1 repeat repeat !important;
  -webkit-border-image: url("../img/marching-ants.gif") 1 repeat repeat !important;
}
.FileUploadStatus {
  margin-top: 90%;
  border-top: 1px solid white;
  box-shadow: inset 1 0 -1px 1px #cccccc;
  position: relative;
  z-index: 100;
}
.FileUploadStatus .text-style {
  font-size: .7em;
  font-weight: bold;
}
.FileUploadStatus .Gadget > div {
  margin: 5px 0px 5px 10px;
}
.FileUploadStatus .progress_text {
  text-align: center;
}
.FileUploadStatus .timer {
  float: right;
}
.FileUploadStatus progress {
  width: 90%;
  margin-top: 10px;
}
.FileUploadStatus progress,
.FileUploadStatus progress[role][aria-valuenow] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-size: auto;
  border-radius: 50px;
  height: .5em;
  background: #000066 !important;
  /* !important is needed by the polyfill */
}
.FileUploadStatus progress::-webkit-progress-bar {
  -webkit-border-radius: 50px;
}
.FileUploadStatus progress {
  color: #72E673;
}
.FileUploadStatus progress::-moz-progress-bar {
  background: #72E673;
  -moz-border-radius: 50px;
}
.FileUploadStatus progress::-webkit-progress-value {
  background: #72E673;
  -webkit-border-radius: 50px;
}
.FileUploadStatus progress[aria-valuenow]:before {
  background: #72E673;
}
