.DockPanel {
  margin-left: 10px;
  font-size: .8em;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}
.DockPanel.Grid {
  column-width: 170px;
  -webkit-column-width: 170px;
  -moz-column-width: 170px;
  column-gap: 5px;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
}
.DockPanel.Grid .Element {
  position: relative !important;
}
.DockPanel.Moving {
  border-width: 1px;
  border-image: url("../img/marching-ants.gif") 8 repeat repeat;
  -moz-border-image: url("../img/marching-ants.gif") 1 repeat repeat;
  -webkit-border-image: url("../img/marching-ants.gif") 1 repeat repeat;
}
.DockPanel .Element {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
  min-height: 150px;
  width: 160px;
  background-color: #EBEBEB;
  margin: 1em;
}
.DockPanel .Element.ui-draggable-dragging {
  border: 2px dashed #ccc;
  opacity: .7;
  min-height: 0px;
  height: auto !important;
  box-shadow: 5px 5px 8px gray !important;
}
.DockPanel .Element.ui-draggable-dragging .Scrollable,
.DockPanel .Element.ui-draggable-dragging .Resizer {
  display: none;
}
.DockPanel .Element:hover {
  box-shadow: 0 0 8px gray;
}
.DockPanel .Element:hover .Scrollable {
  overflow-y: auto;
}
.DockPanel .Element .Header {
  background-color: #ECECEC;
  padding: .25em;
}
.DockPanel .Element .Header > div {
  display: inline-block;
  vertical-align: top;
}
.DockPanel .Element .Scrollable {
  flex: 1;
  overflow-y: hidden;
}
.DockPanel .Element .Scrollable .SubHeader {
  background-color: #D6D6D6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: .95em;
  padding: .25em;
}
.DockPanel .Element .Resizer {
  background-color: #E2E3E3;
  height: 12px;
  cursor: n-resize;
  text-align: center;
}
.DockPanel .Element .Resizer div {
  background: url("../img/XIconSet-24x24.png") no-repeat 0px -30px;
  height: 12px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}
