.DockPanel {
  /*position: relative;*/
  flex: 1;
  -webkit-flex: 1;
  margin-left: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  /*overflow-x: auto;
  overflow-y: hidden;*/
  overflow: hidden;
  
  &.Moving {
    border: 1px dashed #358503;
    border-width: 1px;
    -moz-border-image: url("../img/marching-ants.gif") 1 repeat repeat;
    -webkit-border-image: url("../img/marching-ants.gif") 1 repeat repeat;
  }
  
  .InnerDock {
    position: absolute;
	height: 100%;
	width: 100%;
    column-width: 170px;
    -webkit-column-width: 170px;
    -moz-column-width: 170px;
    column-gap: 5px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
  
    &.ui-sortable:not(.ui-sortable-disabled) .Gadget {
      position: static;
	  top: 0;
	  left: 0;
    }
  }


	.GadgetStatusText {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		font-size: 11px;
		cursor: pointer;
	}

	.ListSectionGadget {
		height: 20px;
		border-top: solid 1px #aaa;
		border-bottom: solid 1px #fff;
		background-image: -webkit-gradient(linear, top left, bottom left, from(#CFCFCF), color-stop(0.3, #E2E2E2), to(#EEE));
		font-size: 12px;
		font-weight: bold;
		line-height: 20px;
		color: #888;
		text-shadow: whiteSmoke 0 1px 0;
		text-align: center;
	}
}
  
.Gadget {
	position: relative;
	display: inline-flex;
	display: -webkit-inline-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	border-radius: 5px;
	border: 1px solid #aaa;
	overflow: hidden;
	width: 160px;
	background-color: #EBEBEB;
	margin: .5em;
	opacity: .9;

	&.Positioned {
		position: absolute;
	}

	&.ui-draggable-dragging {
		border: 2px dashed #aaa;
		opacity: .7;
		min-height: 0px !important;
		height: auto !important;
		box-shadow: 5px 5px 8px gray !important;
		
		&.not-allowed .Header {
			cursor: not-allowed;
		}
		
		.Header {
			cursor: move;
		}
		
		.Content, .Resizer {
			display: none;
		}
	}

	&.NoFixedHeight {
		height: initial !important;
	}
	
	&:hover {
		box-shadow: 0 0 8px gray;
	}

	.Header {
	    cursor: pointer;
		background-color: #ECECEC;
		padding: .25em;
		text-decoration: none;
		white-space: nowrap;
		font-size: .8em;
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row;
	
		& > .Avatar {
			font-size: 1.25em;
		}
	
		&.Single {
		background: linear-gradient(to bottom, #EEEEEF, #DDDDDE);
		}
		
		& > div {
			display: inline-block;
			vertical-align: top;
		}
	
		.Title {
			margin-left: .5em;
			overflow: hidden;
			flex: 1;
			-webkit-flex: 1;
			
			div {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		
			.Name {
				font-weight: bold;
				width: 99%;
				text-overflow: ellipsis;
			}
			
			.Agents {
				background: linear-gradient(to bottom, #cfcfcf, #eeeeee);
				border-radius: 6px;
				margin-top: .5em;
				text-align: center;
				padding: .25em;
				font-size: .8em;
			}
		}
  
        .TopBarItemAppIcon.CallCenter {
			position: relative;
			top: 0;
			left: 0;
        }
	}

	.Content {
		flex: 1;
		-webkit-flex: 1;
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		overflow-y: auto;
		min-height: 6em;
		
		.SubHeader {
			background: linear-gradient(to bottom, #D4D4D5, #D9D9DA);
			border-top: 1px solid #aaa;
			border-bottom: 1px solid white;
			text-align: center;
			font-size: .75em;
			padding: .25em;
			font-weight: bold;
			color: #888;
			text-shadow: whiteSmoke 0 1px 0;
		}
		
		.List {
			flex: 1;
			-webkit-flex: 1;
			background: linear-gradient(to bottom, #DCDCDC, #EAEAEB);
		
			.ListRow {
				background-color: #eee;
				
				.ListRowTitle {
					padding: 0;
				}
			}
		
			&.Stats {
				font-size: .7em;
				text-align: center;
				color: #9B9B9B;
				padding: 1em 0;
				line-height: 1.5em;
				border-top: 1px solid #D5D6D6;
		
				& > div {
					display: inline-block;
					width: 30%;
					vertical-align: top;
					
					strong {
						font-size: 1.3em;
						display: block;
					}
				}
			}
		}
	}
	
	.Resizer {
		background-color: #DDDDDE;
		height: 12px;
		cursor: n-resize;
		text-align: center;
		
		div {
			background: url("../img/XIconSet-24x24.png") no-repeat 0px -30px;
			height: 12px;
			width: 24px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}
  
.DroppableArea {
	border: 1px dashed #358503;
	border-width: 1px;
	-moz-border-image: url("../img/marching-ants.gif") 1 repeat repeat;
	-webkit-border-image: url("../img/marching-ants.gif") 1 repeat repeat;
}