input[type="search"] {
  float: left;
}
.SearchBox {
  padding: .5em .5em .5em 2.3em !important;
}
.CallLog .ListLineContent.Header .ListLineContentCell {
  max-width: none !important;
}
.CallLog .ListLineContent.Header .ListLineContentCell:first-child {
  width: 30px;
}
.CallLog .ListLineContent.Header .ListLineContentCell .DirectionArrow {
  left: 8px !important;
  position: relative !important;
}
.CallLog .ListLineContent.Header .ListLineContentCell.Down .DirectionArrow {
  top: 4px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .CallLog .ListLineContent.Header .ListLineContentCell .DirectionArrow {
    margin-left: 0;
  }
}
.CallLog .ListLineContent.Header .ListLineContentCell.Name {
  width: 150px;
}
.CallLog .ListLineContent.Header .ListLineContentCell.Topic {
  width: 130px;
}
.CallLog .ListLineContent.Header .ListLineContentCell.Phone {
  width: 74px;
}
.CallLog .ListLineContent.Header .ListLineContentCell.Duration {
  width: 70px;
  margin-left: 10px;
}
.CallLog .ListLineContent.Header .ListLineContentCell.Meeting_Id {
  width: 70px;
  margin-left: 160px;
}
.CallLog .ListLineContent.Header .ListLineContentCell.StartedAt {
  width: 70px;
}
.CallLog .ListLineContent.Header .ListLineContentCell.videoStartedAt {
  width: 110px;
}
.CallLog .ListLineContent.Header .ListLineContentCell.CallType {
  width: 10%;
}
.CallLog .ListLineContent.Header .ListLineContentCell.Start_time {
  width: 20%;
  margin-left: 20px;
}
img.x {
  width: 7px;
  height: 7px;
  border: 0px none;
  position: absolute;
  margin-left: -15px;
  margin-top: 12px;
  cursor: pointer;
  z-index: 100;
}
.TopBarMeStatus .Logout {
  padding: 1px 14px 3px 13px !important;
}
.TopBarMeStatus .Logout .icon {
  top: 0 !important;
}
.TopBarMeStatus .XButton span {
  top: 3px !important;
}
.Widget.Queues .Block .Avatar {
  width: 42px !important;
  height: 40px !important;
}
.Widget.Queues .Block .Title {
  width: 80px !important;
  flex: none !important;
}
.WidgetMe .WidgetHeader > div {
  display: inline-block;
}
.WidgetMe .WidgetHeader .WidgetHeaderTitle {
  height: 2.4em !important;
  line-height: 2.4em !important;
  margin: 0 !important;
}
.WidgetMe .MeInfoBlock {
  width: 79% !important;
}
.WidgetBody .SearchInputBox {
  width: 30% !important;
  float: left;
}
.WidgetBody .SearchInputBoxInputHolder {
  width: 78% !important;
}
.WidgetBody div.NewCall .XButton {
  padding-top: 5px !important;
}
.WidgetBody div.NewCall .XButton span {
  vertical-align: top;
}
.WidgetBody .call-block .RecentCallSection .RecentCallLogs {
  height: 84%;
}
.WidgetBody .call-block .LeftSide {
  width: 46% !important;
}
.WidgetBody .call-block .RightSide {
  width: 54% !important;
}
.WidgetBody .ToolBar input[type=search] {
  width: 30%;
}
.WidgetBody .ToolBar.fj-stream .XButton {
  float: right !important;
}
.WidgetBody .ToolBar.fj-stream select.XButton,
.WidgetBody .ToolBar.fj-stream select.XButtonDropDown {
  height: 2.3em !important;
  width: 22% !important;
  float: right !important;
}
.WidgetBody .ToolBar .ChatSearch {
  top: 0px !important;
}
.WidgetBody .ToolBar .ChatSearch .Search {
  margin-top: 0px;
  width: 68% !important;
  height: 100% !important;
}
.WidgetBody .ToolBar .SearchInputBox {
  width: 30% !important;
  float: left;
}
.WidgetBody .ToolBar .SearchInputBox .SearchInputBoxInputHolder {
  width: 82% !important;
}
.WidgetBody .ToolBar .SearchInputBox .SearchInputBoxInputHolder img.x {
  top: 10px !important;
}
.WidgetBody .ToolBar.Queues .XButton.XSortButton {
  margin-top: 0px !important;
}
.WidgetBody .ToolBar.Queues input[type="search"] {
  height: 26px;
}
.WidgetBody .call-block .CurrentCall {
  height: 148px;
}
.WidgetBody .call-block .CurrentCall .LeftSide .Dialog-settings-row {
  margin: 1px !important;
  height: 30px !important;
}
.WidgetBody .call-block .CurrentCall .RightSide .row_buttons {
  min-height: 35px !important;
  width: auto;
  float: right;
}
.WidgetBody .call-block .CurrentCall .RightSide .row_buttons .CurrentCallBtnLong {
  width: 156px !important;
  margin: 0 4px 0 0;
}
.WidgetBody .Preferences-Holder .SettingsPanel.DialogContentMainBlock_List {
  height: 100%;
  overflow: hidden;
}
.WidgetBody .Preferences-Holder .SettingsPanel.DialogContentMainBlock_List > div {
  padding: 0 !important;
  /*height: auto !important;    */
}
.SearchInputBoxInputHolder {
  height: 100% !important;
  width: 82%  !important;
  right: 0px  !important;
  top: 0px !important;
}
.Conference .ToolBar .XButton {
  padding: 6px 5px;
}
.Conference .ToolBar .SearchInputBox {
  width: 30% !important;
  float: left;
}
.Conference .ToolBar .SearchInputBoxInputHolder {
  width: 84% !important;
}
.Conference .ToolBar .SearchInputBoxInputHolder input[type=search] {
  width: 92% !important;
  font-size: 0.688em !important;
}
.Conversation .ToolBar img.x {
  top: 10px;
  right: 12px;
}
.Conversation .ToolBar select.XButton,
.Conversation .ToolBar select.XButtonDropDown {
  width: 32%;
  height: 2em;
  padding-top: 3px !important;
}
.Conversation .ToolBar input[type=search].SearchBox {
  width: 30% !important;
}
.Conversation .ToolBar input.chat[type=search] {
  height: 100% !important;
}
.Conversation .ToolBar .XButton.XSortButton {
  margin-top: 0 !important;
}
.ToolBar.chatTop .XButton {
  height: 2.2em !important;
}
.ToolBar.chatTop .ChatSearch {
  width: 60% !important;
  top: 0 !important!;
  height: 28px !important;
}
.ToolBar.chatTop .ChatSearch .SearchIcon {
  float: left;
}
.ToolBar.chatTop .ChatSearch .Arrows {
  float: right;
  width: 24%;
  position: relative;
  clear: none;
  top: -26px;
}
.ToolBar.chatTop .ChatSearch input[type=search].SearchBox {
  height: 100% !important;
  margin-top: 0 !important;
  top: 0 !important;
  width: 62% !important;
  float: left;
}
/******* notifications **********/
.LeftBar .Notifications .TitleBar .XButton,
.LeftBar .Notifications .NotificationDivider > div .XButton {
  top: -3px !important;
}
.LeftBarNotificationSection {
  background-color: transparent;
}
.Widget#WidgetSearch .WidgetBody .SearchPanel input.SearchBox {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
.Widget#WidgetSearch .WidgetBody .SearchPanel input.XButton {
  line-height: 0.5;
}
.WidgetTabBar {
  clear: both;
}
.Messages:first-child {
  clear: both;
}
.Messages:not(:first-child) {
  margin-top: 0;
  clear: both;
}
.NotificationHeader {
  position: relative;
  z-index: 100;
  top: 0;
}
.NotificationSection {
  float: left;
  top: -10px;
  width: 100%;
  position: relative;
  margin-top: 0px;
  height: 15px;
  padding-bottom: 10px;
  margin-bottom: -10px;
}
.NotificationSection.last {
  height: auto;
}
.NotificationSection.last.alert {
  margin-top: 15px;
}
.NotificationSection.firstsection {
  top: 0px;
  padding-top: 3px;
  margin-bottom: 0px;
}
.NotificationSection:not(.firstsection) {
  top: -10px;
  margin-bottom: -10px;
}
.LeftBarNotificationMessageSection {
  float: left;
  padding-left: 0px;
  width: 82% !important;
  clear: none;
}
.LeftBarNotificationMessageSection .NotificationDisplayName {
  padding-left: 5px;
}
.LeftBarNotificationMessageSection .NotificationDisplayName span {
  width: auto !important;
}
.LeftBarNotificationMessageSection .NotificationType {
  position: relative;
  left: 5px;
  top: -5px;
}
.LeftBarNotificationMessageSection .NotificationTime {
  right: 0;
}
.LeftBarNotificationMessageSection .NotificationMessage {
  padding-left: 5px;
}
.Overlay.notifications .LeftBarNotificationAvatarSection {
  max-width: 12%;
}
.Overlay.notifications .LeftBarNotificationMessageSection {
  /*width: 90%;*/
  max-width: 86%;
  padding-left: 10px;
}
.CallStatusText .memberName .name.truncate {
  width: 90% !important;
}
.MyCallBlock_Rec {
  right: 33% !important;
}
.XIcon24-Record-Off {
  right: 12px !important;
  top: 1px !important;
}
.XIcon24-Record-On {
  right: 12px !important;
  top: 3px !important;
}
.ZoomWidgetSection .XButtonWide.XButtonBlue.first {
  margin-top: 5px;
}
.ZoomWidgetSection .JoinMeetingSection .addContact {
  margin-bottom: 5px;
}
.vminfo .vmalternate .vmcallbtn {
  margin-top: -15px;
}
.CallLog .ListLineContent.Header .ListLineContentCell:first-child {
  width: 28px;
}
.CallLog .ListLineContent.Header .ListLineContentCell.Name {
  width: 130px !important;
}
.CallLog .ListLineContent.Header .ListLineContentCell.Phone {
  width: 75px !important;
}
.CallLog .ListLineContent.Header .ListLineContentCell.Duration {
  width: 50px  !important;
}
.CallLog .ListLineContent.Header .ListLineContentCell.StartedAt {
  width: 95px !important;
  margin-left: 5px;
}
.CallLog .ListLineContent.Header .ListLineContentCell.CallType {
  width: 6%  !important;
}
.CallLog .ListRow > div:first-child {
  max-width: 42px;
}
.CallLog .ListRow > div.Name {
  max-width: 130px;
}
.CallLog .ListRow > div.Phone {
  flex: 2.75 1 0;
  max-width: 100px;
}
.CallLog .ListRow > div.Duration {
  max-width: 48px;
}
.CallLog .ListRow > div.Date {
  max-width: 125px;
}
.WidgetMe .queueList .ListRow .SettingsListLineContent .QueueSetting:first-child {
  width: 33.1%;
}
.WidgetMe .queueList .ListRow .SettingsListLineContent .QueueSetting:nth-child(5) {
  width: 16.5%;
}
