//@supports (-moz-appearance:meterbar) {  
     input[type="search"]{float: left;}
     
     .SearchBox {
        padding: .5em .5em .5em 2.3em !important;
     } 
     
     img.x{
           width: 7px; 
           height: 7px; 
           border: 0px none; 
           position: absolute; 
           margin-left: -15px; 
           margin-top: 12px;   
           cursor: pointer;   
		   z-index: 100;
     }
        
     .TopBarMeStatus{
        .Logout {
          padding: 1px 14px 3px 13px !important;
          
          .icon {
             top: 0 !important;
          }
        }  
        .XButton{
           span {
            top: 3px !important;
          }
        }
     }     
    .Widget.Queues{
        .Block{
            .Avatar {
                width: 42px !important;
                height: 40px !important;
            }
            .Title {
                width: 80px !important;
                flex: none !important;
                
                .Agents {
                    padding-top: 0px !important;
                }
            }
       }
    }      
    .WidgetMe{
    
     .WidgetHeader{        
        position: absolute !important;
        
        & > div{
            display: inline-block;
        }
        .WidgetHeaderTitle{
            height: 2.4em !important;
            line-height: 2.4em !important;   
            margin: 0 !important;         
        }        
     }
     
     .WidgetBody{
       top: 180px;
       position: absolute;
       height: auto;
     }     
     
     .MeInfoBlock {width: 79% !important;}
    }     

    .WidgetBody{        
        
         .SearchInputBox{
            width: 30% !important;
            float: left;
         }
         .SearchInputBoxInputHolder{
             width: 78% !important;         
         }    
         
         div.NewCall{
            .XButton{
                padding-top: 5px !important;
            }
         }
         
         .call-block{
            .RecentCallSection .RecentCallLogs{height: 84%;} 
            
            .LeftSide{
                width: 46% !important;
            }
            .RightSide{
                width: 54% !important;
            }            
            
         }         
                           
         .ToolBar{
         
             input[type=search]{           
                width: 30%;                                       
             }
             &.fj-stream{ 
                 .XButton{
                    float: right !important;                                         
                 } 
                 select.XButton, select.XButtonDropDown{
                    height: 2.3em !important;
                    width: 22% !important;
                    float: right !important;
                 }
             }
             .ChatSearch{
                top: 0px !important;
                .Search{
                    margin-top: 0px;
                    width: 68% !important;
                    height: 100% !important;  
                }
             }
             
            .SearchInputBox{       
                width: 30% !important;
                float: left;
            
                .SearchInputBoxInputHolder{
                    width: 82% !important;                    
                    img.x{
                        top: 10px !important;
                    }
                }
            }
            
            &.Queues{
            
                .XButton.XSortButton{
                    margin-top: 0px !important;
                }
                
                input[type="search"] {
                    width: 20em !important;
                }
            }        
         }  
         
         .Preferences-Holder{
            height: 40%;
         }  
         
         &.currentCall{
            .call-block{                                               
                         
              .CurrentCall{    
                height: 148px;
                            
                .LeftSide .Dialog-settings-row{
                    margin: 1px !important;
                    height: 30px !important;
                } 
                                             
                .RightSide .row_buttons{
                    min-height: 35px !important;
                    width: auto;
                    float: right;
                    
                    .CurrentCallBtnLong{
                        width: 156px !important;
                        margin: 0 4px 0 0;
                    }
                }
              }                                                      
            } 
            
            .Preferences-Holder{                
                .SettingsPanel.DialogContentMainBlock_List {    
                  height: 100%;             
                  overflow: hidden;
                   
                    & > div {                   
                          padding: 0 !important;      
                          /*height: auto !important;    */       
                    }
                }
             }  
         }   
     }
    .SearchInputBoxInputHolder {
       height: 100% !important;
       width: 82%  !important;
       right: 0px  !important;
       top: 0px !important;                
    }
    .Conference{
        
        .ToolBar{        
         
         .XButton{          
          padding: 6px 5px;
         } 
         .SearchInputBox{
           width: 30% !important; 
           float: left;      
         }
         
         .SearchInputBoxInputHolder{
           width: 84% !important;
           
           input[type=search]{
              width: 92% !important;
              font-size: 0.688em !important;
           }
         }  
       }     
    }        
    .Conversation{
    
      .ToolBar{        
         
         img.x{top: 10px; right: 12px;}         
         
         select.XButton, select.XButtonDropDown{
           width: 32%;
           height: 2em;
           padding-top: 3px !important;
         }
         
         input[type=search].SearchBox{           
            width: 30% !important;
         }
         input.chat[type=search]{height: 100% !important;}
         
         .XButton.XSortButton{
            margin-top: 0 !important;
         }               
        
        }
     } 
          
     .ToolBar.chatTop{
          .XButton {
               height: 2.2em !important;
          }
              
          .ChatSearch{
            width: 60% !important;
            top: 0 !important!;
            height: 28px !important;
            
            .SearchIcon{float: left;}
            
            .Arrows{
                float: right; 
                width: 24%;
                position: relative;
                clear: none;
                top: -26px;
             }
      
            input[type=search].SearchBox{
                height: 100% !important;
                margin-top: 0 !important;
                top: 0 !important;
                width: 62% !important;
                float: left;
            }
          }         
         }
    
  /******* notifications **********/
  .LeftBar
  {
    height: 99%;
   .Notifications
   {        
        .TitleBar .XButton,
        .NotificationDivider > div .XButton
        {
           top: -3px !important;
        }
   }
  }
  
  .LeftBarNotificationSection{
    background-color: transparent;
  }
  
  .Widget{
    height: 99%;
  } 
  .WidgetTabBar{ clear: both;}
  .Messages{        
          
        &:first-child{         
            clear: both;
        }
        &:not(:first-child) {
            margin-top: 0;
            clear: both;          
        }
  }
  
  .NotificationHeader{
    position: relative;
    z-index: 100;
    top: 0;   
  }
  .NotificationSection {
    float: left;
    top: -10px;
    width: 100%;
    position: relative;
    margin-top: 0px;  
    height: 15px;  
    padding-bottom: 10px;
    margin-bottom: -10px;
    
    &.last{
      height: auto;
      
      &.alert{
        margin-top: 15px;
      }
    }
    
     &.firstsection{
        top: 0px;  
        padding-top: 3px;      
        margin-bottom: 0px;
     }
     
     &:not(.firstsection){
       top: -10px;
       margin-bottom: -10px;
     }     
  }
  
  .LeftBarNotificationMessageSection{
    float: left;
    padding-left: 0px;
    width: 82% !important;
    clear: none;
    
    .NotificationDisplayName {
        padding-left: 5px; 
        
        span{width: auto !important;}       
    }
    
    .NotificationType {
        position: relative;
        left: 5px;
        top: -5px;
    }
    .NotificationTime{
        right: 0;
    }
    
    .NotificationMessage {
        padding-left: 5px;
    }
    
  }
  .Overlay {
    &.notifications{ 
      .LeftBarNotificationAvatarSection{
            max-width: 12%;
      }
        
      .LeftBarNotificationMessageSection{
         /*width: 90%;*/
         max-width: 86%;
         padding-left: 10px;
      }
    }
  }
  
  .MyCallBlock_Rec {
    right: 33% !important;;
  }
  .XIcon24-Record-Off{
    right: 12px !important;
    top: 1px !important;
  }  
  .XIcon24-Record-On{    
    right: 12px !important;
    top: 1px !important;
  } 
  .CurrentCall{ 
      .RightSide{
       
       width: 51% !important;
        /*.XButton{
            width: 74px !important;                                           
        }*/
                
       }
   }
   .DockPanel { 
     height: 100% !important;
     .InnerDock {
        width: 100% !important;
     }
   } 
   
   
   .ZoomWidgetSection{
    .XButtonWide.XButtonBlue.first{
        margin-top: 5px;
    }
    .JoinMeetingSection{
        .addContact{
            margin-bottom: 5px;
        }
    }
   } 
   
   
   .CallLog {
    .ListLineContent.Header{
        .ListLineContentCell{
            &:first-child{
                 width: 28px;
            } 
            &.Name{width: 92px !important; max-width: 92px;}   
            &.Phone{width: 66px !important;max-width: 66px;}
            &.Duration{width: 56px  !important;max-width: 56px;}  
            &.StartedAt{width: 126px !important; max-width: 126px; margin-left: -8px;}  
            &.CallType{width: 10%  !important;}  
        }
    } 

    .ListRow { 
         & > div{
             &:first-child{
                max-width: 42px;
             } 
             &.Name{
                max-width: 100px;
             }      
             &.Phone {        
                flex: 2.2 1 0;
                max-width: 76px;
             }
             &.Duration{
                max-width: 48px;
             } 
             &.Date{
                max-width: 140px;
             }
        }
    }
          
   } 
   
   .Widget.Search{
    .SearchPanel{
        input.SearchBox{
            padding-top: 1px !important;
            padding-bottom: 1px !important;            
        }
        input.XButton{
            line-height: 0.5;
        }
    }
   }

/* media queries*/
/*.WidgetMe {
      @media screen              
        and (max-height: 178px) { 
         .WidgetBody{             
            height: 44.5%
         }                        
       }
      @media screen        
        and (min-height: 179px)         
        and (max-height: 188px) { 
         .WidgetBody{             
            height: 45%
         }                        
       }
      @media screen        
        and (min-height: 189px)         
        and (max-height: 198px) { 
         .WidgetBody{             
            height: 45.5%
         }                        
       }
      @media screen        
        and (min-height: 199px)         
        and (max-height: 208px) { 
         .WidgetBody{             
            height: 46%
         }                        
       }
      @media screen        
        and (min-height: 209px)         
        and (max-height: 218px) { 
         .WidgetBody{             
            height: 46.5%
         }                        
       }
      @media screen        
        and (min-height: 219px)         
        and (max-height: 228px) { 
         .WidgetBody{             
            height: 47%
         }                        
       }
      @media screen        
        and (min-height: 219px)         
        and (max-height: 228px) { 
         .WidgetBody{             
            height: 47.5%
         }                        
       }
      @media screen        
        and (min-height: 229px)         
        and (max-height: 238px) { 
         .WidgetBody{             
            height: 48%
         }                        
       }
      @media screen        
        and (min-height: 239px)         
        and (max-height: 248px) { 
         .WidgetBody{             
            height: 48.5%
         }                        
       }
      @media screen        
        and (min-height: 249px)         
        and (max-height: 258px) { 
         .WidgetBody{             
            height: 49%
         }                        
       }
      @media screen        
        and (min-height: 259px)         
        and (max-height: 268px) { 
         .WidgetBody{             
            height: 49.5%
         }                        
       }
      @media screen        
        and (min-height: 269px)         
        and (max-height: 278px) { 
         .WidgetBody{             
            height: 50%
         }                        
       }
      @media screen        
        and (min-height: 279px)         
        and (max-height: 288px) { 
         .WidgetBody{             
            height: 50.5%
         }                        
       }
      @media screen        
        and (min-height: 289px)         
        and (max-height: 298px) { 
         .WidgetBody{             
            height: 51%
         }                        
       } 
      @media screen        
        and (min-height: 299px)         
        and (max-height: 308px) { 
         .WidgetBody{             
            height: 51.5%
         }                        
       } 
       @media screen        
        and (min-height: 309px)         
        and (max-height: 318px) { 
         .WidgetBody{             
            height: 52%
         }                        
       } 
       @media screen        
        and (min-height: 319px)         
        and (max-height: 328px) { 
         .WidgetBody{             
            height: 52.5%
         }                        
       } 
       @media screen        
        and (min-height: 329px)         
        and (max-height: 338px) { 
         .WidgetBody{             
            height: 53%
         }                        
       } 
       @media screen        
        and (min-height: 339px)         
        and (max-height: 348px) { 
         .WidgetBody{             
            height: 53.5%
         }                        
       } 
       @media screen        
        and (min-height: 349px)         
        and (max-height: 358px) { 
         .WidgetBody{             
            height: 54%
         }                        
       } 
       @media screen        
        and (min-height: 359px)         
        and (max-height: 368px) { 
         .WidgetBody{             
            height: 54.5%
         }                        
       } 
       @media screen        
        and (min-height: 369px)         
        and (max-height: 378px) { 
         .WidgetBody{             
            height: 55%
         }                        
       } 
       @media screen        
        and (min-height: 379px)         
        and (max-height: 388px) { 
         .WidgetBody{             
            height: 55.5%
         }                        
       } 
       @media screen        
        and (min-height: 389px)         
        and (max-height: 398px) { 
         .WidgetBody{             
            height: 56%
         }                        
       } 
       @media screen  
        and (min-height: 399px)         
        and (max-height: 408px) { 
         .WidgetBody{             
            height: 56.5%
         }                        
       } 
       @media screen 
        and (min-height: 409px)      
        and (max-height: 418px) { 
         .WidgetBody{             
           height: 57%
         }                        
       } 
       @media screen 
        and (min-height: 419px)      
        and (max-height: 429px) { 
         .WidgetBody{             
            height: 57.5%
         }                        
       } 
       @media screen 
        and (min-height: 430px)      
        and (max-height: 436px) { 
         .WidgetBody{             
            height: 58%
         }                        
       } 
       
       @media screen 
        and (min-height: 437px)      
        and (max-height: 456px) { 
         .WidgetBody{             
            height: 58.5%
         }                        
       }  
        
       @media screen 
        and (min-height: 457px)      
        and (max-height: 471px) { 
         .WidgetBody{             
            height: 59%
         }                        
       }   
       @media screen 
        and (min-height: 472px)      
        and (max-height: 485px) { 
         .WidgetBody{             
            height: 59.5%
         }                        
       }  
       @media screen 
        and (min-height: 486px)      
        and (max-height: 503px) { 
         .WidgetBody{             
            height: 60%
         }                        
       }  
       @media screen 
        and (min-height: 504px)      
        and (max-height: 511px) { 
         .WidgetBody{             
            height: 60.5%
         }                        
       }        
       @media screen 
        and (min-height: 512px)      
        and (max-height: 523px) { 
         .WidgetBody{             
            height: 61%
         }                        
       }       
       
        @media screen 
        and (min-height: 524px)  
        and (max-height: 333px){
          .WidgetBody{
            height: 61.5%
          }   
        }
        @media screen 
        and (min-height: 534px)  
        and (max-height: 543px){
          .WidgetBody{
             height: 62%
          }   
        }
        @media screen 
        and (min-height: 544px)  
        and (max-height: 556px){
          .WidgetBody{
            height: 62.5%
          }   
        }           
        
       @media screen 
        and (min-height: 557px)
        and (max-height: 573px) {
          .WidgetBody{
            height: 63%;                   
          }
       } 
        
       @media screen 
        and (min-height: 574px)
        and (max-height: 593px) {
          .WidgetBody{
            height: 63.5%;
               
          }
       } 
       @media screen 
        and (min-height: 594px)
        and (max-height: 604px) {
          .WidgetBody{
            height: 64%;                 
          }
       }   
       @media screen 
        and (min-height: 605px)
        and (max-height: 617px) {
          .WidgetBody{
            height: 64.5%;                
          }
       }     
       @media screen 
        and (min-height: 618px)
        and (max-height: 627px) {
          .WidgetBody{
            height: 65%;              
          }
       }  
       @media screen 
        and (min-height: 628px)
        and (max-height: 637px) {
          .WidgetBody{
            height: 65.5%;             
          }
       }  
       @media screen 
        and (min-height: 638px)
        and (max-height: 649px) {
          .WidgetBody{
            height: 66%;                
          }
       } 
       @media screen 
        and (min-height: 650px)
        and (max-height: 666px) {
          .WidgetBody{
            height: 66.5%;                 
          }
       }  
       @media screen 
        and (min-height: 667px)
        and (max-height: 678px) {
          .WidgetBody{
            height: 67%;                 
          }
       } 
       @media screen 
        and (min-height: 677px)
        and (max-height: 689px) {
          .WidgetBody{
            height: 67.5%;                
          }
       } 
        @media screen 
        and (min-height: 690px)
        and (max-height: 699px) {
          .WidgetBody{
            height: 68%;
          }
       } 
        @media screen 
        and (min-height: 700px)
        and (max-height: 709px) {
          .WidgetBody{
            height: 68.5%;
          }
       } 
        @media screen 
        and (min-height: 710px)
        and (max-height: 719px) {
          .WidgetBody{   
            height:  69%; 
          }
        }
        
        @media screen 
        and (min-height: 720px)
        and (max-height: 734px) {
          .WidgetBody{   
            height:  69.5%; 
          }
        }       
    
        @media screen 
        and (min-height: 735px)
        and (max-height: 744px) {
          .WidgetBody{   
            height:  70%;
          }
        } 
    
        @media screen 
        and (min-height: 745px)
        and (max-height: 760px) {
          .WidgetBody{   
            height:  71.5%;
          }
        } 
     
        @media screen 
        and (min-height: 761px)
        and (max-height: 779px) {
          .WidgetBody{   
            height:  72%;
          }
        } 
   
        @media screen 
        and (min-height: 780px)
        and (max-height: 799px) {
          .WidgetBody{   
            height:  72.5%;
          }
        } 
    
        @media screen 
        and (min-height: 800px)
        and (max-height: 829px) {
          .WidgetBody{   
            height:  73%;
          }
        } 
    
        @media screen 
        and (min-height: 830px)
        and (max-height: 845px) {
          .WidgetBody{   
            height:  73.5%;
          }
        } 
   
        @media screen 
        and (min-height: 846px)
        and (max-height: 854px) {
          .WidgetBody{   
            height:  74%; 
          }
        } 
    
        @media screen 
        and (min-height: 855px)
        and (max-height: 870px) {
          .WidgetBody{   
            height:  74.5%;
          }
        } 
    
        @media screen 
        and (min-height: 871px)
        and (max-height: 899px) {
          .WidgetBody{   
            height:  75%; 
          }
        } 
   
        @media screen 
        and (min-height: 900px)
        and (max-height: 912px) {
          .WidgetBody{  
            height: 75.5%; 
          }
        }                
        
        @media screen 
        and (min-height: 913px){        
          .WidgetBody{            
             height: 76%;                          
          }
        }             
       
     }  */
//}
