@supports (-moz-appearance:meterbar) {  
     input[type="search"]{float: left;}
     
     .SearchBox {
        padding: .5em .5em .5em 2.3em !important;
     } 
     
     img.x{
           width: 7px; 
           height: 7px; 
           border: 0px none; 
           position: absolute; 
           margin-left: -15px; 
           margin-top: 12px;   
           cursor: pointer;   
		   z-index: 100;
     }
        
     .TopBarMeStatus{
        .Logout {
          padding: 1px 14px 3px 13px !important;
          
          .icon {
             top: 0 !important;
          }
        }  
        .XButton{
           span {
            top: 3px !important;
          }
        }
     }     
    .Widget.Queues{
        .Block{
            .Avatar {
                width: 42px !important;
                height: 40px !important;
            }
            .Title {
                width: 80px !important;
                flex: none !important;
                
                .Agents {
                    padding-top: 0px !important;
                }
            }
       }
    }      
    .WidgetMe{
     .WidgetHeader{
        height: 8.438em !important;
        position: absolute !important;
        
        & > div{
            display: inline-block;
        }
        .WidgetHeaderTitle{
            height: 2.4em !important;
            line-height: 2.4em !important;   
            margin: 0 !important;         
        }
        .Avatar.AvatarBig,
        .MeInfoBlock{
            height: 5.625em;
        }
     }
     
     .WidgetBody{
       top: 160px;
       position: absolute;
     }
     .Avatar.AvatarBig{width: 19% !important;}
     
     .MeInfoBlock {width: 79% !important;}
    }    
   
.ChatInputBox .ChatInputFields .text.ChatInputBoxInput { height: 3.5em !important; }
.ChatInputBox .ChatInputFields .XButton.ChatInputBoxSend {          
            height: 2.5em !important;
            padding-top: 10px !important;
}

    .WidgetBody{        
        
         .SearchInputBox{
            width: 30% !important;
            float: left;
         }
         .SearchInputBoxInputHolder{
             width: 78% !important;         
         }    
         
         .ToolBar{
         
             input[type=search]{           
                width: 30%;
                font-size: 0.688em !important;                         
             }
             &.fj-stream{ 
                 .XButton{
                    float: right !important;
                    height: 1.9em !important;                         
                 } 
                 select.XButton, select.XButtonDropDown{
                    height: 2.3em !important;
                    width: 22% !important;
                    float: right !important;
                 }
             }
             .ChatSearch{
                top: 0px !important;
                .Search{
                    margin-top: 0px;
                    width: 68% !important;
                    height: 2.38em !important;  
                }
             }
             
            .SearchInputBox{       
                width: 30% !important;
                float: left;
            
                .SearchInputBoxInputHolder{
                    width: 82% !important;
                    input[type=search]{
                        height: 2.40em !important;
                        width: 94% !important;
                    }
                }
            }
            
            &.Queues{
            
                .XButton.XSortButton{
                    margin-top: 0px !important;
                }
                
                input[type="search"] {
                    width: 20em !important;
                }
            }        
         }       
     }
    .SearchInputBoxInputHolder {
       height: 100% !important;
       width: 82%  !important;
       right: 0px  !important;
       top: 0px !important;                
    }
    .Conference{
        
        .ToolBar{
        
         .XButton{            
            font-size: 0.625em !important;
            height: 2.90em !important;    
            width: 33.9% !important;        
          }
          
         .SearchInputBox{
           width: 30% !important; 
           float: left;      
         }
         
         .SearchInputBoxInputHolder{
           width: 84% !important;
           
           input[type=search]{
              width: 92% !important;
              font-size: 0.688em !important;
           }
         }  
       }     
    }        
    .Conversation{
    
      .ToolBar{         
         .XButton {
           height: 2.2em !important;
         }
         .XButtonNormal{
            height: 1.9em !important;
         }
         select.XButton, select.XButtonDropDown{
           width: 32%;
           height: 2em;
           padding-top: 3px !important;
         }
         
         input[type=search].SearchBox{           
            width: 30% !important;
         }
         
         .XButton.XSortButton{
            margin-top: 0 !important;
         }        
         
         &.chatTop{
          .XButton {
               height: 2.2em !important;
          }
              
          .ChatSearch{
            width: 64% !important;
            top: 0 !important!;
            
            .SearchIcon{float: left;}
            
            .Arrows{float: right; width: 24%;}
      
            input[type=search].SearchBox{
                height: 2.4em !important;
                margin-top: 0 !important;
                top: 0 !important;
                width: 62% !important;
                float: left;
            }
          }         
         }
        }
     } 
     .XButton span{
        vertical-align: top;        
        /*top: -3px; */  
     }
    
  /******* notifications **********/
  .LeftBar
  {
    height: 99%;
   .Notifications
   {
        /*bottom: 16px;*/
        .TitleBar .XButton,
        .NotificationDivider > div .XButton
        {
           top: -3px !important;
        }
   }
  }
  
  .LeftBarNotificationSection{
    background-color: transparent;
  }
  
  .Widget{
    height: 97%;
  } 
  .WidgetTabBar{ clear: both;}
  .Messages{        
          
        &:first-child{         
            clear: both;
        }
        &:not(:first-child) {
            margin-top: 0;
            clear: both;          
        }
  }
  
  .NotificationHeader{
    position: relative;
    z-index: 100;
    top: 0;   
  }
  .NotificationSection {
    float: left;
    top: -10px;
    width: 100%;
    position: relative;
    margin-top: 0px;  
    height: 15px;  
    padding-bottom: 10px;
    margin-bottom: -10px;
    
    &.last{
      height: auto;
      
      &.alert{
        margin-top: 15px;
      }
    }
    
     &.firstsection{
        top: 0px;  
        padding-top: 3px;      
        margin-bottom: 0px;
     }
     
     &:not(.firstsection){
       top: -10px;
       margin-bottom: -12px;
     }
     /*&.halfHeight{
        overflow: hidden;
        height: 1.5em;
         &.firstsection{
            height: 1.8em;
         }
     }*/
  }
  
  .LeftBarNotificationMessageSection{
    float: left;
    padding-left: 0px;
    width: 82%;
    clear: none;
    
    .NotificationDisplayName {
        padding-left: 5px; 
        
        span{width: auto !important;}       
    }
    
    .NotificationType {
        position: relative;
        left: 5px;
        top: -5px;
    }
    .NotificationTime{
        right: 0;
    }
    
    .NotificationMessage {
        padding-left: 5px;
    }
    
  }
  .Overlay {
    &.notifications{ 
      .LeftBarNotificationAvatarSection{
            max-width: 12%;
      }
        
      .LeftBarNotificationMessageSection{
         /*width: 90%;*/
         max-width: 86%;
         padding-left: 10px;
      }
    }
  }
  
  .MyCallBlock_Rec {
    right: 33% !important;;
  }
  .XIcon24-Record-Off{
    margin: 10px;
  }  
  .CurrentCall{ 
      .RightSide{
        .XButton{
            width: 75px !important;   
            &.CurrentCallBtnLong{
              width: 155px !important;
            }                             
        }
                
       }
   }
   .DockPanel { 
     height: 100% !important;
     .InnerDock {
        width: 100% !important;
     }
   } 
   
   
   .ZoomWidgetSection{
    .XButtonWide.XButtonBlue.first{
        margin-top: 5px;
    }
    .JoinMeetingSection{
        .addContact{
            margin-bottom: 5px;
        }
    }
   } 
   
   
   .CallLog {
    .ListLineContent.Header{
        .ListLineContentCell{
            &:first-child{
                 width: 28px;
            } 
            &.Name{width: 108px !important;}   
            &.Phone{width: 76px !important;}
            &.Duration{width: 54px  !important;}  
            &.StartedAt{width: 110px !important;}  
            &.CallType{width: 10%  !important;}  
        }
    } 

    .ListRow {
        /*& > div:not(:first-child){
            padding-left: 5px;                        
        }*/
         &.Phone {        
            flex: 2.2 1 0;
        }
    }
          
   }    
}
