.Avatar {
  position: relative;
  border: 1px solid #729c00;
  border-radius: 3px;
  width: 2em;
  height: 2em;
  text-align: center;
  background-color: white;
  display: inline-block;
  
  .AvatarInteractable {
    border-color: #729c00 transparent;
    border-style: solid;
    border-width: 0 0 .45em .45em;
    position: absolute;
    width: 0;
    bottom: .05em;
    right: .05em;
	display: none;
  }
  
  &:hover .AvatarInteractable {
    display: block;
  }
  
  img {
    width: 100%;
	height: 100%;
	border: 0;
  }
  
  .GroupAvatarItem {
    width: 50%;
	height: 50%;
	position: absolute;
	
	&.GroupAvatarItem_0 {
	  top: 0;
	  left: 0;
	}
	
	&.GroupAvatarItem_1 {
	  top: 0;
	  right: 0;
	}
	
	&.GroupAvatarItem_2 {
	  bottom: 0;
	  left: 0;
	}
	
	&.GroupAvatarItem_3 {
	  bottom: 0;
	  right: 0;
	}
  }
}

.AvatarWarningSmall{
  position: absolute;
  height: 30px;
  width: 30px;
  background: url("../img/XAvatarBorder.png") no-repeat -95px -230px;
}

.DownloadIcon{
    position: absolute;
  left: 0px;
  top: 10px;
  width: 40px;
  height: 40px;
  background: url("../img/XApp-Icons.png") no-repeat -0px -0px
}

.CallAvatar {
  border-radius: 1em;
  overflow: hidden;

  &.CallAvatar_External {
	border: .2em solid #729c00;
  }
	&.CallAvatar_Queue {
    border: .2em solid #e27100;
  }
  
  &.CallAvatar_Office {
	border: .2em solid #009CFF;
  }
  
  .AvatarInteractable {
    border-width: 0 0 .6em .6em;
    border-color: #0093f0 transparent;

  }
}

[class*="XIcon-ChatStatus"] {
  background: url("../img/XStatus.png") no-repeat;
  background-position: -72px 0;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.XIcon-ChatStatus-Available, .XIcon-ChatStatus-available{
  background-position: 0 0;
}

.XIcon-ChatStatus-Away, .XIcon-ChatStatus-away {
  background-position: -24px 0;
}

.XIcon-ChatStatus-Busy, .XIcon-ChatStatus-dnd {
  background-position: -48px 0;
}

.XIcon-ChatStatus-Offline, .XIcon-ChatStatus-offline {
  background-position: -72px 0;
}

[class*="XIcon-QueueStatus"] {
  background: url("../img/XStatus.png") no-repeat;
  background-position: -96px -24px;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
  
.XIcon-QueueStatus-LoggedIn, .XIcon-QueueStatus-login {
  background-position: 0 -24px;
}

.XIcon-QueueStatus-LoggedOut, .XIcon-QueueStatus-logout {
  background-position: -24px -24px;
}

.XIcon-QueueStatus-LockedIn, .XIcon-QueueStatus-login-permanent{
  background-position: -48px -24px;
}

.XIcon-QueueStatus-LockedOut {
  background-position: -72px -24px;
}

.XIcon-QueueStatus-NotAgent, .XIcon-QueueStatus-disabled {
  background-position: -96px -24px;
}

.XIcon-CallLog-Incoming, .XIcon-CallLog-incoming {
  background : url("../img/XIcon-CallLog-Incoming.png") no-repeat 0 0;
  width: 24px;
  height: 24px;
}

.XIcon-CallLog-Outbound, .XIcon-CallLog-outbound {
  background : url("../img/XIcon-CallLog-Outbound.png") no-repeat 0 0;
  width: 24px;
  height: 24px;
}

.XIconSetMic{
  background:url("../img/XIconSet-24x24.png") no-repeat 0px 0px;
}

.XIconCallOperationVolumeOff{
  background:url("../img/XCallOperation.png") no-repeat -78px 0px;
}

.IconDisplay {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}