@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .WidgetMe{ 
    .WidgetBody{
        .RecentCallLogs{height: 88%;}
        &.currentCall{                        
            .Preferences-Holder{                
                padding-bottom: 60px !important;                                 
            }
        } 
        .CurrentCall{
          .LeftSide{
           .Dialog-settings-row{
              margin: 0px !important;
              min-height: none !important;
              max-height: 30px;
              
             .XButtonToggleSmall{
                vertical-align: middle !important;
             }   
           }  
          }
        }
        
        .Preferences-Holder{                
                .SettingsPanel.DialogContentMainBlock_List {    
                  height: 100%;             
                }
        }          
    }
  }  
    .ToolBar{
          .selectWrapper{
                &.vm{
                    width: 110px !important;
                }
                
                &.queue,
                &.status,
                &.conf,
                &.members{ 
                    width: 130px !important;
                }
                 
                &.convQueue{
                    width: 80px !important;
                }
                
                select:hover{
                    background: transparent !important;
                }
           }   
     }
     .Conference {
            .ToolBar{
                    input[type=button],   
                    .selectWrapper.conf{  
                        width: 130px !important;
                    } 
            }
     }
     
     .WidgetStat {
        .row{
            &.second{
                .Left{
                    width: 35%;
                }
            }    
        }
     }
}

@media screen and (min-height: 970px)   
{
   .WidgetMe .RecentCallSection{height: 100% !important;}
}
@media screen and (min-height: 928px)   
              and (max-height: 969px) 
{
   .WidgetMe .RecentCallSection{height: 98% !important;}
}
@media screen and (min-height: 854px)   
              and (max-height: 927px) 
{
    .WidgetMe .RecentCallSection{height: 96% !important;}
}
@media screen and (min-height: 792px)   
              and (max-height: 853px) 
{
    .WidgetMe .RecentCallSection{height: 94% !important;}
}
@media screen and (min-height: 763px)   
              and (max-height: 791px) 
{
    .WidgetMe .RecentCallSection{height: 93% !important;}
}
@media screen and (min-height: 733px)   
              and (max-height: 762px) 
{
    .WidgetMe .RecentCallSection{height: 92% !important;}
}
@media screen and (min-height: 680px)   
              and (max-height: 732px) 
{
    .WidgetMe .RecentCallSection{height: 90% !important;}
}
@media screen and (min-height: 640px)   
              and (max-height: 679px) 
{
    .WidgetMe .RecentCallSection{height: 88% !important;}
}
@media screen and (min-height: 620px)   
              and (max-height: 639px) 
{
    .WidgetMe .RecentCallSection{height: 86% !important;}
}
@media screen and (min-height: 577px)   
              and (max-height: 619px) 
{
    .WidgetMe .RecentCallSection{height: 84% !important;}
}
@media screen and (min-height: 557px)   
              and (max-height: 576px) 
{
    .WidgetMe .RecentCallSection{height: 82% !important;}
}

@media screen and (min-height: 526px)   
              and (max-height: 556px) 
{
    .WidgetMe .RecentCallSection{height: 80% !important;}
}

@media screen and (min-height: 501px)   
              and (max-height: 525px) 
{
    .WidgetMe .RecentCallSection{height: 78% !important;}
}
@media screen and (min-height: 489px)
              and (max-height: 500px)               
{
    .WidgetMe .RecentCallSection{height: 76% !important;}
}
@media screen and (min-height: 469px)
              and (max-height: 488px)               
{
    .WidgetMe .RecentCallSection{height: 74% !important;}
}
@media screen and (min-height: 458px)
              and (max-height: 468px)               
{
    .WidgetMe .RecentCallSection{height: 72% !important;}
}

@media screen and (min-height: 450px)
              and (max-height: 458px)               
{
    .WidgetMe .RecentCallSection{height: 70% !important;}
}
@media screen and (min-height: 435px)
              and (max-height: 449px)               
{
    .WidgetMe .RecentCallSection{height: 68% !important;}
}
@media screen and (min-height: 426px)
              and (max-height: 434px)               
{
    .WidgetMe .RecentCallSection{height: 65% !important;}
}
@media screen and (min-height: 412px)
              and (max-height: 425px)               
{
    .WidgetMe .RecentCallSection{height: 62% !important;}
}
@media screen and (min-height: 400px)
              and (max-height: 411px)               
{
    .WidgetMe .RecentCallSection{height: 56% !important;}
}
@media screen and (min-height: 388px)
              and (max-height: 399px)               
{
    .WidgetMe .RecentCallSection{height: 52% !important;}
}
@media screen and (min-height: 382px)
              and (max-height: 387px)               
{
    .WidgetMe .RecentCallSection{height: 50% !important;}
}
@media screen and (min-height: 376px)
              and (max-height: 381px)               
{
    .WidgetMe .RecentCallSection{height: 48% !important;}
}
@media screen and (min-height: 970px)   
{
   .WidgetMe .WidgetBody.currentCall{
        .call-block {
            height: 50% !important;
            .RecentCallSection{
                height: 64% !important;
                
            }
        }
        .Preferences-Holder{
            height: 50%;
            
            .SettingsPanel.DialogContentMainBlock_List{
              height: 100% !important;  
              & > div{
                height: 100%;
              }  
            }    
        }
    }
 
}
@media screen 
    and (min-height: 950px)  
    and (max-height: 969px) 
    {
      .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 50% !important;
                .RecentCallSection{
                    height: 62%!important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List > div{
                    height: 100%;
                }    
            }
        }
     
    }
@media screen 
    and (min-height: 930px)  
    and (max-height: 949px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 50%!important;
                .RecentCallSection{
                    height: 60%!important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List > div{
                    height: 100%;
                }    
            }
        }
     
    }
   
@media screen 
    and (min-height: 915px)  
    and (max-height: 929px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 50%!important;
                .RecentCallSection{
                    height: 58%!important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List > div{
                    height: 100%;
                }    
            }
        }
     
    }
@media screen 
    and (min-height: 896px)  
    and (max-height: 915px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 50% !important;
                .RecentCallSection{
                    height: 56% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List > div{
                    height: 100%;
                }    
            }
        }
     
    }  
 @media screen 
    and (min-height: 878px)  
    and (max-height: 895px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 60% !important;
                .RecentCallSection{
                    height: 60% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List > div{
                    height: 100%;
                }    
            }
        }
     
    }     
    
    @media screen 
    and (min-height: 872px)  
    and (max-height: 877px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 60% !important;
                .RecentCallSection{
                    height: 58% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List > div{
                    height: 100%;
                }    
            }
        }
     
    }   
    @media screen 
    and (min-height: 852px)  
    and (max-height: 871px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 60% !important;
                .RecentCallSection{
                    height: 58% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List > div{
                    height: 100%;
                }    
            }
        }
     
    }   
    @media screen 
    and (min-height: 847px)  
    and (max-height: 851px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 70% !important;
                .RecentCallSection{
                    height: 62% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    } 
    @media screen 
    and (min-height: 819px)  
    and (max-height: 846px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 70% !important;
                .RecentCallSection{
                    height: 60% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 813px)  
    and (max-height: 818px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 70% !important;
                .RecentCallSection{
                    height: 58% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 797px)  
    and (max-height: 812px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 70% !important;
                .RecentCallSection{
                    height: 56% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 788px)  
    and (max-height: 796px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 80% !important;
                .RecentCallSection{
                    height: 60% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 779px)  
    and (max-height: 787px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 80% !important;
                .RecentCallSection{
                    height: 58% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 764px)  
    and (max-height: 778px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 80% !important;
                .RecentCallSection{
                    height: 56% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 747px)  
    and (max-height: 763px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 90%;
                .RecentCallSection{
                    height: 54% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 714px)  
    and (max-height: 746px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 90%;
                .RecentCallSection{
                    height: 52% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 706px)  
    and (max-height: 713px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 90%;
                .RecentCallSection{
                    height: 52% !important;
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 692px)  
    and (max-height: 705px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 90%;
                .RecentCallSection{
                    height: 50% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 683px)  
    and (max-height: 691px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 90% !important;
                .RecentCallSection{
                    height: 48% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 679px)  
    and (max-height: 682px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 90% !important;
                .RecentCallSection{
                    height: 46% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 672px)  
    and (max-height: 678px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 90% !important;
                .RecentCallSection{
                    height: 44% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 667px)  
    and (max-height: 671px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 90% !important;
                .RecentCallSection{
                    height: 42% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 660px)  
    and (max-height: 666px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 90% !important;
                .RecentCallSection{
                    height: 40% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 652px)  
    and (max-height: 659px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 90% !important;
                .RecentCallSection{
                    height: 36% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 590px)  
    and (max-height: 651px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 90% !important;
                .RecentCallSection{
                    height: 32% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen 
    and (min-height: 580px)  
    and (max-height: 589px) 
    {
        .WidgetMe .WidgetBody.currentCall{
            .call-block {
                height: 90% !important;
                .RecentCallSection{
                    height: 26% !important;
                    
                }
            }
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }
    @media screen     
    and (max-height: 579px) 
    {
        .WidgetMe .WidgetBody.currentCall{            
            .Preferences-Holder{
                 height: 50%;  
                
                .SettingsPanel.DialogContentMainBlock_List{
                  height: 100%;
                  & > div{
                    height: 100% !important;
                  }  
                }    
            }
        }
     
    }