@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .WidgetMe{ 
    .WidgetBody{
        .Preferences-Holder{                
                padding-bottom: 80px !important;      
                //.DialogContentMainBlock_List.SettingsPanel > div{height: 90%;}                           
        }
        //.RecentCallLogs{height: 88%;}
        
        .CurrentCall{
          .LeftSide{
           .Dialog-settings-row{
              margin: 0px !important;
              min-height: none !important;
              max-height: 30px;
              
             .XButtonToggleSmall{
                vertical-align: middle !important;
             }   
           }  
          }
        }
        
        /*.Preferences-Holder{                
                .SettingsPanel.DialogContentMainBlock_List {    
                  height: 100%;             
                }
        }  */        
    }
  }  
    .ToolBar{
          .selectWrapper{
                &.vm{
                    width: 110px !important;
                }
                
                &.queue,
                &.status,
                &.conf,
                &.members{ 
                    width: 130px !important;
                }
                 
                &.convQueue{
                    width: 80px !important;
                }
                
                select:hover{
                    background: transparent !important;
                }
           }   
     }
     .Conference {
            .ToolBar{
                    input[type=button],   
                    .selectWrapper.conf{  
                        width: 130px !important;
                    } 
            }
     }
     
     .WidgetStat {
        .row{
            &.second{
                .Left{
                    width: 35%;
                }
            }    
        }
     }
}