.LeftBar {
  position: relative;
  max-width: 300px;
  min-width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  float: left;
  flex: 1;
  flex-direction: column;
  display: flex;
  height: 100%;
  /* .Recent {
      flex: 1 1 0;
      -webkit-flex: 1 1 0;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;      
      overflow: hidden;
      
      .ContactList {
          flex: 1 1 0;
          -ms-flex: 1 1 0;
          -webkit-flex: 1 1 0;
          overflow-y: auto;
          min-height: 60px;
          
          h4 {
              margin: .5em 0 0 .5em;
              color: #0093f0;
              font-variant: small-caps;
              font-size: .9em;
              
              & + em {
                  margin: 0 0 .5em .5em;
                  font-size: .8em;
                  display: block;
              }
          }
          
      }
  }  */
}
.LeftBar .RoundedTop {
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: white;
  border-top: 1px solid #ccc;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 0px 1px 1px #ccc inset;
}
.LeftBar .LeftBarTop .WidgetTabBar {
  background: url() transparent !important;
}
.LeftBar .ContactSearch {
  /* display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	width: 100%;*/
  width: 300px;
}
.LeftBar .ContactSearch span {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 24px;
  height: 24px;
  z-index: 101;
  background: url("../img/XIconSet-24x24.png?v=1432149616933") no-repeat -168px -24px;
}
.LeftBar .ContactSearch span.favorites {
  background: url('../img/XIconSet-24x24.png?v=1432149616933') no-repeat -284px -24px;
}
.LeftBar .ContactSearch .Search {
  color: #729c00;
  border: 1px solid #729c00;
  border-radius: 2px;
  padding: .5em;
  margin: .5em;
  width: 70%;
  padding-left: 20px;
}
.LeftBar .ContactSearch .Search.add {
  padding-left: 25px;
}
.LeftBar .ContactSearch .New {
  float: right;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 22%;
  height: 2.35em;
  text-align: center;
  padding: 0;
}
.LeftBar .LeftContactsColumns.Header .Extension {
  left: -3px;
  margin-left: 0px;
  padding-left: 0px;
}
.LeftBar .Contacts,
.LeftBar .Groups,
.LeftBar .Recent {
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  overflow: hidden;
  position: relative;
  moin-height: 50%;
}
.LeftBar .Contacts .ContactList,
.LeftBar .Groups .ContactList,
.LeftBar .Recent .ContactList {
  flex: 1 1 0;
  -ms-flex: 1;
  -webkit-flex: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.LeftBar .Contacts .ContactList .ListRowContent .name span.details,
.LeftBar .Groups .ContactList .ListRowContent .name span.details,
.LeftBar .Recent .ContactList .ListRowContent .name span.details {
  margin-top: 2px;
}
.LeftBar .Contacts .ContactList .group_title,
.LeftBar .Groups .ContactList .group_title,
.LeftBar .Recent .ContactList .group_title {
  min-height: 40px;
  background-color: #f9f9f9;
  vertical-align: middle;
  border-bottom: solid 1px #eee;
}
.LeftBar .Contacts .ContactList .group_title .group_header,
.LeftBar .Groups .ContactList .group_title .group_header,
.LeftBar .Recent .ContactList .group_title .group_header {
  position: relative;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  vertical-align: middle;
}
.LeftBar .Contacts .ContactList .group_title .group_header .group,
.LeftBar .Groups .ContactList .group_title .group_header .group,
.LeftBar .Recent .ContactList .group_title .group_header .group {
  color: #0093f0;
  font-size: 11px;
  font-weight: bold;
  height: 20px;
  line-height: 29px;
  width: auto;
  text-transform: uppercase;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.LeftBar .Contacts .ContactList .group_title .group_header .dept,
.LeftBar .Groups .ContactList .group_title .group_header .dept,
.LeftBar .Recent .ContactList .group_title .group_header .dept {
  color: #555;
  font-size: 11px;
  font-style: italic;
  font-weight: normal;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 4px;
  display: inline-block;
}
.LeftBar .Contacts .ContactList a.ListRow,
.LeftBar .Groups .ContactList a.ListRow,
.LeftBar .Recent .ContactList a.ListRow {
  background-color: #fff;
}
.LeftBar .Contacts .ContactList a.ListRow .Members,
.LeftBar .Groups .ContactList a.ListRow .Members,
.LeftBar .Recent .ContactList a.ListRow .Members {
  top: 2px;
  height: 24px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0px;
}
.LeftBar .Contacts .ContactList .LeftBarTabContentList,
.LeftBar .Groups .ContactList .LeftBarTabContentList,
.LeftBar .Recent .ContactList .LeftBarTabContentList,
.LeftBar .Contacts .ContactList .timeline,
.LeftBar .Groups .ContactList .timeline,
.LeftBar .Recent .ContactList .timeline {
  flex-direction: column;
  -webkit-flex-direction: column;
  display: block;
  flex: 1 1 0;
  -ms-flex: 1;
  -webkit-flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  /*height: 100%;*/
}
.LeftBar .Contacts .ContactList h4,
.LeftBar .Groups .ContactList h4,
.LeftBar .Recent .ContactList h4 {
  margin: .5em 0 0 .5em;
  color: #0093f0;
  font-variant: small-caps;
  font-size: .9em;
}
.LeftBar .Contacts .ContactList h4 + em,
.LeftBar .Groups .ContactList h4 + em,
.LeftBar .Recent .ContactList h4 + em {
  margin: 0 0 .5em .5em;
  font-size: .8em;
  display: block;
}
.LeftBar .Groups .ContactList {
  overflow-y: auto;
}
.LeftBar .Recent .ContactList .timeline {
  overflow-y: auto;
}
.LeftBar .Notifications {
  position: relative;
  width: 100%;
  border-bottom-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  /*-webkit-box-flex: 0;*/
  position: absolute;
  bottom: 40px;
  display: flex;
  z-index: 150;
}
.LeftBar .Notifications > div:first-child {
  /*font-size: .9em;*/
  transition: .25s;
}
.LeftBar .Notifications .TitleBar,
.LeftBar .Notifications .NotificationDivider > div {
  width: 100%;
  background-color: #999;
  color: white;
  padding: .25em;
  transition: 1s;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 12px;
}
.LeftBar .Notifications .TitleBar > *,
.LeftBar .Notifications .NotificationDivider > div > * {
  display: inline-block;
  vertical-align: middle;
}
.LeftBar .Notifications .TitleBar.hasButton,
.LeftBar .Notifications .NotificationDivider > div.hasButton {
  z-index: 100;
  display: none;
  position: relative;
  bottom: -10px;
}
.LeftBar .Notifications .TitleBar .XButton,
.LeftBar .Notifications .NotificationDivider > div .XButton {
  float: right;
  top: -1px;
}
.LeftBar .Notifications .TitleBar .NoNotificationIcon,
.LeftBar .Notifications .NotificationDivider > div .NoNotificationIcon {
  width: 24px;
  height: 24px;
  background: url("../img/XIconSet-24x24.png") no-repeat -48px -72px;
}
.LeftBar .Notifications .TitleBar .HasNotificationIcon,
.LeftBar .Notifications .NotificationDivider > div .HasNotificationIcon {
  width: 24px;
  height: 24px;
  background: url("../img/XIconSet-24x24.png") no-repeat -72px -72px;
}
.LeftBar .Notifications .NotificationDivider:not(.firstHeaderDivider) > div {
  border-left: 1px solid #ccc;
}
.LeftBar .Phone {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  padding: 5px 10px 5px 5px;
  z-index: 100;
  background-color: #fff;
  border: solid 1px #eee;
  min-height: 2.5em;
  position: absolute;
  bottom: 0;
}
.LeftBar .Phone .Number {
  width: 70%;
  padding: 6px 3px;
  border: 1px solid #c2c2c2;
}
.LeftBar .Phone input[type=button] {
  left: 5px;
  width: 28%;
  padding: .1em;
}
@supports (-moz-appearance:meterbar) {
  .LeftBar .ContactSearch .Search {
    width: 65%;
  }
}
