.LeftBar {
  position: relative;
  width: 21%;
  min-width: 250px;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  
  .RoundedTop {
    position: absolute;
	top: -15px;
	left: 0;
	width: 100%;
	height: 15px;
	background-color: white;
	border-top: 1px solid #ccc;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	box-shadow: 0px 1px 1px #ccc inset;
  }
  
  .ContactSearch {
    display: flex;
	flex-direction: row;
	width: 100%;
	
    .Search {
      color: #729c00;
	  border: 1px solid #729c00;
	  border-radius: 2px;
	  padding: .5em;
	  margin: .5em;	 	
	  width: 14.5em;	   
    }
    
    .New {     
	  height: 2.8em;
	  padding: 0 20px;
	  float: right;
	  position: absolute;
	  right: 0.5em;
	  top: 0.6em;
    }
  }
  
  .Contacts, .Groups {
    flex: 1;
	display: flex;
	flex-direction: column;
	
	.ContactList {
	  flex: 1 1 0;
	  overflow-y: auto;
	  min-height: 60px;
	  margin-top: 10px;
	
      h4 {
	    margin: .5em 0 0 .5em;
	    color: #0093f0;
	    font-variant: small-caps;
	    font-size: .9em;
	    
	    & + em {
	      margin: 0 0 .5em .5em;
	  	  font-size: .8em;
	  	  display: block;
	    }
	  }
	}	
  }
  
  .Notifications{
    position: relative;    
    width: 100%;
    border-bottom-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -webkit-box-flex: 0;
    
    & > div:first-child {
    	font-size: .9em;    	
    	transition: .25s;
	} 	
	
	.TitleBar, .NotificationDivider > div {
	   width: 100%;
	   background-color: #999;
	   color: white;
	   padding: .25em;
	   height: 2.5em;
	   transition: 1s;
	   border-top: 1px solid #ccc;
	   border-left:1px solid #ccc;
       border-right:1px solid #ccc; 
	
	  & > * {
	    display: inline-block;
	    vertical-align: middle;
	  }
	  
	  &.hasButton{
	   z-index: 100;	   
       display: none;
       position: relative;
       bottom: -10px;
	  }
	  
	  .XButton {
	    float: right;
	  }
	  
	  .Icon {
	    width: 24px;
	    height: 24px;
	    background: url("../img/XIconSet-24x24.png") no-repeat -48px -72px;
	  }
	}
	
	/*
	&:hover{        
        .TitleBar.noButton{
            margin-top: -15px;
            border-top: 0px none;
        }         
    }*/
  }
  
  .Phone {
    padding: .5em;
	display: flex;
	flex-direction: row;
	width: 100%;
	
	.Number {
	  flex: 2;
	  border: 1px solid #c2c2c2;
	}
	input[type=button]{left: 5px;}
  }
}

@supports (-moz-appearance:meterbar) { 
    .LeftBar .ContactSearch .Search {
         width: 11.5em; 
      }  
}