* {
  box-sizing: border-box;
}

body, html {
  position : relative;
  height : 100%;
  width : 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Tahoma, 'Helvetica Neue', Helvetica, sans-serif;
  /*font-size: 1em;*/
  color: #555;
  background: #ccc url(../img/bg.png);
  box-shadow: 0 4px 5px rgba(255,255,255,0.3) inset;
  user-select: none;
  overflow-x: hidden;
}

a {
  color: gray;
}

p {
  font-size: 11px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.upper{
  text-transform:uppercase;
}


.RedText{
  color:#FF0D0D;
}

.HeaderTitle{
  color: #0093f0;
  font-size: 11px;
  font-weight: bold;
  //height: 29px;
  line-height: 18px;
  width: auto;
  text-transform: uppercase;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#App {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  -webkit-flex-direction:column;
}

.PanelWrapper {
  position: relative;
  padding: 0 10px 10px 10px;
  flex: 1;
  -webkit-flex:1;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction:row;
}

.col1{
  width:180px;
  display:inline-block;
}

.text[contenteditable] {
  height: 26px;
  line-height: 24px;
  padding-left: 12px;
  font-size: 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #333;
  border: solid 1px #C7C7C7;
  box-shadow: 0px 0px 1px #DDD inset;
  -webkit-box-shadow: 0px 0px 1px #DDD inset;
  user-select: text;
  -webkit-user-select: text;
  outline: none;
}

.PopupMenu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 6px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.3), 0px 5px 10px #fff inset;
  z-index: 200;
}
.PopupMenuRow {
  display:block;
  padding:2px 20px;
  background-color: #fff;
}
.PopupMenuRow:hover {
  background-color: #b3d4fc;
}

.LeftBarMeCustomStatusSection {
  textarea {
    width:100%;
  }
}

.LocationSelector {
  width: 100%;
  
  .SelectBox {
    width: 100%;
    padding: 5px 10px 5px 0px;
  }
}

.HeaderLabel{
  font-size:1em;
}

#AppLoading {
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background: #ccc url("../img/bg.png");
  z-index: 1000;
  font-size: 40px;
  text-align:center;
  color: #333;
  font-weight:bold;
  text-shadow: 0 2px 0 #fff;
  
  div {
    margin-top: 20%;
  }
}

.RecentPointer{
  cursor:pointer;
  display:inline;
}

.footnote{
  font-size:.6em;
  font-style:italic;
  color:#ccc;
  display:inline-block;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:30%;
}

.BoxFramePH{
  top: 66px;
  width: 70%;
  height:80%;
  bottom: 16px;
}

.BoxFrame{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 95%;
  height: 95%;
  border: none;
  margin: 13px 13px 13px 13px;
}

.Center{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.LeftSide{
  float:left;
}

.RightSide{
  float:right;
}

.ui-state-highlight {
  display: inline-block;
  border-style: dashed;
  border-width: 1px;
}

@import "topBar";
@import "leftBar";
@import "dock";
@import "widget";
  @import "settings";
  @import "calls";
  @import "conference";
  @import "queue";
  @import "search";
  @import "video";
  @import "conversation";
@import "tables";
@import "buttons";
@import "icons";
@import "popups";
@import "notification";
@import "voicemail";
@import "nativeAlert";
@import "queue";
@import "media";


@supports (-moz-appearance:meterbar) {  
     input[type="search"]{float: left;}
     
     .SearchBox {
        padding: .5em .5em .5em 2.3em !important;
     } 
     
     img.x{
           width: 7px; 
           height: 7px; 
           border: 0px none; 
           display: inline-block; 
           position: relative; 
           right: 15px; 
           top: 12px; 
           float: left;        
           cursor: pointer;                
     }
        
     .LeftBarTop{
          img.x{
            right: 24px;
            top: 19px;
            z-index: 101;        
          }
                   
     } 
    .WidgetMe{
     .WidgetHeader{
        height: 8.438em !important;
        position: absolute !important;
        
        & > div{
            display: inline-block;
        }
        .WidgetHeaderTitle{
            height: 2.4em !important;
            line-height: 2.4em !important;   
            margin: 0 !important;         
        }
        .Avatar.AvatarBig,
        .MeInfoBlock{
            height: 5.625em;
        }
     }
     
     .WidgetBody{
        position: relative !important;
        height: 20em !important;
        
        .call-block{height: 12em !important;}
        
        .Preferences-Holder{height: 10em !important;}
     }
     
     .Avatar.AvatarBig{width: 19% !important;}
     
     .MeInfoBlock {width: 79% !important;}
    } 
    
    .WidgetBody{        
        
         .SearchInputBox{
            width: 30% !important;
            float: left;
         }
         .SearchInputBoxInputHolder{
             width: 78% !important;         
         }    
         
         .ToolBar{
         
             input[type=search]{           
                width: 30%;
                font-size: 0.688em !important;
                /*height: 2.6em !important; */           
             }
             
             select.XButtonDropDown, .XButton{
                float: right !important;
                height: 2.7em;            
             } 
             
             .ChatSearch{
                top: 0px !important;
                img.x{
                  top: 10px !important;
                }  
                .Search{
                    margin-top: 0px;
                    width: 63% !important;
                    height: 2.38em !important;  
                }
             }
             
            .SearchInputBox{       
                width: 30% !important;
                float: left;
            
                .SearchInputBoxInputHolder{
                    width: 82% !important;
                    input[type=search]{
                        height: 2.40em !important;
                        width: 94% !important;
                    }
                    img.x{
                        top: 10px !important;
                    }
                }
            }
            
            &.Queues{
            
                .XButton.XSortButton{
                    margin-top: 0px !important;
                }
                
                img.x{
                    top: 10px !important;
                }
                
                input[type="search"] {
                    width: 20em !important;
                }
            }        
         }       
     }
    .SearchInputBoxInputHolder {
       height: 100% !important;
       width: 82%  !important;
       right: 0px  !important;
       top: 0px !important;    
       
       img.x{float: right;right: 8px;}              
    }
    .Conference{
    
        img.x{
            top: 10px;
            right: 15%;
        }
        
        .ToolBar{
        
         .XButton{            
            font-size: 0.625em !important;
            height: 2.90em !important;            
          }
          
         .SearchInputBox{
           width: 30% !important; 
           float: left;      
         }
         
         .SearchInputBoxInputHolder{
           width: 84% !important;
           
           input[type=search]{
              width: 92% !important;
              font-size: 0.688em !important;
           }
         }  
       }     
    }      
    .ConferenceMembers{ 
           
         img.x{
             float: right;
             right: 8px;
             top: -18px;
             position: relative;
         }              
    }         
    .Conversation{
    
      .ToolBar{
      
         img.x{top: 10px; right: 12px;}
         
         input[type=search].SearchBox{           
            width: 30% !important;
         }
         
         .XButton.XSortButton{
            margin-top: 0 !important;
         }
         
         &.chatTop{
         
          .ChatSearch{
            width: 64% !important;
            top: 0 !important!;
            
            .SearchIcon{float: left;}
            
            img.x{right: 10px;}
            
            .Arrows{float: right; width: 24%;}
      
            input[type=search].SearchBox{
                height: 2.4em !important;
                margin-top: 0 !important;
                top: 0 !important;
                width: 62% !important;
                float: left;
            }
          }         
         }
        }
        .voicemail .ToolBar{
            img.x{right: 16px;}
        }
     } 
     .XButton span{
        vertical-align: top;        
        /*top: -3px; */  
    }
    
  /******* notifications **********/
  .LeftBar
  {
   .Notifications
   {
        .TitleBar .XButton,
        .NotificationDivider > div .XButton
        {
           top: -3px !important;
        }
   }
  }
  
  .LeftBarNotificationSection{
    background-color: transparent;
  }
  
  .Messages{        
          
        &:first-child{         
            clear: both;
        }
        &:not(:first-child) {
            margin-top: 0;
            clear: both;          
        }
  }
  
  .NotificationHeader{
    position: relative;
    z-index: 100;
    top: 0;   
  }
  .NotificationSection {
    float: left;
    top: -10px;
    width: 100%;
    position: relative;
    margin-top: 0px;    
    
     &.firstsection{
        top: -4px;        
     }
     
     &.halfHeight{
        overflow: hidden;
        height: 1.5em;
         &.firstsection{
            height: 1.8em;
         }
     }
  }
  
  .LeftBarNotificationMessageSection{
    float: left;
    padding-left: 0px;
    width: 82%;
    
    .NotificationDisplayName {
        padding-left: 5px; 
        
        span{width: auto !important;}       
    }
    
    .NotificationType {
        position: relative;
        left: 5px;
        top: -5px;
    }
    .NotificationTime{
        right: 0;
    }
    
    .NotificationMessage {
        padding-left: 5px;
    }
  }    
}
