* {
  box-sizing: border-box;
}

body, html {
  position : relative;
  height : 100%;
  width : 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Tahoma, 'Helvetica Neue', Helvetica, sans-serif;
  /*font-size: 1em;*/
  color: #555;
  background: #ccc url(../img/bg.png);
  box-shadow: 0 4px 5px rgba(255,255,255,0.3) inset;
  user-select: none;
  overflow: hidden;
}

p {
  font-size: 11px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.upper{
  text-transform:uppercase;
}


.RedText{
  color:#FF0D0D;
}

.HeaderTitle{
  color: #0093f0;
  font-size: 11px;
  font-weight: bold;
  //height: 29px;
  line-height: 18px;
  width: auto;
  text-transform: uppercase;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#App {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.PanelWrapper {
  position: absolute;
  padding: 0 10px 10px 10px;
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  width: 100%;
  height: 85%;
}

.col1{
  width:180px;
  display:inline-block;
}

.text[contenteditable] {
  height: 26px;
  line-height: 24px;
  padding-left: 12px;
  font-size: 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #333;
  border: solid 1px #C7C7C7;
  box-shadow: 0px 0px 1px #DDD inset;
  -webkit-box-shadow: 0px 0px 1px #DDD inset;
  user-select: text;
  -webkit-user-select: text;
  outline: none;
}

.PopupMenu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 6px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.3), 0px 5px 10px #fff inset;
  z-index: 200;
}
.PopupMenuRow {
  display:block;
  padding:2px 20px;
  background-color: #fff;
}
.PopupMenuRow:hover {
  background-color: #b3d4fc;
}

.LeftBarMeCustomStatusSection {
  textarea {
    width:100%;
  }
}

.LocationSelector {
  width: 100%;
  
  .SelectBox {
    width: 100%;
    padding: 5px 10px 5px 0px;
  }
}

.HeaderLabel{
  font-size:1em;
}

#AppLoading {
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background: #ccc url("../img/bg.png");
  z-index: 1000;
  font-size: 40px;
  text-align:center;
  color: #333;
  font-weight:bold;
  text-shadow: 0 2px 0 #fff;
  
  div {
    margin-top: 20%;
  }
}

.RecentPointer{
  cursor:pointer;
  display:inline;
}

.footnote{
  font-size:.6em;
  font-style:italic;
  color:#ccc;
  display:inline-block;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:40%;
}

.BoxFramePH{
  top: 66px;
  width: 70%;
  height:80%;
  bottom: 16px;
}

.BoxFrame{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 95%;
  height: 95%;
  border: none;
  margin: 13px 13px 13px 13px;
}

.Center{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.LeftSide{
  float:left;
}

.RightSide{
  float:right;
}

.ui-state-highlight {
  display: inline-block;
  border-style: dashed;
  border-width: 1px;
}

.not-sortable {
  cursor: default;
}

.loadmore {
  color: #729C00;
  margin: 0 auto;
  display: block;
  border: none;
  background: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

.TeamDescription {
  padding: 20px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  border: solid 1px #ddd;
  -webkit-box-shadow: 0px 0px 1px #eee;
}

@import "topBar";
@import "leftBar";
@import "dock";
@import "widget";
@import "settings";
@import "calls";
@import "conference";
@import "queue";
@import "search";
@import "video";
@import "intellinote";
@import "conversation";
@import "tables";
@import "buttons";
@import "icons";
//@import "nativeAlert";
@import "notification";
@import "popups";
@import "voicemail";
@import "queue";
@import "media";
@import "firefox";


.LeftBar .Recent {
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.LeftBar .Recent .ContactList {
  flex: 1 1 0;
  -ms-flex: 1 1 0;
  -webkit-flex: 1 1 0;
  overflow-y: auto;
  min-height: 60px;
  margin-top: 10px;
}

.LeftBar .Recent .ContactList h4 {
  margin: .5em 0 0 .5em;
  color: #0093f0;
  font-variant: small-caps;
  font-size: .9em;
}

.LeftBar .Recent .ContactList h4 + em {
  margin: 0 0 .5em .5em;
  font-size: .8em;
  display: block;
}
