@media screen and (max-width: 700px) {
  #App {
    font-size: .95em;
  }
  
  .TopBar {
    height: 75px;
  }
  .TopBarLogo {
    display:none;
  }
  .TopBarIcons {
    left: 12px;
	top: 25px;
	
	.TopBarItemApp {
	  width: 40px;
	}
	
	.TopBarItemAppIcon {
	  background-size: 640px 64px;
	  width: 32px;
	  height: 32px;
	}
  }
  .TopBarItemAppName {
    display: none;
  }
  .TopBarMeStatus {
    top: 0px;
	width: 100%;
  }
  .TopBarMeStatus-row {
    .AvatarNormal, .AvatarNormal img {
	  width: 29px;
	  height: 29px;
	}
    .XButtonToggle {
      display: inline-block;
	  padding: 0;
	}	
	.SelectBox {
	  display: inline-block;
	  width: 60px;
	}
	.PopupMenu {
	  top: 30px !important;
	}
  }
  
  .PanelWrapper {
    flex-direction: column;
	
	.WidgetPanel {
	  margin: 0px;
	}
  }
  
  .DockPanel {
    display: none;
  }

  .AttachmentImg{
    max-width:90px;
    max-height:90px;
  }
}