@media screen and (max-width: 700px) {
  .MainContent {
    flex-direction: column;
  }
  .TopBarLogo {
    display:none;
  }
  .TopBarIcons {
    left: 10px;
  }
  .LeftSideBar {
	height: 100px;
    width: auto !important;
  }
  .WidgetWrapper {
	width: 100%;
	margin-top: 10px;
  }
  .Widget {
    left: 0;
  }
}