#CallAlert {
  position: relative;
  width: 300px;
  max-height: 500px;
  font-size: 1em;
  background: url() #ffffff;
}
@font-face {
  font-family: Comic Sans;
  src: url(fonts/LDFComicSans.ttf);
}
#CallAlert .CallStatusIconContainer {
  width: 34px;
  height: 34px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
}
#CallAlert .CallStatusIconContainer .CallStatusIcon {
  width: 30px;
  height: 30px;
  background: url('../img/XActionSet-40x40.png?v=1418381374907') no-repeat -80px -240px;
  margin-left: -5px;
  margin-top: -5px;
}
#CallAlert .IsOnCall {
  background-position: -83px -243px;
}
#CallAlert .LeftBarNotificationMessageSection .NotificationMessage {
  padding-right: 20px;
  -ms-word-wrap: break-word;
  white-space: normal;
  word-break: break-all;
  height: auto;
  max-height: none;
  padding-bottom: 20px;
}
#CallAlert .LeftBarNotificationMessageSection .NotificationDisplayName span.truncate {
  max-width: 55%;
}
#CallAlert a:not(.XButton) {
  text-decoration: none;
  color: inherit;
}
#CallAlert div.CallStatusContainerOutbound {
  position: relative;
  bottom: 0px;
}
#CallAlert div.CallStatusContainerOutbound .controlButtons .PhoneButton {
  width: 50px;
  height: 25px;
  text-align: center;
  padding: 5px 0px;
}
#CallAlert div.CallStatusContainerOutbound .CallStatusText .callStatus {
  font-size: 10px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#CallAlert .close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
  background: url("../img/XIconSet-24x24.png") no-repeat -24px -24px;
}
#CallAlert .Notifications {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#CallAlert .Notifications .TitleBar {
  margin-bottom: 0px;
}
#CallAlert .Notifications .TitleBar.hasButton {
  display: none;
}
#CallAlert .Notifications .TitleBar .XButton {
  float: right;
  top: -5px;
  padding: 4px !important;
}
#CallAlert .Notifications .TitleBar,
#CallAlert .Notifications .NotificationDivider > div {
  width: 101%;
  background-color: #999;
  color: white;
  padding: .25em;
  transition: 1s;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 12px;
  padding-right: 10px;
  padding-top: 10px;
}
#CallAlert .Notifications .TitleBar .NoNotificationIcon,
#CallAlert .Notifications .NotificationDivider > div .NoNotificationIcon {
  width: 24px;
  height: 24px;
  background: url("../img/XIconSet-24x24.png") no-repeat -48px -72px;
}
#CallAlert .Notifications .TitleBar .HasNotificationIcon,
#CallAlert .Notifications .NotificationDivider > div .HasNotificationIcon {
  width: 24px;
  height: 24px;
  background: url("../img/XIconSet-24x24.png") no-repeat -72px -72px;
}
#CallAlert .Notifications .TitleBar > *,
#CallAlert .Notifications .NotificationDivider > div > * {
  display: inline-block;
  vertical-align: middle;
}
#CallAlert .Notifications .NotificationMessages {
  padding-bottom: 0px;
}
#CallAlert .Notifications .NotificationMessages .scroller {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
#CallAlert .Notifications .NotificationMessages .scroller .Messages .NotificationSection {
  height: auto !important;
  width: 100% !important;
}
#CallAlert .LeftBarNotificationSection {
  position: static;
}
#CallAlert a.ListRow-Contact.ListRowFirst {
  background-color: #F7F4F4;
  padding: 10px;
  color: #aaa;
  font-size: 14px;
  height: 60px;
  max-height: none;
}
#CallAlert a.ListRow-Contact.ListRowFirst.ListRowFirst .Avatar {
  width: 40px;
  height: 40px;
  top: -2px;
}
#CallAlert a.ListRow-Contact.ListRowFirst.ListRowFirst .Avatar img {
  width: 100%;
  height: 100%;
}
#CallAlert a.ListRow-Contact.ListRowFirst .NotificationTitle .name span {
  font-family: Comic Sans;
  font-size: 14px;
}
#CallAlert a.ListRow-Contact.ListRowFirst .ListRowContent {
  border-left: 0px none;
  margin-left: 15px;
}
#CallAlert a.ListRow-Contact.ListRowFirst .ListRowContent .CallStatus {
  float: right;
  margin-right: .5em;
}
#CallAlert a.ListRow-Contact.ListRowFirst .ListRowContent .body .ListRowStatusText {
  display: inline-block;
}
