.LeftBarNotificationMessageSection{

	border-left:solid 1px #eee;
	-webkit-box-flex: 1;
	padding-left:10px;
	.NotificationDisplayName{
		height: 2.5em;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
		color: #009cff;
		font-weight: bold;
		font-size:.7em;
		span{float: left;}
	}

	.NotificationDisplayNameQueue{
		height: 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
		color: #e27100;
		font-weight: bold;
		font-size:.7em;
	}

	.NotificationTime{
		font-size:1em;
		color:black;
		font-weight:normal;
		position: relative;
		float:right;
		right:20%;		
	}

	.NotificationMessage{
		width:100%;
		/*white-space: pre;
		word-wrap:break-word;*/
		font-family: Arial,Tahoma,'Helvetica Neue',Helvetica,sans-serif;
		position:relative;
		overflow:hidden;
		max-height: 4.2em;
		padding-bottom: 20px;
		//text-overflow:ellipsis;
		p{
			font-size:.8em;
		}
	}

	
}

.NotificationSectionHeader{
	display:inline-block;
	text-align:center;
	.NotificationSectionHeaderImage{
		background:url("../img/XApp-Icons.png?v=1418381374907") no-repeat -0px -0px;
	}
	.NotificationHeaderTitle{
		display:inline-block;
	}
}


.NotificationMessages{
	/*border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;*/
	overflow-y: auto;
	overflow-x:hidden;
	background-image:url("../img/XTile-Widget.png");
	background: transparent;
}


.LeftBarNotifications{		
	transition: 1s;		
}

.LeftBarNotificationSection{
    background-color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#888));
    border-bottom: solid 1px #777;
    &:hover{
        background: transparent;
    }
}
.LeftBarNotificationSection:hover > .LeftBarNotifications{	
	visibility:visible;
	overflow-y:auto;
	overflow-x: hidden;
	/*max-height:400px;*/
}

.NotificationType{
	font-size:.6em;
	font-style:italic;
	font-color:#ccc;
	border-bottom: 1px solid #888;
}

.NotificationSection{
	margin-top:5px;
	/*border-bottom:solid 1px #eee;*/
	-webkit-box-orient:horizontal;
	display:-webkit-box;
	padding-left: 5px;
	width: 100%;
	
	&.firstsection{
	   margin-top: 10px;
	}
}

.NotificationHeader{
	float:right;
	margin-right: -1px;
	
	.firstHeaderTitle{	   
       position: relative;
       bottom: -1.3em;
       right: -1px;
	}
}

.NotificationDivider{
	border-bottom:1px solid #ccc;	
	display:block;
	height: 4px;
	
	&.firstHeaderDivider{
	   background-color: #999;
       background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#888888));
       height: 2.3em;
       
       img{display: none;}
	}
}
	
.LeftBarNotificationAvatarSection{
	position:relative;
	width:40px;
	height:100%;
	border-right:solid 1px #eee;
	float:left;

}

.NotificationTitle{
	width:100%;
}

.NotificationHeaderBackground{
	right: 20px;
	width: 51px;
	height: 21px;
	background: url("../img/XEvent.png?v=1418381374907") no-repeat 0px 0px;
	position: relative;
	right: 0;
	bottom: 14px;
}
.NotificationClose{
		width: 50%;
		height: 24px;
		margin:-3px auto 0 auto;
		background: url("../img/XIconSet-24x24.png?v=1418381374907") no-repeat -24px -24px;
}

.NotificationAvatar{
	width:40px;
	margin:0 auto;
	border:1px solid #3c9c00;
	border-radius:2px;
	-webkit-border-radius:2px;
}

.NotificationOverlay{
	background-color: #fafafa;
	box-shadow: 0 0 50px #333;
	position: absolute;
	top: 10%;
	left: 25%;
	width: 50%;
	height: 80%;
	min-width: 300px;
	min-height: 300px;
	padding: 1em;
	display: flex;
	flex-direction: column;
}

.NotificationZoomBtn{
	margin-top:10px;
	margin-bottom:10px;
}

.Messages{
	position: relative;
	/*min-height: 50px;*/
	font-style:normal;
	font-size:1em;
	background-image:url("../img/XTile-Widget.png");
	
	&:not(:first-child) {
        margin-top: -18px;
    }

}
a.Messages{
	
	text-decoration:none;
}