.Widget.Queues {
  /* individual queue panel */
}
.Widget.Queues .ListView {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  font-size: .9em;
}
.Widget.Queues .CallLog .ListView {
  font-size: 1.15em;
}
.Widget.Queues .QueueList {
  flex: 1 1 0;
  -ms-flex: 1;
  -webkit-flex: 1;
  overflow-y: auto;
  padding: .5em 2.5%;
}
.Widget.Queues .QueueList .ListRow:hover .ListRowStatus {
  visibility: visible !important;
}
.Widget.Queues .MyStatus {
  font-size: 1em !important;
}
.Widget.Queues .Grid {
  font-size: .85em;
}
.Widget.Queues .Grid .Header,
.Widget.Queues .Grid .Row {
  width: 100%;
  clear: both;
  display: block;
}
.Widget.Queues .Grid .Header {
  border-bottom: 1px solid #333;
  overflow: hidden;
  cursor: pointer;
  font-size: .9em;
  margin-bottom: 8px;
}
.Widget.Queues .Grid .Header span {
  text-overflow: ellipsis;
  overflow: hidden;
}
.Widget.Queues .Grid .Row:nth-child(odd) {
  background-color: #eeeeee;
  overflow: hidden;
}
.Widget.Queues .Grid .Header > div,
.Widget.Queues .Grid .Row > div {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .5em;
  white-space: nowrap;
  position: relative;
}
.Widget.Queues .Grid .Header > div:nth-child(1),
.Widget.Queues .Grid .Row > div:nth-child(1) {
  width: 25%;
}
.Widget.Queues .Grid .Header > div:nth-child(n+2),
.Widget.Queues .Grid .Row > div:nth-child(n+2) {
  width: 12.5%;
}
.Widget.Queues .Block {
  position: relative;
  float: left;
  border-radius: 5px;
  border: 1px solid #aaa;
  overflow: hidden;
  width: 31%;
  background-color: #EBEBEB;
  margin: 1%;
}
.Widget.Queues .Block .Avatar {
  font-size: 1.5em;
}
.Widget.Queues .Block .Header {
  background-color: #ECECEC;
  padding: .5em;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  font-size: .9em;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.Widget.Queues .Block .Header > div {
  display: inline-block;
  vertical-align: top;
}
.Widget.Queues .Block .Header .Title {
  margin-left: .5em;
  flex: 1;
  -webkit-flex: 1;
}
.Widget.Queues .Block .Header .Title div {
  overflow: hidden;
  text-overflow: ellipsis;
}
.Widget.Queues .Block .Header .Title .Name {
  font-weight: bold;
  color: #333;
  width: 99%;
  text-overflow: ellipsis;
}
.Widget.Queues .Block .Header .Title .Agents {
  background: linear-gradient(to bottom, #cfcfcf, #eeeeee);
  border-radius: 6px;
  margin-top: .5em;
  text-align: center;
  padding: .25em;
  font-size: .8em;
}
.Widget.Queues .Block .Stats {
  background: linear-gradient(to bottom, #dcdcdc, #eaeaeb);
  font-size: .7em;
  text-align: center;
  padding: 1em 0;
  line-height: 1.5em;
  border-top: 1px solid #D5D6D6;
  color: gray;
}
.Widget.Queues .Block .Stats > div {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.Widget.Queues .Block .Stats > div strong {
  font-size: 1.3em;
  display: block;
}
.Widget.Queues .QueueButtonToggle {
  width: 2.5em;
  padding: 1px 5px;
  top: -1px;
}
.Widget.Queues .QueueButtonToggle .QueueViewIcon {
  width: 1.8em;
  height: 1.8em;
  position: relative;
  top: .21em;
}
.Widget.Queues .QueueButtonToggle .QueueTileView {
  background: url("../img/QueueTileView.png") no-repeat 0px 0px;
}
.Widget.Queues .QueueButtonToggle .QueueListView {
  background: url("../img/QueueListView.png") no-repeat 0px 0px;
}
.Widget.Queues .ToolBar {
  /*top: -8px;*/
}
.Widget.Queues .ToolBar.Queues input[type=search] {
  width: 50%;
}
.Widget.Queues .ToolBar select.XButton {
  width: 37%;
  top: -1px;
}
.Widget.Queues .ToolBarBottom {
  padding: .5em;
  text-align: right;
  font-size: 1.1em;
  border-top: 1px solid #ccc;
}
.Widget.Queues .StatHeader {
  text-align: center;
  width: 100%;
  margin: 1em auto;
  font-size: .8em;
}
.Widget.Queues .StatHeader .StatBlock {
  display: inline-block;
  padding: 1% 3% 0 3%;
  line-height: 1.5em;
  vertical-align: top;
  max-width: 17%;
}
.Widget.Queues .StatHeader .StatBlock:not(:last-child) {
  border-right: 1px solid gray;
}
.Widget.Queues .StatHeader .StatBlock span {
  display: block;
}
.Widget.Queues .StatHeader .StatBlock span:first-child {
  color: #999;
}
.Widget.Queues .ResetDate {
  background-color: #F9F9F9;
  width: 100%;
  padding: .5em;
  text-align: center;
  color: gray;
  font-size: .8em;
}
.Widget.Queues .QueueStatTable {
  padding: 1em;
}
.Widget.Queues .QueueStatTable .Table {
  flex: 1;
  -webkit-flex: 1;
  overflow-y: auto;
}
.Widget.Queues .QueueStatTable .Agent:nth-child(even) .Row,
.Widget.Queues .QueueStatTable .Details .Row:nth-child(odd) {
  background-color: #eeeeee;
}
.Widget.Queues .QueueStatTable .Row {
  width: 100%;
  clear: both;
  cursor: pointer;
  overflow: hidden;
}
.Widget.Queues .QueueStatTable .Row.Selected {
  background-color: #C1CCDA !important;
}
.Widget.Queues .QueueStatTable .Row.Header {
  border-bottom: 1px solid #333;
  margin-bottom: .5em;
  font-size: .9em;
}
.Widget.Queues .QueueStatTable .Row > div {
  position: relative;
  float: left;
  height: 2em;
  line-height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Widget.Queues .QueueStatTable .Row > div:nth-child(1) {
  width: 5%;
}
.Widget.Queues .QueueStatTable .Row > div:nth-child(2) {
  width: 5%;
}
.Widget.Queues .QueueStatTable .Row > div:nth-child(3) {
  width: 35%;
}
.Widget.Queues .QueueStatTable .Row > div:nth-child(4) {
  width: 25%;
}
.Widget.Queues .QueueStatTable .Row > div:nth-child(5) {
  width: 10%;
}
.Widget.Queues .QueueStatTable .Row > div:nth-child(6) {
  width: 15%;
}
.Widget.Queues .QueueStatTable .Row > div:nth-child(7) {
  width: 5%;
}
.Widget.Queues .QueueStatTable .TwistieArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: .5em;
  display: inline-block;
}
.Widget.Queues .QueueStatTable .TwistieArrow.Closed {
  border-color: transparent transparent transparent #999;
}
.Widget.Queues .QueueStatTable .TwistieArrow.Open {
  border-color: #999 transparent transparent transparent;
}
.Widget.Queues .QueueStatTable .Details {
  width: 100%;
  border-left: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  clear: both;
  margin-bottom: .5em;
  padding-bottom: .25em;
  background-color: white;
}
.Widget.Queues .QueueStatTable .Details .SubHeader {
  font-weight: bold;
  margin: .25em;
}
.Widget.Queues .QueueStatTable .Details .ActiveCall {
  font-size: 1.1em;
  padding: .5em 1em;
}
.Widget.Queues .QueueStatTable .Details .ActiveCall .Avatar {
  font-size: 1.2em;
}
.Widget.Queues .QueueStatTable .Details .Empty {
  text-align: center;
  color: gray;
}
.Widget.Queues .CallList .Header {
  position: relative;
}
.Widget.Queues .CallList .Header em {
  font-size: .8em;
  margin-left: 10px;
}
.Widget.Queues .CallList .Header .Arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: solid 8px;
  cursor: pointer;
}
.Widget.Queues .CallList .Header .Arrow.On {
  border-color: #729c00 transparent transparent transparent;
}
.Widget.Queues .CallList .Header .Arrow.Off {
  border-color: transparent transparent transparent #729c00;
  right: -3px;
}
.Widget.Queues .CallList .Empty {
  border: 1px dashed #999;
  padding: .25em;
  color: #999;
  font-style: italic;
  font-size: .9em;
  text-align: center;
}
.Widget.Queues .ActiveCall {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  font-size: .9em;
  padding: .5em;
}
.Widget.Queues .ActiveCall .Agent {
  border: 1px solid #999;
  padding: .1em .5em .1em .1em;
}
.Widget.Queues .ActiveCall .Agent > div {
  display: inline-block;
  vertical-align: middle;
}
.Widget.Queues .ActiveCall .Info {
  position: relative;
  flex: 1;
  -webkit-flex: 1;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  border: 1px solid #999;
  padding: .2em;
  margin-right: 1em;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
}
.Widget.Queues .ActiveCall .Info .Arrow {
  position: absolute;
  border: solid 6px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #e27100;
  bottom: 33%;
  right: -13px;
}
.Widget.Queues .ActiveCall .Info .Name {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 1%;
}
.Widget.Queues .ActiveCall .Info .Time {
  flex: 1;
  -webkit-flex: 1;
  text-align: right;
}
.Widget.Queues .desc_arrow {
  position: absolute;
  border: solid 6px;
  width: 0;
  height: 0;
  display: inline-block;
  border-color: transparent transparent #729c00 transparent;
  bottom: 7px;
}
.Widget.Queues .asc_arrow {
  position: absolute;
  border: solid 6px;
  border-color: #729c00 transparent transparent transparent;
  top: 9px;
  width: 0;
  height: 0;
  display: inline-block;
}
