.Widget.Queues {
  .ListView {
    display: flex;
	flex-direction: column;
	font-size: .9em;
  }
  
  .CallLog .ListView {
    font-size: 1.15em;
  }
  
  .QueueList {
    flex: 1 1 0;
	overflow-y: auto;
	padding: .5em 2.5%;
  }
  
  .MyStatus {
    font-size: 1em !important;
  }
  
  .Grid {
    font-size: .85em;
	
    .Header, .Row {
	  width: 100%;
	  clear: both;
	  display: block;
	}
	
	.Header {
	  border-bottom: 1px solid #333;
	  overflow: hidden;
	  cursor: pointer;
	  font-size: .9em;
	  margin-bottom: 8px;
	  
	  span {
	    text-overflow: ellipsis;
		overflow: hidden;
	  }
	}
	
	.Row:nth-child(odd) {
	  background-color: #eeeeee;
	  overflow: hidden;
	}
	
	.Header > div, .Row > div {
	  float: left;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  padding: .5em;
	  white-space: nowrap;
	  position: relative;
	
	  &:nth-child(1) { 
		width: 25%; 
	  }
	  
	  &:nth-child(n+2) { 
	    width: 12.5%; 
	  }
	}
  }
  
  .Block {
	position: relative;
    float: left;
    border-radius: 5px;
    border: 1px solid #aaa;
	overflow: hidden;
	width: 31%;
	background-color: #EBEBEB;
	margin: 1%;
	
	.Avatar {
	  font-size: 1.5em;
	}
	
    .Header {
	  background-color: #ECECEC;
	  padding: .5em;
	  cursor: pointer;
	  text-decoration: none;
	  white-space: nowrap;
	  font-size: .9em;
	  display: flex;
	  flex-direction: row;
	  
	  & > div {
	    display: inline-block;
		vertical-align: top;
	  }
	  
	  .Title {
		margin-left: .5em;
		flex: 1;
		
		div {
		  overflow: hidden;
		  text-overflow: ellipsis;
		}
		  
		.Name {
		  font-weight: bold;
		  color: #333;
		  width: 99%;
		  text-overflow: ellipsis;
		}
		
		.Agents {
		  background: linear-gradient(to bottom, #cfcfcf, #eeeeee);
		  border-radius: 6px;
		  margin-top: .5em;
		  text-align: center;
		  padding: .25em;
		  font-size: .8em;
		}
	  }
	}
	
	.Stats {
	  background: linear-gradient(to bottom, #DCDCDC, #EAEAEB);
	  font-size: .7em;
	  text-align: center;
	  padding: 1em 0;
	  line-height: 1.5em;
	  border-top: 1px solid #D5D6D6;
	  color: gray;

	  & > div {
	    display: inline-block;
	    width: 30%;
		vertical-align: top;
	    
	    strong {
	      font-size: 1.3em;
	  	  display: block;
	    }
	  }
	}
  }

  .QueueButtonToggle {
    width: 28px;
    height: 28px;
	
    .QueueViewIcon {
      /*height: 20px;
      width: 20px;
      top: 3px;
      left: 4px;
      position: absolute;*/
      width: 1.8em;
      height: 1.8em;
      position: relative;
      left: -2.18em;
      top: .5em;
    }
    .QueueTileView {
      background: url("../img/QueueTileView.png") no-repeat 0px 0px;      
    }
    .QueueListView {
      background: url("../img/QueueListView.png") no-repeat 0px 0px;
    }
  }
  
  .ToolBar .XButton{
    font-size: 0.75em;
    padding-left: 3em;
  }
  .ToolBarBottom {
    padding: .5em;
	text-align: right;
	font-size: 1.1em;
	border-top: 1px solid #ccc;
  }
  
  /* individual queue panel */
  
  .StatHeader {
    text-align: center;
	width: 100%;
	margin: 1em auto;
	font-size: .8em;
	
	.StatBlock {
	  display: inline-block;
	  padding: 1% 3% 0 3%;
	  line-height: 1.5em;
	  vertical-align: top;
	  max-width: 17%;
	  
	  &:not(:last-child) {
	    border-right: 1px solid gray;
	  }
	  
	  span {
	    display: block;
		
		&:first-child {
		  color: #999;
		}
	  }
	}
  }
	
  .ResetDate {
    background-color: #F9F9F9;
    width: 100%;
    padding: .5em;
    text-align: center;
    color: gray;
	font-size: .8em;
  }
  
  .QueueStatTable {
    padding: 1em;
	
	.Table {
	  flex: 1;
	  overflow-y: auto;
	}
	
	.Agent:nth-child(even) .Row, .Details .Row:nth-child(odd) {
	  background-color: #eeeeee;
	}
	
    .Row {
	  width: 100%;
	  clear: both;
	  cursor: pointer;
	  overflow: hidden;
	  
	  &.Selected {
	    background-color: #C1CCDA !important;
	  }
	  
	  &.Header {
	    border-bottom: 1px solid #333;
		margin-bottom: .5em;
		font-size: .9em;
	  }
	  
	  & > div {
		position: relative;
	    float: left;
		height: 2em;
		line-height: 2em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		
		&:nth-child(1) { width: 5%; }
		&:nth-child(2) { width: 5%; }
		&:nth-child(3) { width: 35%; }
		&:nth-child(4) { width: 25%; }
		&:nth-child(5) { width: 10%; }
		&:nth-child(6) { width: 15%; }
		&:nth-child(7) { width: 5%; }
	  }
	}
	
	.TwistieArrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: .5em;
	  display: inline-block;
		
	  &.Closed {
        border-color: transparent transparent transparent #999;
	  }
	  
	  &.Open {
        border-color: #999 transparent transparent transparent;
	  }
	}
	
	.Details {
	  width: 100%;
	  border-left: 1px dashed #ccc;
	  border-right: 1px dashed #ccc;
	  border-bottom: 1px dashed #ccc;
	  clear: both;
	  margin-bottom: .5em;
	  padding-bottom: .25em;
	  background-color: white;
	  
	  .SubHeader {
	    font-weight: bold;
		margin: .25em;
	  }
	  
	  .ActiveCall {
	    font-size: 1.1em;
		padding: .5em 1em;
		
		.Avatar {
		  font-size: 1.2em;
		}
	  }
	  
	  .Empty {
	    text-align: center;
		color: gray;
	  }
	}
  }
  
  .CallList {
    .Header {
	  position: relative;
	  
	  em {
	    font-size: .8em;
	    margin-left: 10px;
	  }
	  
	  .Arrow {
	    position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		border: solid 8px;
		cursor: pointer;
		
		&.On {
		  border-color: #729c00 transparent transparent transparent;
		}
		
		&.Off {
		  border-color: transparent transparent transparent #729c00;
		  right: -3px;
		}
	  }
	}
	
    .Empty {
	  border: 1px dashed #999;
	  padding: .25em;
	  color: #999;
	  font-style: italic;
	  font-size: .9em;
	  text-align: center;
	}
  }
	  
  .ActiveCall {
    display: flex;
    flex-direction: row;
	font-size: .9em;
	padding: .5em;
	
	.Agent {
      border: 1px solid #999;
	  padding: .1em .5em .1em .1em;
	  
	  & > div {
	    display: inline-block;
	    vertical-align: middle;
	  }
	}
  
    .Info {
      position: relative;
      flex: 1;
      border-top-left-radius: 1.5em;
      border-bottom-left-radius: 1.5em;
      border: 1px solid #999;
      padding: .2em;
      margin-right: 1em;
	  display: flex;
	  flex-direction: row;
	  align-items: center;
    
      .Arrow {
  	    position: absolute;
  	    border: solid 6px;
  	    width: 0;
  	    height: 0;
  	    border-color: transparent transparent transparent #e27100;
  	    bottom: 33%;
  	    right: -13px;
      }
      
      .Name {
        width: 70%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		margin-left: 1%;
      }
	  
	  .Time {
	    flex: 1;
		text-align: right;
	  }
    }
  }

  .desc_arrow{
    position: absolute;
    border: solid 6px;
    width: 0;
    height: 0;
    display: inline-block;
    border-color: transparent transparent #729c00 transparent;
    bottom: 7px;
  }
  
  .asc_arrow{
    position: absolute;
    border: solid 6px;
    border-color: #729c00 transparent transparent transparent;
    top: 9px;
    width: 0;
    height: 0;
    display: inline-block;
  }
}