.SearchBox {
  color: #729c00;
  border: 1px solid #729c00;
  border-radius: 2px;
  padding: .5em .5em .5em 2em;
  background: url("../img/search.png") no-repeat;
  background-position: 1%;
}
.SearchInputBox {
  position: relative;
  margin: 0;
  height: 1.8em;
  border-radius: 3px;
  background-color: white;
  border: solid 1px #729C00;
}
.SearchInputBoxInputHolder {
  position: absolute;
  margin: 0;
  left: 28px;
  top: 10%;
  right: 8px;
  height: 80%;
  border: none;
  color: #729c00;
}
.SearchInputBoxInput {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  color: #729c00;
  font-size: .8em;
}
.SearchInputBoxStateButton {
  position: absolute;
  width: 26px;
  top: 1px;
  left: 1px;
  height: 26px;
  border-radius: 3px;
}
.SearchInputBoxStateButtonIcon {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../img/XIconSet-24x24.png") no-repeat -168px -24px;
}
.Add .SearchInputBoxStateButtonIcon {
  background: url("../img/XIconSet-24x24.png") no-repeat -284px -24px;
}
.InSearch .SearchInputBoxStateButtonIcon {
  background: url("../img/XIconSet-24x24.png") no-repeat -191px -24px;
}
.ChatSearch {
  position: relative;
  top: 5px;
  left: 2px;
  height: 1.8em;
  border-radius: 3px;
  background-color: white;
  border: solid 1px #729C00;
  float: left;
}
.ChatSearch > * {
  display: inline-block;
  vertical-align: top;
}
.ChatSearch .SearchIcon {
  width: 24px;
  height: 24px;
  background: url("../img/XIconSet-24x24.png") no-repeat -168px -24px;
}
.ChatSearch .Search {
  border: none;
  padding: .25em;
  margin-top: 2px;
}
.ChatSearch .Arrows {
  height: 100%;
}
.ChatSearch .Arrows input {
  height: 100%;
  background-color: white;
  color: gray;
  border: none;
  border-left: solid 1px #729C00;
  float: right;
  cursor: pointer;
}
#WidgetSearch {
  padding: 10px;
}
#WidgetSearch .SearchPanel {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
#WidgetSearch .SearchInputBox {
  position: relative;
  flex: 1;
  margin: -4px 10px 0 0;
}
#WidgetSearch .SearchResults {
  margin-top: 10px;
  flex: 1 1 0;
  overflow-y: auto;
}
#WidgetSearch .SearchResults h4 {
  margin: .75em 0 0 .5em;
  color: #0093f0;
  font-variant: small-caps;
}
#WidgetSearch .SearchResults .Avatar {
  width: 2.5em;
  height: 2.5em;
}
#WidgetSearch .SearchResults .Intro em {
  font-size: .8em;
  margin-left: .5em;
}
#WidgetSearch .SearchResults .Empty {
  text-align: center;
  margin-top: 2em;
  font-size: .9em;
}
#WidgetSearch .SearchResults .ListRowStatusIcon {
  display: inline-block;
}
#WidgetSearch .SearchResults .ListRowTitle .link,
#WidgetSearch .SearchResults .ListRowTitle .details {
  margin-top: .5em;
}
#WidgetSearch .SearchResults .ListRowStatus {
  flex: .5;
  padding: .5em 1em 0 0;
  text-align: right;
}
