.MediaPlayerSlider {
  position: absolute;
  top: 22px;
  height: 10px;
  left: 30px;
  right: 30px;
}
.MediaPlayerSliderBg {
  position: absolute;
  top: -1px;
  height: 10px;
  left: 6px;
  right: 16px;
  border-top: solid 1px #959595;
}
.MediaPlayerSliderBgLeft {
  background-image: url("img/XPlayer.png");
  position: absolute;
  bottom: 0px;
  height: 20px;
  width: 30px;
  left: 0px;
  right: 4px;
  background-position: -40px -150px;
}
.MediaPlayerSliderBgRight {
  background-image: url("img/XPlayer.png");
  background-position: -50px -150px;
  position: absolute;
  bottom: 0px;
  height: 20px;
  width: 30px;
  right: 0px;
}
.MediaPlayerSliderInner {
  position: absolute;
  top: 0px;
  height: 10px;
  left: 0px;
  right: 20px;
}
.MediaPlayerSliderThumb {
  position: absolute;
  top: 0px;
  height: 16px;
  border-radius: 20px;
  /** sample, fill from controller */
}
.MediaPlayerSliderThumbIco {
  top: -10px;
  height: 20px;
  right: 0px;
  background-image: url("img/XPlayer.png");
  background-position: 0px -150px;
  position: absolute;
  width: 20px;
  left: 0px;
}
.MediaPlayerSliderIndicator {
  display: none;
}
.PopupSlider {
  display: none;
  position: absolute;
  top: 26px;
  left: 0;
  width: 28px;
  z-index: 100;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
}
.PopupSlider .PopupSliderFadeLine {
  position: absolute;
  top: 5px;
  bottom: 5px;
  background-color: #bbb;
  left: 12px;
  right: 12px;
}
.PopupSlider .PopupSliderFader {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 20px;
  background-color: #999;
  border-radius: 20px;
  left: 4px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3), 0px 2px 2px #ffffff inset;
}
