.ListLineContent {
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
  cursor: pointer;
}
.ListLineContent.Header {
  background-color: #fff;
  /*width: auto;*/
  position: relative;
  border-bottom: solid 1px #999;
}
.ListLineContent.Header .ListLineContentCell {
  margin: 0 .5em;
}
.ListLineContent.Header .DirectionArrow {
  position: absolute;
  left: 50%;
  margin-left: -6px;
}
.ListLineContentCell {
  position: relative;
  float: left;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  max-width: 7em;
}
.ListLineContent.Header .ListLineContentCell {
  color: #666;
  /*font-size: .7em;
  font-size: .688em;*/
  font-size: 11px;
  font-size: .563em;
  text-transform: uppercase;
  line-height: 2.5em;
}
.ListLineContent.Header .ListLineContentCell.CallStatus,
.ListLineContent.Header .ListLineContentCell.HudStatus {
  float: right;
}
.ListLineContent.Header .ListLineContentCell.HudStatus {
  margin-right: 25px;
}
.DirectionArrow {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 1px;
  border-style: solid;
  border-width: 6px;
}
.Up .DirectionArrow {
  bottom: 0;
  border-color: transparent transparent #729c00 transparent;
}
.Down .DirectionArrow {
  border-color: #729c00 transparent transparent transparent;
  top: 0;
}
.None .DirectionArrow {
  display: none;
}
.ListLineContentCell.Up span,
.ListLineContentCell.Down span {
  color: #729C00;
}
.ListRow {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-bottom: solid 1px #dee1e5;
  background-color: #fff;
  width: 100%;
  display: block;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  text-decoration: none;
}
.ListRow .vmcallbtn {
  visibility: hidden;
  right: 0;
  top: 0;
  position: absolute;
}
.ListRow .ListRowStatus {
  visibility: visible;
}
.ListRow:not(.ListRow-Conference):not(.ListRow-Contact):hover .Remove {
  display: block;
  background-color: #f0f0ff;
}
.ListRow:not(.ListRow-Conference):not(.ListRow-Contact):hover .vmcallbtn {
  background: #3c9c00 linear-gradient(#3c9c00, #328400);
  color: #e8e8e8;
  border: 1px solid rgba(155, 155, 155, 0.3);
  text-shadow: none;
  visibility: visible;
  height: 26px;
  width: 40px;
  text-align: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  top: 8px;
  right: 5px;
}
.ListRow:not(.ListRow-Conference):not(.ListRow-Contact):hover .vmcallbtn:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 -1px 0 #000000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.ListRow:not(.ListRow-Conference):not(.ListRow-Contact):hover .ListRowStatus:not(.Members) {
  visibility: hidden;
}
.ListRow .Remove {
  position: absolute;
  top: .25em;
  left: .5em;
  color: red;
  font-weight: bold;
  cursor: pointer;
  z-index: 5;
  display: none;
}
.ListRow .Avatar {
  margin: .25em;
  margin-right: .45em;
}
.ListRow .ListRowContent {
  flex: 1;
  -webkit-flex: 1;
  border-left: solid 1px #DEE1E5;
  overflow: hidden;
}
.ListRow .ListRowTitle {
  float: left;
  padding: .5em;
  /*font-size: .75em;*/
  font-size: 12px;
  text-decoration: none;
  color: #555;
  white-space: nowrap;
  width: 55%;
  flex: 1;
  -webkit-flex: 1;
}
.ListRow .ListRowTitle .name strong {
  overflow: hidden;
  text-overflow: ellipsis;
}
.ListRow .ListRowTitle .name > * {
  display: block;
}
.ListRow .ListRowTitle .name span {
  color: gray;
}
.ListRow .ListRowStatus {
  float: right;
  color: #888;
  font-size: .8em;
  text-align: center;
  line-height: 1em;
  height: 1em;
  position: relative;
  top: 10px;
  right: 5px;
  display: inline-block;
}
.ListRow .ListRowStatus .ListRowStatusIcon,
.ListRow .ListRowStatus .ListRowStatusText {
  display: inline-block;
  position: relative;
  top: -10px;
}
.ListRow .CallStatus {
  float: right;
  margin-right: .5em;
}
.Widget .ListRow,
.LeftBar .ListRow,
.Widget .vmsection,
.LeftBar .vmsection {
  background-color: #fff;
}
.Widget .ListRow:nth-child(odd),
.LeftBar .ListRow:nth-child(odd),
.Widget .vmsection:nth-child(odd),
.LeftBar .vmsection:nth-child(odd) {
  background-color: #f9f9f9;
}
.Widget .ListRow:hover,
.LeftBar .ListRow:hover,
.Widget .vmsection:hover,
.LeftBar .vmsection:hover {
  background-color: #eee;
}
.Groups .ListRow > div {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.Groups .ListRow > div .Members {
  padding: 1em 1em 0 0;
}
.ListRowOdd {
  background-color: #f9f9f9;
}
.ListRowLast {
  border-bottom: 1px solid #ccc !important;
}
.ListRowActionButton {
  width: 30px;
  height: 32px;
  border-left: solid 1px #dee1e5;
  display: inline-block;
  background-color: #ffffff;
}
.ListRowActionButton:hover {
  background-color: #dfd;
}
.ListRowActionButtonChat {
  background: url("../img/XActionSet-30x30.png") no-repeat -30px -30px;
}
.ListRowActionButtonCall {
  background: url("../img/XActionSet-30x30.png") no-repeat 0px -60px;
}
.ListRowActionButtonEmail {
  background: url("../img/XActionSet-30x30.png") no-repeat -60px -30px;
}
.ListRowActionButtonMobile {
  background: url("../img/XActionSet-30x30.png") no-repeat -150px -60px;
}
.ListRowActionButtonVoicemail {
  background: url("../img/XActionSet-30x30.png") no-repeat -90px -30px;
}
.ListRowActionButtonShare {
  background: url("../img/XActionSet-30x30.png") no-repeat 0px -30px;
}
.ListRowActionButtonIntercom {
  background: url("../img/XActionSet-30x30.png") no-repeat 0px -60px;
}
.ListRowActionButtonJoin {
  background: url("../img/XActionSet-30x30.png") no-repeat 0px -120px;
}
.ListRowActionButtonLeave {
  background: url("../img/XActionSet-30x30.png") no-repeat -30px -120px;
}
.ListRowActionButtonScreenShare {
  background: url("../img/XActionSet-30x30.png") no-repeat 0px -210px;
}
.ListRowActionButtonFileShare {
  background: url("../img/XActionSet-30x30.png") no-repeat 0px -30px;
}
.ListRowActionButtonEdit {
  background: url("../img/XActionSet-30x30.png") no-repeat -60px -150px;
}
.ListRowActionButtonRemove {
  background: url("../img/XActionSet-30x30.png") no-repeat -150px -30px;
}
.ListRowActionButtonRead {
  background: url("../img/XActionSet-30x30.png") no-repeat -180px -30px;
}
.ListRowActionButtonUnread {
  background: url("../img/XActionSet-30x30.png") no-repeat -210px -30px;
}
.ListRowActionButtonUnpin {
  background: url("../img/XActionSet-30x30.png") no-repeat 0px -120px;
}
.ListRowActionButtonLogin {
  background: url("../img/XActionSet-30x30.png") no-repeat 0 -90px;
}
.ListRowActionButtonLogout {
  background: url("../img/XActionSet-30x30.png") no-repeat -30px -90px;
}
.ListRowActionButtonReset {
  background: url("../img/XActionSet-30x30.png") no-repeat -60px -90px;
}
.ListRowActionButtonDock {
  background: url("../img/XActionSet-30x30.png") no-repeat 0 0;
}
.ListRowActionButtonUndock {
  background: url("../img/XActionSet-30x30.png") no-repeat -30px 0;
}
.ListRowActionButtonRecord {
  background: url("../img/XApp-Icons.png") no-repeat -324px -5px;
}
.ListRowActionButtonMute {
  background: url("../img/XActionSet-30x30.png") no-repeat -180px -60px;
}
.ListRowActionButtonUnmute {
  background: url("../img/XActionSet-30x30.png") no-repeat -210px -60px;
}
.ListRowActionButtonTake {
  background: url("../img/XApp-Icons.png") no-repeat -606px -5px;
}
.ListSectionHeaderTitle {
  color: #0093f0;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  margin-top: 10px;
  width: auto;
  text-transform: uppercase;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ListPage {
  border: 1px solid #999;
  border-radius: 6px;
  padding-top: 7px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: .8em;
}
.ListSection {
  position: relative;
  min-height: 40px;
  background-color: #f9f9f9;
}
.ListSectionBody {
  color: #555;
  font-size: 11px;
  font-style: italic;
  font-weight: normal;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 4px;
  display: inline-block;
}
.ListSectionHeaderTitle {
  color: #0093f0;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  margin-top: 10px;
  width: auto;
  text-transform: uppercase;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.InlineList {
  /*border : solid 1px #eee;*/
  border-radius: 3px;
  -webkit-border-radius: 3px;
  position: relative;
  /*margin: 0 10px 10px;*/
}
.InlineList .ListRow {
  width: 96%;
  margin: 0 auto;
}
.InlineList.ListIsEmpty {
  border: solid 1px transparent;
}
/* chats */
.ListMessage {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  margin: .5em 0 1em 2%;
  width: 97%;
  color: #999;
  font-size: .85em;
}
.ListMessage .ListMessageLeft .time {
  margin-top: 1em;
  font-size: .7em;
}
.ListMessage .ListMessageContent {
  margin-left: .5em;
  flex: 1;
  -webkit-flex: 1;
}
.ListMessage .ChatMessageItem {
  color: #222;
}
.ListMessage .ListMessageHeader {
  font-size: .8em;
  width: 100%;
  border-bottom: solid 1px #999;
  margin-bottom: .5em;
  padding-bottom: .5em;
}
.ListMessage .ListMessageHeader .ListMessageHeaderName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #009cff;
  font-weight: bold;
  padding-left: 1em;
}
.ListMessage .ListMessageHeader .time {
  float: right;
  color: gray;
}
