.ListLineContent {
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
  cursor: pointer;
}

.ListLineContent.Header {
  background-color: #fff;
  width: auto;
  position: relative;
  border-bottom: solid 1px #999;
  
    .ListLineContentCell {
      margin: 0 .5em;
    }
	
    .DirectionArrow {
      position:absolute;
      left:50%;
      margin-left: -6px;
    }
}

.ListLineContentCell {
  position: relative;
  float: left;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  max-width: 7em;
}

.ListLineContent.Header .ListLineContentCell {
  color: #666;
  font-size: .7em;
  line-height: 2.5em;
}

.DirectionArrow {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 1px;
  border-style: solid;
  border-width: 6px;
}

.Up .DirectionArrow {
  bottom: 0;
  border-color: transparent transparent #729c00 transparent;
}

.Down .DirectionArrow {
  border-color: #729c00 transparent transparent transparent;
  top: 0;
}

.None .DirectionArrow {
  display:none;
}

.ListLineContentCell.Up span, .ListLineContentCell.Down span {
  color: #729C00;
}

.ListRow {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-bottom: solid 1px #dee1e5;
  background-color: #fff;
  width: 100%;
  display: block;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  
  &:hover{ 
   .Remove {
      display: block;
      background-color: #f0f0ff;
    }
  }
  
  .Remove {
	position: absolute;
	top: .25em;
	left: .5em;
	color: red;
	font-weight: bold;
	cursor: pointer;
	z-index: 5;
	display: none;
  }
  
  .Avatar {
	margin: .25em;
	margin-right: .45em;
  }

  .ListRowContent {
    flex: 1;
    border-left: solid 1px #DEE1E5;
	overflow: hidden;
  }
  
  .ListRowTitle {
    float: left;
    padding: .5em;
    font-size: .75em;
    text-decoration: none;
    color: #555;
    white-space: nowrap;
	width: 55%;
	flex: 1;
    
    .name {
      strong {
	    overflow: hidden;
	    text-overflow: ellipsis;
	  }
	  
	  & > * {
	    display: block;
	  }
	  
	  span {
	    color: gray;
	  }
    }
  }
  
  .ListRowStatus {
    float: right;
    color: #888;
    font-size: .8em;
	text-align: center;
  }
  
  .CallStatus {
    float: right;
	margin-right: .5em;
  }
} 

.Widget, .LeftBar{
 .ListRow, .vmsection{
    background-color: #fff;
    
    &:nth-child(odd) {
      background-color: #f9f9f9;
    }
    &:hover {
          background-color: #eee;
    }
 }
}    

.Groups .ListRow > div {
  flex: 1;
  display: flex;
  flex-direction: row;
  
  .Members {
    padding: 1em 1em 0 0;
  }
}

.ListRowOdd {
  background-color: #f9f9f9;
}
.ListRowLast{
  border-bottom: 1px solid #ccc !important;
}

.ListRowActionButton {
  width:30px;
  height:32px;
  border-left: solid 1px #dee1e5;
  display:inline-block;
  background-color: #ffffff;
}

.ListRowActionButton:hover {
  background-color: #dfd;
}
.ListRowActionButtonChat {
  background : url("../img/XActionSet-30x30.png") no-repeat -30px -30px;
}
.ListRowActionButtonCall {
  background : url("../img/XActionSet-30x30.png") no-repeat -0px -60px;
}
.ListRowActionButtonEmail {
  background : url("../img/XActionSet-30x30.png") no-repeat -60px -30px;
}
.ListRowActionButtonMobile {
  background : url("../img/XActionSet-30x30.png") no-repeat -150px -60px;
}
.ListRowActionButtonVoicemail {
  background: url("../img/XActionSet-30x30.png") no-repeat -90px -30px;
}
.ListRowActionButtonShare {
  background: url("../img/XActionSet-30x30.png") no-repeat -0px -30px;
}
.ListRowActionButtonIntercom {
  background: url("../img/XActionSet-30x30.png") no-repeat -0px -60px;
}
.ListRowActionButtonJoin {
  background: url("../img/XActionSet-30x30.png") no-repeat -0px -120px;
}
.ListRowActionButtonLeave {
  background: url("../img/XActionSet-30x30.png") no-repeat -30px -120px;
}
.ListRowActionButtonScreenShare {
  background: url("../img/XActionSet-30x30.png") no-repeat -0px -210px;
}
.ListRowActionButtonFileShare {
  background: url("../img/XActionSet-30x30.png") no-repeat -0px -30px;
}
.ListRowActionButtonEdit {
  background : url("../img/XActionSet-30x30.png") no-repeat -60px -150px;
}
.ListRowActionButtonRemove {
  background : url("../img/XActionSet-30x30.png") no-repeat -150px -30px;
}
.ListRowActionButtonUnpin {
  background: url("../img/XActionSet-30x30.png") no-repeat -0px -120px;
}
.ListRowActionButtonLogin {
  background: url("../img/XActionSet-30x30.png") no-repeat 0 -90px;
}
.ListRowActionButtonLogout {
  background: url("../img/XActionSet-30x30.png") no-repeat -30px -90px;
}
.ListRowActionButtonReset {
  background: url("../img/XActionSet-30x30.png") no-repeat -60px -90px;
}
.ListRowActionButtonDock {
  background: url("../img/XActionSet-30x30.png") no-repeat 0 0;
}
.ListRowActionButtonUndock {
  background: url("../img/XActionSet-30x30.png") no-repeat -30px 0;
}
.ListRowActionButtonRecord {
  background : url("../img/XApp-Icons.png") no-repeat -324px -5px;
}

.ListRowActionButtonTake{
  background : url("../img/XApp-Icons.png") no-repeat -606px -5px;

}

.ListSectionHeaderTitle {
  color: #0093f0;
  font-size: 11px;
  font-weight: bold;
  //height: 29px;
  line-height: 18px;
  margin-top:10px;
  width: auto;
  text-transform: uppercase;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ListPage {
  border:1px solid #999;
  border-radius:6px;
  padding-top:7px;
  padding-bottom:20px;
  padding-left:10px;
  font-size: .8em;
}

.ListSection {
  position: relative;
  min-height: 40px;
  background-color: #f9f9f9;
}

.ListSectionBody {
  color : #555;
  font-size : 11px;
  font-style : italic;
  font-weight : normal;
  margin-left : 10px;
  margin-top : 0px;
  margin-bottom : 4px;
  display : inline-block;
}

.ListSectionHeaderTitle {
  color: #0093f0;
  font-size: 11px;
  font-weight: bold;
  //height: 29px;
  line-height: 18px;
  margin-top:10px;
  width: auto;
  text-transform: uppercase;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.InlineList {
  border : solid 1px #eee;
  border-radius : 3px;
  -webkit-border-radius : 3px;
  position : relative;
  margin: 0 10px 10px;
}

.InlineList.ListIsEmpty {
  border : solid 1px transparent;
}

/* chats */

.ListMessage {
  display: flex;
  flex-direction: row;
  margin: .5em 0 1em 2%;
  width: 97%;
  color: #999;
  font-size: .85em;
  
  .ListMessageLeft {
    .time {
	  margin-top: 1em;
      font-size: .7em;
    }
  }
  
  .ListMessageContent {
    margin-left: .5em;
    flex: 1;
  }
  
  .ChatMessageItem {
    color: #222;
  }
  
  .ListMessageHeader {
    font-size: .8em;
    width: 100%;
    border-bottom: solid 1px #999;
    margin-bottom: .5em;
    padding-bottom: .5em;
    
    .ListMessageHeaderName {
  	  text-overflow : ellipsis;
  	  white-space : nowrap;
  	  overflow : hidden;
  	  color : #009cff;
  	  font-weight : bold;
  	  padding-left: 1em;
    }
    
    .time {
      float: right;
  	  color: gray;
    }
  }
}