.TopBar {
  position: relative;
  width: 100%;
  height: 100px;
  min-width: 1000px;  
  border-bottom: 1px solid white;
  box-shadow: 0 -1px 1px #ccc inset;
}

.TopBar:hover {
  z-index: 1000;
  background-color: #f3f3f3;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.85);
}

.TopBarLogo {
  background: url("../img/FonalityLogo.png") no-repeat;
  margin: 5px 0 0 10px;  
  width: 300px;
  float: left;
  display: block;
  height: 90px;
}

.TopBarIcons {  
  margin-left: 0px;
  float: left;
  clear: none;
  display: block;
  height: 90px;
  
  .Avatar {
    margin: 5px;
  }
}

.TopBarItemApp {
  position: relative;
  display: inline-block;
  height: 96px;
  width: 50px;
  cursor: pointer;
  vertical-align: top;  
}

.TopBarItemAppIcon {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 40px !important;
  height: 40px !important;
  
  &.Avatar{ 
    img {
        width: 36px !important;
        height: 36px !important;
        margin: 1px !important;
    }
    
  }
  
  &:not(.Avatar) {
	background: url("../img/XApp-Icons.png") no-repeat 0 0;
  }
}

/* /// icons dropdown /// */

.TopBar2ItemAppIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background: url("../img/XApp-Icons.png?v=1425679800685") no-repeat 0px 0px;
}
.DropDownMoreList {
  position: absolute;
  top: 91px;
  right: -20px;
  max-height: 300px;
  min-height: 50px;
  width: 300px;
  background-color: #f3f3f3;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  text-align: center;
  z-index: 1000; 
  display: none;

  .DropDownMoreListScrollable {
      position: relative;
      top: 0px;
      max-height: 300px;
      
      .dropdownView{
          position: relative;
          max-height: 300px;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          overflow-x: hidden;
          overflow-y: auto;
          
          #apps{              
                        
              .TopBar2MenuItemApp {
                  position: relative;
                  height: 60px;
                  width: 100%;
                  cursor: pointer;
                  pointer-events: auto;
                  display: inline-block;
                  
                  .TopBar2MenuItemName {
                      position: absolute;
                      top: 15px;
                      left: 60px;
                      right: 0px;
                      height: 30px;
                      line-height: 30px;
                      font-family: "Arial";
                      text-align: left;
                      font-size: 12px;
                      color: #999;
                      transition: All 0.3s ease;
                      -webkit-transition: All 0.3s ease;
                      overflow: hidden;
                      pointer-events: none;                     
                      
                  }
                  
              }
         }
      }
  }
}
/* /// END - icons dropdown /// */

.TopBarItemAppIcon.Home {
  background-position : 0 0;
}
.TopBarItemAppIcon.Contacts,
.TopBar2ItemAppIcon.Contacts {
  background-position : 5.25% 0;
  top:13px;
}
.TopBarItemAppIcon.Workgroups,
.TopBar2ItemAppIcon.Workgroups {
  background-position : -80px 0;
}
.TopBarItemAppIcon.Departments,
.TopBar2ItemAppIcon.Departments {
  background-position : -120px 0;
}
.TopBarItemAppIcon.Favorites,
.TopBar2ItemAppIcon.Favorites {
  background-position : -160px 0;
}
.TopBarItemAppIcon.CallLog,
.TopBar2ItemAppIcon.CallLog {
  background-position : 26.5% 0;
}
.TopBarItemAppIcon.Share,
.TopBar2ItemAppIcon.Share {
  background-position : -640px 0;
}
.TopBarItemAppIcon.CallCenter,
.TopBar2ItemAppIcon.CallCenter {
  background-position : 37% 0;
}
.TopBarItemAppIcon.CallRecords,
.TopBar2ItemAppIcon.CallRecords {
  background-position : -320px 0;
}
.TopBarItemAppIcon.Voicemails,
.TopBar2ItemAppIcon.Voicemails {
  background-position : -360px 0;
}
.TopBarItemAppIcon.Conferences,
.TopBar2ItemAppIcon.Conferences {
  background-position : 52.75% 0;
}
.TopBarItemAppIcon.Box,
.TopBar2ItemAppIcon.Box {
  background-position : 57.9% -1px;
}
.TopBarItemAppIcon.Zoom,
.TopBar2ItemAppIcon.Zoom {
  background-position : 63.1% 0;
}
.TopBarItemAppIcon.Search,
.TopBar2ItemAppIcon.Search {
  background-position : 73.5% 0;
}
.TopBarItemAppIcon.Intellinote,
.TopBar2ItemAppIcon.Intellinote {
  background: url("../img/Intellinote-Icon.png") no-repeat 1px 6px;
}
.TopBarItemAppIcon.Zipwhip,
.TopBar2ItemAppIcon.Zipwhip {
  background: url("../img/zipwhipIcon.png") no-repeat 1px 6px;
}
.TopBarItemAppIcon.Zipwhip_Power,
.TopBar2ItemAppIcon.Zipwhip_Power {
  background: url("../img/zipwhipIcon.png") no-repeat 1px 6px;
}
.TopBarItemAppIcon.more{
  background-position: -280px -40px;
  position: relative;
  display: inline-block;
  height: 96px;
  width: 50px;
  vertical-align: top;
}

.TopBarItemMe .TopBarItemAppIcon{
  background-image:none;
}

.TopBarItemAppName {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 20px;
  font-family: "Chalkduster", "wchalkduster", "Comic Sans MS";
  text-align: center;
  font-size: 5px;
  color: #ccc;
  overflow: hidden;
}

.TopBarItemApp:hover .TopBarItemAppName
{
  opacity : 1;
  left : -100px;
  right : -100px;
  top : 70px;
  background-color : #f3f3f3;
  color : #999;
  font-size : 12px;
}

.TopBarMeStatus {
  position: relative;
  flex: 1;
  -webkit-flex: 1;
  padding: 5px 10px 0 0;
  text-align: right;  
  white-space: nowrap;
  width: 110px;
  float: right;
  
  .Logout {    	
	padding: 3px 14px 4px 14px;
	
	.icon {
	  background: url("../img/XIconSet-24x24.png") no-repeat -336px -24px;
	  width: 24px;
	  height: 24px;
	  position: absolute;
	  left: 0;
	  top: 1px;
	}	
  }
  
  .XButton span{   
    left: 8px;
  }
  .Status {   
    margin-top: 5px;
    font-size: 12px;
      	
	* {
	  vertical-align: middle;
	}
	
	.hud_status {
	  text-transform: capitalize;
	}
  }
}

.cust_status{
  float: right;
}

/* VOICEMAIL PLAYER */

.TopBarVoicemailControls { 
  position: relative;
  float: right;
  top: -5px;  
  background-color: #eee;
  min-height: 100px;
  max-height: 100%;
  background-color: transparent;
  min-width: 400px;
  max-width: 400px;
  overflow: hidden;
  text-align: left;
  padding: 10px 20px;
  /*font-size: .9em;*/
  font-size: 12px;
  z-index: 0;
  clear: none;
  margin-top: -80px;
  margin-right: 100px;
  
  &:hover {
    max-height: 200%;
    background-color: #fafafa;
	box-shadow: 0 0 20px black;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
	.Buttons {
	  opacity: 1;
	  & > div:first-child{padding-right: 1px;}
	}
  }
  
  .XButtonClose {
    position: absolute;
	top: 5px;
	right: 5px;
  }
  
  .Callers {
	position: relative;
    background-color: white;
	margin: 0 20px 15px 0;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: .25em .5em;
	line-height: 1.5em;
	overflow: hidden;
	
	.Voicemail {
	  float: left;
	  width: 40%;
		
	  & > div {
		vertical-align: middle;
	  }
	}
	
	.Recording {
	  float: right;
	  width: 40%;
	  display: flex;
	  display: -webkit-flex;
	  flex-direction: row;
	  -webkit-flex-direction: row;
	  align-items: center;
	  -webkit-align-items: center;
	  
	  .RecordingIcon {
	  	position: absolute;
	  	top: 50%;
	  	left: 50%;
	  	margin-left: -13px;
	  }
	  
	  .Details {
	  	flex: 1;
	  	-webkit-flex: 1;
	  }
	}
	
	.Details {
	  display: inline-block;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  
	  em {
	    color: #999;
		padding-right: .75em;
	  }
	  
	  strong {
	    color: #009cff;
	  }
	}
  }
  
  .Avatar {
    font-size: 1.2em;
  }
	
  .Loading {
    text-align: center;
    color: gray;
  }
  
  .Progress {
    display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	align-items: center;
	-webkit-align-items: center;
	-webkit-user-select: none;
	user-select: none;
	
	div {
      display: inline-block;
	}
	
	.Left, .Right {
	  width: 5px;
	  height: 5px;
	  border: 1px solid gray;
	}
	
	.Left {
	  margin-left: 5px;
	}
	
	.Right {
	  margin-right: 5px;
	}
	
	.Bar {
	  position: relative;
	  border-bottom: 1px solid gray;
	  height: 1px;
	  flex: 1;
	  -webkit-flex: 1;
	  
	  div {
	    position: absolute;
		top: -10px;
		margin-left: -10px;
	  }
	}
  }
  
  .Buttons {
    margin-top: 20px;
    opacity: 0;
	-webkit-user-select: none;
	user-select: none;
	
	div {
      display: inline-block;
	  vertical-align: middle;
	}
	
	& > div:first-child {
	  border-right: 1px solid #ccc;
	}
  }
  
  .Volume {
	border-bottom: 2px solid gray;
	padding-bottom: 2px;
	
    div {
	  border: 1px solid gray;
	  vertical-align: bottom;
	  width: 12px;
	  height: 8px;
	  
	  &:nth-child(2) { height: 10px; }
	  &:nth-child(3) { height: 12px; }
	  &:nth-child(4) { height: 14px; }
	  &:nth-child(5) { height: 16px; }
	  
	  &.On {
	    background-color: gray;
	  }
	}
  }
}