.TopBar {
  position: relative;
  width: 100%;
  height: 100px;
  min-width: 1000px;
  /*display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;*/
  border-bottom: 1px solid white;
  box-shadow: 0 -1px 1px #cccccc inset;
}
.TopBar:hover {
  z-index: 1000;
  background-color: #f3f3f3;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.85);
}
.TopBarLogo {
  background: url("../img/FonalityLogo.png") no-repeat;
  margin: 5px 0 0 10px;
  width: 300px;
  float: left;
  display: block;
  height: 90px;
}
.TopBarIcons {
  margin-left: 0px;
  float: left;
  clear: none;
  display: block;
  height: 90px;
}
.TopBarIcons .Avatar {
  margin: 5px;
}
.TopBarItemApp {
  position: relative;
  display: inline-block;
  height: 96px;
  width: 50px;
  cursor: pointer;
  vertical-align: top;
}
.TopBarItemAppIcon {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 40px;
  height: 40px;
}
.TopBarItemAppIcon:not(.Avatar) {
  background: url("../img/XApp-Icons.png") no-repeat 0 0;
}
.TopBarItemAppIcon.Home {
  background-position: 0 0;
}
.TopBarItemAppIcon.Contacts {
  background-position: 5.25% 0;
  top: 13px;
}
.TopBarItemAppIcon.Workgroups {
  background-position: -80px 0;
}
.TopBarItemAppIcon.Departments {
  background-position: -120px 0;
}
.TopBarItemAppIcon.Favorites {
  background-position: -160px 0;
}
.TopBarItemAppIcon.CallLog {
  background-position: 26.5% 0;
}
.TopBarItemAppIcon.Share {
  background-position: -640px 0;
}
.TopBarItemAppIcon.CallCenter {
  background-position: 37% 0;
}
.TopBarItemAppIcon.CallRecords {
  background-position: -320px 0;
}
.TopBarItemAppIcon.Voicemails {
  background-position: -360px 0;
}
.TopBarItemAppIcon.Conferences {
  background-position: 52.75% 0;
}
.TopBarItemAppIcon.Box {
  background-position: 57.9% -1px;
}
.TopBarItemAppIcon.Zoom {
  background-position: 63.1% 0;
}
.TopBarItemAppIcon.Search {
  background-position: 73.5% 0;
}
.TopBarItemMe .TopBarItemAppIcon {
  background-image: none;
}
.TopBarItemAppName {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 20px;
  font-family: "Chalkduster", "wchalkduster", "Comic Sans MS";
  text-align: center;
  font-size: 5px;
  color: #ccc;
  overflow: hidden;
}
.TopBarItemApp:hover .TopBarItemAppName {
  opacity: 1;
  left: -100px;
  right: -100px;
  top: 70px;
  background-color: #f3f3f3;
  color: #999;
  font-size: 12px;
}
.TopBarMeStatus {
  position: relative;
  flex: 1;
  -webkit-flex: 1;
  padding: 5px 10px 0 0;
  text-align: right;
  font-size: .9em;
  white-space: nowrap;
  width: 110px;
  float: right;
}
.TopBarMeStatus .Logout {
  font-size: .8em;
  padding-left: 24px;
}
.TopBarMeStatus .Logout .icon {
  background: url("../img/XIconSet-24x24.png") no-repeat -336px -24px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 1px;
}
.TopBarMeStatus .Status {
  margin-top: 5px;
}
.TopBarMeStatus .Status * {
  vertical-align: middle;
}
.TopBarMeStatus .Status .hud_status {
  text-transform: capitalize;
}
.cust_status {
  float: right;
}
.TopBarVoicemailControls {
  /*position: absolute;*/
  position: relative;
  float: right;
  top: 0;
  background-color: #eee;
  min-height: 100px;
  max-height: 100%;
  background-color: transparent;
  min-width: 400px;
  max-width: 400px;
  overflow: hidden;
  text-align: left;
  padding: 10px 20px;
  font-size: .9em;
  z-index: 50;
  clear: none;
  margin-top: -80px;
  margin-right: 100px;
}
.TopBarVoicemailControls:hover {
  max-height: 200%;
  background-color: #fafafa;
  box-shadow: 0 0 20px black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.TopBarVoicemailControls:hover .Buttons {
  opacity: 1;
}
.TopBarVoicemailControls .XButtonClose {
  position: absolute;
  top: 5px;
  right: 5px;
}
.TopBarVoicemailControls .Caller {
  background-color: white;
  margin: 0 20px 15px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: .25em .5em;
  line-height: 1.5em;
}
.TopBarVoicemailControls .Caller .Details {
  display: inline-block;
}
.TopBarVoicemailControls .Caller .Details em {
  color: #999;
}
.TopBarVoicemailControls .Caller .Details strong {
  color: #009cff;
  margin-left: .75em;
}
.TopBarVoicemailControls .Avatar {
  font-size: 1.2em;
}
.TopBarVoicemailControls .Loading {
  text-align: center;
  color: gray;
}
.TopBarVoicemailControls .Progress {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -webkit-user-select: none;
  user-select: none;
}
.TopBarVoicemailControls .Progress div {
  display: inline-block;
}
.TopBarVoicemailControls .Progress .Left,
.TopBarVoicemailControls .Progress .Right {
  width: 5px;
  height: 5px;
  border: 1px solid gray;
}
.TopBarVoicemailControls .Progress .Left {
  margin-left: 5px;
}
.TopBarVoicemailControls .Progress .Right {
  margin-right: 5px;
}
.TopBarVoicemailControls .Progress .Bar {
  position: relative;
  border-bottom: 1px solid gray;
  height: 1px;
  flex: 1;
  -webkit-flex: 1;
}
.TopBarVoicemailControls .Progress .Bar div {
  position: absolute;
  top: -10px;
  margin-left: -10px;
}
.TopBarVoicemailControls .Buttons {
  margin-top: 20px;
  opacity: 0;
  -webkit-user-select: none;
  user-select: none;
}
.TopBarVoicemailControls .Buttons div {
  display: inline-block;
  vertical-align: middle;
}
.TopBarVoicemailControls .Buttons > div:first-child {
  border-right: 1px solid #ccc;
}
.TopBarVoicemailControls .Volume {
  border-bottom: 2px solid gray;
  padding-bottom: 2px;
}
.TopBarVoicemailControls .Volume div {
  border: 1px solid gray;
  vertical-align: bottom;
  width: 12px;
  height: 8px;
}
.TopBarVoicemailControls .Volume div:nth-child(2) {
  height: 10px;
}
.TopBarVoicemailControls .Volume div:nth-child(3) {
  height: 12px;
}
.TopBarVoicemailControls .Volume div:nth-child(4) {
  height: 14px;
}
.TopBarVoicemailControls .Volume div:nth-child(5) {
  height: 16px;
}
.TopBarVoicemailControls .Volume div.On {
  background-color: gray;
}
