.TopBar {
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
  box-shadow: 0 -1px 1px #cccccc inset;
}
.TopBar:hover {
  z-index: 1000;
  background-color: #f3f3f3;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.85);
}
.TopBarLogo {
  background: url("../img/FonalityLogo.png") no-repeat;
  margin: 5px 0 0 10px;
  flex: .6;
  min-width: 250px;
  position: relative;
  background-repeat: no-repeat;
}
.TopBarIcons {
  flex: 1;
  min-width: 44em;
  left: 30px;
  position: relative;
}
.TopBarItemApp {
  position: relative;
  display: inline-block;
  height: 96px;
  min-width: 6em;
  max-width: 6em;
  cursor: pointer;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .TopBarItemApp .AvatarNormal .AvatarImgPH {
    border: none;
  }
}
.TopBarItemAppIcon {
  position: relative;
  top: 10px;
  width: 40px;
  height: 40px;
  background: url("../img/XApp-Icons.png") no-repeat 0 0;
  margin: 0 auto;
}
.TopBarItemAppIcon.Home {
  background-position: 0 0;
}
.TopBarItemAppIcon.Contacts {
  background-position: 5.25% 0;
  top: 13px;
}
.TopBarItemAppIcon.Workgroups {
  background-position: -80px 0;
}
.TopBarItemAppIcon.Departments {
  background-position: -120px 0;
}
.TopBarItemAppIcon.Favorites {
  background-position: -160px 0;
}
.TopBarItemAppIcon.CallLog {
  background-position: 26.5% 0;
}
.TopBarItemAppIcon.Share {
  background-position: -640px 0;
}
.TopBarItemAppIcon.CallCenter {
  background-position: 37% 0;
}
.TopBarItemAppIcon.CallRecords {
  background-position: -320px 0;
}
.TopBarItemAppIcon.Voicemails {
  background-position: -360px 0;
}
.TopBarItemAppIcon.Conferences {
  background-position: 52.75% 0;
}
.TopBarItemAppIcon.Box {
  background-position: 57.9% -1px;
}
.TopBarItemAppIcon.Zoom {
  background-position: 63.1% 0;
}
.TopBarItemAppIcon.Search {
  background-position: 73.5% 0;
}
.TopBarItemMe .TopBarItemAppIcon {
  background-image: none;
}
.TopBarItemAppName {
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  font-family: "Chalkduster", "wchalkduster", "Comic Sans MS";
  text-align: left;
  font-size: .7em;
  /*color: #ccc;*/
  color: #999;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.TopBarItemApp:hover .TopBarItemAppName {
  opacity: 1;
  /*left : -100px;
  right : -100px;
  top : 65px;*/
  left: -10px;
  right: -10px;
  top: 20px;
  background-color: #f3f3f3;
  color: #888;
  /*font-size : 12px;*/
  font-size: 0.875em;
  font-weight: bold;
}
.TopBarMeStatus {
  position: relative;
  flex: 1;
  padding: 5px 10px 0 0;
  text-align: right;
  width: 20em;
}
.TopBarMeStatus .Logout {
  padding-left: 24px;
}
.TopBarMeStatus .Logout .logout-ico {
  background: url("../img/XIconSet-24x24.png") no-repeat -336px -24px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 1px;
}
.TopBarMeStatus .Status {
  margin-top: 5px;
}
.TopBarMeStatus .Status * {
  vertical-align: middle;
}
.TopBarMeStatus .Status span {
  font-size: .8em;
  text-transform: capitalize;
}
.TopBarMeStatus .Status .hud_status {
  text-transform: capitalize;
}
.TopBarVoicemailControls {
  position: absolute;
  top: 0;
  /*left: 10px;*/
  max-height: 100%;
  overflow: hidden;
  text-align: left;
  padding: 10px 20px;
  font-size: .8em;
  width: 20em;
}
.TopBarVoicemailControls:hover {
  max-height: 200%;
  background-color: #fafafa;
  box-shadow: 0 0 20px black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.TopBarVoicemailControls:hover .Buttons {
  opacity: 1;
}
.TopBarVoicemailControls .XButtonClose {
  position: absolute;
  top: 5px;
  right: 5px;
}
.TopBarVoicemailControls .Caller {
  background-color: white;
  margin: 0 20px 15px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 2px 6px;
}
.TopBarVoicemailControls .Caller .Details {
  display: inline-block;
}
.TopBarVoicemailControls .Caller .Details em {
  color: #999;
}
.TopBarVoicemailControls .Caller .Details strong {
  color: #009cff;
  margin-left: .75em;
}
.TopBarVoicemailControls .Loading {
  text-align: center;
  color: gray;
}
.TopBarVoicemailControls .Progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}
.TopBarVoicemailControls .Progress div {
  display: inline-block;
}
.TopBarVoicemailControls .Progress .Left,
.TopBarVoicemailControls .Progress .Right {
  width: 5px;
  height: 5px;
  border: 1px solid gray;
}
.TopBarVoicemailControls .Progress .Left {
  margin-left: 5px;
}
.TopBarVoicemailControls .Progress .Right {
  margin-right: 5px;
}
.TopBarVoicemailControls .Progress .Bar {
  position: relative;
  border-bottom: 1px solid gray;
  height: 1px;
  flex: 1;
}
.TopBarVoicemailControls .Progress .Bar div {
  position: absolute;
  top: -10px;
  margin-left: -10px;
}
.TopBarVoicemailControls .Buttons {
  margin-top: 20px;
  opacity: 0;
  -webkit-user-select: none;
  user-select: none;
}
.TopBarVoicemailControls .Buttons div {
  display: inline-block;
  vertical-align: middle;
}
.TopBarVoicemailControls .Buttons > div:first-child {
  border-right: 1px solid #ccc;
}
.TopBarVoicemailControls .Volume {
  border-bottom: 2px solid gray;
  padding-bottom: 2px;
}
.TopBarVoicemailControls .Volume div {
  border: 1px solid gray;
  vertical-align: bottom;
  width: 12px;
  height: 8px;
}
.TopBarVoicemailControls .Volume div:nth-child(2) {
  height: 10px;
}
.TopBarVoicemailControls .Volume div:nth-child(3) {
  height: 12px;
}
.TopBarVoicemailControls .Volume div:nth-child(4) {
  height: 14px;
}
.TopBarVoicemailControls .Volume div:nth-child(5) {
  height: 16px;
}
.TopBarVoicemailControls .Volume div.On {
  background-color: gray;
}
.ToolBarNotification {
  position: relative;
  height: 50px;
  background-color: #ffe;
  -background-image: linear-gradient(left top, left bottom, #ffffff, #fafafa);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  border: solid 1px #ddd;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .TopBarLogo {
    min-width: 14em;
  }
  .TopBarIcons {
    min-width: 25em;
    left: 0px;
  }
  .TopBarIcons .TopBarItemApp {
    min-width: 5.93em;
    max-width: 5.93em;
  }
  .TopBarMeStatus {
    width: 24em;
    padding-left: 0px;
  }
  .TopBarMeStatus .TopBarVoicemailControls {
    width: 14em;
    margin-left: -15px;
  }
  .TopBarMeStatus .XButton.Logout {
    clear: none;
    float: right;
    right: 10px;
  }
  .TopBarMeStatus .Status {
    width: 30%;
    float: right;
    clear: both;
    margin-right: 10px;
  }
  .TopBarItemAppIcon {
    background: url("../img/XApp-Icons.png") no-repeat 40px 0;
  }
}
