.WidgetZoom {
    .WidgetBody {
      top: 75px;
      left: 10px;
      right: 10px;
    }
}
.widget-zoom-topic {
  position: relative;
  height: 100px;
  padding-right:10px;
}
.widget-zoom-topic textarea {
  height: 85px;
  width:100%;
}

.WidgetZoom .SearchInputBox {
  position: relative;
  width: 100%;
  left: 0;
  top: 5px;
  margin-bottom: 5px;
}

.WidgetFont{
  font-size: 12px;
  font-weight: italic;
  margin-left:5px;
  margin-right:5px;
}
.WidgetZoom .XButtonBlue { 
  right: 0;
  width:100%;
  margin-top:10px;
}
.widget-zoom-join .SearchInputBox {
  position: relative;
  width: 160px;
  display: inline-block;
  top: 0;
  left: 0;
}
.widget-zoom-join .SearchInputBoxInputHolder {
  left: 10px;
}

.WidgetZoom .ExpandedToolBarHolder.WidgetTabEditMode .ExpandedToolBar .SearchInputBox {
  left: 20px;
}

.ZoomRowStatus{
  position: absolute;
  top: 16px;  
  top: 3px;
  height: 16px;
  font-size: 10px;
}

.ZoomRowTitle{
  flex: 2;
  -webkit-flex: 2;
  font-size: .75em;
  text-decoration: none;
  color: #555;
  white-space: nowrap;
  .link{
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #888;
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
  }
}

.WidgetZoom {
    .JoinMeetingSection{
      padding: 5px 5px 5px 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
	  
	  .SearchContactOverlay .Inset { height: 200px; }
    }
}


.WidgetTextHeader{
  height:200px;
}
.ZoomWidgetSection{
  width:40%;
  position:absolute;
  
  .JoinMeetingSection{
    .addContact{
        position:relative; 
        top:10px;
        display: inline-block;
        margin-bottom: 10px;
        width: 100%;
        
        img.x {
            top: -20px;
            left: 195px;
            z-index: 200;
        }
    }
    
    .XButtonWide.XButtonBlue.first{
        margin-top: 0px;
    }
  }
  
  &.left {
	left: 5%;
	
	.JoinMeetingSection{
       .SearchInputBox{
           top: 0px;
       }
       .XButton.XButtonBlue{
           margin-top: 5px;
       }
    }
  }
  
  &.right {
	left: 50%;
	width: 45%;		
  }    
}

.WidgetZoomBody{
  top:35px;
  background-image: url(../img/XTile-Widget.png);
}

.widget-zoom-contacts{
    top: 20px;
    position: relative;        
        
    .ListRow {
        float: left;
        padding: 5px;
        height: 42px;
        
        .Avatar{
            top: -2px;
            left: -2px;
            margin: auto;
        }
        
        .ListRowContent{
          margin-left: 1px;
          padding: 0px;
        }
        
        .name{
          font-weight: bold;
          margin-top: -2px;
        }
        
        &:hover{
          .XButton.XButtonRed{
                display: inline-block;
          } 
          .ZoomRowTitle{
            .link{
                display: none;
            }            
          }
        }
        .XButton.XButtonRed{
            display: none;
            font-size: 11px;
            padding: 4px 6px 6px 6px;
            margin: 0px;
            margin-right: -5px;                      
            font-weight: bold;
            height: 25px;
        }   
        .ZoomRowTitle{
            padding-left: 5px;
            .link{
                display: inline-block;
                top: 5px;
            }
        }
        .ZoomRowStatus{            
            top: 15px;
            
            & > div{
                float: left;
                
                &.ListRowDesc{
                   margin-top: 5px;
                }
            }
        }
    }
}