.WidgetZoom {
    .WidgetBody {
      top: 75px;
      left: 10px;
      right: 10px;
    }
}
.widget-zoom-topic {
  position: relative;
  height: 100px;
  padding-right:10px;
}
.widget-zoom-topic textarea {
  height: 85px;
  width:100%;
}

.WidgetZoom .SearchInputBox {
  position: relative;
  width: 100%;
  left: 0;
}

.WidgetFont{
  font-size: 12px;
  font-weight: italic;
  margin-left:5px;
  margin-right:5px;
}
.WidgetZoom .XButtonBlue {
  /*(position:absolute;
  top: 30px;*/
  right: 0;
  width:100%;
  margin-top:10px;
}
.widget-zoom-join .SearchInputBox {
  position: relative;
  width: 160px;
  display: inline-block;
  top: 0;
  left: 0;
}
.widget-zoom-join .SearchInputBoxInputHolder {
  left: 10px;
}

.WidgetZoom .ExpandedToolBarHolder.WidgetTabEditMode .ExpandedToolBar .SearchInputBox {
  left: 20px;
}

.ZoomRowStatus{
  position: absolute;
  top: 16px;
  left: 5px;
//right: 5px;
  height: 16px;
  font-size: 10px;
}

.ZoomRowTitle{
  flex: 2;
  -webkit-flex: 2;
  font-size: .75em;
  text-decoration: none;
  color: #555;
  white-space: nowrap;
  .link{
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #888;
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
  }
}

.WidgetZoom {
    .JoinMeetingSection{
      padding: 5px 5px 5px 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
	  
	  .SearchBox { width: 100%; }
    }
}


.WidgetTextHeader{
  height:200px;
}
.ZoomWidgetSection{
  width:40%;
  position:absolute;
  
  &.left {
	left: 5%;
  }
  
  &.right {
	left: 55%;
  }
}

.WidgetZoomBody{
  top:35px;
  background-image: url(../img/XTile-Widget.png);
}