
#scheduleInputContainer{
  border:1px solid none;
  padding:0px;
  width:600px;
}
#scheduleInputContainer ul{
  padding:0px;
  list-style:none;
}

#scheduleInputContainer ul li{
  margin-bottom:10px;
}
#scheduleInputContainer ul li label{
  margin-right:5px;
}
#joinMeeting{
  width:200px;
  height:100px;
  border:1px solid none;
  margin:10px 10px 0px 10px;
}
#joinVideoScreen{
  width:200px;
  height:150px;
  border:1px solid none;
  margin:10px 10px 10px 10px;
}
#btnContainer{
  width:220px;
  height:400px;
  position:absolute;
  top:180px;
  left:270px;
  border:1px solid none;
}
#btnContainer .SearchContactOverlay{
  width:300px;
}
#scheduleMeetingBtn{
  width:200px;
  height:50px;
  border:1px solid none;
  margin:10px 10px 20px 10px;
}

.WidgetZoom {
    .WidgetBody {
      top: 75px;
      left: 10px;
      right: 10px;
    }
}
.widget-zoom-topic {
  position: relative;
  height: 100px;
  padding-right:10px;
}
.widget-zoom-topic textarea {
  height: 85px;
  width:100%;
}

.WidgetZoom .SearchInputBox {
  position: relative;
  width: 100%;
  left: 0;
  top: 5px;
  margin-bottom: 5px;
}

.WidgetFont{
  font-size: 12px;
  font-weight: italic;
  margin-left:5px;
  margin-right:5px;
}
.WidgetZoom .XButtonBlue {
  /*(position:absolute;
  top: 30px;*/
  right: 0;
  width:100%;
  margin-top:10px;
}
.widget-zoom-join .SearchInputBox {
  position: relative;
  width: 160px;
  display: inline-block;
  top: 0;
  left: 0;
}
.widget-zoom-join .SearchInputBoxInputHolder {
  left: 10px;
}

.WidgetZoom .ExpandedToolBarHolder.WidgetTabEditMode .ExpandedToolBar .SearchInputBox {
  left: 20px;
}

.ZoomRowStatus{
  position: absolute;
  top: 16px;
  /*left: 5px;*/
  top: 3px;
  height: 16px;
  font-size: 10px;
}

.ZoomRowTitle{
  flex: 2;
  -webkit-flex: 2;
  font-size: .75em;
  text-decoration: none;
  color: #555;
  white-space: nowrap;
  .link{
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #888;
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
  }
}

.WidgetZoom {
    .JoinMeetingSection{
      padding: 10px 5px 5px 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width:200px;
      float:right;
      margin:20px 20px 20px ;
	  
	  .SearchBox { width: 100%; }
    }
}

.ScheduleTabBar {  
  position: relative;
  width: 100%;
  border-bottom: solid 1px #015d73;
  border-top: solid 1px #e0e0e0;
  vertical-align: bottom;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#eee));
  background: #fefefe linear-gradient(#fefefe, #eee);
  user-select: none;
  -webkit-user-select: none;
  height: 35px;
}

.ScheduleTabBarButton {
  position: relative;
  display: inline-block;
  margin-top: 0;
  cursor: pointer;
  white-space: nowrap;
}

.ScheduleTabBarButton .inner {
  position: relative;
  margin-left: .5em;
  margin-right: .5em;
  display: inline-block;
  line-height: 3em;
  font-size: .75em;
  color: #888;
  text-shadow: 0 1px 0 #FFF;
  cursor: pointer;
}

.ScheduleTabBarButton:hover .inner {
  color: #015d73;

}

.ScheduleTabBarButton.fj-selected-item .inner {
  color: #015d73;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  font-weight: bold;
}
.ScheduleTabBarButton .arrow {
  display: none;
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -7px;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: transparent transparent #015d73 transparent;
}
.ScheduleTabBarButton.fj-selected-item .arrow {
  display: block;
}

.WidgetTextHeader{
  margin:10px 0px 10px;
  float:left;
}
.ZoomWidgetSection{
  width:43%;
  position:absolute;
  
  .JoinMeetingSection{

    .addContact{
       // position:relative; 
        top:10px;
        display: inline-block;
        margin-bottom: 10px;
        width: 100%;    
            
        img.x {
            top: -20px;
            left: 195px;
            z-index: 200;
        }
    }
    
    .XButtonWide.XButtonBlue.first{
        margin-top: 0px;
    }
  }
  
  &.left {
	left: 3%;
	
	.JoinMeetingSection{

       .SearchInputBox{
           top: 0px;
       }
       .XButton.XButtonBlue{
           margin-top: 5px;
       }
    }
  }
  
  &.right {
	left: 50%;
	width: 45%;		
  }    
}

.WidgetZoomBody{
  top:35px;
  background-image: url(../img/XTile-Widget.png);
}

.widget-zoom-contacts{
    top: 20px;
    position: relative;        
        
    .ListRow {
        float: left;
        padding: 5px;
        height: 42px;
        
        .Avatar{
            top: -2px;
            left: -2px;
            margin: auto;
        }
        
        .ListRowContent{
          margin-left: 1px;
          padding: 0px;
        }
        
        .name{
          font-weight: bold;
          margin-top: -2px;
        }
        
        &:hover{
          .XButton.XButtonRed{
                display: inline-block;
          } 
          .ZoomRowTitle{
            .link{
                display: none;
            }            
          }
        }
        .XButton.XButtonRed{
            display: none;
            font-size: 11px;
            padding: 4px 6px 6px 6px;
            margin: 0px;
            margin-right: -5px;                      
            font-weight: bold;
            height: 25px;
        }   
        .ZoomRowTitle{
            padding-left: 5px;
            .link{
                display: inline-block;
                top: 5px;
            }
        }
        .ZoomRowStatus{            
            top: 15px;
            
            & > div{
                float: left;
                
                &.ListRowDesc{
                   margin-top: 5px;
                }
            }
        }
    }
}