.WidgetZoom .WidgetBody {
  top: 75px;
  left: 10px;
  right: 10px;
}
.widget-zoom-topic {
  position: relative;
  height: 100px;
  padding-right: 10px;
}
.widget-zoom-topic textarea {
  height: 85px;
  width: 100%;
}
.WidgetZoom .SearchInputBox {
  position: relative;
  width: 160px;
  top: -6px;
  left: 0;
}
.WidgetZoom .XButton {
  position: absolute;
  top: 30px;
  right: 0;
}
.widget-zoom-join .SearchInputBox {
  position: relative;
  width: 160px;
  display: inline-block;
  top: 0;
  left: 0;
}
.widget-zoom-join .SearchInputBoxInputHolder {
  left: 10px;
}
.WidgetZoom .ExpandedToolBarHolder.WidgetTabEditMode .ExpandedToolBar .SearchInputBox {
  left: 20px;
}
