//out: voicemail.css

.vmsection{
	margin:10px 10px 10px 10px;
	border: 1px solid #ccc;
	height:50px;
	.vmavatarsection{
		-webkit-box-flex:0;
		position:relative;
		width:50px;
		height:100%;
		display:flex;
		float:left;
		.vmavatar{
			position: absolute;
			left: 5px;
			top: 5px;
		}
	}
	.vminfo{
		position:relative;
		padding-left:10px;
		display:block;
		-webkit-box-flex:1;
	}
}

.vmfootnote{
	display:inline-block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	
}

.vmdisplay{
	display:inline-block;
	color:#009CFF;
}



.vmalternate{
	display:inline-block;
	float:right;
	position:relative;

	.vmcallbtn{
  		visibility:hidden;
  		position:relative;
	}
	.vmtime{
		visibility:visible;
		position:absolute;
	}


}

.vmalternate:hover{

	.vmcallbtn:hover{
  		background: #3c9c00 linear-gradient(#3c9c00, #328400);
  		color: #e8e8e8;
  		border: 1px solid rgba(155,155,155,0.3);
  		text-shadow: none;
  		visibility:visible;

	}

	.vmtime:hover{
		visibility:hidden;
	}

}

