.ToolBar {
  position: relative;
  border-bottom: solid 1px #ccc;
  width: 95%;
  margin: 0 auto;
  padding: .75em 0;
  height: 3.4em;
  
  .XButton {     
     width: 32.5%;
     float: right !important;
     margin-left: .5em;	    
  }
}
.MyStatus{
 .ToolBar{
     .XButton{
        width: 32% !important;
        font-size: 0.688em !important;
        padding-left: 1em !important;
     }
     select.XButton{
        padding-left: 4em !important;
     }
 }
}
.WidgetPanel {
  position: relative;
  margin: -40px 0 0 10px;
  width: 36%;
  min-width: 350px;
  
  .Widget {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	box-shadow: 1px 0 10px gray;
  }
}

.Widget {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/XTile-Widget.png);
  border: solid 1px #ccc;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .WidgetTabContent {
    flex: 1;
    display: flex;
	flex-direction: column;
	position: relative;
    width: 100%;
  }
  
  .ListView {
      position: relative;
      left:0;
      right:0;
      flex: 1 1 0;
      overflow-y: auto;
      width: 100%;
   }

   .SearchInputBox {
      /*width: 160px;*/
      width: 30%;
      float: left;
   }
}
.WidgetHeader {
  position: relative;
  padding: .5em .25em;
  
  .TopBarItemAppIcon, .WidgetHeaderTitle, .Avatar {
    position: relative;
	display: inline-block;
	vertical-align: middle;
	top: 0;
	left: 0;
  }
}

.WidgetBody {
  position: relative;
  left: 0;
  right: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}


.WidgetHeaderTitle {
  font-size: 1em;
  font-weight: bold;
  color: #999;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.9), -1px -1px 1px rgba(0,0,0,0.01);
  text-align: left;
  letter-spacing: normal;
  overflow: hidden;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin:0;
  
  &.Full {
    width: auto !important;
  }
}
.WidgetHeaderCallStatus .NoCallText
{
  text-align : center;
  color : #999;
}
.WidgetHeaderCallStatus .NoCallIcon
{
  height : 16px;
  width : 24px;
  background : url("../img/XIconSet-24x24.png?v=1383213555647") no-repeat -24px -72px;
}

.WidgetSectionTitle {
  /*height: 32px;*/
  height: 2.5em;
  text-align: center;
  font-size: 14px;
  line-height: 2.5em;
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  text-shadow: 1px 0 0 #666;
  color: #404040;
  font-weight: normal;
  letter-spacing: 1px;
  background-image: linear-gradient(#fefefe, #ebebeb);
  position: relative;
  clear: both;
}

.WidgetStat, .WidgetHeaderCallStatus {
  float: right;
  min-width: 30%;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #ccc;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.05);
  padding: 1.1%;
  color: gray;
}

.WidgetStat {
  text-align: right;
  line-height: 1.75em;
  font-size: .7em;
  
  .Left, .Right, .Labels, .Data {
	display: inline-block;
	vertical-align: top;
	
	&.Left {
	  margin-right: 1em;
	}
	
	&.Labels { 
		text-align: right; 
	}

	&.Data { 
		text-align: left; 
		font-weight: bold;
	}
  }
}

.WidgetTabBar {  
  position: relative;
  width: 100%;
  border-bottom: solid 1px #729c00;
  border-top: solid 1px #e0e0e0;
  vertical-align: bottom;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#eee));
  background: #fefefe linear-gradient(#fefefe, #eee);
  user-select: none;
  -webkit-user-select: none;
}

.WidgetTabBarButton {
  position: relative;
  display: inline-block;
  margin-top: 0;
  cursor: pointer;
  white-space: nowrap;
}

.WidgetTabBarButton .inner {
  position: relative;
  margin-left: .5em;
  margin-right: .5em;
  display: inline-block;
  line-height: 3em;
  font-size: .75em;
  color: #888;
  text-shadow: 0 1px 0 #FFF;
  cursor: pointer;
}

.WidgetTabBarButton:hover .inner {
  color: #729c00;

}

.WidgetTabBarButton.fj-selected-item .inner {
  color: #729c00;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  font-weight: bold;
}

.WidgetTabBarButton .arrow {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -7px;
  width: 0;
  height: 0;
  border: solid 7px;
  border-color: transparent transparent #729c00 transparent;
}

.WidgetTabBarButton.fj-selected-item .arrow {
  display: block;
} 