.Widget.Zipwhip {
  font-size: 12px;
  padding: 10px;
}
.Widget.Zipwhip .Intro {
  margin: 0px 0 10px 0;
}
.Widget.Zipwhip .Logo {
  margin-left: 20px;
}
.Widget.Zipwhip .Section {
  min-height: 110px;
}
.Widget.Zipwhip .Left {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex: 1;
  flex: 1 1 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  float: left;
  width: 48%;
}
.Widget.Zipwhip .Left .Section {
  min-height: 70px;
  width: 230px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  margin-top: 20px;
}
.Widget.Zipwhip .Left .SectionInvite {
  min-height: 110px;
  width: 230px;
  padding-left: 10px;
  background-color: #f9f9f9;
  margin-top: 30px;
}
.Widget.Zipwhip .Left h4 {
  font-size: 14px;
  color: #015d73;
  margin-bottom: 5px;
  margin-top: 10px;
  text-transform: uppercase;
}
.Widget.Zipwhip .Right {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex: 1;
  flex: 1 1 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  float: right;
  width: 48%;
  clear: right;
}
.Widget.Zipwhip .Right .Section {
  min-height: 70px;
  width: 240px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin-left: -10px;
  background-color: white;
  margin-top: 20px;
  padding-bottom: 10px;
}
.Widget.Zipwhip .Right .SearchBox.Add {
  color: gray;
  background: url("../img/add-blue.png") no-repeat;
  background-position: 2%;
}
.Widget.Zipwhip .Right .SectionWorkspace {
  min-height: 110px;
  width: 240px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-left: -10px;
  background-color: white;
  margin-top: 30px;
}
.Widget.Zipwhip .Right .SearchHolder {
  position: relative;
}
.Widget.Zipwhip .Right .SectionWorkspace .SearchContactOverlay {
  left: -10px;
  width: 240px;
  padding-left: 10px;
  border-radius: 0px;
  border-color: #015d73;
  padding-right: 10px;
}
.Widget.Zipwhip .Right .SectionWorkspace .SearchContactOverlay .Header {
  color: #015d73;
  width: 220px;
  margin-left: 13px;
  padding-bottom: 9px;
}
.Widget.Zipwhip .Right .SectionWorkspace .SearchContactOverlay .Avatar {
  border-color: #015d73;
}
.Widget.Zipwhip .Right .SearchHolder input {
  width: 100%;
  border-radius: 0px;
}
@-moz-document url-prefix() {
  .Widget.Zipwhip .Right .SearchHolder {
    position: relative;
  }
}
.Widget.Zipwhip .Right .Contacts {
  font-size: 14px;
}
.Widget.Zipwhip .Right .widget-zoom-contacts {
  top: 0px;
}
.Widget.Zipwhip .Right .Workspaces {
  position: relative;
}
.Widget.Zipwhip .Right .Workspaces .List {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
}
.Widget.Zipwhip .Right .Workspaces .List .Header {
  position: relative;
  font-weight: bold;
  padding: 7px 0 7px 30px;
}
.Widget.Zipwhip .Right .Workspaces .List .Header .Down {
  position: absolute;
  top: 10%;
  right: 0;
  height: 80%;
  width: 15%;
  padding-top: 4px;
  text-align: center;
}
.Widget.Zipwhip .Right .Workspaces .List .Items {
  font-size: 13px;
  border-top: 1px solid #333;
  margin: 0 10px 10px 10px;
  max-height: 75px;
  overflow-y: auto;
}
.Widget.Zipwhip .Right .Workspaces .List .Items div {
  cursor: pointer;
  font-size: 13px;
  padding: 5px;
}
.Widget.Zipwhip .Right .Workspaces .List .Items div:hover {
  background-color: #eee;
}
.Widget.Zipwhip .Right .WorkspaceButton {
  position: relative;
  font-weight: bold;
  color: white;
  padding: 7px 0 7px 30px;
  background-color: #015d73;
  margin: 20px 0;
  cursor: pointer;
}
.Widget.Zipwhip .Right .WorkspaceButton div {
  position: absolute;
  top: 15%;
  right: 0;
  height: 80%;
  border-left: 1px solid white;
  width: 15%;
  text-align: center;
}
.Widget.Zipwhip .Right .WorkspaceButton div.Down {
  padding-top: 4px;
}
.Widget.Zipwhip .Right .WorkspaceButtonEnabled {
  position: relative;
  font-weight: bold;
  color: white;
  padding: 7px 0 7px 30px;
  background-color: #015d73;
  margin: 15px 0;
  cursor: pointer;
}
.Widget.Zipwhip .Right .WorkspaceButtonEnabled div {
  position: absolute;
  top: 15%;
  right: 0;
  height: 80%;
  border-left: 1px solid white;
  width: 15%;
  text-align: center;
}
.Widget.Zipwhip .Right .WorkspaceButtonEnabled div.Down {
  padding-top: 4px;
}
.Widget.Zipwhip .Right .WorkspaceButtonDisabled {
  position: relative;
  font-weight: bold;
  color: white;
  padding: 7px 0 7px 30px;
  background-color: #b5b5b5;
  margin: 15px 0;
  cursor: pointer;
}
.Widget.Zipwhip .Right .WorkspaceButtonDisabled div {
  position: absolute;
  top: 15%;
  right: 0;
  height: 80%;
  border-left: 1px solid white;
  width: 15%;
  text-align: center;
}
.Widget.Zipwhip .Right .WorkspaceButtonDisabled div.Down {
  padding-top: 4px;
}
